<div class="file-cell flex" [ngClass]="classes">
	<input
		type="file"
		class="file-input"
		(change)="onChange($event)"
		#fileUpload
	/>

	<div *ngIf="file">
		<section class="file-info">
			File details:
			<ul>
				<li>Name: {{ file.name }}</li>
				<li>Type: {{ file.type }}</li>
				<li>Size: {{ file.size }} bytes</li>
			</ul>
		</section>

		<button
			class="btn flex flex_center flex_grow btn_m btn_filled-primary"
			(click)="onUpload()"
		>
			Upload the file
		</button>

		<section [ngSwitch]="status">
			<p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
			<p *ngSwitchCase="'success'">✅ Done!</p>
			<p *ngSwitchCase="'fail'">❌ Error!</p>
			<p *ngSwitchDefault>😶 Waiting to upload...</p>
		</section>
	</div>
</div>
