.mib-form {
  display: flex;
  gap: 10px;

  &.one-column {
    flex-direction: column;
  }
  &.two-columns {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .actions {
    margin-top: 1.25rem;
  }
}
