@import 'src/styles/layout/_main';
@import 'src/styles/_typography.elements.scss';
@import 'src/styles/_fonts.scss';

.scroll {
  &-y {
    overflow-y: scroll;
  }

  &-x {
    overflow-x: scroll;
  }
}

.overflow {
  &-y {
    overflow-y: hidden;
  }

  &-x {
    overflow-x: hidden;
  }
}
