@import 'src/styles/layout/_flex';
@import 'src/styles/_colors.vars.scss';

.w-100 {
	width: 100%;
}

.full-height {
  height: 100%;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-underline {
	text-decoration: underline;
}

.container {
	width: 100%;
	max-width: 1232px;
  padding: 0 32px;
	margin: 0 auto;
}

.overflow-hidden {
	overflow: hidden;
}
