.can-click {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.mr-20 {
  margin-right: 20px;
}

.mib-preload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.mib-progress.p-progressbar {
  height: 12px;
  border-radius: 5px;

  .p-progressbar-value {
    background: linear-gradient(216.14deg, #009FD9 10.37%, rgba(0, 159, 217, 0) 93.52%), #4B75B1;
  }

  .p-progressbar-label {
    color: black;
    font-size: 9px;
    line-height: unset;
  }
}

.mib-file-view {
  background: #F4F4F4;
  border-radius: 10px;
  width: 886px;
  height: 290px;
}

.selected-info {
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 36px;
}

@media (min-width: 1300px) {
  .mobile.header {
    display: none !important;
  }

  .triangle-menu {
    position: absolute;
    background-image: url('../../assets/template/subtract_left.png');
    background-repeat: no-repeat;
    left: -50px;
    width: 300px;
    height: 400px;
  }

  .triangle-right {
    position: absolute;
    background-image: url('../../assets/template/subtract_right.png');
    background-repeat: no-repeat;
    background-position: right;
    right: 0px;
    width: 350px;
    height: 400px;
  }

  .triangle-header {
    position: absolute;
    background-image: url('../../assets/template/substract_top.png');
    background-repeat: no-repeat;
    top: 20px;
    right: 450px;
    width: 200px;
    height: 145px;
  }
}

@media (max-width: 1300px) {
  aside {
    display: none;
  }

  .desktop.header {
    display: none !important;
  }

  .mobile.header {
    display: block;
  }

  .container {
    margin-top: 120px !important;
  }

  .page {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .card-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 26px !important;
    padding-top: 38px !important;
  }
}

@media (max-width: 1300px) {
  aside {
    display: none;
  }

  .desktop.header {
    display: none !important;
  }

  .mobile.header {
    display: block;
  }

  .container {
    margin-top: 120px !important;
  }

  .page {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .card-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 26px !important;
    padding-top: 38px !important;
  }
}
