<div class="auth__body">
  <div class="auth__body__form auth__body__form_reset">
    <div class="auth__body__form__title">
      <h1>Восстановление пароля</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="auth__body__form__fields">
        <div class="auth__body__form__fields__field">
          <input id="login" type="text" pInputText placeholder="Логин" formControlName="login"
            [ngClass]="{ 'mib-border-danger': (isSubmitting$ | async) && form.get('login').invalid }">
          <!-- <small class="p-error" *ngIf="form.get('login').invalid && form.get('login').touched">
                <div *ngIf="form.get('login').errors['required']">
                  Поле Логин не должно быть пустым
                </div>
              </small> -->
        </div>

        <div class="auth__body__form__fields__field">
          <img id="image" alt="captcha" [src]="image">
        </div>
        <p-button styleClass="p-button-link p-mb-4 registration-link" (click)="updateCaptcha()"
          label="Обновить картинку"></p-button>

        <!-- Captcha -->
        <div formGroupName="captcha">
          <div class="auth__body__form__fields__field">
            <input id="text" type="text" placeholder="Введите текст с картинки" pInputText formControlName="text"
              [ngClass]="{ 'mib-border-danger': (isSubmitting$ | async) && form.get('captcha.text').invalid }">
            <small class="p-error" *ngIf="(isSubmitting$ | async) && form.get('captcha.text').invalid">
              <div *ngIf="form.get('captcha.text').errors['required']">
                Поле Текст с Картинки не должно быть пустым
              </div>
            </small>
          </div>
        </div>
      </div>

      <div class="actions actions_registration actions_additional" *ngIf="!(confirmationCode$ | async)">
        <p-button styleClass="p-button-link" [routerLink]="['/auth/login']" label="Назад"></p-button>
        <button pButton type="submit" [disabled]="isSubmitting$ | async" class="main" label="Восстановить"></button>
      </div>
    </form>

    <form *ngIf="(confirmationCode$ | async)" [formGroup]="formConfirm" (ngSubmit)="onConfirmSubmit()">
      <div class="auth__body__form__fields">
        <div class="auth__body__form__fields__field">
          <input id="pin" type="text" pInputText placeholder="Код" formControlName="pin"
            [ngClass]="{'mib-border-danger': formConfirm.get('pin').invalid && formConfirm.get('pin').touched}">
          <!-- <small class="p-error" *ngIf="formConfirm.get('pin').invalid && formConfirm.get('pin').touched">
            <div *ngIf="formConfirm.get('pin').errors['required']">
              Поле Код не должно быть пустым
            </div>
          </small> -->
        </div>
      </div>

      <div class="actions actions_registration actions_additional">
        <p-button styleClass="p-button-link" [routerLink]="['/auth/login']" label="Назад"></p-button>
        <button pButton type="submit" [disabled]="isSubmitting$ | async" class="main"
          label="Подтвердить восстановление"></button>
      </div>
    </form>
  </div>
</div>
