<mib-modal>
	<div class="close-btn flex">
		<mib-button size="s" (press)="dialogRef.close()" type="ghost-secondary">
			<mib-icon btn-icon class="stroke" name="fi_x"></mib-icon>
		</mib-button>
	</div>

	<mib-mobile-table-popup title="Платеж">
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">Основные</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex gap-12">
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Дата'"
				[title]="data.invoice.Date | date : 'dd.MM.yyyy'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.invoice.Amount)"
				[showCopy]="true"
				[sectionTitle]="'Сумма'"
				[title]="data.invoice.Amount | rub"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.invoice.Comment)"
				[showCopy]="true"
				[sectionTitle]="'Назначение'"
				[title]="data.invoice.Comment"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xm"></mib-spacing>
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">Данные плательщика</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.invoice.Payer.Title)"
				[showCopy]="true"
				[sectionTitle]="'Плательщик'"
				[title]="data.invoice.Payer.Title"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.invoice.Payer.Account)"
				[showCopy]="true"
				[sectionTitle]="'Номер счета'"
				[title]="data.invoice.Payer.Account"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xm"></mib-spacing>
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">Счёт-фактура</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex gap-12">
			<mib-mobile-table-popup-cell
				(copyData)="copyData('???')"
				[showCopy]="true"
				[sectionTitle]="'№ с/ф'"
				[title]="'???'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Дата с/ф'"
				[title]="'???'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xm"></mib-spacing>
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">Дополнительные</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Дата задолженности'"
				[title]="'???'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Дата платежа'"
				[title]="'???'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				(copyData)="copyData('???')"
				[showCopy]="true"
				[sectionTitle]="'Сумма уступки'"
				[title]="'???'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Внешняя ссылка'"
				[title]="'???'"
				type="link"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="s"></mib-spacing>
		<div class="flex">
			<mib-button class="w-100" size="m" type="filled-secondary">
				Перейти к заполнению
			</mib-button>
		</div>
	</mib-mobile-table-popup>
	<span class="success-copied text text_tv" *ngIf="copied">Скопированно!</span>
</mib-modal>
