<mib-modal>
  <mib-modal-header (onClose)="dialogRef.close()" title="Коррекция заявки"></mib-modal-header>
  <mib-spacing type="xs"></mib-spacing>
  <mib-table>
    <mib-table-head>
      <mib-table-head-cell></mib-table-head-cell>
      <mib-table-head-cell></mib-table-head-cell>
      <mib-table-head-cell></mib-table-head-cell>
    </mib-table-head>
    <mib-table-cell></mib-table-cell>
    <mib-table-cell></mib-table-cell>
    <mib-table-cell></mib-table-cell>
    <mib-table-footer></mib-table-footer>
  </mib-table>
  <mib-spacing type="m"></mib-spacing>
  <mib-modal-footer>
    <mib-button>Отправить заявку</mib-button>
    <mib-button type="filled-secondary">Отменить изменения</mib-button>
  </mib-modal-footer>
</mib-modal>
