.mib-panel {
  margin-bottom: 20px;
  .mib-panel-header {
    display: flex;
    flex-direction: row;
    height: 80px;
    cursor: pointer;
    width: 100%;

    .mib-panel-header__content {
      display: flex;
      justify-content: space-between;
      width: 80%;
      border: 1px solid #D6D6D6;
      box-sizing: border-box;
      border-radius: 10px;
      align-items: center;
      padding: 30px;

      .mib-panel-header__content__title {

      }

      .mib-panel-header__content__date {

      }
    }

    .mib-panel-header__action {
      display: flex;
      width: 20%;
      border: 1px solid #D6D6D6;
      box-sizing: border-box;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
    }
  }
  .mib-panel-header__active {
    .mib-panel-header__content {
      border: unset;
      background: linear-gradient(216.14deg, #009FD9 10.37%, rgba(0, 159, 217, 0) 93.52%), #4B75B1;

      .mib-panel-header__content__title {
        color: white;
      }

      .mib-panel-header__content__date {
        color: white;
      }
    }

    .mib-panel-header__action {
      border: unset;
      background: linear-gradient(216.14deg, #009FD9 10.37%, rgba(0, 159, 217, 0) 93.52%), #4B75B1;
      color: white;
    }
  }

  .body {
    padding: 25px;
    background: #F0F0F0;
    border-radius: 10px;
  }

  .body.hidden {
    display: none;
  }
}


@media (max-width: 1300px) {
  .mib-panel {
    margin-bottom: 20px;
    .mib-panel-header {
      flex-wrap: wrap;
      height: 100%;
      width: 100%;

      .mib-panel-header__content {
        width: 100%;
        padding: 10px;
        display: inline;
        .mib-panel-header__content__title {

        }

        .mib-panel-header__content__date {

        }
      }

      .mib-panel-header__action {
        width: 100%;
      }
    }
    .mib-panel-header__active {
      .mib-panel-header__content {
        .mib-panel-header__content__title {
        }
        .mib-panel-header__content__date {
        }
      }

      .mib-panel-header__action {
      }
    }
    .body {
    }
    .body.hidden {
    }
  }
}
