<mib-drawer>
	<mib-drawer-header
		(onClose)="dialogRef.close()"
		drawer-header
	></mib-drawer-header>
	<mib-drawer-container>
		<div class="flex flex_column gap-4">
			<h4>Создание заявки</h4>
			<p class="text text_m c-bti-secondary">
				По выбранным заявкам Вы сможете составить заявку на факторинг
			</p>
		</div>
		<mib-spacing type="s"></mib-spacing>
		<p class="headline">Поставки</p>
		<mib-spacing type="xs"></mib-spacing>
		<mib-table>
			<mib-table-head>
				<mib-table-head-cell>ИД</mib-table-head-cell>
				<mib-table-head-cell>Контракт</mib-table-head-cell>
				<mib-table-head-cell>№ поставки</mib-table-head-cell>
				<mib-table-head-cell>С/ф №</mib-table-head-cell>
				<mib-table-head-cell>Остаток задолженности</mib-table-head-cell>
			</mib-table-head>
			<mib-table-row
				*ngFor="let duty of dutiesVisible; trackBy: trackByFunction"
				[underlined]="true"
			>
				<mib-table-cell>
					<ng-container table-cell-title>{{ duty.ID }}</ng-container>
				</mib-table-cell>
				<mib-table-cell>
					<ng-container table-cell-title>{{ duty.Contract.ID }}</ng-container>
				</mib-table-cell>
				<mib-table-cell>
					<ng-container table-cell-title>{{ duty.Number }}</ng-container>
				</mib-table-cell>
				<mib-table-cell>
					<ng-container table-cell-title>{{ duty.NumberInvoice }}</ng-container>
				</mib-table-cell>
				<mib-table-cell>
					<ng-container table-cell-title>{{ duty.Rest | number }}</ng-container>
				</mib-table-cell>
				<mib-button table-row-button size="s" type="ghost-secondary">
					<mib-icon class="stroke" btn-icon name="fi_more-vertical"></mib-icon>
				</mib-button>
			</mib-table-row>
			<mib-table-row>
				<mib-table-cell type="blank">
					<div class="flex flex_column gap-4">
						<p class="text text_xs c-bti-tertiary">Кол-во поставок</p>
						<p class="text text_s text_medium c-bti-primary">
							{{ data.data.length }}
							{{
								toolsService.declineWord(data.data.length, [
									'позиция',
									'позиции',
									'позиций'
								])
							}}
						</p>
					</div>
				</mib-table-cell>
				<mib-table-cell type="blank" class="flex flex_justify-end">
					<div class="flex flex_column gap-4 flex_align-end">
						<p class="text text_xs c-bti-tertiary">Сумма задолженности</p>
						<p class="text text_s text_medium c-bti-primary">
							{{ fullRest | number }}
						</p>
					</div>
				</mib-table-cell>
			</mib-table-row>
			<mib-table-footer>
				<mib-paginator
					(pageChange)="onPageChange($event)"
					[totalCount]="data.data.length"
					[pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
					[itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
				></mib-paginator>
			</mib-table-footer>
		</mib-table>
	</mib-drawer-container>
	<mib-drawer-footer drawer-footer>
		<div class="flex w-100 flex_justify-between">
			<div class="flex gap-12">
				<mib-button
					size="m"
					[loading]="!!(sending$ | async)"
					(press)="submit()"
					type="filled-primary"
					>Создать заявку</mib-button
				>
				<mib-button [loading]="!!(sendingAndSigning$ | async)" (press)="requestSign()" size="m" type="ghost-primary">Создать и подписать</mib-button
				>
			</div>
			<mib-button (click)="dialogRef.close()" size="m" type="ghost-alert"
				>Отмена</mib-button
			>
		</div>
	</mib-drawer-footer>
</mib-drawer>
