<mib-section-header [backgroundImageUrl]="'../../../../assets/public/image_contacts.png'">
  <h1>Контакты</h1>
  <p class="desc">
    Познакомьтесь с нашими сотрудниками :)
  </p>
</mib-section-header>
<mib-section-body>
  <mib-tab [flexDisable]="'true'">
    <mib-tab-item>
      <mib-tab-label>Московский филиал</mib-tab-label>
      <mib-tab-body>
        <div class="row contacts section-information">
          <div class="col address">
            <span>Адрес</span>
            <p>119180, г. Москва, ул. Большая Полянка, д. 47, стр. 2
            </p>
            <div class="phones">
              <div class="phone">
                <img src="../../../../assets/icons/contact-icons/phone.png" alt="">
                (495) 727-9797
              </div>
              <div class="phone">
                <img src="../../../../assets/icons/contact-icons/phone.png" alt="">
                (800) 250-9797
              </div>
            </div>
          </div>
          <div class="col map">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
              src="https://maps.google.com/maps?hl=ru&amp;q=%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B0%D1%8F%20%D0%9F%D0%BE%D0%BB%D1%8F%D0%BD%D0%BA%D0%B0%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0+()&amp;t=p&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              width="100%" height="100%"></iframe>
          </div>
        </div>

        <div class="section-information">
          <h2>Наши сотрудники</h2>
          <h3>Начальник Банковского управления</h3>
          <div class="persons">
            <mib-card-person [avatar]="''" [name]="'Прохоров Александр'" [position]="''" [email]="'prav@metib.ru'">
            </mib-card-person>
          </div>
        </div>

        <div class="section-information">
          <h3>Отдел развития факторинга</h3>
          <div class="persons">
            <mib-card-person [avatar]="''" [name]="'Корнилова Анжела'" [position]="'Заместитель начальника отдела
              развития факторинга'" [email]="'kanvl@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Огонь Виктория'" [position]="'Специалист отдела
            развития факторинга'" [email]="'ovd@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Садыкова Юлия'" [position]="'Специалист отдела
            развития факторинга'" [email]="'ybaykina@metib.ru'">
            </mib-card-person>
          </div>
        </div>


        <div class="section-information">
          <h3>Группа сопровождения клиентов</h3>
          <div class="persons">
            <mib-card-person [avatar]="''" [name]="'Тарасова Татьяна'" [position]="'Руководитель группы
            сопровождения клиентов'" [email]="'tatv@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Мохова Татьяна'" [position]="'Главный специалист группы
            сопровождения клиентов'" [email]="'tefimova@metib.ru'">
            </mib-card-person>
          </div>
        </div>

        <div class="section-information">
          <h3>Отдел факторинга</h3>
          <div class="persons">
            <mib-card-person [avatar]="''" [name]="'Исаева Анастасия'" [position]="'Начальник отдела
            факторинга'" [email]="'osam@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Макушкина Антонина'" [position]="'Ведущий экономист
            отдела факторинга'" [email]="'chai@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Ермолова Юлия'" [position]="'Ведущий экономист
            отдела факторинга'" [email]="'ybaykina@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Адиенко Наталья'" [position]="'Ведущий экономист
            отдела факторинга'" [email]="'mann@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Чиркова Ирина'" [position]="'Старший экономист
            отдела факторинга'" [email]="'iviy@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Романова Мария'" [position]="'Экономист
            отдела факторинга'" [email]="'mromanova@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Ладная Дарья'" [position]="'Экономист
            отдела факторинга'" [email]="'dladnaya@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Гёзалова Назрин'" [position]="'Экономист
            отдела факторинга'" [email]="'ngezalova@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Евтушенко Ирина'" [position]="'Экономист
            отдела факторинга'" [email]="'mromanova@metib.ru'">
            </mib-card-person>
          </div>
        </div>


        <div class="section-information">
          <h3>Отдел международного факторинга</h3>
          <div class="persons">
            <mib-card-person [avatar]="''" [name]="'Мотылёва Екатерина'" [position]="'Начальник отдела методологии
            факторинговых операций'" [email]="'belek@metib.ru'">
            </mib-card-person>
          </div>
        </div>
      </mib-tab-body>
    </mib-tab-item>
    <mib-tab-item>
      <mib-tab-label>Санкт-Петербургский филиал</mib-tab-label>
      <mib-tab-body>
      </mib-tab-body>
    </mib-tab-item>
  </mib-tab>
</mib-section-body>
