<mib-section-header [backgroundImageUrl]="'../../../../assets/public/image_contacts.png'">
  <h1>Контакты</h1>
  <p class="desc">
    Познакомьтесь с нашими сотрудниками :)
  </p>
</mib-section-header>
<mib-section-body>
  <mib-tab [flexDisable]="'true'">
    <mib-tab-item>
      <mib-tab-label>Московский филиал</mib-tab-label>
      <mib-tab-body>
        <div class="row contacts section-information">
          <div class="col address">
            <span>Адрес</span>
            <p>119180, г. Москва, ул. Большая Полянка, д. 47, стр. 2
            </p>
            <div class="phones">
              <div class="phone">
                <img src="../../../../assets/icons/svg/icon-phone.svg" alt="">
                <a href="tel:+74957279797">+7 (495) 727-9797</a>
              </div>
              <div class="phone">
                <img src="../../../../assets/icons/svg/icon-phone.svg" alt="">
                <a href="tel:+78002509797">+7 (800) 250-9797</a>
              </div>
            </div>
          </div>
          <div class="col map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A2f67fcd615265574608b925be005814b15ab5d32dce3bc8135f16ba7a27f1d32&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </div>
        </div>

        <div class="section-information">
          <h2>Наши сотрудники</h2>
          <h3>Начальник Банковского управления</h3>
          <div class="persons">
            <mib-card-person [avatar]="'../../../../assets/public/personal/прохоров.jpg'" [name]="'Прохоров Александр'"
              [position]="''" [email]="'prav@metib.ru'">
            </mib-card-person>
          </div>
        </div>

        <div class="section-information">
          <h3>Отдел развития факторинга</h3>
          <div class="persons">
            <mib-card-person [avatar]="'/assets/public/personal/корнилова.jpg'" [name]="'Корнилова Анжела'"
              [position]="'Заместитель начальника отдела развития факторинга'" [email]="'kanvl@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/садыкова.jpg'" [name]="'Садыкова Юлия'"
              [position]="'Главный специалист отдела
            развития факторинга'" [email]="'ysadykova@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/ануфриева.jpg'" [name]="'Ануфриева Анна'"
              [position]="'Специалист Отдела развития факторинга'" [email]="'aanufrieva@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/грибова.jpg'" [name]="'Грибова Елена'"
              [position]="'Специалист Отдела развития факторинга'" [email]="'egribova@metib.ru'">
            </mib-card-person>
          </div>
        </div>

        <div class="section-information">
          <h3>Группа сопровождения клиентов</h3>
          <div class="persons">
            <mib-card-person [avatar]="'/assets/public/personal/ровенских.jpg'" [name]="'Ровенских Юлия'"
              [position]="'Руководитель группы
            сопровождения клиентов'" [email]="'yrovenskikh@metib.ru'">
            </mib-card-person>
          </div>
        </div>

        <div class="section-information">
          <h3>Отдел факторинга</h3>
          <div class="persons">
            <mib-card-person [avatar]="'/assets/public/personal/исаева.jpg'" [name]="'Исаева Анастасия'"
              [position]="'Начальник отдела
            факторинга'" [email]="'osam@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/манелюк.jpg'" [name]="'Манелюк Юлия'"
              [position]="'Экономист Отдела факторинга'" [email]="'ymanelyuk@metib.ru'">
            </mib-card-person>

            <mib-card-person [avatar]="'/assets/public/personal/макушкина.jpg'" [name]="'Макушкина Антонина'"
              [position]="'Ведущий экономист
            отдела факторинга'" [email]="'chai@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/ермолова.jpg'" [name]="'Ермолова Юлия'"
              [position]="'Заместитель начальника
            отдела факторинга'" [email]="'ybaykina@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/романова.jpg'" [name]="'Романова Мария'"
              [position]="'Старший экономист
            отдела факторинга'" [email]="'mromanova@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/ладная.jpg'" [name]="'Ладная Дарья'"
              [position]="'Главный экономист
            отдела факторинга'" [email]="'dladnaya@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/евтушенко.jpg'" [name]="'Евтушенко Ирина'"
              [position]="'Старший экономист
            отдела факторинга'" [email]="'ievtushenko@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="'/assets/public/personal/гарасименко.jpg'"
              [name]="'Герасименко Лилия'" [position]="'Экономист отдела факторинга БУ'"
              [email]="'lgerasimenko@metib.ru'">
            </mib-card-person>
          </div>
        </div>


        <!-- <div class="section-information-double"> -->
        <div class="section-information">
          <h3>Отдел международного факторинга</h3>
          <div class="persons">
            <mib-card-person [avatar]="'/assets/public/personal/мотылева.jpg'" [name]="'Мотылёва Екатерина'"
              [position]="'Начальник отдела методологии
            факторинговых операций'" [email]="'belek@metib.ru'">
            </mib-card-person>
          </div>
        </div>

        <!-- </div> -->
        <div class="section-information">
          <h3>Работа с дебиторами</h3>
          <div class="persons">
            <mib-card-person [avatar]="'/assets/public/personal/бакунина.jpg'" [name]="'Бакунина Юлия'"
              [position]="'Начальник отдела анализа рисков'" [email]="'bji@metib.ru'">
            </mib-card-person>
          </div>
        </div>
      </mib-tab-body>
    </mib-tab-item>
    <mib-tab-item>
      <mib-tab-label>Санкт-Петербургский филиал</mib-tab-label>
      <mib-tab-body>
        <div class="row contacts section-information">
          <div class="col address">
            <span>Адрес</span>
            <p>199178, Россия, г.Санкт-Петербург, 7-я линия В.О., д. 76, Б/Ц 'Сенатор', офис 108
            </p>
            <div class="phones">
              <div class="phone">
                <img src="/assets/icons/svg/icon-phone.svg" alt="">
                <a href="tel:+78123321702">+7 (812) 332-1702</a>
              </div>
              <div class="phone">
                <img src="/assets/icons/svg/icon-phone.svg" alt="">
                <a href="tel:+78123321703">+7 (812) 332-1703</a>
              </div>
            </div>
          </div>
          <div class="col map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A668e048cde5370e42d9239d2a08a2ae5dd26a6aa79afb0abd872ce4276d34d8a&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </div>
        </div>

        <div class="section-information">
          <h2>Наши сотрудники</h2>
        </div>

        <div class="section-information">
          <h3>Отдел развития факторинга</h3>
          <div class="persons">
            <mib-card-person [avatar]="''" [name]="'Андреева Марина'" [position]="'Директор ККО «Санкт-Петербургский»'"
              [email]="'anma@metib.ru'">
            </mib-card-person>

            <mib-card-person [avatar]="''" [name]="'Иващенко Александр'"
              [position]="'Специалист отдела развития факторинга ККО «Санкт-Петербургский»'"
              [email]="'aivaschenko@metib.ru'">
            </mib-card-person>
            <mib-card-person [avatar]="''" [name]="'Медынцева Вероника'"
              [position]="'Специалист отдела развития факторинга ККО «Санкт-Петербургский»'"
              [email]="'vmedyntseva@metib.ru'">
            </mib-card-person>
          </div>
        </div>
      </mib-tab-body>
    </mib-tab-item>
  </mib-tab>
</mib-section-body>
