<mib-section-header [backgroundImageUrl]="'../../../../assets/public/image_factoring.png'">
  <span class="date">Клиентам</span>
  <h1>Факторинг — это просто!</h1>
  <p class="desc">
    Для работы по факторингу с Металлинвестбанке необходимо:
  </p>
</mib-section-header>
<mib-section-body [addonHeader]="'1 этап'">
  <h2 class="addon-header">
    Оформление ЭП
  </h2>
  <div class="row line-bottom">
    <div class="col">
      <div class="steps">
        <p>
          1. Клиент заполняет заявку в личном кабинете на сайте factoring.metib.ru
        </p>
        <p>
          2. В течении 2-х рабочих дней Калуга-Астрал приглашает Клиента
          (по телефону или электронной почте) на сверку документов в ближайший центр выдачи
        </p>
        <p>
          3. Клиент привозит в центр выдачи оригиналы документов, указанных в приглашении
          (или их заверенные копии)
        </p>
        <p>
          4. В течение 1 дня Клиенту направляется электронное письмо с ЭП и инструкцией по установке
        </p>
        <p>
          5. Клиент устанавливает сертификат ЭП, после чего передает в Банк Акт о присоединении к ЭДО с новой ЭП и может
          использовать программу Фактор-Клиент
        </p>
      </div>
      <div class="instruction">
        <p>После оформления ЭП необходимо скачать Заявление о выдачи сертификата, после чего сохранить запрос.</p>
        <p> Адреса выдачи сертификатов:
          Москва, ул. Шоссе Энтузиастов, д. 56, стр. 32, оф. 211
          Санкт-Петербург, Невский пр-т, д. 111/3</p>
      </div>
      <mib-button [title]="'Посмотреть список центров выдачи'"></mib-button>
      <div class="annotation">
        <p>Так же вместо оригиналов документов могут быть предоставлены копии, заверенные Генеральным директором</p>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/public/images/partner/eds.png">
    </div>
  </div>
  <div class="row">
    <div class="col step-two line-right">
      <div class="pre-header">
        2 этап
      </div>
      <h2>Договор</h2>
      <p class="step-description">Для продолжения работы, необходимо скачать договор о предоставлении факторинговых услуг</p>
      <mib-button [title]="'Скачать договор'"></mib-button>
    </div>
    <div class="col step-three">
      <div class="pre-header">
        3 этап
      </div>
      <h2>Установка программы Фактор-Клиент</h2>
      <p class="step-description">«Фактор-Клиент» - это программный продукт для обеспечения процесса факторинга между Банком и Клиентом. Эта программа реализует электронный документооборот, применяющий электронную подпись (ЭП). Происходит обмен электронными файлами, имеющими силу бумажных документов.</p>
      <mib-button [title]="'Посмотреть список центров выдачи'"></mib-button>
    </div>
  </div>
</mib-section-body>
