@import 'src/styles/helpers/_icon_tools.scss';
@import 'src/styles/_typography.vars.scss';

@mixin upload-icon($width, $height) {
	width: $width;
	height: $height;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: var(--wgr-secondary);
	overflow: hidden;
}
@mixin file-cell-m {
	& .upload-icon {
		@include upload-icon(32px, 32px);
	}
	& span {
		@include text-m;
	}
}

@mixin file-cell-s {
	& .upload-icon {
		@include upload-icon(24px, 24px);
	}
	& .buttons-block {
		mib-button {
			button {
				padding: 0 4px;
			}
		}
	}
	& span {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		white-space: normal;
		word-break: break-all;
		max-width: 296px;
		@include text-s;
	}
}

.file-cell {
	border-bottom: 1px solid var(--wgr-tertiary);
	padding-bottom: 8px;
	mib-icon {
		@include icon-size(16px);
	}

	& .file-input {
		display: none;
	}

	& mib-icon {
		@include icon-color(var(--bti-tertiary));
	}

	&_size {
		&-m {
			@include file-cell-m;
		}
		&-s {
			@include file-cell-s;
		}
	}
}
