@import 'src/styles/helpers/_icon_tools';
@import 'src/styles/_typography.vars.scss';

@mixin input {
  border-radius: var(--main-border-radius);
  width: 100%;
  @include body-text;
  transition: color var(--transition), background-color var(--transition), border-color var(--transition);
  border: 1px solid transparent;
}

@mixin box-label-styles($top) {
  .box-label {
    @content;
  }
  &:has(input:focus),
  &:has(input:not(:placeholder-shown)) {
    .box-label {
      top: $top;
    }
  }
}

@mixin input-size($height, $iconSize, $iconsGap, $paddingsHorizontal: 16px) {
  height: $height;
  padding: 0 $paddingsHorizontal;
  & ~ .input {
    &_icon-wrapper {
      mib-ref-icon {
        @include icon-size($iconSize);
      }

      gap: $iconsGap;
    }
  }
}

@mixin input-type-filled-secondary {
  background: var(--wgr-secondary);
  &.input {
    outline: 0;

    &:focus {
      border: 1px solid var(--mc-default);
      color: var(--bti-primary);
    }

    &:disabled {
      color: var(--wti-quaternary);
      background: var(--wgr-tertiary);
      border: none;
    }
  }
}

@mixin input-type-floating {
  background: var(--wgr-primary);
  &.input {
    outline: 0;

    &:focus {
      border: 1px solid var(--mc-default);
      box-shadow: var(--custom-floating-shadow);
    }

    &:disabled {
      color: var(--wti-quaternary);
      background: var(--wgr-tertiary);
      box-shadow: none;

      mib-ref-icon {
        @include icon-color(var(--wti-quaternary));
      }
    }
  }
}

@mixin input-type-separated {
  background: var(--wgr-primary);
  &.input {
    outline: 0;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    border-bottom: 1px solid var(--wgr-tertiary);

    &:focus {
      border-bottom: 1px solid var(--wgr-tertiary);
    }

    &:disabled {
      color: var(--wti-quaternary);
      background: var(--wgr-tertiary);
      box-shadow: none;

      mib-ref-icon {
        @include icon-color(var(--wti-quaternary));
      }
    }
  }
}

@mixin input-xl {
  @include input-size(
      56px,
      var(--input-xl-icon-size),
      var(--input-xl-icons-gap)
  );
  @include text-l;
}

@mixin input-l {
  @include input-size(48px, var(--input-l-icon-size), var(--input-l-icons-gap));
  @include text-m;
}

@mixin input-m {
  @include input-size(40px, var(--input-m-icon-size), var(--input-m-icons-gap));
  @include text-m;
}

@mixin input-s {
  @include input-size(32px, var(--input-s-icon-size), var(--input-s-icons-gap));
  @include text-s;
}

.box-wrapper {
	max-width: 360px;
	position: relative;
	--input-xl-icon-size: 20px;
	--input-l-icon-size: 20px;
	--input-m-icon-size: 20px;
	--input-s-icon-size: 16px;
	--input-xl-icons-gap: 8px;
	--input-l-icons-gap: 8px;
	--input-m-icons-gap: 8px;
	--input-s-icons-gap: 8px;
	border-radius: var(--main-border-radius);
	border: 1px solid transparent;
	transition: var(--main-transition);
	& mib-ref-icon {
		@include icon-color(var(--bti-tertiary));
	}
	&:has(.input_type-filled-secondary) {
		&:hover {
			border: 1px solid var(--wgr-tertiary);
		}
	}
	&:has(.input_type-floating) {
		:hover {
			box-shadow: var(--custom-floating-shadow);
		}
	}
	&:has(.input_type-separated) {
		:hover input {
			border-bottom: transparent;
		}
	}
	&:hover .left-wrapper mib-ref-icon {
		@include icon-color(var(--bti-secondary));
	}
	&:hover .box-label {
		color: (var(--bti-secondary));
	}
	.box-label {
		top: 28%;
		// top: 50%;
		// transform: translateY(-50%);
		position: absolute;
		padding-left: 16px;
		white-space: nowrap;
		cursor: text;
		transition: var(--main-transition);
	}
	.box-right-iconly {
		.right-wrapper {
			display: flex;
		}
	}
	.box-left-iconly {
		.left-wrapper {
			display: flex;
		}
	}
	.input,
	.left-wrapper {
		transition: var(--main-transition);
	}
	&:has(input:focus),
	&:has(input:not(:placeholder-shown):not(:focus)) {
		.input,
		.left-wrapper {
			padding-top: 12px;
			mib-ref-icon {
				@include icon-color(var(--bti-secondary));
			}
		}
		.box-label {
			display: block;
			transform: unset;
			padding-left: 16px !important;
			@include body-text;
			@include text-xs;
			font-weight: var(--fw-medium);
			color: var(--mc-default);
			transition: var(--main-transition);
		}
	}
	&:has(.input_xl) {
		@include box-label-styles(10px) {
			@include text-l;
		}
	}
	&:has(.input_l) {
		@include box-label-styles(8px) {
			@include text-m;
		}
	}
	&:has(.input_m) {
		@include box-label-styles(4px) {
			@include text-m;
		}
	}
	&:has(.input_s) {
		@include box-label-styles(2px) {
			@include text-s;
		}
		mib-ref-icon {
			@include icon-size(var(--input-m-icon-size));
		}
	}
	&:has(.input_error):has(input:not(.ng-pristine)):has(.input_type-separated) {
		input {
			border-top: transparent !important;
			border-right: transparent !important;
			border-left: transparent !important;
		}
	}
	&:has(.input_active):has(input:not(.ng-pristine)):has(.input_type-separated) {
		input {
			border-top: transparent !important;
			border-right: transparent !important;
			border-left: transparent !important;
		}
	}
	&:has(.input_active) {
		.box-label {
			color: var(--succes-color-default) !important;
		}
		input {
			border: 1px solid var(--succes-color-default) !important;
		}
	}
	&:has(.input_error):has(input:not(.ng-pristine)) {
		.box-label {
			color: var(--alc-default) !important;
		}
		input {
			border: 1px solid var(--alc-default) !important;
			color: var(--alc-default);
		}
		.left-wrapper {
			mib-ref-icon {
				@include icon-color(var(--alc-default) !important);
			}
		}
	}
	&:has(textarea) {
		display: flex;
		padding: 10px 16px 34px 16px;
		align-items: flex-start;
		gap: 8px;
		background-color: antiquewhite;
		input {
			background-color: transparent;
		}
		div.textarea-panel {
			display: flex;
		}
	}
}

.input {
  @include input();

  &_xl {
    @include input-xl;
  }

  &_l {
    @include input-l;
  }

  &_m {
    @include input-m;
  }

  &_s {
    @include input-s;
  }

  &_icon-wrapper {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: none;

    &.right-wrapper {
      right: 16px;
      padding-left: 8px;
    }

    &.left-wrapper {
      left: 16px;
      padding-right: 4px;
    }
  }

  &_type-filled-secondary {
    @include input-type-filled-secondary;
  }

  &_type-floating {
    @include input-type-floating;
  }

  &_type-separated {
    @include input-type-separated;
  }
}

div.textarea-panel {
  display: none;
}
