@import 'src/styles/helpers/_icon_tools';
@import 'src/styles/_typography.vars.scss';
@import 'src/styles/components/input.vars';

.box-wrapper {
  --input-xl-icon-size: 20px;
  --input-l-icon-size: 20px;
  --input-m-icon-size: 20px;
  --input-s-icon-size: 16px;
  --input-xl-icons-gap: 8px;
  --input-l-icons-gap: 8px;
  --input-m-icons-gap: 8px;
  --input-s-icons-gap: 8px;
}

.box-wrapper {
  position: relative;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);

  &-transition {
    .box-label {
      transition: var(--main-transition);
    }
    .input {
      transition: var(--main-transition);
    }
  }

  mib-ref-icon {
    @include icon-color(var(--bti-tertiary));
  }

  &:hover .input_icon-wrapper mib-ref-icon {
    @include icon-color(var(--bti-secondary));
  }

  &:hover .box-label {
    color: var(--bti-secondary);
  }

  .box-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 16px;
    white-space: nowrap;
    cursor: text;
  }

  .box-right-iconly, .box-left-iconly {
    .input_icon-wrapper {
      display: flex;
    }
  }

  &:has(input:focus),
  &:has(input:not(:placeholder-shown):not(:focus)) {
    .input,
    .left-wrapper {
      padding-top: 12px;
    }

    .box-label {
      transform: unset;
      padding-left: 16px !important;
      @include body-text;
      @include text-xs;
      font-weight: var(--fw-medium);
      color: var(--mc-default);
      //transition: var(--main-transition);
    }
  }

  &:has(.input_xl) {
    @include box-label-styles(10px) {
      @include text-l;
    }
  }

  &:has(.input_l) {
    @include box-label-styles(8px) {
      @include text-m;
    }
  }

  &:has(.input_m) {
    @include box-label-styles(4px) {
      @include text-m;
    }
  }

  &:has(.input_s) {
    @include box-label-styles(2px) {
      @include text-s;
    }

    mib-ref-icon {
      @include icon-size(var(--input-m-icon-size));
    }
  }

  &:has(textarea) {
    display: flex;
    padding: 10px 16px 34px 16px;
    align-items: flex-start;
    gap: 8px;
    background-color: antiquewhite;

    input {
      background-color: transparent;
    }

    div.textarea-panel {
      display: flex;
    }
  }
}

.input {
  @include input();

  &_xl {
    @include input-xl;
  }

  &_l {
    @include input-l;
  }

  &_m {
    @include input-m;
  }

  &_s {
    @include input-s;
  }

  &_icon-wrapper {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: none;

    &.right-wrapper {
      right: 16px;
      padding-left: 8px;
    }

    &.left-wrapper {
      left: 16px;
      padding-right: 4px;
    }
  }

  // INPUT TYPES WITH BOX-WRAPPER ADDICTION
  @include input-type-filled-secondary;
  @include input-type-floating;
  @include input-type-separated;
}

div.textarea-panel {
  display: none;
}
