@mixin modal-cdk {
	.mat-mdc-dialog-container .mdc-dialog__surface {
		box-shadow: none !important;
		--mdc-dialog-container-color: transparent;
		--mdc-dialog-container-shape: 0;
		border-radius: unset;
		background-color: unset;
		box-shadow: unset;
		overflow: hidden;
		background-color: transparent;
		&:before {
			content: unset;
		}
	}
}

.modal-cdk {
	@include modal-cdk;
}

.modal {
	padding: 24px;
	border-radius: 16px;
	background: var(--wgr-primary);
	overflow-y: auto;
	// box-shadow: var(--shadow-normal);
	@media (max-width: 576px) {
		padding: 20px;
		height: 100%;
	}
}
