@import "src/styles/typography.vars";
@import "src/styles/helpers/icon_tools";

$text-selectors: 'label';

@mixin table-head-cell {
  height: 100%;
  width: 100%;
  padding: 10px 8px 10px 0;

  #{$text-selectors} {
    @include body-text;
    @include text-s;
    @include text-overflow(1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  mib-ref-icon {
    @include icon-size(20px)
  }
  @include table-color(var(--bti-secondary))
}

@mixin table-color($color) {
  #{$text-selectors} {
    color: $color;
  }
  mib-ref-icon {
    @include icon-color($color)
  }
}

.table-head-cell {
  @include table-head-cell;
  .cursor-pointer {
    &, & > * {
      cursor: pointer;
    }
  }
}
