.box-wrapper_textarea {
  &.input_l {
    padding-top: 10px;
  }

  &.input_xl {
    padding-top: 8px;
  }

  &.input_m {
    padding-top: 4px;
  }

  &.input_s {
    padding-top: 2px;
  }
}
textarea {
  ::-webkit-scrollbar {
    background-color: unset;
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid var(--wgr-primary);
    background-color: var(--wgr-tertiary);
    border-radius: 12px;
    &:active {
      background-color: var(--wgr-quaternary);
    }
  }
}
