
.p-dialog-header {
  position: relative !important;
  justify-content: center !important;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: $dark-blue !important;
}

.p-dialog .p-dialog-header-icons {
  position: absolute !important;
  right: 1.5rem !important;
}

.btn-mib-submit {
  width: 100%;
  background: linear-gradient(216.14deg, #009FD9 10.37%, rgba(0, 159, 217, 0) 93.52%), #4B75B1;
}

.p-dialog .p-dialog-header {
  border-top: 2px solid $main;
}

.p-dialog .p-dialog-header {
  border-top: 2px solid $main;
}
