.mib-formset {
  margin-bottom: 20px;

  .title {
    display: flex;

    .text {
      width: 100%;
      border: solid 1px #c4c4c4;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 10px;
    }
    .button {
      border-radius: 10px;
      cursor: pointer;
      background: transparent !important;
      padding-left: 25px !important;
      padding-right: 25px !important;
      padding-top: 15px !important;
      padding-bottom: 15px !important;

      &.warn {
        color: $warning;
        border: solid 1px $warning;
      }
    }
  }

  .form {
    border: solid 1px #c4c4c4;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
