p-inputMask,
input,
.p-inputtextarea,
p-calendar,
.p-dropdown {
  border-radius: 10px !important;
  background: transparent !important;
}

p-inputMask {
  border-radius: 10px !important;
  background: transparent !important;
}

p-calendar {
  border-radius: 10px !important;
  background: transparent !important;
}

.p-dropdown {
  border: unset !important;
}

.p-dropdown .p-dropdown-trigger {
  border-radius: 10px !important;
  width: 50px;
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF !important;
  color: $white !important;
}

.p-dropdown .p-dropdown-label {
  // padding: 12px !important;
}

.p-inputtext {
  border-radius: 10px !important;
  border: 1px solid #727272 !important;
}

.p-dropdown {
  background: transparent !important;
}

.mib-upload-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mib-upload-file+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.mib-upload-file:focus+label,
.mib-upload-file+label:hover {
  background-color: $warning;
}

.mib-upload-file+label {
  cursor: pointer;
  /* "hand" cursor */
}

.ng-invalid {
  border-color: $warning !important;
}

p-inputmask.ng-invalid {
  input {
    border-color: $warning !important;
  }
}

p-calendar.ng-invalid {
  input {
    border-color: $warning !important;
  }
}

.mib-uploader {
  font-size: 1rem;


  &.height-80 {
    height: 80px;
  }
}

.mib-upload {
  cursor: pointer;
  height: 100% !important;
  width: 180px !important;
  background: transparent !important;
  border-radius: 10px !important;
  color: #102538 !important;

  border: 1px solid $main-mono;

  display: flex;
  justify-content: center;
  align-items: center;

  .pi {
    color: #0C83F1 !important;
  }
}

.mib-upload:hover {
  background: $main !important;
  color: #fff !important;

  .pi {
    color: #fff !important;
  }
}

.mib-upload-warn {
  cursor: pointer;
  height: 100% !important;
  width: 180px !important;
  background: transparent !important;
  border-radius: 10px !important;
  color: $warning !important;

  border: 1px solid $warning;

  display: flex;
  justify-content: center;
  align-items: center;

  .pi {
    color: $warning !important;
  }
}

.mib-upload-warn:hover {
  background: $warning !important;
  color: #fff !important;

  .pi {
    color: #fff !important;
  }
}

.addon-button {
  display: flex;
  flex-direction: column;

  .action-box {
    display: flex;
    flex-direction: row;
  }

  .progress {
    width: 100%;
    flex-direction: row;

  }

  &.mb-20 {
    margin-bottom: 20px;
  }

  &.mb-10 {
    margin-bottom: 10px;
  }
}

.mib-uploader__error {
  margin-top: -20px;
}


.addon-input {
  display: flex;

  .text {
    width: 20%;
    font-size: 0.875rem;
    background: $main;
    color: $white;
    border-radius: 10px;

    display: flex;

    align-items: center;
    justify-content: center;
  }
}

.mib-input-icon {
  height: 54px;
  border: 1px solid #727272 !important;
  font-size: 0.875rem !important;
}

.p-multiselect {
  background-color: transparent !important;
  border-radius: 10px !important;
  border: 1px solid #727272 !important;
}

.p-multiselect-label-container {
  padding: 7px;
}

.fix-width--200 {
  .p-dropdown {
    width: 200px !important;
  }
}

p-inputnumber {
  width: 100%;
}

.p-calendar {
  height: 39px;
}


.search-field {
  width: 200px;
  height: 50px;

  .p-dropdown-label {
    display: flex;
    align-items: center;
  }

  &.width-100 {
    width: 100%;
  }
}

// mobile
@media (max-width: 1300px) {
  .search-field {
    width: 100%;
  }
}

.mib-input.p-dropdown {
  border: unset;

  .p-dropdown-label {
    border-radius: 10px;
  }

  .p-dropdown-trigger {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-radius: 10px;
  }

  &.p-focus {
    outline: unset !important;
    box-shadow: unset !important;
    border-color: unset !important;
  }

  &:focus-visible {
    outline: unset;
  }
}

.p-dropdown {
  border-radius: 10px !important;
}

.p-dropdown .p-dropdown-trigger {
  background: $main !important;
  color: $white !important;
}

.ng-invalid {
  border-color: #f44336 !important;
}

p-inputmask.ng-invalid {
  input {
    border-color: #f44336 !important;
  }
}
p-calendar.ng-invalid {
  input {
    border-color: #f44336 !important;
  }
}

// mobile
@media (max-width: 1300px) {
  .search-field {
    width: 100%;
  }
}
