.mib-tabs {
  .p-tabview.p-component {
    .p-tabview-nav {
      justify-content: center !important;
      background-color: transparent !important;
      width: 100%;

      li {
        a {
          background-color: transparent !important;
        }
      }
    }

    .p-tabview-panels {
      background-color: transparent !important;
      width: 100%;
    }
  }
}

.mib-tab.p-tabview {
  .p-tabview-nav {
    justify-content: center;
  }

  .p-tabview-title {
    font-size: 14px;
    line-height: 16px;
    color: #A6A6A6;
    font-weight: normal;
  }

  .p-highlight {
    .p-tabview-nav-link {
      .p-tabview-title {
        font-size: 14px;
        line-height: 16px;
        color: #102538 !important;
      }
    }
  }

  .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: unset;
  }
}

.mib-accordion.p-accordion {
  background-color: transparent;
  color: #2196F3;
  border: 1px solid;
  border-radius: 10px;

  .p-accordion-header-link {
    border: unset !important;
    color: #495057;
    background: transparent !important;
  }

  .p-accordion-content {
    border-radius: 10px !important;
  }

  .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: unset !important;
  }
}
