.p-tieredmenu .p-menuitem-link {
  text-align: center;
  justify-content: center !important;

}

.p-tieredmenu.p-tieredmenu-overlay {
  background: #E9E9E9 !important;
  border-radius: 10px !important;
}

.p-tieredmenu .p-menuitem {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px dashed #A9A9A9 !important;
}

.p-tieredmenu .p-menuitem:last-child {
  border-bottom: unset !important;
}

.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover {
  background: unset !important;
}

.p-tieredmenu .p-menuitem-link .p-menuitem-text {
  color: #949494 !important;
}

.p-tieredmenu .p-menuitem-link .p-menuitem-text:hover {
  color: $black !important;
}
