.p-toolbar {
  background: transparent !important;
  border: unset !important;
  padding: unset !important;
  border-radius: unset !important;
  padding-left: 3rem !important;

  .p-toolbar-group-left {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
  }
}

.p-toolbar {
  &.additional-actions {
    .p-toolbar-group-left {
      width: 100%;
      display:  flex !important;
      flex-direction: row !important;
      flex-wrap: wrap !important;
      gap: 10px !important;
      justify-content: space-between;
    }
  }
}

.ml-0 {
  padding-left: 0px !important;
}

.excel-icon {
  background-color: #007127;
}
