<mib-drawer>
	<mib-drawer-header (onClose)="dialogRef.close()" drawer-header>
	</mib-drawer-header>
	<mib-drawer-container>
		<h4>Запрос на верификацию</h4>
		<mib-spacing type="xs"></mib-spacing>
		<mib-select placeholder="Дебитор">
			<mib-dropdown-point [value]="true" text="Дебитор А"></mib-dropdown-point>
			<mib-dropdown-point [value]="false" text="Дебитор Б"></mib-dropdown-point>
			<mib-dropdown-point [value]="false" text="Дебитор В"></mib-dropdown-point>
		</mib-select>
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex gap-12">
			<mib-select class="flex_grow" placeholder="Тип верификации">
				<mib-dropdown-point
					[value]="true"
					text="Верификация А"
				></mib-dropdown-point>
				<mib-dropdown-point
					[value]="false"
					text="Верификация Б"
				></mib-dropdown-point>
				<mib-dropdown-point
					[value]="false"
					text="Верификация В"
				></mib-dropdown-point>
			</mib-select>
			<mib-input class="flex_grow">
				<input mibInput />
				<ng-container mibLabel>GLN поставщика</ng-container>
			</mib-input>
		</div>
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex">
			<mib-checkbox class="gap-8 flex_grow">
				<span class="text text_m">Заказ (ORDER)</span>
			</mib-checkbox>
			<mib-checkbox class="gap-8 flex_grow">
				<span class="text text_m">Уведомление о приёмке</span>
			</mib-checkbox>
		</div>
		<mib-spacing type="xs"></mib-spacing>
		<mib-textarea>
			<ng-container mibLabel>Комментарий к запросу</ng-container>
			<textarea [maxLength]="100" autosize mibTextarea></textarea>
		</mib-textarea>
		<mib-spacing type="m"></mib-spacing>
	</mib-drawer-container>
	<mib-drawer-footer drawer-footer>
		<div class="flex w-100">
			<mib-button (press)="submitData()" size="m" type="filled-secondary"
				>Отправить запрос</mib-button
			>
		</div>
	</mib-drawer-footer>
</mib-drawer>
