<div
	class="toaster flex flex_justify-between flex_align-center"
	[ngClass]="classes"
>
	<div class="flex flex_column gap-4">
		<div class="flex gap-4">
			<mib-ref-icon class="stroke" [name]="IconName"></mib-ref-icon>
			<p class="text text_m text_medium">
				<ng-content select="[toaster-header]"></ng-content>
			</p>
		</div>
		<p *ngIf="showDescription" class="text text_m c-bti-secondary">
			<ng-content select="[toaster-text]"></ng-content>
		</p>
	</div>
	<div class="last-icon">
		<mib-ref-icon class="stroke" name="fi_x"></mib-ref-icon>
	</div>
</div>
