<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>Запрос на Агентский Факторинг</h2>
      <!-- <div class="subheader">
        Список заявок
      </div> -->
    </div>
    <div class="actions">
    </div>
  </div>

  <form [formGroup]="formFactoring" (ngSubmit)="onSubmit()">
    <div class="form-actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
        [routerLink]="['/demand']"></button>
      <button pButton pRipple type="button" label="Создать Запрос" type="submit" class="basic"></button>
    </div>
    <div class="p-fluid p-formgrid p-grid form">
      <!-- 1 row -->
      <div class="p-field p-col-12 p-md-3">
        <label for="organizationType">Тип организации</label>
        <p-dropdown id="organizationType" [options]="organizationTypes" placeholder="Выберите Тип организации"
          formControlName="organizationType" optionLabel="title" optionValue="value"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="organizationLegalForm">Правовая форма</label>
        <p-dropdown id="organizationLegalForm" [options]="ruleTypes" placeholder="Выберите Правовую форму"
          formControlName="organizationLegalForm" optionLabel="title" optionValue="value"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="organizationShortName">Краткое наименование организации</label>
        <input id="organizationShortName" type="text" pInputText placeholder="Краткое наименование организации"
          formControlName="organizationShortName">
      </div>

      <!-- 2 row -->
      <div class="p-field p-col-12 p-md-3">
        <label for="organizationINN">ИНН</label>
        <input id="organizationINN" type="text" pInputText placeholder="ИНН" formControlName="organizationINN">
      </div>

      <!-- 3 row -->
      <div class="p-field p-col-12 p-md-3">
        <label for="organizationPhone">Телефон</label>
        <input id="organizationPhone" type="tel" pInputText placeholder="Телефон" formControlName="organizationPhone">
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="organizationEmail">E-mail</label>
        <input id="organizationEmail" type="email" pInputText placeholder="E-mail" formControlName="organizationEmail">
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="organizationWEB">Адрес сайта</label>
        <input id="organizationWEB" type="text" pInputText placeholder="Адрес сайта" formControlName="organizationWEB">
      </div>
      <!-- 4 row -->

      <div class="p-field p-col-12 p-md-12">
        <label for="btn_submit">&nbsp;</label>
        <button id="btn_submit" pButton pRipple type="submit" label="Сохранить запрос"
          class="btn-mib-submit p-button-outlined"></button>
      </div>
    </div>
  </form>

</div>
