<mib-drawer>
	<mib-drawer-header (onClose)="dialogRef.close()" drawer-header>
	</mib-drawer-header>
	<mib-drawer-container>
		<h4>Добавить дебитора</h4>
		<mib-spacing type="xs"></mib-spacing>
		<mib-tab-group type="filled">
			<mib-navbar size="m">
				<mib-navbar-point value="1" type="filled" class="flex_grow"
					>Выбрать из списка</mib-navbar-point
				>
				<mib-navbar-point value="2" type="filled" class="flex_grow"
					>Добавить нового</mib-navbar-point
				>
			</mib-navbar>
			<mib-spacing type="xs"></mib-spacing>
			<mib-select placeholder="Дебитор">
				<mib-dropdown-point
					[value]="true"
					text="Дебитор А"
				></mib-dropdown-point>
				<mib-dropdown-point
					[value]="false"
					text="Дебитор Б"
				></mib-dropdown-point>
				<mib-dropdown-point
					[value]="false"
					text="Дебитор В"
				></mib-dropdown-point>
			</mib-select>
			<mib-tab-item value="1">
				<mib-spacing type="xs"></mib-spacing>
				<div class="flex flex_column gap-12">
					<div class="flex gap-12 w-100">
						<mib-select class="w-27" placeholder="Организация">
							<mib-dropdown-point
								[value]="true"
								text="ООО"
							></mib-dropdown-point>
							<mib-dropdown-point
								[value]="false"
								text="ЗАО"
							></mib-dropdown-point>
							<mib-dropdown-point
								[value]="false"
								text="ОАО"
							></mib-dropdown-point>
							<mib-dropdown-point
								[value]="false"
								text="ПАО"
							></mib-dropdown-point>
						</mib-select>
						<mib-input class="flex_grow">
							<input mibInput />
							<ng-container mibLabel
								>Краткое наименование организации</ng-container
							>
						</mib-input>
					</div>
					<mib-input class="flex_grow">
						<input mibInput />
						<ng-container mibLabel
							>Полное наименование организации</ng-container
						>
					</mib-input>
					<div class="flex gap-12">
						<mib-input class="flex_grow">
							<input mibInput />
							<ng-container mibLabel>ИНН</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input mibInput />
							<ng-container mibLabel>КПП</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input mibInput />
							<ng-container mibLabel>ОГРН</ng-container>
						</mib-input>
					</div>
					<mib-input class="flex_grow">
						<input mibInput />
						<ng-container mibLabel>ОКПО</ng-container>
					</mib-input>
					<div class="flex gap-12">
						<mib-input class="flex_grow">
							<input mibInput />
							<ng-container mibLabel>Номер телефона</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input mibInput />
							<ng-container mibLabel>Электронная почта</ng-container>
						</mib-input>
					</div>
					<mib-input class="flex_grow">
						<input mibInput />
						<ng-container mibLabel>Юридический адрес</ng-container>
					</mib-input>
					<mib-checkbox class="gap-8">
						<span class="text text_m"
							>Фактический адрес совпадает с юридическим</span
						>
					</mib-checkbox>
					<mib-input class="flex_grow">
						<input mibInput />
						<ng-container mibLabel>Фактический адрес</ng-container>
					</mib-input>
				</div>
				<mib-spacing type="xs"></mib-spacing>
				<div class="flex flex_column gap-8">
					<p class="text text_m c-bti-primary">
						При необходимости, прикрепите файлы
					</p>
					<mib-file-cell size="s"></mib-file-cell>
					<mib-link size="m">
						Прикрепить еще документ
						<mib-icon mibLeftIcon class="stroke" name="fi_paperclip"></mib-icon>
					</mib-link>
				</div>
				<mib-spacing type="m"></mib-spacing>
			</mib-tab-item>
			<mib-tab-item value="2">
				<mib-spacing type="xs"></mib-spacing>
				<mib-information type="information">
					<ng-container information-text
						>Инфо: Введите ИНН организации и остальные данные заполнятся
						автоматически
					</ng-container>
				</mib-information>
				<mib-spacing type="xs"></mib-spacing>
				<div class="flex flex_align-center gap-12">
					<mib-input class="flex_grow">
						<input mibInput />
						<ng-container mibLabel>Введите ИНН организации</ng-container>
					</mib-input>
					<mib-button type="filled-primary">Подтвердить</mib-button>
				</div>
			</mib-tab-item>
		</mib-tab-group>
	</mib-drawer-container>
	<mib-drawer-footer drawer-footer>
		<div class="flex">
			<mib-button (press)="submitData()" size="m" type="filled-secondary"
				>Отправить запрос</mib-button
			>
		</div>
	</mib-drawer-footer>
</mib-drawer>
