@import 'src/styles/_typography.vars.scss';

.h-100 {
	height: 100%;
}

.news {
	position: relative;
	width: 100%;
	border-radius: var(--main-border-radius);
	border: 1px solid var(--wgr-tertiary);
	overflow: hidden;

	& .regular {
		& .news-title {
			padding: 16px;
		}

		& img {
			object-fit: contain;
			height: 100%;
		}

		& h4 {
			@include text-overflow(1);
		}

		& .links {
			padding: 16px;
		}

		@media (max-width: 576px) {
			height: auto;
		}

		& .link-wrap {
			display: none;
		}
	}

	&_superhero {
		flex-direction: row;
		height: 340px;
		transition: var(--transition);

		&:hover {
			box-shadow: var(--normal-shadow);
		}

		&:active {
			& .content {
				user-select: none;
				background-color: var(--wgr-secondary);
			}
		}

		& .image {
			width: 50%;
			align-items: center;
			height: 100%;
			justify-content: center;
		}

		& .content {
			width: 50%;
			height: 100%;

			& .top {
				padding: 48px 36px 0 48px;

				& h3 {
					@include text-overflow(2);
				}

				& .except {
					@include text-overflow(3);
				}
			}

			& .bottom {
				padding: 24px 36px 48px 48px;
			}
		}
	}

	&.isAdmin {
		height: 100%;
		width: 280px;
		& > div:first-child {
			flex-grow: 1;
			justify-content: center;
		}
		& > div {
			height: auto;
		}
		& .news-text {
			flex-grow: 0;
		}
		& img {
			max-height: 156px;
		}
		& .p-24,
		.ph-24 {
			padding: 16px;
		}
		& h4 {
			@include headline-desktop;
		}
		& h4 ~ div {
			padding-top: 4px;
		}
		& span {
			@include text-m;
			color: var(--bti-tertiary);
		}
		& .edit-btn {
			position: absolute;
			width: 60%;
			right: 8px;
			top: 8px;
			background: transparent;
			& > div {
				justify-content: flex-end;
				width: 100%;
			}
			& mib-button {
				border-radius: var(--main-border-radius);
				background: var(--wgr-primary);
			}
		}
		transition: var(--transition);

		&:hover {
			& .btn {
				display: flex;
			}
		}
	}

	// & :not(.news_showPreview) > div {
	// 	// display: none;
	// }

	&_vertical {
		&:hover {
			box-shadow: var(--normal-shadow);
		}

		&:active {
			& .regular {
				user-select: none;
				background-color: var(--wgr-secondary);
			}
		}
		&:not(.news_superhero) {
			max-width: 560px;
		}
		// flex-direction: row;

		// & > div {
		// 	flex: 1;
		// 	height: 157px;
		// }

		// & .p-24 {
		// 	padding: 16px;
		// }

		// & h4 {
		// 	@include text-overflow(1);
		// }

		// & h4 {
		// 	@include text-l;
		// }

		// & .ph-24 {
		// 	padding: 16px;
		// }
	}
}
// .h-100 {
// 	height: 100%;
// }

// .news {
// 	width: 100%;
// 	border-radius: var(--main-border-radius);
// 	border: 1px solid var(--wgr-tertiary);
// 	overflow: hidden;

// 	&_vertical {
// 		flex-direction: row;
// 	}

// 	& img {
// 		object-fit: contain;
// 	}

// 	& .p-24 {
// 		padding: 24px;
// 	}

// 	& h4 {
// 		@include text-overflow(3);
// 	}

// 	& :not(.news_vertical) .ph-24 {
// 		padding: 10px 24px 0;
// 	}
// }
