@import 'src/styles/_typography.vars.scss';

.h-100 {
	height: 100%;
}

.news {
	position: relative;
	width: 100%;
	border-radius: var(--main-border-radius);
	border: 1px solid var(--wgr-tertiary);
	overflow: hidden;

	&.isAdmin {
		height: 100%;
		width: 280px;
		& > div:first-child {
			flex-grow: 1;
			justify-content: center;
		}
		& > div {
			height: auto;
		}
		& .news-text {
			flex-grow: 0;
		}
		& img {
			max-height: 156px;
		}
		& .p-24,
		.ph-24 {
			padding: 16px;
		}
		& h4 {
			@include headline-desktop;
		}
		& h4 ~ div {
			padding-top: 4px;
		}
		& span {
			@include text-m;
			color: var(--bti-tertiary);
		}
		& .edit-btn {
			position: absolute;
			width: 60%;
			right: 8px;
			top: 8px;
			background: transparent;
			& > div {
				justify-content: flex-end;
				width: 100%;
			}
			& mib-button {
				border-radius: var(--main-border-radius);
				background: var(--wgr-primary);
			}
		}
		transition: var(--transition);
	}
	&.isAdmin:hover {
		& .btn {
			display: flex;
		}
	}

	& :not(.news_showPreview) > div {
		// display: none;
	}

	& > div {
		height: 314px;
		background-color: var(--wgr-primary);
	}

	& .p-24 {
		padding: 24px;
	}

	& img {
		object-fit: contain;
		height: 100%;
	}

	& h4 {
		@include text-overflow(1);
	}

	& .ph-24 {
		padding: 24px;
	}

	&_vertical {
		flex-direction: row;

		& > div {
			flex: 1;
			height: 157px;
		}

		& .p-24 {
			padding: 16px;
		}

		// & h4 {
		// 	@include text-overflow(1);
		// }

		& h4 {
			@include text-l;
		}

		& .ph-24 {
			padding: 16px;
		}
	}
}
// .h-100 {
// 	height: 100%;
// }

// .news {
// 	width: 100%;
// 	border-radius: var(--main-border-radius);
// 	border: 1px solid var(--wgr-tertiary);
// 	overflow: hidden;

// 	&_vertical {
// 		flex-direction: row;
// 	}

// 	& img {
// 		object-fit: contain;
// 	}

// 	& .p-24 {
// 		padding: 24px;
// 	}

// 	& h4 {
// 		@include text-overflow(3);
// 	}

// 	& :not(.news_vertical) .ph-24 {
// 		padding: 10px 24px 0;
// 	}
// }
