  // Inputs
  input {
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 35px 20px 20px;

    color: #102538;

    &::placeholder {
      color: #D6D6D6;
    }


    &:focus-visible {
      outline: unset;
    }

    &.ng-invalid {
      background-image: url('../../assets/icons/icon_error-input.png') !important;
      background-repeat: no-repeat !important;
      background-position-x: 95% !important;
      background-position-y: 65% !important;
    }

    &.ng-touched.ng-valid {
      background-image: url('../../assets/icons/icon_success-input.png') !important;
      background-repeat: no-repeat !important;
      background-position-x: 95% !important;
      background-position-y: 65% !important;
    }
  }
