<div class="card-content">
  <div class="header lg">
    <div class="title">
      <h2>История запросов</h2>
      <div class="subheader">
        Список Истории запросов
      </div>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" [routerLink]="['/demand']"
        class="p-button-outlined"></button>
    </div>
  </div>

  <div class="demand-list">
    <div class="demand-item" *ngFor="let demand of (demands$ | async)">
      <div class="demand-info">
        <div class="demand-content">
          <div class="text">
            <p>
              №{{demand.ID}}
              <span [ngSwitch]="demand.Type">
                <span *ngSwitchCase="'DigitalSignature'">
                  Запрос на ЭЦП
                </span>
                <span *ngSwitchDefault>
                  Запрос на свободную тему
                </span>
              </span>
            </p>

          </div>
          <div class="icon arrow_right"></div>
        </div>
        <div class="demand-status-info">
          <div [ngSwitch]="demand.Status">
            <div *ngSwitchCase="'Processing'">
              <div class="demand-status default">
                Создан
              </div>
            </div>
            <div *ngSwitchCase="'Completed'">
              <div class="demand-status success">
                Создан
              </div>
            </div>
          </div>

          <div class="demand-status-date">
            {{demand.DateModify | date:'dd.MM.yyyy'}}
          </div>
        </div>
      </div>
      <div class="demand-manager">
        <div class="demand-manager-date">
          {{demand.DateModify | date:'dd.MM.yyyy'}}
        </div>
        <div class="demand-manager-info">
          Менеджер не назначен
        </div>
      </div>
    </div>
  </div>
</div>
