@import 'src/styles/helpers/_icon_tools';

:root {
	--main-border-radius: 8px;
	--custom-floating-shadow: 0px 8px 16px 0px rgba(9, 13, 17, 0.1);
	--main-transition: 0.2s;
}

@mixin btn-xl {
	height: 56px;
	padding: 0 12px;
	&.btn_only-iconly {
		padding: 0 14px;
	}
	gap: 8px;
	&,
	span {
		@include text-l;
	}

	&.btn_link {
		padding: 0;
		height: 24px;
	}
}

@mixin btn-l {
	height: 48px;
	padding: 0 12px;
	&.btn_only-iconly {
		padding: 0 10px;
	}
	gap: 8px;
	&,
	span {
		@include text-m;
	}

	&.btn_link {
		padding: 0;
		height: 24px;
	}
}

@mixin btn-m {
	height: 40px;
	padding: 0 12px;
	&.btn_only-iconly {
		padding: 0 8px;
	}
	gap: 6px;
	&,
	span {
		@include text-m;
	}

	&.btn_link {
		padding: 0;
		height: 20px;
	}
}
@mixin btn-s {
	height: 32px;
	padding: 0 12px;
	&.btn_only-iconly {
		padding: 0 6px;
	}
	gap: 6px;
	&,
	span {
		@include text-s;
	}

	&.btn_link {
		height: 18px;
		gap: 4px;
		padding: 0;
		mib-button {
			@include icon-size(16px);
		}
	}
}

@mixin btn {
	display: flex;
	align-items: center;
	white-space: nowrap;
	// FIXthis?
	gap: 4px;
	border-radius: var(--main-border-radius);
	border: 1px solid transparent;
	@include body-text;
	transition: var(--main-transition);
	&_left-iconly .btn_left-wrapper {
		display: block;
	}

	&_right-iconly .btn_right-wrapper {
		display: block;
	}

	&_only-iconly .btn_only-icon-wrapper {
		display: block;
	}

	&_icon-wrapper {
		display: none;
	}
}

.btn {
	@include btn;
	&_filled-secondary {
		$color: var(--bti-secondary);
		background: var(--wgr-secondary);
		color: $color;
		mib-ref-icon {
			@include icon-color($color);
		}
		&:hover {
			border: 1px solid var(--wgr-tertiary);
			background: var(--wgr-secondary);
		}
		&:active {
			background: var(--wgr-tertiary);
		}
		&:disabled {
			color: var(--wti-quaternary);
			background: var(--wgr-tertiary);
			border: none;
			mib-ref-icon {
				@include icon-color(var(--wti-quaternary));
			}
		}
	}
	&_filled-primary {
		background: var(--mc-default);
		color: var(--wti-primary);
		&:hover {
			background: var(--mc-hover);
		}
		&:active {
			background: var(--mc-active);
		}
		&:disabled {
			color: var(--wti-quaternary);
			background: var(--wgr-tertiary);
			mib-ref-icon {
				@include icon-color(var(--wti-quaternary));
			}
		}
	}
	&_floating {
		mib-ref-icon {
			@include icon-color(var(--bti-secondary));
		}
	}
	&_outline-primary {
		mib-ref-icon {
			@include icon-color(var(--mc-default));
		}
	}
	&_outline-accent {
		mib-ref-icon {
			@include icon-color(var(--ac-default));
		}
	}
	&_ghost-primary {
		mib-ref-icon {
			@include icon-color(var(--mc-default));
		}
	}
	&_ghost-secondary {
		mib-ref-icon {
			@include icon-color(var(--bti-secondary));
		}
	}
	&_l {
		@include text-l;
		padding: 16px 20px;
		@include btn-xl;
	}
	&_m {
		@include text-m;
		padding: 12px 16px;
		@include btn-m;
	}
	&_s {
		@include text-m;
		padding: 12px 16px;
		@include btn-m;
		& mib-ref-icon {
			@include icon-size(16px);
		}
	}
	&_xs {
		@include text-s;
		padding: 8px 12px;
		@include btn-s;
		mib-ref-icon {
			@include icon-size(16px);
		}
	}
}

.btn .btn_filled-accent {
	background: var(--ac-default);
	color: var(--wti-primary);
	&:hover {
		background: var(--ac-hover);
	}
	&:active {
		background: var(--ac-active);
	}
	&:disabled {
		color: var(--wti-quaternary);
		background: var(--wgr-tertiary);
		mib-ref-icon {
			@include icon-color(var(--wti-quaternary));
		}
	}
}

.btn .btn_floating {
	background: var(--wgr-primary);
	color: var(--bti-secondary);
	&:hover {
		box-shadow: var(--custom-floating-shadow);
	}
	&:active {
		background: var(--wgr-secondary);
		box-shadow: var(--custom-floating-shadow);
	}
	&:disabled {
		color: var(--wti-quaternary);
		background: var(--wgr-tertiary);
		box-shadow: none;
		mib-ref-icon {
			@include icon-color(var(--wti-quaternary));
		}
	}
}

.btn_outline-primary {
	background: var(--wgr-primary);
	color: var(--mc-default);
	border: 1px solid var(--mc-default);
	&:hover {
		background-color: var(--mc-quinary);
	}
	&:active {
		background: var(--mc-quaternary);
	}
	&:disabled {
		color: var(--wti-quaternary);
		background: var(--wgr-tertiary);
		border: none;
		mib-ref-icon {
			@include icon-color(var(--wti-quaternary));
		}
	}
}

.btn_outline-accent {
	background: var(--wgr-primary);
	color: var(--ac-default);
	border: 1px solid var(--ac-default);
	&:hover {
		background-color: var(--ac-quinary);
	}
	&:active {
		background: var(--ac-quaternary);
	}
	&:disabled {
		color: var(--wti-quaternary);
		background: var(--wgr-tertiary);
		border: none;
		mib-ref-icon {
			@include icon-color(var(--wti-quaternary));
		}
	}
}

.btn_ghost-primary {
	background: var(--wgr-primary);
	color: var(--mc-default);
	&:hover {
		background-color: var(--mc-quinary);
	}
	&:active {
		background: var(--mc-quaternary);
	}
	&:disabled {
		color: var(--wti-quaternary);
		background: var(--wgr-primary);
		mib-ref-icon {
			@include icon-color(var(--wti-quaternary));
		}
	}
}

.btn_ghost-secondary {
	background: var(--wgr-primary);
	color: var(--bti-secondary);
	&:hover {
		background-color: var(--wgr-secondary);
	}
	&:active {
		background: var(--wgr-tertiary);
	}
	&:disabled {
		color: var(--wti-quaternary);
		background: var(--wgr-primary);
		mib-ref-icon {
			@include icon-color(var(--wti-quaternary));
		}
	}
}

.btn_icon-wrapper {
	display: inherit;
}
