@import 'src/styles/helpers/_icon_tools';
@import 'src/styles/_colors.vars';
@import 'src/styles/_typography.vars.scss';

.test-input {
	width: 360px;
}

.left-wrapper {
	left: 12px;
}
.right-wrapper {
	right: 12px;
}
