<mib-drawer>
	<mib-drawer-header
		(onClose)="dialogRef.close()"
		[showMaximize]="true"
		[showEdits]="true"
		drawer-header
	></mib-drawer-header>
	<mib-drawer-container>
		<ng-container *ngIf="loading$ | async; else title">
			<mib-skeleton
				[styles]="skeletonTitle"
				*ngFor="let i of [1]"
			></mib-skeleton>
		</ng-container>
		<ng-template #title>
			<div class="header flex gap-6">
				<h4>{{ document.Title }}</h4>
				<h4 class="c-bti-tertiary">{{ document?.Number }}</h4>
			</div>
			<mib-spacing type="xs2"></mib-spacing>
			<div class="flex gap-4">
				<span class="text text_m c-bti-secondary"
					>Добавлен {{ document?.CreatedTime | date : 'dd.MM.yyyy' }}</span
				>
				<span class="text text_m c-bti-quaternary"
					>подписан {{ document?.CreatedTime | date : 'dd.MM.yyyy' }}</span
				>
			</div>
		</ng-template>
		<mib-spacing type="xs"></mib-spacing>
		<ng-container *ngIf="loading$ | async; else docDescription">
			<mib-skeleton
				[styles]="skeletonDescription"
				*ngFor="let i of [1]"
			></mib-skeleton>
		</ng-container>
		<ng-template #docDescription>
			<div class="flex flex_justify-between">
				<mib-tag size="m" type="filled-secondary">
					Тип документа: {{ document?.DocumentTypeTitle }}
				</mib-tag>
				<mib-tag size="m" type="outline">
					<mib-avatar
						[showImage]="true"
						[showArrow]="false"
						type="round"
						[src]="testDate?.managerAvatar"
					></mib-avatar>
					{{ document?.CreatorFirstName }} {{ document?.CreatorLastName }}
				</mib-tag>
			</div>
			<mib-spacing type="xs"></mib-spacing>
			<p class="text text_s">
				{{ document?.Description }}
			</p>
		</ng-template>
		<mib-spacing type="xs"></mib-spacing>
		<mib-file-cell size="s"></mib-file-cell>
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex flex_align-center gap-16">
			<mib-button type="filled-primary">Подписать документ</mib-button>
			<mib-link size="m" type="ghost-accent">
				<mib-icon mibLeftIcon class="stroke" name="fi_trash"></mib-icon>
				Удалить документ
			</mib-link>
		</div>
		<mib-spacing type="m"></mib-spacing>
	</mib-drawer-container>
	<mib-tab-group>
		<mib-navbar>
			<mib-navbar-point value="1">Подписи</mib-navbar-point>
			<mib-navbar-point value="2">Квитанции</mib-navbar-point>
		</mib-navbar>
		<div>
			<mib-drawer-container>
				<mib-tab-item value="1">
					<mib-spacing type="m"></mib-spacing>
					<div class="flex flex_justify-between">
						<mib-select
							class="w-100"
							type="outline"
							placeholder="4 из 6 колонн в таблице"
						>
							<mib-dropdown-point
								[value]="true"
								text="2 из 6 колонн в таблице"
							></mib-dropdown-point>
							<mib-dropdown-point
								[value]="true"
								text="4 из 6 колонн в таблице"
							></mib-dropdown-point>
							<mib-dropdown-point
								[value]="false"
								text="6 из 6 колонн в таблице"
							></mib-dropdown-point>
						</mib-select>
					</div>
					<mib-spacing type="xs"></mib-spacing>
					<ng-container *ngIf="loading$ | async; else table">
						<mib-skeleton
							[styles]="last ? skeletonWithoutUnderline : skeleton"
							*ngFor="
								let i of toolsService.createEmptyArray(
									PAGINATOR_ITEMS_PER_PAGE
								);
								let last = last
							"
						></mib-skeleton>
					</ng-container>
					<ng-template #table>
						<mib-table>
							<mib-table-head>
								<mib-table-head-cell [showCheckbox]="true"
									>Серийный №</mib-table-head-cell
								>
								<mib-table-head-cell>Организация</mib-table-head-cell>
								<mib-table-head-cell>Эмитент</mib-table-head-cell>
								<mib-table-head-cell>Действительна до</mib-table-head-cell>
							</mib-table-head>
							<mib-table-row
								*ngFor="let doc of [1, 2, 3, 4, 5]; let idx = index"
								[underlined]="true"
							>
								<mib-table-cell type="main">
									<ng-container table-cell-title>
										{{ idx + 1 }}
									</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>ыфв</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>ыфв</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>ыфв</ng-container>
								</mib-table-cell>
								<mib-button table-row-button size="s" type="ghost-secondary">
									<mib-icon
										class="stroke"
										btn-icon
										name="fi_more-vertical"
									></mib-icon>
								</mib-button>
							</mib-table-row>
							<mib-table-footer [lined]="!(loading$ | async)">
								<div class="flex flex_align-center flex_grow"></div>
								<mib-paginator
									[totalCount]="123"
									[pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
									[itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
								></mib-paginator>
								<div class="flex flex_align-center flex_grow flex_justify-end">
									<mib-select type="floating" placeholder="5 рядов">
										<mib-dropdown-point
											[value]="5"
											text="5 рядов"
										></mib-dropdown-point>
										<mib-dropdown-point
											[value]="10"
											text="10 рядов"
										></mib-dropdown-point>
									</mib-select>
								</div>
							</mib-table-footer>
						</mib-table>
					</ng-template>
				</mib-tab-item>
			</mib-drawer-container>
			<mib-drawer-container>
				<mib-tab-item value="2">
					<mib-spacing type="s"></mib-spacing>
					<p class="headline">В данном разделе пока ничего нет.</p>
				</mib-tab-item>
			</mib-drawer-container>
		</div>
	</mib-tab-group>
</mib-drawer>
