<div class="comment-panel flex flex_column">
	<div *ngIf="showHead" class="header flex flex_column">
		<div class="flex flex_align-center">
			<div class="flex gap-4 flex_grow">
				<ng-container *ngIf="showAvatar">
					<mib-avatar
						type="round"
						[showArrow]="false"
						[src]="getUserAvatar"
						[showImage]="true"
					></mib-avatar>
				</ng-container>
				<span class="text name text_m text_medium c-bti-primary">
					{{ user?.Name ?? 'Отсутствует' }} 
				</span>
				<span class="text name text_m c-bti-primary">
					{{ user?.Date | date : 'dd.MM.YYYY' }} 
				</span>
			</div>
			<div *ngIf="showActions" class="flex gap-4">
				<mib-button paddingOff="true" size="s" type="ghost-secondary">
					<mib-icon
						btn-icon
						class="stroke"
						name="fi_corner-down-left"
					></mib-icon>
				</mib-button>
				<mib-button paddingOff="true" size="s" type="ghost-secondary">
					<mib-icon class="stroke" btn-icon name="fi_more-vertical"></mib-icon>
				</mib-button>
			</div>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
	</div>
	<div class="body flex flex_column">content</div>
</div>
