<div class="comment-panel">
  <div *ngIf="showHead" class="header">
    <div class="flex flex_align-center">
      <div class="flex gap-8">
        <mib-avatar *ngIf="showAvatar" [showImage]="true" [showArrow]="false" type="round"
                    [src]="isRobot ? robotAvatar : userAvatar"></mib-avatar>
        <div class="flex gap-4">
          <p class="text name text_m text_medium c-bti-primary">{{isRobot ? 'Robot' : data.Author}}</p>
          <p class="text name text_m c-bti-primary">{{ data.Date | date : 'dd.MM.YYYY' }}</p>
        </div>
      </div>
      <div *ngIf="showActions" class="flex gap-4">
        <mib-button paddingOff="true" size="s" type="ghost-secondary">
          <mib-icon btn-icon class="stroke" name="fi_corner-down-left"></mib-icon>
        </mib-button>
        <mib-button paddingOff="true" size="s" type="ghost-secondary">
          <mib-icon class="stroke" btn-icon name="fi_more-vertical"></mib-icon>
        </mib-button>
      </div>
    </div>
    <mib-spacing type="xs2"></mib-spacing>
  </div>
  <div class="body flex flex_column">
    <p *ngIf="data.PublicTitle as title" class="text text_m text_medium c-bti-secondary">{{ title }}</p>
    <ng-container *ngIf="isTextExtended">
      <p *ngFor="let event of data.StateEvents" class="text text_m c-bti-secondary">{{ event.Comment }}</p>
    </ng-container>
  </div>
  <ng-container *ngIf="data?.StateEvents?.length">
    <mib-spacing type="xs2"></mib-spacing>
    <mib-link (press)="toggleTextExtension()" size="s">{{isTextExtended ? 'Скрыть подробности' : 'Показать подробности'}}</mib-link>
  </ng-container>
</div>
