<div class="loader flex" [ngClass]="classes">
	<svg class="progress-loader" width="48" height="48">
		<circle
			class="progress-ring"
			stroke="grey"
			stroke-width="3"
			fill="transparent"
			cy="24"
			cx="24"
			r="22"
		/>
	</svg>
	<!-- 
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="92"
		height="92"
		viewBox="0 0 92 92"
		fill="none"
	>
		<circle
			class="progress-ring"
			cx="46"
			cy="46"
			r="44"
			stroke="#090D11"
			stroke-opacity="0.2"
			stroke-width="4"
		/>
		<path
			d="M46 90C70.3005 90 90 70.3005 90 46C90 21.6995 70.3005 2 46 2"
			stroke="white"
			stroke-width="4"
			stroke-linecap="round"
		/>
	</svg> -->
</div>
