<mib-modal>
	<mib-modal-header (onClose)="dialogRef.close()" title="Запрос на модерации">
	</mib-modal-header>
	<mib-spacing type="xs"></mib-spacing>
	<mib-banner-modal type="info"></mib-banner-modal>
	<mib-spacing type="xs"></mib-spacing>
	<p class="text text_m">
		Отследить статус и процесс реализации заявки вы сможете на странице запросов
		во вкладке “История запросов”
	</p>
	<mib-spacing type="m"></mib-spacing>
	<mib-modal-footer>
		<ng-container>
			<mib-button class="flex_grow" size="m" type="filled-primary">
				Перейти к запросу
			</mib-button>
			<mib-button class="flex_grow" size="m" type="filled-secondary">
				На главную
			</mib-button>
		</ng-container>
	</mib-modal-footer>
</mib-modal>
