<div class="p-d-flex p-jc-center">
  <p-card class="auth-body">
    <a class="logo" href="#/"><img alt="metallinvest logo" src="assets/images/logo_big.png"></a>
    <metib-backend-error-messages *ngIf="backendErrors$ | async" [backendErrors]="backendErrors$ | async">
    </metib-backend-error-messages>

    <metib-success-messages *ngIf="successRegistration" [message]="'Регистрация успешно завершена. Войдите в сервис, используя введенные данные.'"></metib-success-messages>

    <h1>Авторизация</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="login">Логин</label>
          <input id="login" type="text" pInputText placeholder="Логин" formControlName="login">
        </div>
        <div class="p-field p-col">
          <label for="password">Пароль</label>
          <input id="password" type="password" pInputText placeholder="Пароль" formControlName="password">
        </div>
      </div>
      <div class="p-d-flex p-jc-end p-mb-4">
        <p-button styleClass="p-button-link" label="Забыли пароль?"></p-button>
      </div>
      <div class="p-d-flex p-jc-between">
        <p-button styleClass="p-button-link" [routerLink]="['/register']" label="Регистрация"></p-button>
        <button pButton type="submit" [disabled]="isSubmitting$ | async" label="Вход"></button>
      </div>
    </form>
  </p-card>
</div>
