<div class="p-d-flex p-jc-center">
  <p-card class="auth-body">
    <a class="logo" href="#/"><img alt="metallinvest logo" src="assets/images/logo_big.png"></a>
    <metib-backend-error-messages *ngIf="backendErrors$ | async" [backendErrors]="backendErrors$ | async">
    </metib-backend-error-messages>

    <metib-success-messages *ngIf="alert"
      [message]="alertMessage"></metib-success-messages>

    <h1>Авторизация</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="login">Логин</label>
          <input id="login" type="text" pInputText placeholder="Логин" formControlName="login"
            [ngClass]="{'ng-invalid ng-dirty': form.get('login').invalid && form.get('login').touched}">
          <small class="p-error" *ngIf="form.get('login').invalid && form.get('login').touched">
            <div *ngIf="form.get('login').errors['required']">
              Поле Логин не должно быть пустым
            </div>
          </small>
        </div>
        <div class="p-field p-col">
          <label for="password">Пароль</label>
          <input id="password" type="password" pInputText placeholder="Пароль" formControlName="password"
            [ngClass]="{'ng-invalid ng-dirty': form.get('password').invalid && form.get('password').touched}">
            <small class="p-error" *ngIf="form.get('password').invalid && form.get('password').touched">
              <div *ngIf="form.get('password').errors['required']">
                Поле Пароль не должно быть пустым
              </div>
            </small>
        </div>
      </div>
      <div class="p-d-flex p-jc-end p-mb-4">
        <p-button styleClass="p-button-link" label="Забыли пароль?" [routerLink]="['/reset-password']"></p-button>
      </div>
      <div class="p-d-flex p-jc-between">
        <p-button styleClass="p-button-link" [routerLink]="['/register']" label="Регистрация"></p-button>
        <button pButton type="submit" [disabled]="isSubmitting$ | async" label="Вход"></button>
      </div>
    </form>

    <p-button styleClass="p-button-link" [routerLink]="['/confirm-password/026d9227-ebc1-453d-8d6b-37d4c0d9cde4']" label="[TEST] Новый пароль"></p-button>

  </p-card>
</div>
