<mib-modal>
	<mib-modal-header (onClose)="dialogRef.close()" title="Согласие">
	</mib-modal-header>
	<mib-spacing type="xs"></mib-spacing>
	<div class="modal-wrap flex flex_column">
		<p
			[ngClass]="isDesktop ? 'text_m' : 'text_s'"
			class="text-left text c-bti-tertiary"
		>
			В целях исполнения Федерального закона от 27.07.2006 №152-ФЗ «О
			персональных данных», я выражаю свое согласие на обработку ПАО АКБ
			«Металлинвестбанк» ОГРН 1027700218666 (119180, г. Москва, ул. Большая
			Полянка, д.47, стр.2) (далее – Банк) моих персональных данных (имя,
			фамилия, отчество, номер телефона, сведения обо мне, как представителе
			организации/ИП) с целью осуществления обратной связи, для получения
			консультации и рассмотрения вопроса о предоставлении кредита.
		</p>
		<mib-spacing type="{{ isDesktop ? 'xm' : 'xs2' }}"></mib-spacing>
		<p
			[ngClass]="isDesktop ? 'text_m' : 'text_s'"
			class="text-left text c-bti-tertiary"
		>
			Предоставляю ПАО АКБ «Металлинвестбанк» право осуществлять все действия
			(операции) с моими персональными данными, включая совершение любых
			действий с использованием средств автоматизации и/ или без, в том числе
			сбор, систематизацию, накопление, хранение, уточнение (обновление,
			изменение), извлечение, использование, передачу (распространение,
			предоставление, доступ), включая трансграничную передачу, обезличивание,
			блокирование, удаление и уничтожение.
		</p>
		<mib-spacing type="{{ isDesktop ? 'xm' : 'xs2' }}"></mib-spacing>
		<p
			[ngClass]="isDesktop ? 'text_m' : 'text_s'"
			class="text-left text c-bti-tertiary"
		>
			Согласие на обработку персональных данных действует в течение 5 лет либо
			до момента получения письменного заявления об отзыве настоящего согласия.
			Осведомлен(а), что настоящее согласие может быть отозвано мной при
			предоставлении заявления в простой письменной форме.
		</p>
		<mib-spacing type="{{ isDesktop ? 'xm' : 'xs2' }}"></mib-spacing>
		<p
			[ngClass]="isDesktop ? 'text_m' : 'text_s'"
			class="text-left text c-bti-tertiary"
		>
			Направляя заявку для получения консультации, я выражаю свое согласие с
			тем, что:<br />
			<mib-spacing type="{{ isDesktop ? 'xm' : 'xs2' }}"></mib-spacing>
			- ПАО АКБ «Металлинвестбанк» вправе запрашивать информацию и проверять
			любую представленную мною информацию;<br />
			<mib-spacing type="{{ isDesktop ? 'xm' : 'xs2' }}"></mib-spacing>
			- ПАО АКБ «Металлинвестбанк» вправе отказать в выдаче кредита без
			объяснения причин.
		</p>
	</div>
</mib-modal>
