body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.callBackVoid:hover {
  cursor: pointer;
}

.mt-1 {
  margin-top: 1em !important;
}

.modalMain {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  display: none;
}

.modalMain__bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
}

.formBody {
  position: absolute;
  width: 350px;
  padding: 15px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #FFFFFF;
  z-index: 1005;
}

.formBody .formTitle {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #102538 !important;
  text-align: center;
}

.formBody .formRow {
  margin: 8px 0;
}

.formBody .formInput {
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 35px 20px 20px;
  color: #102538;
  width: 100%;
}

.formBody .formInput:focus-visible {
  outline: none;
}

.modalMain__button {
  text-align: center;
}

@media (max-width: 768px) {
  .formBody {
    width: 98%;
  }
}

.formButton {
  box-sizing: border-box;
  border-radius: 10px !important;
  font-size: 1.5rem;
  line-height: 1rem;
  padding: 17px 20px !important;
  width: 100%;
}

.stick-menu {
  display: none;
  text-align: center;
}

.is-sticky .stick-menu {
  width: 100%;
  z-index: 1000;
  display: block;
  position: fixed;
  background-color: #fff;
  padding: 12px 0;
}

.stickMenu__list {
  display: flex;
  justify-content: space-around;
}

.line-top {
  display: none;
  z-index: 1001;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 992px) {
  .line-top {
    display: block;
  }
}

.sticky-wrapper {
  height: 0 !important;
}

.line-top__inner {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-top__logo img {
  height: 45px;
}

.line-top__phone {
  text-align: left;
}

.line-top__phone-link {
  color: #000;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.line-top__logo-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.line-top__icon {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.shapka__logo-img {
  width: 100px;
}

.mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fcfcfc;
  z-index: 1001;
}

.mobile-menu__line-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.mobile-menu__logo img {
  height: 45px;
}

.mobile-menu__logo-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.mobile-menu__closed {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.mobile-menu__menu {
  padding: 15px;
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu__item {
  border-bottom: 1px solid #E6E6E6;
}

.mobile-menu__item:first-child {
  border-top: 1px solid #E6E6E6;
}

.mobile-menu__item a {
  padding: 28px 0;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: block;
}

.mobile-menu__phone {
  margin: 16px 0;
  color: #000;
}

.mobile-menu__phone-text {
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  text-align: center;
  padding: 8px 0;
  font-size: 0.875em;
}

.mobile-menu__phone-list {
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.mobile-menu__phone-item {
  padding: 8px 0;
}

.mobile-menu__phone-link {
  text-transform: uppercase;
  font-size: 0.875em;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.category-mobile {
  margin: 8px 0;
}

.category-mobile select {
  width: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 8px 16px;
}

.sticky {
  position: fixed;
}

.line-top__callback {
  background-color: #000;
  color: #ffffff;
  border: none;
  margin-top: 4px;
  text-transform: lowercase;
  padding: 4px 8px;
}

.modal-exit {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  top: 0;
  left: 0;
}

.modal-exit__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-exit__inner {
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 8px #666666;
  padding: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .modal-exit__inner {
    width: 98%;
  }
}

.mobile-menu__phone .footer-btns {
  flex-direction: column;
  gap: 20px;
}

.modal-exit__header {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 8px;
}

.shapka {
  padding: 30px 0;
  background-color: #fff;
  z-index: 999;
}

.shapka__inner,
.shapka-l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 30px;
}

.shapka__logo img {
  height: 45px;
}

.shapka-nav__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #bcbcbc;
}

.shapka-nav__item .active {
  color: #102538;
}

.shapka__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.shapka-btn a {
  color: #fff;
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
  filter: drop-shadow(0px 10px 15px rgba(12, 131, 241, .2));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  padding: 17px 20px;
  width: fit-content;
}

.shapka-btn a:hover {
  filter: drop-shadow(0px 10px 15px rgba(12, 131, 241, .6));
}

.slide {
  background: #FFFFFF;
  box-shadow: 0 15px 25px #0c83f108;
  border-radius: 0 0 20px 20px;
  padding-top: 110px;
}

.slide__inner {
  min-height: 700px;
  background-image: url(/assets/public/image_promo.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom;
  padding-top: 50px;
  margin-right: -150px;
}

.slide-tariffs {
  background-image: url(/assets/public/image_tarif_promo.png);
  min-height: 492px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-clients {
  background-image: url(/assets/public/image_factoring.png);
  min-height: 492px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-contacts {
  background-image: url(/assets/public/image_contacts.png);
  min-height: 492px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide__info {
  width: 600px;
  max-width: 100%;
}

.slide-sub {
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 9px 12px;
  width: fit-content;
}

.slide__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: #102538;
  margin-bottom: 36px;
}

.slide__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #989898;
  margin-bottom: 48px;
}

.slide__info-top {
  margin-bottom: 83px;
}

.slide__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.slide__item {
  flex: 1 1 280px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #656565;
  display: flex;
}

.slide__item::before {
  content: url(/assets/icons/svg/icon-success.svg);
  margin-right: 20px;
}

.plusi {
  background: #F7F7F7;
  border-radius: 20px;
  padding: 50px 0;
}

.gen__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #102538;
  text-align: center;
  margin-bottom: 37px;
}

.plusi__list {
  margin-top: 94px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.plusi__item {
  position: relative;
  padding: 50px 15px 10px;
  border-radius: 10px;
  background-color: #fff;
  width: 255px;
  height: 130px;
  margin-bottom: 65px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #334d64;
}

.plusi__img {
  position: absolute;
  top: -27%;
  left: 50%;
  transform: translate(-50%);
}

.predloj {
  padding: 50px 0;
  background-color: #fff;
  border-radius: 20px;
}

.tovary-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 28px;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 50px;
}

.tovary-tab__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #102538;
  padding-bottom: 30px;
  color: silver;
}

.active-tab__link {
  border-bottom: 2px #7FACCC solid;
}

.active-tab__link {
  color: #102538;
}

.tovary-tabs {
  display: none;
}

.active-tab {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.offer-right img {
  border-radius: 25px;
  max-width: 100%;
}

.offer-left .slide__item {
  margin-bottom: 30px;
}

.kak {
  background: #F7F7F7;
  padding: 50px 0 150px;
}

.kak__list {
  display: flex;
  justify-content: space-between;
  position: relative;
  grid-gap: 30px;
}

.kak__item {
  text-align: center;
  width: 20%;
}

.kak__item img {
  margin-bottom: 10px;
}

.kak__numb {
  height: 35px;
  width: 35px;
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
  box-shadow: 0 10px 15px #0c83f133;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  z-index: 1;
  margin: 0 auto 16px;
  position: relative;
}

.kak-cherta {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  top: 56%;
  z-index: 0;
}

.partners {
  padding: 50px 0;
  background-color: #fff;
}

.partner__sub {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #989898;
  margin-bottom: 56px;
}

.partner__slider {
  position: relative;
}

.partner__slider-inner {
  padding: 0 80px;
}

.owl-carouselPartner .owl-stage {
  display: flex;
  align-items: center;
}

.parner-btn {
  color: #c7c7c7;
  border: 1px #C7C7C7 solid;
  width: 42px;
  height: 42px;
  background: transparent;
  transition: background-color .2s, color .2s, box-shadow .2s;
  margin: 8px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.parner-btn:hover {
  color: #fff;
  border-color: unset;
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
}

.parner-btn:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.parner-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.parner-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.news {
  padding: 50px 0;
  background: #F7F7F7;
  border-radius: 20px;
}

.owl-carouselNews .owl-stage {
  display: flex;
}

.owl-carouselNews .owl-item {
  border-radius: 10px;
  background-color: #fff;
}

.news__slider {
  position: relative;
}

.news__slider-inner {
  padding: 0 80px;
}

.news-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.news-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.news__img {
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.news__title {
  padding: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #102538;
}

.news__date {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px;
  background: #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #989898;
}

.contacts {
  padding: 50px 0;
}

.contacts__contakty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.contakty__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  color: #000;
}

.contakty__item a {
  color: #000;
}

.contakty__item img {
  margin-right: 10px;
}

.contakty__item p {
  margin-bottom: 0;
}

.contakty__footer,
.footer-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contakty__footer {
  padding: 30px 0;
}

.footer-wa {
  height: 50px;
  width: 50px;
  color: #000;
  background: transparent;
  border: 2px solid #000000;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.footer-wa:hover {
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
  border: unset;
}

.footer-wa:hover img {
  filter: brightness(0) invert(1);
}

.footer-bot__inner {
  border-top: 2px solid #EAEAEA;
  padding: 26px 0;
  color: #989898;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.tariffs-block {
  padding: 50px 0 70px;
  background: #F6F6F6;
}

.gen__sub {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #7da9ca;
  margin-bottom: 20px;
}

.tariffs__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.tariffs__title {
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 24px 36px;
}

.tariffs__titel1 {
  background: #DEBCFF;
  color: #7f00ff;
}

.tariffs__titel2 {
  color: #0c83f1;
  background: #BCEBFF;
}

.tariffs__titel3 {
  background: #C1FFCF;
  color: #00c614;
}

.tariffs__titel4 {
  background: #FFDCBC;
  color: #ff7a00;
}

.tariffs__info {
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0 15px 25px #0c83f108;
  border-radius: 10px;
  padding: 27px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tariffs__btn a {
  text-align: center;
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
  box-shadow: 0 10px 15px #0c83f133;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 17px 21px;
  width: 100%;
  display: block;
}

.tariffs__ok {
  font-size: 12px;
  line-height: 14px;
  color: #656565;
  display: flex;
  justify-content: flex-start;
}

.tariffs__ok::before {
  content: url(/assets/icons/svg/icon-success.svg);
}

.etaps-block {
  padding: 50px 0;
  background: #F6F6F6;
}

.etap__item1 {
  display: flex;
  justify-content: space-between;
  grid-gap: 40px;
  padding-bottom: 35px;
  border-bottom: 1px solid #BDBDBD;
}

.etaps__list {
  display: flex;
  justify-content: space-between;
}

.etap__item2 {
  text-align: left !important;
  border-right: 1px solid #BDBDBD;
  padding-top: 13px;
  padding-right: 13px;
}

.etap__item2 .gen__sub,
.etap__item2 .gen__title {
  text-align: left;
}

.etap__item3 {
  text-align: right !important;
  padding-top: 13px;
  padding-left: 13px;
}

.etap__item3 .gen__sub,
.etap__item3 .gen__title {
  text-align: right;
}

.etap__text {
  font-size: 14px;
  line-height: 16px;
  color: #102538;
  margin-bottom: 20px;
}

.etap__item3 .etap-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 20px;
}

.etap-btns a {
  border: 1px solid #BDBDBD;
  color: #bdbdbd;
  background: transparent;
  color: #bdbdbd;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  padding: 17px 20px;
  display: inline-block;
}

.etap-btns a:hover {
  background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
  color: #fff;
  border: 1px solid white;
  color: #fff;
}

.kontakt-block {
  padding: 50px 0;
  background: #F6F6F6;
}

.adress-block__sub {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: silver;
  margin-bottom: 24px;
}

.adress-block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #102538;
  margin-bottom: 24px;
}

.adress-block__phones {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.adress-block__phones a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #102538;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.adress-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 28px;
  border-bottom: 2px solid #EAEAEA;
  padding: 30px;
}

.kontakt-block .active-tab {
  display: block;
}

.kontakt-block .tovary-tab {
  margin-bottom: 0;
}

.sotrudniki-gen {
  padding: 30px;
  border-bottom: 2px solid #EAEAEA;
}

.sotrudniki__sub {
  font-size: 18px;
  font-weight: 700;
  color: #102538;
  margin-bottom: 20px;
  text-align: center;
}

.sotrudniki__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.sotrudniki__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sotrudniki__img {
  width: 90px;
  height: 90px;
}

.sotrudniki__img img {
  width: 100%;
}

.sotrudniki__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.sotrudniki__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #102538;
}

.sotrudniki__mail a {
  font-size: 14px;
  line-height: 16px;
  color: #0c83f1;
}

.sotrudniki__dolg {
  max-width: 180px;
  font-size: 14px;
  line-height: 16px;
  color: #989898;
}

.mobl {
  display: none;
}

@media(max-width:1500px) {
  .slide__inner {
    margin-right: 0;
  }
}

@media(max-width:1200px) {
  .slide__info {
    width: 100%;
    text-align: center;
  }

  .slide__inner {
    height: 900px;
    background-position: center bottom;
    background-size: 500px;
  }

  .slide__title {
    font-size: 36px;
    line-height: 41px;
  }

  .shapka-btn a {
    margin: 0 auto;
  }

  .slide-tariffs,
  .slide-clients,
  .slide-contacts {
    height: 540px;
    justify-content: flex-start;
  }

  .tariffs__info {
    height: 230px;
  }

  .slide-sub {
    margin: 0 auto;
  }
}

@media(max-width:992px) {
  .shapka {
    display: none;
  }

  .slide {
    padding-top: 60px;
  }

  .active-tab,
  .kak__list {
    flex-direction: column;
    align-items: center;
  }

  .kak__numb {
    position: relative;
  }

  .kak-cherta {
    display: none;
  }

  .contakty__footer {
    flex-direction: column;
    gap: 20px;
  }

  .footer-bot__inner {
    text-align: center;
  }

  .kak__item {
    width: 100%;
  }

  .tariffs__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .etaps__list {
    display: block;
  }

  .etap__item2 {
    border-right: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 30px 0;
  }

  .etap__item3 {
    padding: 30px 0;
  }

  .etap__item2 .etap__text,
  .etap__item2 .gen__sub,
  .etap__item2 .gen__title {
    text-align: center;
  }

  .etap__item3 .etap__text,
  .etap__item3 .gen__sub,
  .etap__item3 .gen__title {
    text-align: center;
  }

  .etap__item3 .etap-btns {
    justify-content: center;
  }

  .etap__item2 .etap-btns {
    display: flex;
    justify-content: center;
  }

  .slide__info-top {
    margin-bottom: 40px;
  }
}

@media(max-width:768px) {
  .mobl {
    display: block;
  }

  .desc {
    display: none;
  }

  .tovary-tab {
    flex-direction: column;
    gap: 20px;
  }

  .tovary-tab__link {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #bdbdbd;
    padding: 14px 25px;
    width: 100%;
    text-align: center;
    display: block;
  }

  .active-tab__link {
    display: block;
    border: 1px solid white;
    background: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%), linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%), #89D3CF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff !important;
    width: 100%;
  }

  .slide__inner {
    height: 900px;
    background-size: 400px;
  }

  .slide__info-top {
    margin-bottom: 30px;
  }

  .slide__list {
    gap: 20px;
  }

  .slide__item br {
    display: none;
  }

  .slide__item {
    width: 50%;
  }

  .offer-left .slide__item {
    width: 100%;
  }

  .slide-tariffs,
  .slide-clients,
  .slide-contacts {
    height: 540px;
  }

  .etap__item1 {
    flex-direction: column;
  }

  .etap1-right img {
    width: 100%;
  }
}

@media(max-width:500px) {
  .contacts__contakty {
    flex-direction: column;
    gap: 20px;
  }

  .tariffs__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .etap-btns {
    flex-direction: column;
  }

  .etap-btns a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .slide__inner {
    background-size: 260px;
  }
}