.spacing {
  &.xs2 {
    height: 8px;
  }
  &.xs {
    height: 16px;
  }
  &.s {
    height: 24px;
  }
  &.m {
    height: 32px;
  }
  &.l {
    height: 48px;
  }
  &.xl {
    height: 72px;
  }
  &.xl2 {
    height: 96px;
  }
}

