<div class="card-content" id="step1">
  <header-page [title]="'Просрочки покупателя'">
    <div class="mib-action button-content p-mr-2" (click)="openDateModal()">
      {{filterForm.value.dateTo | date: 'dd.MM.yyyy'}}
    </div>
    <div class="mib-action mib-button-icon excel-icon can-click" (click)="exportExcel()" pTooltip="Экспорт файла Excel">
      <img src="../../../../../../assets/icons/mib-excel.png" alt="">
    </div>
  </header-page>

  <p-table [value]="reportData" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
    [loading]="isLoading" styleClass="p-datatable-customers mib-table" [paginator]="true" [metaKeySelection]="true"
    currentPageReportTemplate="Показано: от {first} до {last} из {totalRecords}">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="m-th">
            <div>Покупатель</div>
          </div>
        </th>
        <th>
          <div class="m-th">
            <div>Договор поставки</div>
          </div>
        </th>
        <th>
          <div class="m-th">
            <div>Накладная</div>
          </div>
        </th>
        <th>
          <div class="m-th">
            <div>Сумма отгрузки</div>
          </div>
        </th>
        <th>
          <div class="m-th">
            <div> Сумма просрочки</div>
          </div>
        </th>
        <th>
          <div class="m-th">
            <div>Дата накладной</div>
          </div>
        </th>
        <th>
          <div class="m-th">
            <div>Дата платежа</div>
          </div>
        </th>
        <th>
          <div class="m-th">
            <div> Дата доп</div>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <div class="m-td">
            <div>
              {{item.DebtorTitle}}
            </div>
          </div>
        </td>
        <td>
          <div class="m-td">
            <div>{{item.ContractDeliveryNumber}}
            </div>
          </div>
        </td>
        <td>
          <div class="m-td">
            <div> {{item.ShipmentFullTitle}}</div>
          </div>
        </td>
        <td>
          <div class="m-td currency">
            <div>{{item.ShipmentSumm | currency:'RUB':'symbol-narrow'}}</div>
          </div>
        </td>
        <td>
          <div class="m-td currency">
            <div>{{item.DutyDebtor | currency:'RUB':'symbol-narrow'}}</div>
          </div>
        </td>
        <td>
          <div class="m-td">
            <div>{{item.DateShipment | date:"dd.MM.yyyy"}}</div>
          </div>
        </td>
        <td>
          <div class="m-td red">
            <div> {{item.DatePayment | date:"dd.MM.yyyy"}}</div>
          </div>
        </td>
        <td>
          <div class="m-td" [ngClass]="checkDateAddon(item.DateAddon) ? 'red' : ''">
            <div>{{item.DateAddon | date:"dd.MM.yyyy"}}</div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Нет данных.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Filter Form -->
<p-dialog [style]="{width: '450px'}" [(visible)]="filterDialog" [draggable]="false" [resizable]="false"
  header="Укажите период" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="filterForm" (ngSubmit)="updateDelays()">
      <div class="p-field">
        <label for="dateTo">Дата по: </label>
        <input id="dateTo" type="date" pInputText placeholder="Дата по" formControlName="dateTo">
      </div>
      <div class="modal-actions">
        <button pButton pRipple label="Применить" class="p-button-text save" type="submit"></button>
        <button pButton pRipple label="Отменить" class="p-button-text cancel" (click)="closeDateModal()" type="button"></button>
      </div>
    </form>
  </ng-template>
</p-dialog>
