<!-- Нотификация -->
<p-toast></p-toast>

<!-- Обёртка в card content -->
<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>{{actionName}}</h2>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
        (click)="back()"></button>
    </div>
  </div>

  <!-- Проверка загрузки -->
  <ng-container
    *ngIf="!demandNavigationConfig || ((demandLoadingService.demandPageLoading$ | async)); else contentTemplate">
    Загрузка...
  </ng-container>
  <ng-template #contentTemplate>
    <ng-container [ngSwitch]="demandNavigationConfig.demandActionType">
      <!-- Создание заявки -->
      <ng-container *ngSwitchCase="demandType.CREATE">
        <demand-create></demand-create>
      </ng-container>
      <!-- Редактирование созданной заявки -->
      <ng-container *ngSwitchCase="demandType.EDIT_CREATED">
        <!-- Редактирование созданной заявки -->
        <demand-edit-created></demand-edit-created>
      </ng-container>
      <!-- Редактирование черновика -->
      <ng-container *ngSwitchCase="demandType.EDIT_DRAFT">
        <!-- Редактирование черновика -->
        <demand-edit-draft></demand-edit-draft>
      </ng-container>
      <!-- Просмотр закрытой -->
      <ng-container *ngSwitchCase="demandType.VIEW">
        Просмотр закрытой
        <!--  <demand-view></demand-view> -->
      </ng-container>
    </ng-container>
  </ng-template>
</div>
