<!-- Нотификация -->
<p-toast></p-toast>

<!-- Обёртка в card content -->
<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>{{actionName}}</h2>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
        (click)="back()"></button>
    </div>
  </div>

  <!-- Проверка загрузки -->
  <ng-container *ngIf="!demandNavigationConfig || ((demandLoadingService.demandPageLoading$ | async)); else contentTemplate">
    Загрузка...
  </ng-container>
  <ng-template #contentTemplate>
    <ng-container [ngSwitch]="demandNavigationConfig.demandActionType">
      <ng-container *ngSwitchCase="demandType.CREATE">
        <demand-create (submit)="onSubmit($event)"></demand-create>
      </ng-container>
      <ng-container *ngSwitchCase="demandType.EDIT_CREATED">
        Редактирование созданной заявки
      </ng-container>
      <ng-container *ngSwitchCase="demandType.EDIT_DRAFT">
        Редактирование черновика
      </ng-container>
      <ng-container *ngSwitchCase="demandType.VIEW">
        Просмотр закрытой
      </ng-container>
    </ng-container>
  </ng-template>
</div>
