:host ::ng-deep {
  .pre-auth {
    background-color: #f6f6f6;
  }
  // Desktop
  @media (min-width: 1300px) {
    .auth {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;

      .auth__body {
        display: flex;
        flex-direction: row;

        .auth__body__form {
          width: 350px;
          height: 340px;
          padding: 28px 35px;
          border-radius: 10px;
          border-top: 2px solid #4B75B1;
          background: #FDFDFD;

          h1 {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #102538;
            margin-bottom: 24px;
          }

          form {

            .auth__body__form__fields {
              display: flex;
              flex-direction: column;
              margin-bottom: 24px;
              gap: 10px;

              .auth__body__form__fields__field {
                text-align: left;

                input {
                  width: 100%;
                  height: 50px;
                  border: 1px solid #D6D6D6;
                  border-radius: 10px;
                }
              }
            }

            .actions {
              display: flex;
              width: 100%;
              margin-bottom: 10px;

              button {
                width: 100%;
                height: 50px;
                background: linear-gradient(216.14deg, #009FD9 10.37%, rgba(0, 159, 217, 0) 93.52%), #4B75B1;
                box-shadow: 0px 10px 15px rgba(12, 131, 241, 0.2);
                border: unset;
                font-size: 14px;
                line-height: 16px;
                border-radius: 10px;
              }

              &.actions_additional {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 10px;

                button {
                  border: 1px solid #C0C0C0;
                  background: unset;
                  box-shadow: unset;
                  box-sizing: border-box;
                  color: #C0C0C0;
                }
              }
            }
          }
        }

        .auth__body__promo {
          width: 350px;
          height: 340px;
          position: relative;
          border-radius: 10px;
          background: linear-gradient(216.14deg, #009FD9 10.37%, rgba(0, 159, 217, 0) 93.52%), #4B75B1;
          background-image: url('../../assets/auth/poromo_background.png');

          .auth__body__promo__image {
            position: absolute;
            width: 100%;
            top: -35px;
            right: -3px;
          }
        }
      }
    }

  }

  // Mobile
  @media (max-width: 1300px) {}
}
