<p-tabView class="mib-tabs">
  <p-tabPanel header="Информация">
    Информация
  </p-tabPanel>
  <p-tabPanel header="Данные">
    <ng-container [ngSwitch]="demandNavigationConfig.demandAction">
      <ng-container *ngSwitchCase="demandAction.EDS">
        <eds></eds>
      </ng-container>
      <ng-container *ngSwitchCase="demandAction.EDIT_PROFILE">
        <!-- TODO: ADD PAGE -->
      </ng-container>
      <ng-container *ngSwitchCase="demandAction.FREE_REQUEST">
        <!-- TODO: ADD PAGE -->
      </ng-container>
      <ng-container *ngSwitchCase="demandAction.SURETY">
        <!-- TODO: ADD PAGE -->
      </ng-container>
      <ng-container *ngSwitchCase="demandAction.UPDATE_LIMIT">
        <!-- TODO: ADD PAGE -->
      </ng-container>
      <ng-container *ngSwitchCase="demandAction.CREATE_DEBITOR">
        <!-- TODO: ADD PAGE -->
      </ng-container>
      <ng-container *ngSwitchCase="demandAction.VERIFY">
        <!-- TODO: ADD PAGE -->
      </ng-container>
      <ng-container *ngSwitchCase="demandAction.FACTORING">
        <!-- TODO: ADD PAGE -->
      </ng-container>
      <ng-container *ngSwitchCase="demandAction.AGENT_FACTORING">
        <!-- TODO: ADD PAGE -->
      </ng-container>
    </ng-container>
  </p-tabPanel>
  <p-tabPanel header="Файлы">
    Файлы
  </p-tabPanel>
</p-tabView>
