<div class="flex">
	<mib-button (press)="onBurger()" size="m" type="filled-secondary">
		<mib-icon btn-icon class="stroke" name="fi_menu"></mib-icon>
	</mib-button>

	<div
		[ngClass]="{open: !isOpen, closed: isOpen}"
		class="flex flex_column mobile-menu"
	>
		<div class="mobile-menu-header flex">
			<mib-button (press)="closeBurgerMenu()" size="m" type="filled-secondary">
				<mib-icon btn-icon class="stroke" name="fi_x"></mib-icon>
			</mib-button>
		</div>
		<mib-spacing type="m"></mib-spacing>
		<div class="mobile-menu-body flex flex_column gap-16">
			<a
				(click)="closeBurgerMenu()"
				[routerLink]="['/']"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}"
			>
				<h2>Главная</h2>
			</a>
			<a
				(click)="closeBurgerMenu()"
				[routerLink]="['/tariffs']"
				routerLinkActive="active"
			>
				<h2>Тарифы</h2>
			</a>
			<a
				(click)="closeBurgerMenu()"
				[routerLink]="['/clients']"
				routerLinkActive="active"
			>
				<h2>Клиентам</h2>
			</a>
			<a
				(click)="closeBurgerMenu()"
				[routerLink]="['/contacts']"
				routerLinkActive="active"
			>
				<h2>Контакты</h2>
			</a>
		</div>
		<mib-spacing type="m"></mib-spacing>
		<div class="flex flex_grow"></div>
		<div class="mobile-menu-footer flex flex_column">
			<mib-spacing type="xs"></mib-spacing>
			<div class="fle flex_column">
				<p class="text text_s c-wrg-secondary">Номер для звонков по РФ</p>
				<mib-spacing type="xs2"></mib-spacing>
				<mib-link [showUnderline]="true" size="l" type="ghost-primary"
					>+7 (800) 250-9797
				</mib-link>
				<mib-spacing type="xs"></mib-spacing>
				<div class="flex flex_column">
					<p class="text text_s c-wrg-secondary">Ищите нас в соц. сетях</p>
					<mib-spacing type="xs2"></mib-spacing>
					<div class="flex gap-12">
						<mib-media size="l"></mib-media>
						<mib-media size="l" type="whatsapp"></mib-media>
						<mib-media size="l" type="vk"></mib-media>
					</div>
				</div>
				<mib-spacing type="s"></mib-spacing>
			</div>
		</div>
	</div>
</div>

<!-- 
 -->
