@import 'src/styles/helpers/icon_tools';

.footer {
	border-top: 1px solid var(--wgr-tertiary);
	& .item {
		min-width: 272px;
	}

	& .separator {
		border-top: 1px solid var(--wgr-tertiary);
	}

	& .bottom {
		background-color: var(--wgr-secondary);
	}

	mib-icon[name='logotype'] {
		@include icon-size(unset);
		padding-right: 62px;
	}
}
