<div class="card-content">
  <div class="header lg">
    <div class="title">
      <h2>Запросы</h2>
      <div class="subheader">
        Список Запросов
      </div>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="История запросов" [routerLink]="['/demand/history']"></button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col" *ngFor="let action of actions">
      <div class="demand-action-card can-click" [routerLink]="[action.url]">
        <div class="demand-action-content">
          <div class="text">
            {{action.text}}
          </div>
          <div class="icon arrow_right"></div>
        </div>
    </div>
    </div>
  </div>
</div>
