<div class="card-content">
  <div class="header lg">
    <div class="title">
      <h2>Запросы</h2>
      <div class="subheader">
        Список запросов
      </div>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Создать" (click)="add()"></button>
    </div>
  </div>

  <p-table [value]="(requests$ | async)" [rows]="10" [showCurrentPageReport]="true" selectionMode="multiple"
    [rowsPerPageOptions]="[10,25,50]" [loading]="(isLoading$ | async)" [(selection)]="selectedItems" dataKey="ID"
    styleClass="p-datatable-customers mib-table" [paginator]="true" [metaKeySelection]="true"
    currentPageReportTemplate="Показано: от {first} до {last} из {totalRecords}" (sortFunction)="customSort($event)"
    [customSort]="true">
    <!-- <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
              placeholder="Search keyword" />
          </span>
        </div>
      </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="ID">
          <div class="m-th">
            ID
            <p-sortIcon field="ID"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="User">
          <div class="m-th">
            Пользователь
            <p-sortIcon field="User"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr [pSelectableRow]="request">
        <td>
          <div class="m-td">
            {{request.ID}}
          </div>
        </td>
        <td>
          <div class="m-td">{{request.User}}</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2">Нет данных.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
