<div class="container container_large">
	<mib-spacing type="m"></mib-spacing>
	<h3>Договоры</h3>
	<mib-spacing type="m"></mib-spacing>
</div>
<mib-tab-group>
	<mib-navbar class="container container_large">
		<mib-navbar-point value="1">Действующие</mib-navbar-point>
		<mib-navbar-point value="2">Прошедшие</mib-navbar-point>
		<mib-navbar-point value="3">Все договоры</mib-navbar-point>
	</mib-navbar>
	<div class="container container_large">
		<mib-tab-item value="1">
			<mib-spacing type="m"></mib-spacing>
			<h3>tab1</h3>
		</mib-tab-item>
		<mib-tab-item value="2">
			<mib-spacing type="s"></mib-spacing>
			<p class="headline">Таб 2. В данном разделе пока ничего нет.</p>
		</mib-tab-item>
		<mib-tab-item value="3">
			<mib-spacing type="s"></mib-spacing>
			<p class="headline">Таб 3. В данном разделе пока ничего нет.</p>
		</mib-tab-item>
	</div>
</mib-tab-group>
