<div class="flex flex_column single">
	<mib-spacing type="m"></mib-spacing>
	<div class="flex">
		<div class="flex flex_align-center pr-4 gap-4">
			<span class="text text_l c-bti-tertiary">Металлинвестбанк</span>
			<mib-icon class="stroke" name="fi_chevron-right"></mib-icon>
		</div>
		<div class="flex flex_align-center gap-4">
			<span class="text text_l c-bti-tertiary">Новости</span>
			<mib-icon class="stroke" name="fi_chevron-right"></mib-icon>
		</div>
		<div class="flex flex_align-center gap-4">
			<span class="text text_l c-mc-default">Новость банка</span>
		</div>
	</div>
	<mib-spacing type="s"></mib-spacing>
	<h3>ПАО АКБ "Металлинвестбанк" посетил выставки</h3>
	<mib-spacing type="xs2"></mib-spacing>
	<div class="flex">
		<mib-tag type="filled-secondary" size="m">
			Опубликовано 12 декабря 2023
		</mib-tag>
	</div>
	<mib-spacing type="s"></mib-spacing>
	<div class="flex preview">
		<img src="{{ imageSrc }}" alt="exhibition event" />
	</div>
	<mib-spacing type="s"></mib-spacing>
	<p class="text text_l c-bti-secondary">
		3 квартал выдался плодотворным. Посетили сразу три выставки: HouseHold Expo,
		WorldFood, Мир Детства. Сотрудники банка с удовольствием посетили данные
		выставки, консультировали всех потенциальных клиентов по вопросам
		факторинга, рассказывали о продуктах банка. Живое общение делает работу
		более комфортной и эффективной.
	</p>
	<mib-spacing type="m"></mib-spacing>
	<div class="flex">
		<mib-button [routerLink]="['/news']" size="m" type="filled-secondary"
			>Вернуться назад</mib-button
		>
	</div>
	<mib-spacing type="xl2"></mib-spacing>
</div>
