<div class="flex flex_column single">
	<mib-spacing type="{{ isDesktop ? 'm' : 'xs' }}"></mib-spacing>
	<ng-container *ngIf="loading$ | async; else singleNews">
		<mib-skeleton
			[styles]="isDesktop ? defaultSkeleton : mobileSkeleton"
			*ngFor="let i of [1]"
		>
		</mib-skeleton>
	</ng-container>
	<ng-template #singleNews>
		<div class="breadcrumb flex flex_column">
			<div class="flex flex_wrap">
				<mib-breadcrumb
					class="cursor-pointer"
					[routerLink]="['/']"
					text="Металлинвестбанк"
				></mib-breadcrumb>
				<mib-breadcrumb
					class="cursor-pointer"
					[routerLink]="['/news']"
					text="Новости"
				></mib-breadcrumb>
				<mib-breadcrumb text="Новость банка" selected="true"></mib-breadcrumb>
			</div>
		</div>
		<mib-spacing type="s"></mib-spacing>
		<h3>{{ getSingleNews[0].Title }}</h3>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-tag type="filled-secondary" size="m">
				Опубликовано {{ getSingleNews[0].Date | date }}
			</mib-tag>
		</div>
		<mib-spacing type="{{ isDesktop ? 's' : 'xs' }}"></mib-spacing>
		<div class="flex preview">
			<img
				src="{{ getSingleNews[0].Image }}"
				alt="{{ getSingleNews[0].FileReference }}
			"
			/>
		</div>
		<mib-spacing type="{{ isDesktop ? 's' : 'xs' }}"></mib-spacing>
		<p class="text text_l c-bti-secondary">
			{{ getSingleNews[0].Text }}
		</p>
		<mib-spacing type="m"></mib-spacing>
		<div class="flex">
			<mib-button [routerLink]="['/news']" size="m" type="filled-secondary"
				>Вернуться назад</mib-button
			>
		</div>
	</ng-template>
	<mib-spacing type="{{ isDesktop ? 'xl2' : 'lm' }}"></mib-spacing>
</div>
