<p>request-drawer works!</p>
<mib-drawer>
  <mib-drawer-header
    (onClose)="dialogRef.close()"
    drawer-header
  ></mib-drawer-header>
  <h4>Создание заявки</h4>
  <mib-spacing type="xs"></mib-spacing>
  <mib-select [size]="size" placeholder="Выберите договор поставки" type="outline">
    <ng-container mibSelectLabel>Договор поставки</ng-container>
  </mib-select>
  <mib-spacing type="xs"></mib-spacing>
  <div class="flex flex_column gap-12">
    <div class="flex gap-12">
      <mib-input>
        <ng-container input-label>Номер заявки</ng-container>
        <input [size]="size" mibInput>
      </mib-input>
      <mib-select [size]="size" placeholder="Тип заявки">
      </mib-select>
    </div>
    <mib-input>
      <ng-container input-label>Дата заявки</ng-container>
      <input [size]="size" type="date" mibInput>
    </mib-input>
    <mib-input>
      <ng-container input-label>Свободный лимит</ng-container>
      <input [size]="size" mibInput>
    </mib-input>
  </div>
  <mib-spacing type="s"></mib-spacing>
  <h5 class="headline">Поставки</h5>
  <mib-spacing type="xs2"></mib-spacing>
  <div class="information-panel">Необходимо прикрепить документ договора поставки</div>
  <mib-spacing type="xs"></mib-spacing>
  <mib-button [size]="size">
    Добавить договор поставки
    <mib-ref-icon btn-left-icon class="stroke" name="fi_plus"></mib-ref-icon>
  </mib-button>
  <mib-spacing type="s"></mib-spacing>
  <h5 class="headline">Копии накладных</h5>
  <mib-spacing type="xs2"></mib-spacing>
  <div class="information-panel">Необходимо прикрепить скан-копии накладных для отправки на модерацию</div>
  <mib-spacing type="xs"></mib-spacing>
  <div class="flex flex_column gap-12">
    <mib-dnd headline="Прикрепите скан-копию документа"></mib-dnd>
    <p class="text text_xs c-bti-tertiary">Допустимые форматы для документов: PDF, DOC, DOCX, XLS, XLSX, JPEG, PNG</p>
  </div>
  <mib-drawer-footer drawer-footer>
    <mib-button [size]="size" type="filled-primary">Создать заявку</mib-button>
  </mib-drawer-footer>
</mib-drawer>
