<div class="container container_large">
  <mib-spacing type="m"></mib-spacing>
  <h3>Электронные документы</h3>
  <mib-spacing type="m"></mib-spacing>
</div>
<div class="container container_large">
  <div class="flex">
    <div class="flex gap-16 flex_justify-between">
      <div class="flex flex_align-center gap-12">
        <input
          styleType="outline"
          type="date"
          mibInput
          [formControl]="dateFrom"
        />
        <input
          styleType="outline"
          type="date"
          mibInput
          [formControl]="dateTo"
        />
      </div>
      <mib-button type="filled-primary" (press)="newDocumentDrawer()">
        <mib-icon btn-left-icon class="stroke" name="fi_plus"></mib-icon
        >
        Добавить документ
      </mib-button
      >
    </div>
  </div>
  <mib-spacing type="xs"></mib-spacing>
  <mib-table (selectionChange)="selectionChange($event)">
    <mib-table-head>
      <mib-table-head-cell [sortable]="true" [showCheckbox]="true"
      >№
      </mib-table-head-cell
      >
      <mib-table-head-cell>Имя файла</mib-table-head-cell>
      <mib-table-head-cell>Описание</mib-table-head-cell>
      <mib-table-head-cell>Тип документа</mib-table-head-cell>
      <mib-table-head-cell>Дата создания</mib-table-head-cell>
      <mib-table-head-cell>Прикрепил</mib-table-head-cell>
    </mib-table-head>
    <ng-container *ngIf="loading$ | async; else table">
      <mib-skeleton
        [styles]="last ? skeletonWithoutUnderline : skeleton"
        *ngFor="
							let i of toolsService.createEmptyArray(PAGINATOR_ITEMS_PER_PAGE);
							let last = last
						"
      ></mib-skeleton>
    </ng-container>
    <ng-template #table>
      <mib-table-row
        [rowId]="doc.DocumentID"
        (dblclick)="newDocumentViewsDrawer(doc?.DocumentID)"
        *ngFor="let doc of clientDocumentsVisible; let last = last"
        [underlined]="!last"
      >
        <mib-table-cell type="main">
          <ng-container table-cell-title>{{ doc?.Number }}</ng-container>
        </mib-table-cell>
        <mib-table-cell>
          <ng-container table-cell-title>{{ doc?.Title }}</ng-container>
        </mib-table-cell>
        <mib-table-cell>
          <ng-container table-cell-title>{{
            doc?.DocumentTypeTitle
            }}</ng-container>
        </mib-table-cell>
        <mib-table-cell>
          <ng-container table-cell-title>{{
            doc?.Description
            }}</ng-container>
        </mib-table-cell>
        <mib-table-cell>
          <ng-container table-cell-title>{{
            doc?.CreatedTime | date : 'dd.MM.YYYY'
            }}</ng-container>
        </mib-table-cell>
        <mib-table-cell>
          <ng-container table-cell-title
          >{{ doc?.CreatorLastName }}
            {{ doc?.CreatorFirstName }}</ng-container
          >
        </mib-table-cell>
        <mib-button
          [mibDropdownTrigger]="newDocumentRowMenu"
          table-row-button
          size="s"
          type="ghost-secondary"
        >
          <mib-icon
            class="stroke"
            btn-icon
            name="fi_more-vertical"
          ></mib-icon>
        </mib-button>
        <mib-dropdown #newDocumentRowMenu>
          <mib-dropdown-point
            (press)="newDocumentViewsDrawer(doc?.DocumentID)"
            text="Открыть"
          ></mib-dropdown-point>
        </mib-dropdown>
      </mib-table-row>
    </ng-template>
    <mib-table-footer
      [actionLoading]="isSigning$ | async"
      (onAction)="onAction()"
      [showIsland]="true"
      [lined]="!(loading$ | async)"
    >
      <ng-container table-footer-action>Подписать</ng-container>
      <mib-paginator
        (pageChange)="onPageChange($event)"
        [totalCount]="clientDocuments.length"
        [pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
        [itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
      ></mib-paginator>
    </mib-table-footer>
  </mib-table>
</div>
