<p-toast></p-toast>
<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>Запрос на Увеличение лимита</h2>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
      [routerLink]="['/demand']" *ngIf="isEdit"></button>
    </div>
  </div>

  <metib-success-messages *ngIf="alert" [message]="alertMessage"></metib-success-messages>

  <ng-container *ngIf="isEdit; else createTemplate;">
    <p-tabView class="mib-tabs">
      <p-tabPanel header="Информация">
        <app-demand-info [currentDemandInfo]="currentInformation" (sendMessage)="handleSendMessage($event)"></app-demand-info>
      </p-tabPanel>
      <p-tabPanel header="Данные">
        <ng-container *ngTemplateOutlet="form; context: {formFree: formFree}">></ng-container>
      </p-tabPanel>
      <p-tabPanel header="Файлы">
        <app-demand-files (removeFile)="handleRemoveFile($event)" [currentDemandFiles]="currentDemand.Files"></app-demand-files>
      </p-tabPanel>
    </p-tabView>
  </ng-container>
  <ng-template #createTemplate>
    <ng-container *ngTemplateOutlet="form; context: {formFree: formFree}"></ng-container>
  </ng-template>

  <ng-template #form let-formFree="formFree">
    <form [formGroup]="formFree" (ngSubmit)="onSubmit()">
      <div class="form-actions" *ngIf="!isEdit">
        <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
          [routerLink]="['/demand']"></button>
        <button pButton pRipple type="button" label="Создать Запрос" type="submit" class="basic"
          [disabled]="formFree.invalid || isLoading"></button>
      </div>
      <div class="p-fluid p-formgrid p-grid form">
        <!-- 1 row -->
        <div class="p-field p-col-12 p-md-12 p-lg-12">
          <div class="addon-input">
            <div class="text">Требуемый лимит</div>
            <input id="limit" type="number" pInputText placeholder="0" formControlName="limit">
          </div>
          <div *ngIf="formFree.controls['limit'].invalid">
            <small *ngIf="formFree.controls['limit'].errors.required" class="p-error">
              Поле должно быть заполнено.
            </small>
          </div>
        </div>
        <!-- 2 row -->
        <div class="p-field p-col-12 p-md-12 p-lg-12">
          <label for="comment">Комментарий</label>
          <textarea id="comment" type="text" pInputTextarea placeholder="Комментарий" formControlName="comment"
            style="resize: none;"></textarea>
          <div *ngIf="formFree.controls['comment'].invalid">
            <small *ngIf="formFree.controls['comment'].errors.required" class="p-error">
              Поле должно быть заполнено.
            </small>
          </div>
        </div>
        <!-- 3 row -->
        <div class="p-field p-col-12">
          При необходимости прикрепите файлы:
        </div>

        <div class="p-field p-col-12 p-md-6">
          <div class="addon-button mb-20">
            <div class="addon-text">
              <p>
                Оборотно-сальдовая ведомость по P/C
                За последние 12 месяцев
              </p>
            </div>
            <div class="mib-uploader">
              <input type="file" id="OSV" (change)="onSelect($event, 'OSV')" multiple="true" hidden />
              <label for="OSV" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файл</label>
            </div>
          </div>
          <div *ngIf="files.length">
            <ng-container *ngFor="let file of files">
              <div class="addon-button mb-10" *ngIf="file.Identifier === 'OSV'">
                <div class="addon-text">
                  <p>
                    {{file.FileName}}
                  </p>
                </div>
                <div class="mib-uploader">
                  <div class="mib-upload-warn" (click)="removeFile(file)">
                    Удалить
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <div class="addon-button mb-20">
            <div class="addon-text">
              <p>
                Отчётность на последнюю отчетную
                дату ББиОПиУ
              </p>
            </div>
            <div class="mib-uploader">
              <input type="file" id="Balance" (change)="onSelect($event, 'Balance')" multiple="true" hidden />
              <label for="Balance" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файл</label>
            </div>
          </div>
          <div *ngIf="files.length">
            <ng-container *ngFor="let file of files">
              <div class="addon-button mb-10" *ngIf="file.Identifier === 'Balance'">
                <div class="addon-text">
                  <p>
                    {{file.FileName}}
                  </p>
                </div>
                <div class="mib-uploader">
                  <div class="mib-upload-warn" (click)="removeFile(file)">
                    Удалить
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <div class="addon-button mb-20">
            <div class="addon-text">
              <p>
                Информационное письмо о займах
                и кредитах на текущую дату
              </p>
            </div>
            <div class="mib-uploader">
              <input type="file" id="Loans" (change)="onSelect($event, 'Loans')" multiple="true" hidden />
              <label for="Loans" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файл</label>
            </div>
          </div>
          <div *ngIf="files.length">
            <ng-container *ngFor="let file of files">
              <div class="addon-button mb-10" *ngIf="file.Identifier === 'Loans'">
                <div class="addon-text">
                  <p>
                    {{file.FileName}}
                  </p>
                </div>
                <div class="mib-uploader">
                  <div class="mib-upload-warn" (click)="removeFile(file)">
                    Удалить
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>


        <div class="p-field p-col-12 p-md-12">
          <label for="btn_submit">&nbsp;</label>
          <button id="btn_submit" pButton pRipple type="submit" label="Сохранить запрос"
            class="btn-mib-submit p-button-outlined" [disabled]="formFree.invalid || isLoading"></button>
        </div>
      </div>
    </form>
  </ng-template>
</div>
