<div class="mobile header">
  <div>
    <img src="../../../../../assets/images/mib_logo.svg">
  </div>
  <input type="checkbox" class="toggler">
  <div class="burger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li>
            <a [routerLink]="['cabinet']">Кабинет</a>
          </li>
          <li>
            <a [routerLink]="['requests']">Заявки</a>
          </li>
          <li>
            <a [routerLink]="['freeduty']">Свободная задолженность</a>
          </li>
          <li>
            <a [routerLink]="['contracts']">Договоры</a>
          </li>
          <li>
            <a [routerLink]="['invoices']">Платежи</a>
          </li>
          <li>
            <a [routerLink]="['delays']">Просрочки покупателя
            </a>
          </li>
          <li>
            <a [routerLink]="['demand']">Запросы</a>
          </li>
          <li>
            <a [routerLink]="['documents']">Документы</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
