<mib-modal>
	<div class="close-btn flex">
		<mib-button size="s" (press)="dialogRef.close()" type="ghost-secondary">
			<mib-icon btn-icon class="stroke" name="fi_x"></mib-icon>
		</mib-button>
	</div>
	<mib-mobile-table-popup title="Электронный документ">
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">О документе</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.doc.Description)"
				[showCopy]="true"
				[sectionTitle]="'Описание'"
				[title]="data.doc.Description"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Тип документа'"
				[title]="data.doc.DocumentTypeTitle"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Дата создания'"
				[title]="data.doc.CreatedTime | date : 'dd.MM.yyyy'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell [sectionTitle]="'Прикрепил'" type="person">
				<ng-container avatar>
					<div class="flex flex_align-center gap-8">
						<mib-avatar
							[showImage]="true"
							[showArrow]="false"
							type="round"
							src="./assets/images/user-avatar.jpg"
						></mib-avatar>
						<div class="flex gap-4">
							<span class="text text_m c-bit-primary">
								{{ data.doc.CreatorFirstName }}
							</span>
							<span class="text text_m c-bit-primary">
								{{ data.doc.CreatorLastName }}
							</span>
						</div>
					</div>
				</ng-container>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="s"></mib-spacing>
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">Файл документа</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<mib-file-cell></mib-file-cell>
		<mib-spacing type="s"></mib-spacing>
		<div class="flex flex_column gap-12">
			<mib-button class="w-100" size="m" type="filled-secondary">
				Перейти к заполнению
			</mib-button>
		</div>
	</mib-mobile-table-popup>
</mib-modal>

<!-- 
<mib-modal>
	<div class="close-btn flex">
		<mib-button size="s" (press)="dialogRef.close()" type="ghost-secondary">
			<mib-icon btn-icon class="stroke" name="fi_x"></mib-icon>
		</mib-button>
	</div>

	<mib-mobile-table-popup title="Накладная">
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">Основные</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex gap-12">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.duty.ID)"
				[showCopy]="true"
				[sectionTitle]="'Идентификатор'"
				[title]="data.duty.ID"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.duty.Contract.Number)"
				[showCopy]="true"
				[sectionTitle]="'Контракт'"
				[title]="data.duty.Contract.Number"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex gap-12">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.duty.Contract.ID)"
				[showCopy]="true"
				[sectionTitle]="'№ поставки'"
				[title]="data.duty.Contract.ID"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Дата поставки'"
				[title]="data.duty.DateContract | date : 'dd.MM.yyyy'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xm"></mib-spacing>
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">счёт-фактура</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex gap-12">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.duty.Number)"
				[showCopy]="true"
				[sectionTitle]="'№ с/ф'"
				[title]="data.duty.Number"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Дата с/ф'"
				[title]="data.duty.DateContract | date : 'dd.MM.yyyy'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xm"></mib-spacing>
		<div class="flex">
			<span class="text text_tv c-bti-quaternary">Дополнительные</span>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Дата задолженности'"
				[title]="data.duty.DateContract | date : 'dd.MM.yyyy'"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.duty.Summ)"
				[showCopy]="true"
				[sectionTitle]="'Сумма поставки'"
				[title]="data.duty.Summ | rub"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				(copyData)="copyData(data.duty.Rest)"
				[showCopy]="true"
				[sectionTitle]="'Сумма уступка'"
				[title]="data.duty.Rest | rub"
				type="numbers"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="xs2"></mib-spacing>
		<div class="flex">
			<mib-mobile-table-popup-cell
				[sectionTitle]="'Внешняя ссылка'"
				[title]="data.duty.RefNum"
				type="link"
			>
			</mib-mobile-table-popup-cell>
		</div>
		<mib-spacing type="s"></mib-spacing>
		<div class="flex">
			<mib-button class="w-100" size="m" type="filled-secondary">
				Перейти к заполнению
			</mib-button>
		</div>
	</mib-mobile-table-popup>
	<span class="success-copied text text_tv" *ngIf="copied">Скопированно!</span>
</mib-modal>

-->
