<div class="container container_large">
	<mib-spacing type="m"></mib-spacing>
	<h3>Запросы</h3>
	<mib-spacing type="m"></mib-spacing>
</div>
<mib-tab-group>
	<mib-navbar class="container container_large">
		<mib-navbar-point value="1">Список запросов</mib-navbar-point>
		<mib-navbar-point value="2">Черновики</mib-navbar-point>
		<mib-navbar-point value="3">История запросов</mib-navbar-point>
	</mib-navbar>
	<div class="container container_large">
		<mib-tab-item value="1">
			<mib-spacing type="s"></mib-spacing>
			<div class="flex flex_wrap gap-16">
				<mib-request-card
					*ngFor="let request of requestLists"
					[requestTitle]="request.title"
					[requestText]="request.description"
					[requestQuantity]="request.quantity"
					[link]="['history']"
				></mib-request-card>
			</div>
			<mib-spacing type="s"></mib-spacing>
			<mib-button (press)="openDrawer()" type="filled-primary"
				>Запрос на свободную тему</mib-button
			>
			<mib-spacing type="xl2"></mib-spacing>
		</mib-tab-item>
		<mib-tab-item value="2">
			<mib-spacing type="m"></mib-spacing>
			<div class="draft-controls flex flex_justify-between">
				<mib-input>
					<input
						mibInput
						type="text"
						styleType="filled-secondary"
						placeholder="Поиск по запросам"
					/>
					<ng-container input-label>Поиск по запросам</ng-container>
					<mib-ref-icon
						mibLeftIcon
						class="stroke path"
						name="fi_search"
					></mib-ref-icon>
				</mib-input>
				<mib-select placeholder="Прогресс заполнения">
					<mib-dropdown-point
						[value]="true"
						text="Заполнено на 100%"
					></mib-dropdown-point>
					<mib-dropdown-point
						[value]="false"
						text="Заполнено на 50%"
					></mib-dropdown-point>
				</mib-select>
			</div>
			<mib-spacing type="xs"></mib-spacing>
			<mib-table>
				<mib-table-head>
					<mib-table-head-cell
						(onCheck)="severalRequestsChecked = $event"
						[checked]="severalRequestsChecked"
						[showCheckbox]="true"
						>Запрос
					</mib-table-head-cell>
					<mib-table-head-cell>Тип запроса</mib-table-head-cell>
					<mib-table-head-cell>Прогресс заполнения</mib-table-head-cell>
				</mib-table-head>
				<ng-container *ngIf="loading$ | async; else table">
					<mib-skeleton
						[styles]="last ? skeletonWithoutUnderline : skeleton"
						*ngFor="let i of [1, 1, 1, 1, 1, 1, 1]; let last = last"
					></mib-skeleton>
				</ng-container>
				<ng-template #table>
					<mib-table-row
						[@slideAnimation]="requestsAnimationStates[draft.id]"
						*ngFor="let draft of draftLists; let last = last"
						[underlined]="!last"
					>
						<mib-table-cell type="main">
							<ng-container table-cell-title>{{ draft.number }}</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title
								><mib-badge
									type="filled-secondary"
									[extended]="true"
									size="l"
									>{{ draft.type }}</mib-badge
								></ng-container
							>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title
								><mib-badge type="filled-secondary" [extended]="true" size="l"
									>Заполнено на {{ draft.progress }}</mib-badge
								></ng-container
							>
						</mib-table-cell>
						<mib-button table-row-button size="s" type="ghost-secondary">
							<mib-ref-icon
								class="stroke draft"
								btn-icon
								name="fi_edit"
							></mib-ref-icon>
						</mib-button>
					</mib-table-row>
				</ng-template>
				<mib-table-footer [underlined]="!(loading$ | async)">
					<mib-paginator
						(pageChange)="onPageChange($event)"
						[totalCount]="drafts.length"
						[pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
						[itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
					></mib-paginator>
				</mib-table-footer>
			</mib-table>
		</mib-tab-item>
		<mib-tab-item value="3">
			<mib-spacing type="m"></mib-spacing>
			<div class="history-controls flex flex_justify-between">
				<mib-input>
					<input
						mibInput
						type="text"
						styleType="filled-secondary"
						placeholder="Поиск по запросам"
					/>
					<ng-container input-label>Поиск по запросам</ng-container>
					<mib-ref-icon
						class="stroke path"
						mibLeftIcon
						name="fi_search"
					></mib-ref-icon>
				</mib-input>
				<mib-select placeholder="Выберите статус запроса">
					<mib-dropdown-point
						[value]="true"
						text="В работе"
					></mib-dropdown-point>
					<mib-dropdown-point
						[value]="false"
						text="Завершено"
					></mib-dropdown-point>
				</mib-select>
			</div>
			<mib-spacing type="xs"></mib-spacing>
			<mib-table>
				<mib-table-head>
					<mib-table-head-cell [showCheckbox]="true"
						>Номер запроса</mib-table-head-cell
					>
					<mib-table-head-cell>Тип запроса</mib-table-head-cell>
					<mib-table-head-cell>Дата запроса</mib-table-head-cell>
					<mib-table-head-cell>Статус запроса</mib-table-head-cell>
					<mib-table-head-cell>Ответственный</mib-table-head-cell>
				</mib-table-head>
				<ng-container *ngIf="loading$ | async; else table2">
					<mib-skeleton
						[styles]="last ? skeletonWithoutUnderline : skeleton"
						*ngFor="let i of [1, 1, 1, 1, 1, 1, 1]; let last = last"
					></mib-skeleton>
				</ng-container>
				<ng-template #table2>
					<mib-table-row
						[@slideAnimation]="historyAnimationStates[history.id]"
						*ngFor="let history of historyLists; let last = last"
						[underlined]="!last"
					>
						<mib-table-cell type="main">
							<ng-container table-cell-title>{{ history.number }}</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title
								><mib-badge
									type="filled-secondary"
									[extended]="true"
									size="l"
									>{{ history.type }}</mib-badge
								></ng-container
							>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>{{
								history.date | date
							}}</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title
								><mib-badge
									type="filled-secondary"
									[extended]="true"
									size="l"
									>{{ history.status ? 'В работе' : 'Завершено' }}</mib-badge
								></ng-container
							>
						</mib-table-cell>
						<mib-table-cell type="person">
							<ng-container table-cell-person>
								<mib-avatar
									type="round"
									[showArrow]="false"
									[src]="history.charge.avatarUrl"
									[showImage]="true"
								></mib-avatar
							></ng-container>
							<ng-container table-cell-title>{{
								history.charge.name
							}}</ng-container>
						</mib-table-cell>
						<mib-button table-row-button size="s" type="ghost-secondary">
							<mib-ref-icon
								class="stroke"
								btn-icon
								name="fi_more-vertical"
							></mib-ref-icon>
						</mib-button>
					</mib-table-row>
				</ng-template>
				<mib-table-footer [underlined]="!(loading$ | async)">
					<mib-paginator
						(pageChange)="onPageChange($event)"
						[totalCount]="historys.length"
						[pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
						[itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
					></mib-paginator>
				</mib-table-footer>
			</mib-table>
		</mib-tab-item>
	</div>
</mib-tab-group>
