@import 'src/styles/helpers/_icon_tools.scss';

.container {
	& mib-input,
	& mib-select {
		max-width: 280px;
		width: 100%;
	}
	& .draft {
		@include icon-color(var(--mc-default));
	}

	@media (max-width: 576px) {
		padding: 0;

		& mib-input,
		& mib-select {
			max-width: 100%;
			width: 100%;
		}

		& .history-controls {
			padding: 0 16px;
			flex-direction: column;
			align-items: center;
		}

		& h3 {
			padding: 0 16px;
		}

		& mib-spacing[type='m'] {
			height: 24px;
			display: block;
		}

		& > div {
			width: 100%;
			display: block;
		}

		& .mobile-col {
			gap: 0;
		}

		& .mobile-btn {
			padding: 0 16px;

			& mib-button[type='filled-primary'] {
				width: 100%;
			}
		}

		& .mobile-sp {
			display: none;
		}
	}
}
