<div class="container container_large">
	<mib-spacing type="m"></mib-spacing>
	<h3>Запросы</h3>
	<mib-spacing type="m"></mib-spacing>
</div>
<mib-tab-group>
	<mib-navbar class="container container_large">
		<mib-navbar-point value="1">Список запросов</mib-navbar-point>
		<mib-navbar-point value="2">Черновики</mib-navbar-point>
		<mib-navbar-point value="3">История запросов</mib-navbar-point>
	</mib-navbar>
	<mib-spacing type="s"></mib-spacing>
	<div class="container container_large">
		<mib-tab-item value="1">
			<div class="flex flex_wrap gap-16">
				<mib-request-card
					*ngFor="let request of requestList$"
					[requestTitle]="request.title"
					[requestText]="request.description"
					[requestQuantity]="request.quantity"
					[link]="['history']"
				></mib-request-card>
			</div>
			<mib-spacing type="s"></mib-spacing>
			<mib-button type="filled-primary">Запрос на свободную тему</mib-button>
			<mib-spacing type="xl2"></mib-spacing>
		</mib-tab-item>
		<mib-spacing type="m"></mib-spacing>
		<mib-tab-item value="2">
			<mib-spacing type="m"></mib-spacing>
			<div class="inputs-line flex flex_justify-between">
				<mib-input>
					<input
						mibInput
						type="text"
						styleType="filled-secondary"
						placeholder="Поиск по запросам"
					/>
					<ng-container input-label>Поиск по запросам</ng-container>
					<mib-ref-icon
						class="stroke path"
						input-left-icon
						name="fi_search"
					></mib-ref-icon>
				</mib-input>
				<mib-select placeholder="Прогресс заполнения">
					<mib-dropdown-point
						[value]="true"
						text="Заполнено на 100%"
					></mib-dropdown-point>
					<mib-dropdown-point
						[value]="false"
						text="Заполнено на 50%"
					></mib-dropdown-point>
				</mib-select>
			</div>
		</mib-tab-item>
		<mib-tab-item value="3">
			<h3>История запросов</h3>
		</mib-tab-item>
	</div>
</mib-tab-group>
