<!--
<div class="p-d-flex p-jc-center">
  <div class="main">

  </div>
</div> -->


<main>
  <aside>
    <div class="logo">
      <img src="../../../../../assets/images/mib_logo.svg">
    </div>
    <div class="menu">
      <p-menu [model]="items"></p-menu>
      <div class="triangle-menu big"></div>
    </div>
  </aside>
  <div class="page">
    <app-header></app-header>
    <section class="container">
      <div class="main-body">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</main>
