$main: linear-gradient(254.84deg, #3561a6 8.99%, rgba(255, 255, 255, 0) 64.13%),
	linear-gradient(252.66deg, #66abc6 40.02%, rgba(255, 255, 255, 0) 151.07%),
	#89d3cf;
$main-mono: #7da9ca;
$main-blue: #0c83f1;
$dark-blue: #102538;

$white: #ffffff;

$light-grey: #e2e2e2;
$grey: #f9f9f9;
$dark-grey: #adadad;

$description: #989898;

$black: #000000;

$warning: #e74630;
$success: #69cf74;
$default: #0c83f1;

// BUTTONS
$button-grey: #bdbdbd;

// MENU
$link-grey: #bcbcbc;

// FONT
$font-grey: #334d64;
