:root {
/* white-gradation */
	--wgr-primary: #fff;
	--wgr-secondary: #f2f4f7;
	--wgr-tertiary: #e7eaee;
	--wgr-quaternary: #c8cbd0;

/* black-gradation */
	--bgr-primary: #000;
	--bgr-secondary: #0a0d10;
	--bgr-tertiary: #151a1e;
	--bgr-quaternary: #2f3337;

/* white-text-icons */
	--wti-primary: #fff;
	--wti-secondary: #caccce;
	--wti-tertiary: #9197a1;
	--wti-quaternary: #5a6472;
	
/* black-text-icons */
	--bti-primary: #090a0c;
	--bti-secondary: #2d3339;
	--bti-tertiary: #5e676e;
	--bti-quaternary: #95999d;
	
/* overlay-primary */
	--overlay-primary: #373c3f;
	--overlay-secondary: #666a6d;
	--overlay-tertiary: #94979b;
	--overlay-quaternary: #c4c6c9;

/* main-color */
	--mc-hover: #3687E2;
	--mc-default: #1760CF;
	--mc-active: #0D54A5;
	--mc-quaternary: #dee8f7;
	--mc-quinary: #f0f4f9;
	--mc-gradient-default: linear-gradient(114deg, #3686E2 0%, #0D54A5 100%)

/* background-primary */
	--bgp-hover: #1A57B2;
	--bgp-default: #0F408A;
	--bgp-active: #0A3576;
	--bgp-quaternary:#BED3F4;
	--bgp-quinary: #EAF1FB;
	--bgp-gradient-default: linear-gradient(114deg, #1D61C9 0%, #00337F 100%, #043E95 100%);

/* additional-color */
	--adc-hover: #0BA3DA;
	--adc-default: #0593C7;
	--adc-active: #0083B2;
	--adc-quaternary: #C8DFE7;
	--adc-quinary: #EDF5F7;
	--adc-gradient-default: linear-gradient(114deg, #36B5E2 0%, #0083B2 100%);

/* accent-color */
	--ac-hover: #CB4D51;
	--ac-default: #CC3338;
	--ac-active: #BD282D;
	--ac-quaternary:#E6CBCC;
	--ac-quinary:#F6EEEF;

/* alert-color */
	--alc-hover: #CB4D4D;
	--alc-default: #C33;
	--alc-active: #BD2828;
	--alc-quaternary: #E6CBCB;
	--alc-quinary: #F6EEEE;

/* warning-color */
	--wc-hover: #F0B642;
	--wc-default: #F2A60D;
	--wc-active: #C78505;
	--wc-quaternary: #F2E1C0;
	--wc-quinary: #FAF5EB;

/* succes-color */
	--succes-color-hover: #6AAF73;
	--succes-color-default: #53AC5F;
	--succes-color-active: #45A151;
	--succes-color-quaternary: #D1E0D3;
	--succes-color-quinary: #F0F4F1;

}

span.c,
.text.c,
.c {
  &-white {
    color: var(--wgr-primary);
  }

  &-black {
    color: var(--bgr-primary);
  }

  &-wgr-secondary {
    color: var(--wgr-secondary)
  }

  &-wgr-tertiary {
    color: var(--wgr-tertiary)
  }

  &-wgr-quaternary {
    color: var(--wgr-quaternary)
  }

  &-bgr-primary {
    color: var(--bgr-primary)
  }

  &-bgr-secondary {
    color: var(--bgr-secondary)
  }

  &-bgr-tertinary {
    color: var(--bgr-tertiary)
  }

  &-bgr-quaternary {
    color: var(--bgr-quaternary)
  }

  &-bti-primary {
    color: var(--bti-primary)
  }

  &-bti-secondary {
    color: var(--bti-secondary)
  }

  &-bti-tertiary {
    color: var(--bti-tertiary)
  }

  &-bti-quaternary {
    color: var(--bti-quaternary)
  }


}
