$main: linear-gradient(254.84deg, #3561A6 8.99%, rgba(255, 255, 255, 0) 64.13%),
linear-gradient(252.66deg, #66ABC6 40.02%, rgba(255, 255, 255, 0) 151.07%),
#89D3CF;
$main-mono: #7DA9CA;
$main-blue: #0C83F1;
$dark-blue: #102538;

$white: #FFFFFF;

$light-grey: #e2e2e2;
$grey: #F9F9F9;
$dark-grey: #ADADAD;

$description: #989898;

$black: #000000;

$warning: #E74630;
$success: #69CF74;
$default: #0C83F1;

// BUTTONS
$button-grey: #BDBDBD;

// MENU
$link-grey: #BCBCBC;

// FONT
$font-grey: #334D64
