<h3>Код подтверждения</h3>
<mib-spacing type="xs"></mib-spacing>
<p class="text text_l c-bti-secondary">На номер телефона <span class="c-mc-default text_medium">{{phone | mask: '+0(000)000-00-00'}}</span> отправлен код подтверждения регистрации</p>
<mib-spacing type="xs"></mib-spacing>
<mib-input>
  <input mibInput [formControl]="control">
  <ng-container input-label>Введите код подтверждения</ng-container>
</mib-input>
<mib-spacing type="xs"></mib-spacing>
<mib-link [disabled]="delay>0" (press)="onResend()" disabled="true" type="ghost-primary">Отправить код повторно {{delay>0?'('+delay+'с)' : ''}}</mib-link>
<mib-spacing type="m"></mib-spacing>
<div class="flex gap-16">
  <mib-button (press)="back.emit()" class="flex_grow" type="filled-secondary">Назад</mib-button>
  <mib-button [disabled]="control.invalid" (press)="onConfirm()" class="flex_grow"><ng-content></ng-content></mib-button>
</div>
