<ng-container *ngIf="signnedIn; else second">
	<div class="header" #header>
		<div class="container container_large flex flex_justify-between">
			<mib-skeleton
				*ngIf="factoringLoading$ | async; else managerTemplate"
				[styles]="skeleton"
			></mib-skeleton>
			<ng-template #managerTemplate>
				<div #managerRef class="manager flex gap-12">
					<mib-avatar [showImage]="false">{{ managerInitials }}</mib-avatar>
					<div class="flex flex_column">
						<div class="flex">
							<p class="text name text_m text_medium c-bti-primary">
								{{ manager?.Name ?? 'Отсутствует' }} 
							</p>
							<p
								class="text text_m text_medium c-bti-tertiary"
								*ngIf="manager?.Extension as value"
							>
								({{ value }})
							</p>
						</div>
						<p class="text text_s label c-bti-tertiary">Ваш менеджер</p>
					</div>
					<mib-button
						[mibDropdownTrigger]="managerPanel"
						size="m"
						type="ghost-secondary"
					>
						<mib-ref-icon
							btn-icon
							class="stroke"
							[name]="
								managerPanel.isVisible ? 'fi_chevron-up' : 'fi_chevron-down'
							"
						></mib-ref-icon>
					</mib-button>
				</div>
				<mib-dropdown [reference]="managerRef" #managerPanel>
					<mib-spacing dropdown-spacing type="s"></mib-spacing>
					<mib-dropdown-point
						[text]="manager?.Email ?? 'Почта отсутствует'"
						[cdkCopyToClipboard]="manager?.Email"
					>
						<mib-ref-icon
							dropdown-point-right-icon
							class="stroke"
							name="fi_copy"
						></mib-ref-icon>
					</mib-dropdown-point>
				</mib-dropdown>
			</ng-template>
			<mib-skeleton
				*ngIf="userLoading$ | async; else userTemplate"
				[styles]="skeleton"
			></mib-skeleton>
			<ng-template #userTemplate>
				<div #user class="manager user flex gap-12">
					<mib-avatar [showImage]="false">{{ nameInitials }}</mib-avatar>
					<div class="flex flex_column">
						<p class="text name text_m text_medium c-bti-primary">{{ name }}</p>
						<p class="text text_s label c-bti-tertiary">Пользователь</p>
					</div>
					<mib-button
						[mibDropdownTrigger]="userPanel"
						size="m"
						type="ghost-secondary"
					>
						<mib-ref-icon
							btn-icon
							class="stroke"
							[name]="userPanel.isVisible ? 'fi_chevron-up' : 'fi_chevron-down'"
						></mib-ref-icon>
					</mib-button>
				</div>
				<mib-dropdown [reference]="user" #userPanel>
					<mib-spacing dropdown-spacing type="s"></mib-spacing>
					<mib-dropdown-point text="Выйти">
						<mib-ref-icon
							dropdown-point-left-icon
							class="stroke"
							name="fi_log-out"
						></mib-ref-icon>
					</mib-dropdown-point>
				</mib-dropdown>
			</ng-template>
		</div>
	</div>
</ng-container>
<ng-template #second>
	<div class="test1">HEADER DEFAULT WITHOUT LOG IN</div>
	<ng-container *ngIf="showUpHeader">
		<div class="test-2">UP HEADER PLUS</div>
	</ng-container>
</ng-template>
