<div class="header flex flex_column" [ngClass]="classes" #header>
	<div *ngIf="showExtension" class="extension">
		<div class="container flex flex_justify-between flex_align-center">
			<div class="flex gap-16">
				<a class="text text_s c-bti-quaternary" [routerLink]="['/']"
					>Частным клиентам</a
				>
				<a class="text text_s c-bti-quaternary" [routerLink]="['/']"
					>Корпоративным клиентам</a
				>
				<a class="text text_s c-bti-quaternary" [routerLink]="['/']">Лизинг</a>
				<a class="text text_s c-bti-quaternary" [routerLink]="['/']"
					>Факторинг</a
				>
				<a class="text text_s c-bti-quaternary" [routerLink]="['/']"
					>Финансовым институтам</a
				>
			</div>
			<div class="flex gap-24">
				<mib-link size="s" type="ghost-secondary" [routerLink]="['/']"
					>Москва
					<mib-icon
						mibRightIcon
						class="stroke"
						name="fi_chevron-down"
					></mib-icon>
				</mib-link>
				<mib-link size="s" type="ghost-secondary" [routerLink]="['/']"
					>+7 (495) 727-9797
					<mib-icon
						mibRightIcon
						class="stroke"
						name="fi_chevron-down"
					></mib-icon>
				</mib-link>
			</div>
		</div>
	</div>
	<div class="header-inner">
		<div *ngIf="!isAdmin; else admin">
			<div
				class="container container-fix flex flex_justify-between flex_align-center"
				[class.container_large]="signedIn"
			>
				<ng-container *ngIf="signedIn; else unsignedTemplate">
					<div class="manager-desktop">
						<mib-skeleton
							*ngIf="factoringLoading$ | async; else managerTemplate"
							[styles]="skeleton"
						></mib-skeleton>
						<ng-template #managerTemplate>
							<div
								[mibDropdownTrigger]="managerPanel"
								class="manager flex gap-12"
							>
								<ng-container *ngIf="manager?.Avatar; else showInitials">
									<mib-avatar
										[showArrow]="false"
										[src]="managerAvatar"
										[showImage]="true"
									></mib-avatar>
								</ng-container>
								<ng-template #showInitials>
									<mib-avatar [showImage]="false">{{
										managerInitials
									}}</mib-avatar>
								</ng-template>
								<div class="flex flex_column">
									<div class="flex">
										<p class="text name text_m text_medium c-bti-primary">
											{{ manager?.Name ?? 'Отсутствует' }} 
										</p>
										<p
											class="text text_m text_medium c-bti-tertiary"
											*ngIf="manager?.Extension as value"
										>
											({{ value }})
										</p>
									</div>
									<p class="text text_s label c-bti-tertiary">Ваш менеджер</p>
								</div>
								<mib-button size="m" type="ghost-secondary">
									<mib-icon
										btn-icon
										class="stroke"
										[name]="
											managerPanel.isVisible
												? 'fi_chevron-up'
												: 'fi_chevron-down'
										"
									></mib-icon>
								</mib-button>
							</div>
							<mib-dropdown #managerPanel>
								<mib-spacing dropdown-spacing type="s"></mib-spacing>
								<mib-dropdown-point
									[text]="manager?.Email ?? 'Почта отсутствует'"
									[cdkCopyToClipboard]="manager?.Email"
								>
									<mib-icon
										dropdown-point-right-icon
										class="stroke"
										name="fi_copy"
									></mib-icon>
								</mib-dropdown-point>
							</mib-dropdown>
						</ng-template>
					</div>
					<div class="flex burger-btn">
						<mib-mobile-menu [isClient]="true"></mib-mobile-menu>
					</div>
					<div class="flex">
						<mib-icon
							class="main-logo-round cursor-pointer"
							[routerLink]="['/client/cabinet']"
							name="fi_logo_round_main"
						></mib-icon>
					</div>
					<mib-skeleton
						*ngIf="userLoading$ | async; else userTemplate"
						[styles]="skeleton"
					></mib-skeleton>
					<ng-template #userTemplate>
						<div
							[mibDropdownTrigger]="userPanel"
							class="manager user flex gap-12"
						>
							<mib-avatar [showArrow]="false" [showImage]="false">{{
								nameInitials
							}}</mib-avatar>
							<div class="user-desktop flex flex_column">
								<p class="text name text_m text_medium c-bti-primary">
									{{ name }}
								</p>
								<p class="text text_s label c-bti-tertiary">Пользователь</p>
							</div>
							<mib-button size="m" type="ghost-secondary">
								<mib-icon
									btn-icon
									class="stroke"
									[name]="
										userPanel.isVisible ? 'fi_chevron-up' : 'fi_chevron-down'
									"
								></mib-icon>
							</mib-button>
						</div>
						<mib-dropdown #userPanel>
							<mib-spacing dropdown-spacing type="s"></mib-spacing>
							<mib-dropdown-point (press)="logout()" text="Сменить аккаунт">
								<mib-icon
									dropdown-point-left-icon
									class="stroke"
									name="fi_refresh-ccw"
								></mib-icon>
							</mib-dropdown-point>
							<mib-dropdown-point (press)="logout()" text="Выйти">
								<mib-icon
									dropdown-point-left-icon
									class="stroke"
									name="fi_log-out"
								></mib-icon>
							</mib-dropdown-point>
						</mib-dropdown>
					</ng-template>
				</ng-container>
				<ng-template #unsignedTemplate>
					<div class="flex burger-btn">
						<mib-mobile-menu></mib-mobile-menu>
					</div>
					<div class="logo-container flex flex_grow gap-16">
						<mib-icon
							class="main-logo-round cursor-pointer"
							[routerLink]="['/']"
							name="fi_logo_round_main"
						></mib-icon>
						<mib-icon
							class="cursor-pointer"
							[routerLink]="['/']"
							name="logotype"
						></mib-icon>
						<div class="menu flex flex_center gap-32">
							<a
								title="Перейти на страницу: Главная"
								class="text text_m c-wgr-quaternary"
								[routerLink]="['/']"
								routerLinkActive="active"
								[routerLinkActiveOptions]="{exact: true}"
								>Главная</a
							>
							<a
								title="Перейти на страницу: Тарифы"
								class="text text_m c-wgr-quaternary"
								[routerLink]="['/tariffs']"
								routerLinkActive="active"
								>Тарифы</a
							>
							<a
								title="Перейти на страницу: Клиентам"
								class="text text_m c-wgr-quaternary"
								[routerLink]="['/clients']"
								routerLinkActive="active"
								>Клиентам</a
							>
							<a
								title="Перейти на страницу: Контакты"
								class="text text_m c-wgr-quaternary"
								[routerLink]="['/contacts']"
								routerLinkActive="active"
								>Контакты</a
							>
						</div>
					</div>
					<ng-container
						*ngIf="
							showProfileButton ||
								(showProfileButton && !authService?.isUserLoggedIn);
							else loggedInUser
						"
					>
						<mib-button
							class="btn-login-desktop"
							[routerLink]="['/auth/login']"
							type="filled-primary"
							size="m"
							>Личный кабинет
							<mib-icon
								btn-right-icon
								class="stroke"
								name="fi_log-in"
							></mib-icon>
						</mib-button>
						<mib-button
							class="btn-login-mobile"
							[routerLink]="['/auth/login']"
							type="filled-primary"
							size="m"
						>
							<mib-icon btn-icon class="stroke" name="fi_log-in"></mib-icon>
						</mib-button>
					</ng-container>
					<ng-template #loggedInUser>
						<mib-button [routerLink]="['/']" type="filled-secondary" size="m">
							<mib-icon
								btn-icon
								class="stroke"
								name="fi_chevron-left"
							></mib-icon>
						</mib-button>
					</ng-template>
				</ng-template>
			</div>
		</div>
		<ng-template #admin>
			<div *ngIf="signedIn" class="flex flex_justify-end">
				<div
					class="container_m w-100 container_large flex flex_justify-between"
				>
					<div class="flex burger-btn">
						<mib-mobile-menu [isAdmin]="true"></mib-mobile-menu>
					</div>
					<div class="flex">
						<mib-icon
							class="main-logo-round cursor-pointer"
							[routerLink]="['/client/cabinet']"
							name="fi_logo_round_main"
						></mib-icon>
					</div>
					<mib-skeleton
						*ngIf="userLoading$ | async; else adminTemplate"
						[styles]="skeleton"
					></mib-skeleton>
					<ng-template #adminTemplate>
						<div
							[mibDropdownTrigger]="adminPanel"
							class="manager user flex gap-12"
						>
							<mib-avatar [showArrow]="false" [showImage]="false">{{
								nameInitials
							}}</mib-avatar>
							<div class="user-desktop flex flex_column">
								<p class="text name text_m text_medium c-bti-primary">
									{{ name }}
								</p>
								<p class="text text_s label c-bti-tertiary">{{ login }}</p>
							</div>
							<mib-button size="m" type="ghost-secondary">
								<mib-icon
									btn-icon
									class="stroke"
									[name]="
										adminPanel.isVisible ? 'fi_chevron-up' : 'fi_chevron-down'
									"
								></mib-icon>
							</mib-button>
						</div>
					</ng-template>
				</div>
				<mib-dropdown #adminPanel>
					<mib-spacing dropdown-spacing type="s"></mib-spacing>
					<mib-dropdown-point (press)="logout()" text="Выйти">
						<mib-icon
							dropdown-point-left-icon
							class="stroke"
							name="fi_log-out"
						></mib-icon>
					</mib-dropdown-point>
				</mib-dropdown>
			</div>
			<div
				*ngIf="!signedIn"
				class="container flex flex_justify-between flex_align-center"
			>
				<div class="flex burger-btn">
					<mib-mobile-menu [isAdmin]="true"></mib-mobile-menu>
				</div>
				<div class="logo-container flex flex_grow gap-16">
					<mib-icon
						class="main-logo-round cursor-pointer"
						[routerLink]="['/']"
						name="fi_logo_round_main"
					></mib-icon>
					<mib-icon
						class="cursor-pointer"
						[routerLink]="['/']"
						name="logotype"
					></mib-icon>
					<div class="menu flex flex_center gap-32">
						<a
							title="Перейти на страницу: Главная"
							class="text text_m c-wgr-quaternary"
							[routerLink]="['/']"
							routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}"
							>Главная</a
						>
						<a
							title="Перейти на страницу: Тарифы"
							class="text text_m c-wgr-quaternary"
							[routerLink]="['/tariffs']"
							routerLinkActive="active"
							>Тарифы</a
						>
						<a
							title="Перейти на страницу: Клиентам"
							class="text text_m c-wgr-quaternary"
							[routerLink]="['/clients']"
							routerLinkActive="active"
							>Клиентам</a
						>
						<a
							title="Перейти на страницу: Контакты"
							class="text text_m c-wgr-quaternary"
							[routerLink]="['/contacts']"
							routerLinkActive="active"
							>Контакты</a
						>
					</div>
				</div>
				<ng-container
					*ngIf="
						showProfileButton ||
							(showProfileButton && !authService?.isUserLoggedIn);
						else loggedInUser
					"
				>
					<mib-button
						class="btn-login-desktop"
						[routerLink]="['/auth/login']"
						type="filled-primary"
						size="m"
						>Личный кабинет
						<mib-icon btn-right-icon class="stroke" name="fi_log-in"></mib-icon>
					</mib-button>
					<mib-button
						class="btn-login-mobile"
						[routerLink]="['/auth/login']"
						type="filled-primary"
						size="m"
					>
						<mib-icon btn-icon class="stroke" name="fi_log-in"></mib-icon>
					</mib-button>
				</ng-container>
				<ng-template #loggedInUser>
					<mib-button [routerLink]="['/']" type="filled-secondary" size="m">
						<mib-icon btn-icon class="stroke" name="fi_chevron-left"></mib-icon>
					</mib-button>
				</ng-template>
			</div>
		</ng-template>
	</div>
</div>
