@import 'src/styles/typography.vars';
@import 'src/styles/helpers/icon_tools';

:host {
	background-color: var(--wgr-primary);
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
}

.header {
	& .menu a.active {
		color: var(--bti-secondary);
	}

	&-inner {
		padding: 9px 0;
		border-bottom: 1px solid var(--wgr-secondary);
	}
}

.extension {
	background-color: var(--wgr-secondary);
	padding: 16px 0;
}

.container {
	padding: 0 32px;
}

.name {
	@include text-overflow(1);
	max-width: 132px;
}

.manager {
	cursor: pointer;
	* {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.user {
	.name {
		max-width: 176px;
	}
}

.label {
	padding: 2px 0;
}

mib-icon[name='logotype'] {
	@include icon-size(unset);
	padding-right: 62px;
}
