<mib-drawer>
	<mib-drawer-header
		showProgressBar="true"
		(onClose)="dialogRef.close()"
		drawer-header
		[maxPage]="maxPage"
		[progress]="progress"
	>
	</mib-drawer-header>
	<mib-drawer-container [formGroup]="form">
		<p class="text text_m c-bti-secondary">Запрос на ЭПЦ</p>
		<ng-container [ngSwitch]="progress">
			<!-- первый скрин -->
			<ng-container *ngSwitchCase="progress === 1">
				<mib-spacing type="xs2"></mib-spacing>
				<h4>Основная информация</h4>
				<mib-spacing type="xs"></mib-spacing>
				<mib-tab-group class="flex_grow" type="filled">
					<mib-navbar size="m">
						<mib-navbar-point value="1" type="filled" class="flex_grow"
							>От юридического лиц</mib-navbar-point
						>
						<mib-navbar-point value="2" type="filled" class="flex_grow"
							>От ИП</mib-navbar-point
						>
					</mib-navbar>
					<!-- первый таб -->
					<mib-tab-item value="1">
						<mib-spacing type="xs"></mib-spacing>
						<mib-information type="information">
							<ng-container information-text
								>Инфо: Введите ИНН организации и остальные данные заполнятся
								автоматически
							</ng-container>
						</mib-information>
						<mib-spacing type="xs"></mib-spacing>
            <div class="flex flex_column gap-12">
              <mib-autocomplete
                formControlName="organizationINN"
                [options]="dataByINN"
                [innType]="true"
                label="Введите ИНН организации"
                class="flex_grow">
              </mib-autocomplete>
              <div class="flex gap-12 w-100">
                <mib-select formControlName="organizationType" class="w-27" placeholder="Организация">
                  <mib-dropdown-point
                    [value]="1"
                    text="ООО"
                  ></mib-dropdown-point>
                  <mib-dropdown-point
                    [value]="2"
                    text="ЗАО"
                  ></mib-dropdown-point>
                  <mib-dropdown-point
                    [value]="3"
                    text="ПАО"
                  ></mib-dropdown-point>
                  <mib-dropdown-point
                    [value]="4"
                    text="ОАО"
                  ></mib-dropdown-point>
                  <mib-dropdown-point
                    [value]="5"
                    text="НАО"
                  ></mib-dropdown-point>
                  <mib-dropdown-point
                    [value]="6"
                    text="АО"
                  ></mib-dropdown-point>
                </mib-select>
                <mib-input class="flex_grow">
                  <input formControlName="organizationShortName" mibInput />
                  <ng-container mibLabel
                  >Краткое наименование организации</ng-container
                  >
                </mib-input>
              </div>
              <mib-input class="flex_grow">
                <input formControlName="organizationFullName" mibInput />
                <ng-container mibLabel
                >Полное наименование организации</ng-container
                >
              </mib-input>
              <div class="flex gap-12">
                <mib-input class="flex_grow">
                  <input formControlName="organizationKPP" mibInput />
                  <ng-container mibLabel>КПП</ng-container>
                </mib-input>
                <mib-input class="flex_grow">
                  <input formControlName="organizationOGRN" mibInput />
                  <ng-container mibLabel>ОГРН</ng-container>
                </mib-input>
              </div>
              <mib-input class="flex_grow">
                <input formControlName="organizationOKPO" mibInput />
                <ng-container mibLabel>ОКПО</ng-container>
              </mib-input>
              <div class="flex gap-12">
                <mib-input class="flex_grow">
                  <input formControlName="organizationPhone" mibInput />
                  <ng-container mibLabel>Номер телефона</ng-container>
                </mib-input>
                <mib-input class="flex_grow">
                  <input formControlName="organizationEmail" mibInput />
                  <ng-container mibLabel>Электронная почта</ng-container>
                </mib-input>
              </div>
              <mib-input class="flex_grow">
                <input formControlName="organizationLegalAddress" mibInput />
                <ng-container mibLabel>Юридический адрес</ng-container>
              </mib-input>
              <mib-checkbox formControlName="organizationIsActualAdressEqual" class="gap-8">
								<span class="text text_m"
                >Фактический адрес совпадает с юридическим</span
                >
              </mib-checkbox>
              <mib-input class="flex_grow">
                <input formControlName="organizationActualAddress" mibInput />
                <ng-container mibLabel>Фактический адрес</ng-container>
              </mib-input>
            </div>
						<mib-spacing type="m"></mib-spacing>
					</mib-tab-item>
					<!-- второй таб -->
					<mib-tab-item value="2">
						<mib-spacing type="xs"></mib-spacing>
						<mib-information type="information">
							<ng-container information-text
								>Инфо: Введите ИНН организации и остальные данные заполнятся
								автоматически
							</ng-container>
						</mib-information>
						<mib-spacing type="xs"></mib-spacing>
						<div class="flex flex_align-center gap-12">
							<mib-input class="flex_grow">
								<input disabled mibInput />
								<ng-container mibLabel>Введите ИНН организации</ng-container>
							</mib-input>
						</div>
						<mib-spacing type="m"></mib-spacing>
					</mib-tab-item>
				</mib-tab-group>
			</ng-container>
			<!-- третий скрин -->
			<ng-container *ngSwitchCase="2">
				<mib-spacing type="xs2"></mib-spacing>
				<h4>Данные о владельце сертификата</h4>
				<mib-spacing type="xs"></mib-spacing>
				<div class="flex flex_column gap-12">
					<div class="flex gap-12">
						<mib-input class="flex_grow">
							<input formControlName="ownerSurname" mibInput />
							<ng-container mibLabel>Фамилия</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input formControlName="ownerName" mibInput />
							<ng-container mibLabel>Имя</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input formControlName="ownerMiddlename" mibInput />
							<ng-container mibLabel>Отчество</ng-container>
						</mib-input>
					</div>
					<div class="flex flex_column">
						<p class="text text_s c-bti-tertiary">Пол</p>
						<div class="flex pt-4">
							<mib-checkbox class="gap-8 flex_grow">
								<span class="text text_m">Мужской</span>
							</mib-checkbox>
							<mib-checkbox class="gap-8 flex_grow">
								<span class="text text_m">Женский</span>
							</mib-checkbox>
						</div>
					</div>
					<mib-input>
						<input formControlName="ownerINN" mibInput />
						<ng-container mibLabel>ИНН</ng-container>
					</mib-input>
					<mib-input>
						<input formControlName="ownerINN" mibInput />
						<ng-container mibLabel>СНИЛС</ng-container>
					</mib-input>
					<mib-input>
						<input formControlName="ownerDateBurn" type="date" mibInput />
						<ng-container mibLabel>Дата рождения</ng-container>
					</mib-input>
					<mib-input>
						<input formControlName="ownerPlaceBurn" mibInput />
						<ng-container mibLabel>Место рождения</ng-container>
					</mib-input>
					<mib-input>
						<input formControlName="ownerWorkPosition" mibInput />
						<ng-container mibLabel>Должность в компании</ng-container>
					</mib-input>
				</div>
				<mib-spacing type="s"></mib-spacing>
				<div class="flex flex_column gap-8">
					<p class="headline">Контактные данные</p>
					<div class="flex gap-12">
						<mib-input class="flex_grow">
							<input formControlName="ownerPhone" mibInput />
							<ng-container mibLabel>Мобильный телефон</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input formControlName="ownerEmail" mibInput />
							<ng-container mibLabel>Электронная почта</ng-container>
						</mib-input>
					</div>
				</div>
				<mib-spacing type="s"></mib-spacing>
				<div class="flex flex_column gap-12">
					<p class="headline">Паспортные данные</p>
					<div class="flex">
						<mib-select
							class="w-100"
							type="outline"
							placeholder="Гражданство РФ"
              formControlName="passportNationality"
						>
							<mib-dropdown-point
								[value]="true"
								text="Гражданство РБ"
							></mib-dropdown-point>
						</mib-select>
					</div>
					<div class="flex gap-12">
						<mib-input class="flex_grow">
							<input formControlName="passportNumber" mibInput />
							<ng-container mibLabel>Серия</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input formControlName="passportCode" mibInput />
							<ng-container mibLabel>Номер</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input formControlName="passportDate" type="date" mibInput />
							<ng-container mibLabel>Дата выдачи</ng-container>
						</mib-input>
					</div>
					<mib-input>
						<input formControlName="passportCode" mibInput />
						<ng-container mibLabel>Код подразделения</ng-container>
					</mib-input>
					<mib-input>
						<input formControlName="passportFrom" mibInput />
						<ng-container mibLabel>Кем выдан паспорт</ng-container>
					</mib-input>
				</div>
				<mib-spacing type="xs"></mib-spacing>
				<div class="flex flex_column gap-12">
					<p class="headline">Прикрепите скан-копию паспорта в поле ниже</p>
					<mib-dnd
						(onChange)="onDocumentLoad($event)"
						[accept]="[
							'application/pdf',
							'application/msword',
							'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
							'application/vnd.ms-excel',
							'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
							'image/jpeg',
							'image/png'
						]"
						headline="Прикрепите документ"
					></mib-dnd>
					<p class="text text_xs c-bti-tertiary">
						Допустимые форматы для документов: PDF, DOC, DOCX, XLS, XLSX, JPEG,
						PNG
					</p>
				</div>
			</ng-container>
			<!-- четвертый скрин -->
			<ng-container *ngSwitchCase="3">
				<mib-spacing type="xs2"></mib-spacing>
				<h4>Распечатайте заявку</h4>
				<mib-spacing type="xs"></mib-spacing>
				<mib-information type="alert">
					<ng-container information-text
						>Внимание: перед отправкой необходимо установить заявку и
						распечатать ее на принтере. Распечатка обязательно понадобится при
						сверке документов при получении сертификата
					</ng-container>
				</mib-information>
				<mib-spacing type="xs"></mib-spacing>
				<div class="flex flex_align-center document">
					<div class="flex flex_grow gap-4">
						<span class="text text_m c-bti-primary"> Название документа </span>
						<span class="text text_m c-bti-tertiary"> 2,37мб </span>
					</div>
					<div class="flex">
						<mib-button type="ghost-primary" (press)="downloadFile()">
							<mib-icon
								mibLeftIcon
								class="stroke"
								name="fi_download"
							></mib-icon>
							<span>Скачать заявку</span>
						</mib-button>
					</div>
				</div>
				<mib-spacing type="m"></mib-spacing>
				<p class="text text_m c-bti-secondary">
					После установки заявке, распечатайте ее на принтере и отсканируйте,
					после чего прикрепите ее в разделе ниже.
				</p>
				<mib-spacing type="s"></mib-spacing>
				<p class="text text_m c-bti-primary">
					Прикрепите скан заполненной заявки
				</p>
				<mib-spacing type="xs2"></mib-spacing>
				<div class="flex flex_column gap-12">
					<mib-dnd
						(onChange)="onDocumentLoad($event)"
						[accept]="[
							'application/pdf',
							'application/msword',
							'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
							'application/vnd.ms-excel',
							'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
							'image/jpeg',
							'image/png'
						]"
						headline="Прикрепите документ"
					></mib-dnd>
					<div>
						<p class="text text_xs c-bti-tertiary">
							Допустимые форматы для документов: PDF, DOC, DOCX, XLS, XLSX,
							JPEG, PNG
						</p>
						<p class="text text_xs c-bti-tertiary">
							Размер каждого документа не должен превышать 10 МБ
						</p>
					</div>
				</div>
				<mib-spacing type="m"></mib-spacing>
			</ng-container>
			<div *ngSwitchDefault>
				<h4>default switch</h4>
			</div>
		</ng-container>
	</mib-drawer-container>
	<!-- дровер футер -->
	<mib-drawer-footer drawer-footer>
		<div class="flex w-100 flex_justify-between">
			<div class="flex">
				<mib-button
					[ngStyle]="{display: progress <= 1 ? 'none' : 'block'}"
					(click)="prevPage()"
					size="m"
					type="filled-secondary"
					>Назад</mib-button
				>
			</div>
			<div class="flex">
				<mib-button
					[ngStyle]="{display: progress === maxPage ? 'none' : 'block'}"
					(click)="nextPage()"
					size="m"
					type="filled-primary"
					>Продолжить
				</mib-button>
				<mib-button
					[ngStyle]="{display: progress === maxPage ? 'block' : 'none'}"
					(click)="submitData()"
					size="m"
					type="filled-primary"
					>Отправить</mib-button
				>
			</div>
		</div>
	</mib-drawer-footer>
</mib-drawer>
