.limit {
	& mib-cash-panel {
		min-width: 380px;
	}
}

.hide {
	display: none;
}

.contracts-accordion {
	border-top: 1px solid var(--bg-social-color);
	border-bottom: 1px solid var(--bg-social-color);
	transition: var(--transition);
}

.extended {
	background: var(--wgr-primary);
}
