<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="requests">
    <p-accordion>
      <p-accordionTab header="{{requests.at(i).value.Title || 'Выберите договор поставки...'}}"
        *ngFor="let request of requests.controls; let i=index">
        <div class="p-fluid p-formgrid p-grid form">
          <div class="p-field p-col-12 p-md-6">
            <label for="deliveryID">Договор поставки:</label>
            <p-dropdown id="delivery" [options]="deliveries" placeholder="Выберите договор поставки" optionLabel="Title"
              (onChange)="deliveryChanged(i)" valueLabel="ID" [formControlName]="i"></p-dropdown>
          </div>
          <div class="p-field p-col-12 p-md-6">
            <label for="date">Дата: </label>
            <input id="date" type="text" pInputText placeholder="Дата"
              value="{{requests.at(i).value.DateFrom || '...'}}" [disabled]="true">
          </div>
        </div>

        <div class="card">
          <div class="mib-toolbar">
            <button type="button" pButton pRipple label="Добавить" class="p-mr-2" (click)="openNew(false, i)"></button>
            <button type="button" pButton pRipple label="Редактировать" class="p-mr-2" (click)="openNew(true, i)"></button>
            <button type="button" pButton pRipple label="Удалить ({{selectedShipments.length}})" class="p-mr-2"
              (click)="deleteShipments(i)"></button>
          </div>

          <p-table [rows]="10" [rowHover]="true" [value]="shipments[i]?.shipmnets" selectionMode="multiple"
            [(selection)]="selectedShipments">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                  <div class="m-th">
                    <div>ID</div>
                  </div>
                </th>
                <th>
                  <div class="m-th">
                    <div>Накладная</div>
                  </div>
                </th>
                <th>
                  <div class="m-th">
                    <div>Дата накладной</div>
                  </div>
                </th>
                <th>
                  <div class="m-th">
                    <div>Счёт-фактура</div>
                  </div>
                </th>
                <th>
                  <div class="m-th">
                    <div>Дата счёт-фактуры</div>
                  </div>
                </th>
                <th>
                  <div class="m-th">
                    <div>Дата поставки</div>
                  </div>
                </th>
                <th>
                  <div class="m-th">
                    <div>Сумма</div>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-shipment>
              <tr>
                <td>
                  <p-tableCheckbox [value]="shipment"></p-tableCheckbox>
                </td>
                <td>
                  <div class="m-td">
                    <div>{{shipment.ID}}</div>
                  </div>
                </td>
                <td>
                  <div class="m-td">
                    <div>{{shipment.AccountNumber}}</div>
                  </div>
                </td>
                <td>
                  <div class="m-td">
                    <div>{{shipment.AccountDate | date:'dd/MM/yyyy'}}</div>
                  </div>
                </td>
                <td>
                  <div class="m-td">
                    <div>{{shipment.InvoiceNumber}}</div>
                  </div>
                </td>
                <td>
                  <div class="m-td">
                    <div>{{shipment.InvoiceDate | date:'dd/MM/yyyy'}}</div>
                  </div>
                </td>
                <td>
                  <div class="m-td">
                    <div>{{shipment.DateShipment | date:'dd/MM/yyyy'}}</div>
                  </div>
                </td>
                <td>
                  <div class="m-td">
                    <div>{{shipment.Summ | currency:'RUB':'symbol'}}</div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="7" class="p-text-right"></td>
                <td>{{getShipmentsSum(i) | currency:'RUB':'symbol' }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-accordionTab>
    </p-accordion>
    <div class="p-field p-col-12 p-md-12">
      <button id="btn_submit" pButton pRipple type="button" label="Добавить заявку" (click)="addRequest()"
        class="btn-mib-submit p-button-outlined"></button>
    </div>
  </div>
  <div class="p-field p-col-12 p-md-12">
    <button id="btn_submit" pButton pRipple type="submit" label="Сохранить изменения" class="btn-mib-submit"></button>
  </div>
</form>

<p-dialog [style]="{width: '650px'}" [(visible)]="addDeliveryDialog" header="Накладная" [modal]="true"
[draggable]="false" [resizable]="false" styleClass="p-fluid">
<ng-template pTemplate="content">
  <form [formGroup]="shipmentForm" (ngSubmit)="addShipment()">
    <div class="p-field">
      <label for="accountNumber">Накладная: </label>
      <input id="accountNumber" type="text" pInputText placeholder="Накладная"
        formControlName="accountNumber">
      <div *ngIf="shipmentForm.controls['accountNumber'].invalid">
        <small *ngIf="shipmentForm.controls['accountNumber'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field">
      <label for="accountDate">Дата накладной: </label>
      <p-calendar id="accountDate" formControlName="accountDate" [maxDate]="maxDate"
        placeholder="Дата накладной" [readonlyInput]="true"></p-calendar>
      <div *ngIf="shipmentForm.controls['accountDate'].invalid">
        <small *ngIf="shipmentForm.controls['accountDate'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field">
      <label for="invoiceNumber">Счет-фактура: </label>
      <input id="invoiceNumber" type="text" pInputText placeholder="Счет-фактура"
        formControlName="invoiceNumber">
      <div *ngIf="shipmentForm.controls['invoiceNumber'].invalid">
        <small *ngIf="shipmentForm.controls['invoiceNumber'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field">
      <label for="invoiceDate">Дата счета-ф: </label>
      <p-calendar id="invoiceDate" formControlName="invoiceDate" [maxDate]="maxDate"
        placeholder="Дата счета-ф" [readonlyInput]="true"></p-calendar>
      <div *ngIf="shipmentForm.controls['invoiceDate'].invalid">
        <small *ngIf="shipmentForm.controls['invoiceDate'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>

    <div class="p-field">
      <label for="dateShipment">Дата поставки: </label>
      <p-calendar id="dateShipment" formControlName="dateShipment" [maxDate]="maxDate"
        placeholder="Дата поставки" [readonlyInput]="true"></p-calendar>
      <div *ngIf="shipmentForm.controls['dateShipment'].invalid">
        <small *ngIf="shipmentForm.controls['dateShipment'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field">
      <label for="summ">Сумма: </label>
      <input id="summ" type="number" pInputText placeholder="Сумма" formControlName="summ" min="1">
      <div *ngIf="shipmentForm.controls['summ'].invalid">
        <small *ngIf="shipmentForm.controls['summ'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="modal-actions">
      <button pButton pRipple label="Сформировать" class="p-button-text save" type="submit"
        [disabled]="shipmentForm.invalid"></button>
      <button pButton pRipple label="Отменить" class="p-button-text cancel"></button>
    </div>

  </form>
</ng-template>
</p-dialog>
