@import 'src/styles/_colors.vars.scss';

@mixin modal {
	display: flex;
	max-width: 432px;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;

	border-radius: 16px;
	background: var(--wgr-primary);
	box-shadow: var(--shadow-normal);
}

.modal {
	@include modal;
}
