:host {
	// height: 100%;
	// width: 100%;
}

@mixin modal {
	display: flex;
	width: 432px;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;

	border-radius: 16px;
	background: var(--Gradation-Primary, #fff);

	/* Shadow/Normal */
	box-shadow: 0px 8px 16px 0px rgba(9, 13, 17, 0.08);
}

@mixin modal-content {
	// padding: 0 32px;
	// overflow-y: scroll;
}

.modal {
	@include modal;

	&-content {
		@include modal-content;
	}

	.footer {
		// position: absolute;
		// bottom: 0;
		// left: 0;
		// width: 100%;
	}
}
