<div class="widget widget__actions">
  <div class="widget__header">
    <h4 class="widget__title">
      Быстрые действия
    </h4>
  </div>
  <div class="widget__content widget__content-actions">
    <div class="quick-action" [routerLink]="['/requests']">
      <img src="../../../../../../../assets/icons/quick-actions/document-icon.svg" alt="">
    </div>
    <div class="quick-action" [routerLink]="['/invoices']">
      <img src="../../../../../../../assets/icons/quick-actions/borrow-icon.svg" alt="">
    </div>
    <div class="quick-action" [routerLink]="['/reports']">
      <img src="../../../../../../../assets/icons/quick-actions/loan-icon.svg" alt="">
    </div>
    <div class="quick-action" [routerLink]="['/demand']">
      <img src="../../../../../../../assets/icons/quick-actions/coin-icon.svg" alt="">
    </div>
    <div class="quick-action" [routerLink]="['/documents']">
      <img src="../../../../../../../assets/icons/quick-actions/clock-icon.svg" alt="">
    </div>
  </div>
</div>
