<!-- Создание запроса -->
<ng-template [ngIf]="currentDemandType === demandType.CREATE">
  Создание
</ng-template>
<!-- Редактирование созданной заявки -->
<ng-template [ngIf]="currentDemandType === demandType.EDIT_CREATED">
  Редактирование созданной заявки
</ng-template>
<!-- Редактирование черновика -->
<ng-template [ngIf]="currentDemandType === demandType.EDIT_DRAFT">
  Редактирование черновика
</ng-template>
<!-- Просмотр закрытого запроса -->
<ng-template [ngIf]="currentDemandType === demandType.VIEW">
  Просмотр закрытой
</ng-template>
