<div
	mibDrop
	(fileDropped)="onDrop($event)"
	[class.disabled]="loading || disabled"
	[class.loading]="loading"
	class="drag-and-drop flex flex_center text-center flex_column gap-4"
	(click)="openFileManager()"
	[ngClass]="classes"
>
	<div *ngIf="isDesktop; else mobile">
		<ng-container *ngIf="!dropDirective?.fileOver; else fileOver">
			<div class="flex flex_align-center gap-4">
				<mib-icon
					*ngIf="showIcon"
					class="stroke"
					name="{{ IconName ? IconName : 'fi_file-text' }}"
				></mib-icon>
				<p class="text text_m text_medium">{{ headline }}</p>
			</div>
			<div class="flex flex_align-center gap-4">
				<p class="text text_s c-bti-secondary">{{ text }}</p>
				<mib-link [disabled]="disabled" *ngIf="showPicker" size="s">{{ actionText }}</mib-link>
			</div>
		</ng-container>
		<ng-template #fileOver>
			<p class="text text_s c-bti-tertiary">{{ fileOverText }}</p>
		</ng-template>
	</div>
	<ng-template #mobile>
		<div class="mobile flex">
			<mib-button>
				Прикрепить документы
				<mib-icon btn-left-icon class="stroke" name="fi_plus"></mib-icon>
			</mib-button>
		</div>
	</ng-template>
</div>
<input
	(change)="onChangeFile()"
	type="file"
	[multiple]="multiple"
	[accept]="accept.join(',')"
	#loader
	style="display: none"
/>
