<div class="flex flex_column">
	<div
		class="flex flex_justify-center island"
		mibElementInView
		(onEntry)="islandIsIntersecting = $event"
	>
		<mib-table-quick-action-island
			*ngIf="table.selectedRows.length && showIsland"
			[class.fixed]="!islandIsIntersecting"
			[showRemove]="showRemove"
		>
			<ng-container table-quick-action-island-left>
				<ng-content select="[table-footer-action]"></ng-content>
			</ng-container>
		</mib-table-quick-action-island>
	</div>
	<div class="flex flex_justify-center">
		<ng-content></ng-content>
	</div>
</div>
