@import 'src/styles/typography.vars';
@import 'src/styles/helpers/_icon_tools';

$text-selectors: 'label';

:host {
	flex: var(--table-flex);
  display: block;
  overflow: hidden;

  &:first-child {
    padding-left: var(--table-left-padding);
    & > div {
      justify-content: start;
    }
  }
  &:last-child {
    padding-right: var(--table-right-padding);
  }

	@media (max-width: 576px) {
		&:not(:first-child):not(:nth-child(2)) {
			display: none;
		}

		.table-cell {
			border-right: none;
		}
	}

  background: var(--wgr-primary);
  border-bottom: var(--collapse);

  &.table-cell-content-is-hidden {
    .table-cell {
      display: none;
    }
  }
}

:host:has(.special) {
	& > div {
		justify-content: start;
	}
}

.table-cell {
	min-height: 48px;
	//border-right: var(--collapse);
  overflow: hidden;
  &-container {
    width: 100%;
    flex-grow: 1;
    padding: 12px 4px;
  }
	#{$text-selectors} {
		@include body-text;
		@include text-overflow(1);
    display: block;
	}

	&_type {
		&-main {
			#{$text-selectors} {
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}
		&-editable {
			padding: 0;
			::ng-deep {
				.input {
					padding-left: 0 !important;
				}
			}
		}
	}
	.description {
		padding: 2px 0;
	}
	&_size {
		&-s {
			#{$text-selectors} {
				@include text-s;
			}
		}
		&-m {
			#{$text-selectors} {
				@include text-m;
			}
		}
	}
}
