<div class="p-d-flex p-jc-center">
  <p-card class="auth-body">
    <a class="logo" href="#/"><img alt="metallinvest logo" src="assets/images/logo_big_normal_svg.svg"></a>
    <metib-backend-error-messages *ngIf="backendErrors$ | async" [backendErrors]="backendErrors$ | async">
    </metib-backend-error-messages>

    <h1>Смена пароля</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Password -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="password">Новый Пароль</label>
          <input id="password" type="password" pInputText placeholder="Новый Пароль" formControlName="password"
            [ngClass]="{'mib-border-danger': form.get('password').invalid && form.get('password').touched}">
          <small class="p-error" *ngIf="form.get('password').invalid && form.get('password').touched">
            <div *ngIf="form.get('password').errors['required']">
              Поле Пароль не должно быть пустым
            </div>
            <div *ngIf="form.get('confirmPassword').errors['confirmedValidator']">Пароли должны совпадать.</div>
          </small>
        </div>
        <div class="p-field p-col">
          <label for="confirmPassword">Подтвердите Пароль</label>
          <input id="confirmPassword" type="password" pInputText placeholder="Подтвердите Пароль"
            formControlName="confirmPassword"
            [ngClass]="{'mib-border-danger': form.get('confirmPassword').invalid && form.get('confirmPassword').touched}">
          <small class="p-error" *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched">
            <div *ngIf="form.get('confirmPassword').errors['required']">
              Поле Подтвердите Пароль не должно быть пустым
            </div>
            <div *ngIf="form.get('confirmPassword').errors['confirmedValidator']">Пароли должны совпадать.</div>
          </small>
        </div>
      </div>

      <div class="p-d-flex p-jc-between" *ngIf="!(confirmationCode$ | async)">
        <p-button styleClass="p-button-link" [routerLink]="['/auth/login']" label="Назад"></p-button>
        <button pButton type="submit" [disabled]="isSubmitting$ | async" label="Сменить пароль"></button>
      </div>
    </form>
  </p-card>
</div>
