@media (max-width: 576px) {
	.container {
		padding: 0;

		& h3 {
			padding: 0 16px;
		}

		& mib-spacing[type='m'] {
			height: 24px;
			display: block;
		}

		& > div {
			width: 100%;
			display: block;
		}
	}

	.mobile-input {
		padding: 0 16px;
		& mib-input {
			width: 100%;
		}
	}

	.desktop-exp,
	.balancer {
		display: none;
	}

	.displaySumm {
		display: flex !important;
	}
}
