@media (max-width: 576px) {
	.container {
		padding: 0 16px;

		& mib-spacing[type='m'] {
			height: 24px;
			display: block;
		}

		& > div {
			width: 100%;
			display: block;
		}
	}

	.mobile-input {
		& mib-input {
			width: 100%;
		}
	}
}
