<section class="promo fluid">
  <div class="content promo_inner">
    <div class="promo_inner_content">
      <h1>Факторинг для поставщиков</h1>
      <p class="description">
        Продавая товары с отсрочкой платежа Вы получаете в оплату дебиторскую
        задолженность. Факторинг - самый быстрый, безопасный и дешевый способ
        превратить дебиторскую задолженность в деньги!
      </p>
      <div class="actions">
        <mib-button [title]="'Получить финансирование'" [theme]="'regular'"></mib-button>
      </div>
      <div class="information">
        <div class="card">
          <div class="icon"></div>
          <div class="text">
            Страховка вероятности дефолта покупателя
          </div>
        </div>
        <div class="card">
          <div class="icon"></div>
          <div class="text">
            Увеличение объёма
            продаж
          </div>
        </div>
        <div class="card">
          <div class="icon"></div>
          <div class="text">
            Добиться более выгодных условий от своих поставщиков
          </div>
        </div>
        <div class="card">
          <div class="icon"></div>
          <div class="text">
            Миновать кассовые
            разрывы
          </div>
        </div>
      </div>
    </div>
    <div class="promo_inner_image"></div>
  </div>
</section>
<section class="advantages">

</section>
<section class="offer">

</section>
<section class="how-work">

</section>
<section class="partners">

</section>
<section class="news">

</section>
<section class="contacts">

</section>
