.promo {
  height: 710px;
  background: #FFFFFF;
  box-shadow: 0px 15px 25px rgba(12, 131, 241, 0.03);
  border-radius: 0px 0px 20px 20px;

  margin: 0 auto;
  max-width: 1400px;
  background-image: url('../../../../assets/public/image_promo.png');
  background-repeat: no-repeat;
  background-position: right bottom;

  &_inner {
    height: 100%;
    display: flex;
    max-width: 1100px;

    &_content {
      width: 600px;

      .intro {
        h1 {
          margin-bottom: 2.25rem;
        }

        .description {
          margin-bottom: 3rem;
        }

        margin-bottom: 5.25rem;
      }

      .information {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;

        .card {
          display: flex;
          flex: 1 1 280px;

          .icon {
            width: 25px;
            height: 25px;
            margin-right: 20px;
          }

          .text {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #656565;
          }
        }
      }
    }
  }
}



.advantages {
  background: #F7F7F7;
  border-radius: 20px;

  &_cards {
    margin-top: 3.625rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: center;
  }
}

.offer {
  background: white;
  border-radius: 20px;
  padding-bottom: 56px;
}

.how-work {
  background: #F7F7F7;
  border-radius: 20px;
  height: 35.875rem;

  &__items {
    margin-top: 7.8rem;
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      flex-direction: column;

      .icon {
        img {
          height: 70px;
          width: 70px;
        }
      }

      .step {
        height: 35px;
        width: 35px;

        background: #0C83F1;
        box-shadow: 0px 10px 15px rgba(12, 131, 241, 0.2);
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        text-align: center;

        color: #FFFFFF;
      }

      .desc {
        text-align: center;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #102538;
      }
    }
  }
}

.partners {
  background: white;
  height: 500px;
  border-radius: 20px;
}

.news {
  background: #F7F7F7;
  height: 500px;
  border-radius: 20px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 350px;

  .summary_item {
    .title {
      display: flex;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #102538;

      img {
        margin-right: 10px;
      }
    }

    .desc {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #989898;
    }
  }
}
