<section class="mib-section promo fluid">
  <div class="mib-container content promo_inner">
    <div class="promo_inner_content">
      <div class="intro">
        <h1>Факторинг для поставщиков</h1>
        <p class="description">
          Продавая товары с отсрочкой платежа Вы получаете в оплату дебиторскую
          задолженность. Факторинг - самый быстрый, безопасный и дешевый способ <br>
          превратить дебиторскую задолженность в деньги!
        </p>
        <div class="actions">
<!--          <mib-button (click)="showDialog()" [title]="'Получить финансирование'" [theme]="'regular'">-->
<!--          </mib-button>-->
        </div>
      </div>

      <div class="information">
        <div class="card">
          <div class="icon">
            <img src="/assets/icons/svg/icon-success.svg" alt="">
          </div>
          <div class="text">
            Страховка вероятности дефолта покупателя
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/assets/icons/svg/icon-success.svg" alt="">
          </div>
          <div class="text">
            Увеличение объёма <br>
            продаж
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/assets/icons/svg/icon-success.svg" alt="">
          </div>
          <div class="text">
            Добиться более выгодных условий от своих поставщиков
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/assets/icons/svg/icon-success.svg" alt="">
          </div>
          <div class="text">
            Миновать кассовые <br>
            разрывы
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mib-section advantages">
  <div class="mib-container">
    <h2>Преимущества факторинга</h2>
    <div class="advantages_cards">
      <mib-card-info [icon]="'/assets/icons/svg/icon-money.svg'" [size]="'xl'"
        [text]="'Факторинг помогает разморозить деньги, зависшие в дебиторке, и сразу направить их в оборот'">
      </mib-card-info>
      <mib-card-info [icon]="'/assets/icons/svg/icon-vector.svg'" [size]="'xl'"
        [text]="'Покрытие кассовых разрывов за счет поступления финансирования на следующий день после отгрузки товара'">
      </mib-card-info>
      <mib-card-info [icon]="'/assets/icons/svg/icon-settings.svg'" [size]="'xl'"
        [text]="'Развитие бизнеса за счет ускорения оборачиваемости капитала'"></mib-card-info>
      <mib-card-info [icon]="'/assets/icons/svg/icon-safe.svg'" [size]="'xl'"
        [text]="'Отсутствие риска неоплаты со стороны Дебитора (при факторинге без регресса)'"></mib-card-info>
      <mib-card-info [icon]="'/assets/icons/svg/icon-normal.svg'"
        [text]="'Отсутствие залогового обеспечения'"></mib-card-info>
      <mib-card-info [icon]="'/assets/icons/svg/icon-agile.svg'"
        [text]="'Гибкость и прозрачность схемы работы по факторингу'"></mib-card-info>
      <mib-card-info [icon]="'/assets/icons/svg/icon-summ.svg'"
        [text]="'Сумма финансирования устанавливается в зависимости от запроса клиента'" [isLast]="true">
      </mib-card-info>
    </div>
  </div>
</section>
<section class="mib-section offer">
  <div class="mib-container">
    <h2>Мы предлагаем</h2>
    <mib-tab class="mt-20">
      <mib-tab-item>
        <mib-tab-label>Внутренний факторинг</mib-tab-label>
        <mib-tab-body>
          <div class="summary">
            <div class="summary_item">
              <div class="title">
                <img src="../../../../assets/icons/svg/icon-success.svg" alt="">
                Факторинг с регрессом
              </div>
              <div class="desc">
                <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s -->
              </div>
            </div>
            <div class="summary_item">
              <div class="title">
                <img src="../../../../assets/icons/svg/icon-success.svg" alt="">
                Факторинг без регресса
              </div>
              <div class="desc">
                <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s -->
              </div>
            </div>
          </div>
          <div class="image">
            <img src="/assets/images/offer_one.png" alt="">
          </div>
        </mib-tab-body>
      </mib-tab-item>
      <mib-tab-item>
        <mib-tab-label>Международный факторинг</mib-tab-label>
        <mib-tab-body>
          <div class="summary">
            <div class="summary_item">
              <div class="title">
                <img src="/assets/icons/svg/icon-success.svg" alt="">
                Импортный факторинг
              </div>
              <div class="desc">
                <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s -->
              </div>
            </div>
            <div class="summary_item">
              <div class="title">
                <img src="/assets/icons/svg/icon-success.svg" alt="">
                Экспортный факторинг
              </div>
              <div class="desc">
                <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s -->
              </div>
            </div>
          </div>
          <div class="image">
            <img src="/assets/images/offer_two.png" alt="">
          </div>
        </mib-tab-body>
      </mib-tab-item>
    </mib-tab>
  </div>
</section>
<section class="mib-section how-work">
  <div class="mib-container mobile-pb-58">
    <h2>Как это работает?</h2>
  </div>
  <div class="mib-container-fluid how-work__items">
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="/assets/icons/svg/how-it-works/delivery-box-1.svg" alt="">
      </div>
      <div class="step">1
      </div>
      <div class="desc">
        Поставщик отгружает
        товары на условиях
        отсрочки платежа
      </div>
    </div>
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="/assets/icons/svg/how-it-works/file-2.svg" alt="">
      </div>
      <div class="step">2
      </div>
      <div class="desc">
        Клиент заполняет
        заявку в личном кабинете
        на сайте <a href="https://fct.metallinvestbank.ru/login" target="blank">factoring.metallinvestbank.ru</a>
      </div>
    </div>
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="/assets/icons/svg/how-it-works/contract-3.svg" alt="">
      </div>
      <div class="step">3
      </div>
      <div class="desc">
        Поставщик подписывает
        договор с ПАО АКБ Металлинвестбанк
      </div>
    </div>
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="/assets/icons/svg/how-it-works/save-money-4.svg" alt="">
      </div>
      <div class="step">4
      </div>
      <div class="desc">
        Банк финансирует
        поставщика
      </div>
    </div>
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="/assets/icons/svg/how-it-works/money-bag-5.svg" alt="">
      </div>
      <div class="step">5
      </div>
      <div class="desc">
        Дебитор оплачивает
        100% уступленной
        задолженности по истечению
        срока отсрочки
      </div>
    </div>
  </div>
  <div class="line"></div>
</section>
<section class="mib-section partners">
  <div class="mib-container">
    <h2>Наши партнёры</h2>
    <div class="desc-partners">
      Металлинвестбанк входит в 10-ку крупнейших Факторов России. В нашей базе более 200 контрагентов - дебиторов с
      открытыми лимитами финансирования. Каждый день, по просьбам наших клиентов, список наших партнеров пополняется.
      Вот крупнейшие из них.
    </div>
    <div class="mib-slider-wrapper__partnerts">
      <mib-slider-partners [partners]="partners"></mib-slider-partners>
    </div>
    <!-- <mib-slider>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/billa.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/diksi.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/familia.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/home.html.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/inmarko.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/instrument.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/katren.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/lamoda.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/lenta.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/leroy.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/megaphone.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/metro.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/mvideo.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/myasnov.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/nestle.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/obi.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/ok.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/petr.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/post.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/potek.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/stroy.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/uni.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/vimpel.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../../assets/public/partners/old_svg/x5.svg" alt="">
      </div>
    </mib-slider> -->
  </div>
</section>
<section class="mib-section news">
  <div class="mib-container">
    <h2>Пресс-центр</h2>
    <mib-slider-news [news]="news"></mib-slider-news>
    <!-- <mib-slider [theme]="'news'">
      <mib-card-news *ngFor="let card of news" [id]=card.ID [title]=card.Title [date]=card.Date [desc]=card.Desc
        (read)="onReadHandler($event)">
      </mib-card-news>
    </mib-slider> -->
  </div>
</section>

<!-- Modals -->
<mib-modal id="get-finance" [width]="'350px'" [title]="'Финансирование'">
  <form class="one-column" [formGroup]="financeForm">
    <input type="text" formControlName="organization" placeholder="Ваш контрагент">
    <input type="text" formControlName="name" placeholder="Имя">
    <input type="phone" prefix="+7" mask="(000) 000-00-00" [showMaskTyped]="true" formControlName="phone"
      placeholder="Телефон">
    <input type="email" formControlName="email" placeholder="Электронная почта">
    <input type="text" formControlName="inn" placeholder="ИНН организации" minlength="10" maxlength="12">
    <input type="text" formControlName="comment" placeholder="Ваш комментарий">
    <div class="actions">
<!--      <mib-button [title]="'Отправить заявку'" [theme]="'regular'" [width]="100"-->
<!--        (click)="sendFinanceRequest('get-finance')" [disable]="!isFinanceFormValid()|| isRequestLoading"></mib-button>-->
    </div>
    <div class="checkbox">
      <input type="checkbox" id="checkbox" formControlName="isAccept">
      <label for="checkbox">Пожалуйста подтвердите Ваше согласие на обработку персональных данных</label>
    </div>
  </form>
</mib-modal>

<p-dialog styleClass="mib-modal" header="Получить финансирование" [(visible)]="display" [modal]="true"
  [style]="{width: '350px'}" [draggable]="false" [resizable]="false">
  <form class="one-column" [formGroup]="financeForm">
    <input type="text" formControlName="organization" placeholder="Ваш контрагент"
      [ngClass]="{'mib-invalid': financeForm.controls['organization'].invalid && financeForm.controls['organization'].touched}">
    <input type="text" formControlName="name" placeholder="Имя"
      [ngClass]="{'mib-invalid': financeForm.controls['name'].invalid && financeForm.controls['name'].touched}">
    <input type="phone" prefix="+7" mask="(000) 000-00-00" [showMaskTyped]="true" formControlName="phone"
      [ngClass]="{'mib-invalid': financeForm.controls['phone'].invalid && financeForm.controls['phone'].touched}"
      placeholder="Телефон">
    <input type="email" formControlName="email" placeholder="Электронная почта"
      [ngClass]="{'mib-invalid': financeForm.controls['email'].invalid && financeForm.controls['email'].touched}">
    <input type="text" formControlName="inn" placeholder="ИНН организации" minlength="10" maxlength="12"
      [ngClass]="{'mib-invalid': financeForm.controls['inn'].invalid && financeForm.controls['inn'].touched}">
    <input type="text" formControlName="comment" placeholder="Ваш комментарий">
    <div class="actions">
<!--      <mib-button [title]="'Отправить заявку'" [theme]="'regular'" [width]="100"-->
<!--        (click)="sendFinanceRequest('get-finance')" [disable]="!isFinanceFormValid() || isRequestLoading"></mib-button>-->
    </div>
    <div class="checkbox">
      <p-checkbox name="checkbox" binary="true" inputId="checkbox" formControlName="isAccept"></p-checkbox>
      <label for="checkbox">Пожалуйста подтвердите Ваше согласие на обработку персональных данных</label>
    </div>
  </form>
</p-dialog>
