<section class="mib-section promo fluid">
  <div class="mib-container content promo_inner">
    <div class="promo_inner_content">
      <div class="intro">
        <h1>Факторинг для поставщиков</h1>
        <p class="description">
          Продавая товары с отсрочкой платежа Вы получаете в оплату дебиторскую
          задолженность. Факторинг - самый быстрый, безопасный и дешевый способ
          превратить дебиторскую задолженность в деньги!
        </p>
        <div class="actions">
          <mib-button (click)="openModal('get-finance')" [title]="'Получить финансирование'" [theme]="'regular'">
          </mib-button>
        </div>
      </div>

      <div class="information">
        <div class="card">
          <div class="icon">
            <img src="../../../../assets/icons/icon_success.png" alt="">
          </div>
          <div class="text">
            Страховка вероятности дефолта покупателя
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="../../../../assets/icons/icon_success.png" alt="">
          </div>
          <div class="text">
            Увеличение объёма <br>
            продаж
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="../../../../assets/icons/icon_success.png" alt="">
          </div>
          <div class="text">
            Добиться более выгодных условий от своих поставщиков
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="../../../../assets/icons/icon_success.png" alt="">
          </div>
          <div class="text">
            Миновать кассовые <br>
            разрывы
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mib-section advantages">
  <div class="mib-container">
    <h2>Преимущества факторинга</h2>
    <div class="advantages_cards">
      <mib-card-info [icon]="'../../../../assets/icons/card-icons/money.png'" [size]="'xl'"
        [text]="'Факторинг помогает разморозить деньги, зависшие в дебиторке, и сразу направить их в оборот'">
      </mib-card-info>
      <mib-card-info [icon]="'../../../../assets/icons/card-icons/vector.png'" [size]="'xl'"
        [text]="'Покрытие кассовых разрывов за счет поступления финансирования на следующий день после отгрузки товара'">
      </mib-card-info>
      <mib-card-info [icon]="'../../../../assets/icons/card-icons/settings.png'" [size]="'xl'"
        [text]="'Развитие бизнеса за счет ускорения оборачиваемости капитала'"></mib-card-info>
      <mib-card-info [icon]="'../../../../assets/icons/card-icons/safe.png'" [size]="'xl'"
        [text]="'Отсутствие риска неоплаты со стороны Дебитора (при факторинге без регресса)'"></mib-card-info>
      <mib-card-info [icon]="'../../../../assets/icons/card-icons/normal.png'"
        [text]="'Отсутствие залогового обеспечения'"></mib-card-info>
      <mib-card-info [icon]="'../../../../assets/icons/card-icons/agile.png'"
        [text]="'Гибкость и прозрачность схемы работы по факторингу'"></mib-card-info>
      <mib-card-info [icon]="'../../../../assets/icons/card-icons/summ.png'"
        [text]="'Сумма финансирования устанавливается в зависимости от запроса клиента'"></mib-card-info>
    </div>
  </div>
</section>
<section class="mib-section offer">
  <div class="mib-container">
    <h2>Мы предлагаем</h2>
    <mib-tab class="mt-20">
      <mib-tab-item>
        <mib-tab-label>Внутренний факторинг</mib-tab-label>
        <mib-tab-body>
          <div class="summary">
            <div class="summary_item">
              <div class="title">
                <img src="../../../../assets/icons/icon_success.png" alt="">
                Факторинг с регрессом
              </div>
              <div class="desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s
              </div>
            </div>
            <div class="summary_item">
              <div class="title">
                <img src="../../../../assets/icons/icon_success.png" alt="">
                Факторинг без регресса
              </div>
              <div class="desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s
              </div>
            </div>
          </div>
          <div class="image">
            <img src="../../../../assets/images/offer_one.png" alt="">
          </div>
        </mib-tab-body>
      </mib-tab-item>
      <mib-tab-item>
        <mib-tab-label>Международный факторинг</mib-tab-label>
        <mib-tab-body>
          <div class="summary">
            <div class="summary_item">
              <div class="title">
                <img src="../../../../assets/icons/icon_success.png" alt="">
                Импортный факторинг
              </div>
              <div class="desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s
              </div>
            </div>
            <div class="summary_item">
              <div class="title">
                <img src="../../../../assets/icons/icon_success.png" alt="">
                Экспортный факторинг
              </div>
              <div class="desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s
              </div>
            </div>
          </div>
          <div class="image">
            <img src="../../../../assets/images/offer_two.png" alt="">
          </div>
        </mib-tab-body>
      </mib-tab-item>
    </mib-tab>
  </div>
</section>
<section class="mib-section how-work">
  <div class="mib-container">
    <h2>Как это работает?</h2>
  </div>
  <div class="mib-container-fluid how-work__items">
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="../../../../assets/icons/how-work-icons/delivery-box-1.png" alt="">
      </div>
      <div class="step">1
      </div>
      <div class="desc">
        Поставщик отгружает
        товары на условиях
        отсрочки платежа
      </div>
    </div>
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="../../../../assets/icons/how-work-icons/file-2.png" alt="">
      </div>
      <div class="step">2
      </div>
      <div class="desc">
        Клиент заполняет
        заявку в личном кабинете
        на сайте factoring.metib.ru
      </div>
    </div>
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="../../../../assets/icons/how-work-icons/contract-3.png" alt="">
      </div>
      <div class="step">3
      </div>
      <div class="desc">
        Поставщик подписывает
        договор с ПАО АКБ Металлинвестбанк
      </div>
    </div>
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="../../../../assets/icons/how-work-icons/save-money-4.png" alt="">
      </div>
      <div class="step">4
      </div>
      <div class="desc">
        Банк финансирует
        поставщика
      </div>
    </div>
    <div class="item">
      <div class="line"></div>
      <div class="icon">
        <img src="../../../../assets/icons/how-work-icons/money-bag-5.png" alt="">
      </div>
      <div class="step">5
      </div>
      <div class="desc">
        Дебитор оплачивает
        100% уступленной
        задолженности по истечению
        срока отсрочки
      </div>
    </div>
  </div>
  <div class="line"></div>
</section>
<section class="mib-section partners">
  <div class="mib-container">
    <h2>Наши партнёры</h2>
    <div class="desc">
      Металлинвестбанк входит в 10-ку крупнейших Факторов России. В нашей базе более 200 контрагентов - дебиторов с
      открытыми лимитами финансирования. Каждый день, по просьбам наших клиентов, список наших партнеров пополняется.
      Вот крупнейшие из них.
    </div>
    <mib-slider>
      <div class="item">
        <img src="../../../../assets/public/images/partners/logo.png" alt="">
      </div>
      <div class="item">
        <img src="../../../../assets/public/images/partners/logo.png" alt="">
      </div>
      <div class="item">
        <img src="../../../../assets/public/images/partners/logo.png" alt="">
      </div>
      <div class="item">
        <img src="../../../../assets/public/images/partners/logo.png" alt="">
      </div>
      <div class="item">
        <img src="../../../../assets/public/images/partners/logo.png" alt="">
      </div>
    </mib-slider>
  </div>
</section>
<section class="mib-section news">
  <div class="mib-container">
    <h2>Пресс-центр</h2>
    <mib-slider [theme]="'news'">
      <div class="item">
        <mib-card-news [image]="'../../../../assets/public/images/news/news.png'" [title]="'Несем спорт в массы!'"
          [date]="'01.09.2020'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'">
        </mib-card-news>
      </div>
      <div class="item">
        <mib-card-news [image]="'../../../../assets/public/images/news/news.png'" [title]="'Несем спорт в массы!'"
          [date]="'01.09.2020'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'">
        </mib-card-news>
      </div>
      <div class="item">
        <mib-card-news [image]="'../../../../assets/public/images/news/news.png'" [title]="'Несем спорт в массы!'"
          [date]="'01.09.2020'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'">
        </mib-card-news>
      </div>
      <div class="item">
        <mib-card-news [image]="'../../../../assets/public/images/news/news.png'" [title]="'Несем спорт в массы!'"
          [date]="'01.09.2020'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'">
        </mib-card-news>
      </div>
      <div class="item">
        <mib-card-news [image]="'../../../../assets/public/images/news/news.png'" [title]="'Несем спорт в массы!'"
          [date]="'01.09.2020'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'">
        </mib-card-news>
      </div>
    </mib-slider>
  </div>
</section>

<!-- Modals -->
<mib-modal id="get-finance" [width]="'350px'" [title]="'Финансирование'">
  <form class="one-column" [formGroup]="financeForm">
    <input type="text" formControlName="name" placeholder="Имя">
    <input type="phone" formControlName="phone" placeholder="Телефон">
    <input type="email" formControlName="email" placeholder="Электронная почта">
    <input type="text" formControlName="inn" placeholder="ИНН">
    <div class="actions">
      <mib-button [title]="'Отправить заявку'" [theme]="'regular'" [width]="100" (click)="sendFinanceRequest()"
        [disable]="!isFinanceFormValid()"></mib-button>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="checkbox" formControlName="isAccept">
      <label for="checkbox">Пожалуйста подтвердите Ваше согласие на обработку персональных данных</label>
    </div>
  </form>
</mib-modal>
