<h1>h1! mib-ui works!</h1>
<h2>h2! mib-ui works!</h2>
<h3>h3! mib-ui works!</h3>
<h4>h4! mib-ui works!</h4>
<h5>h5! mib-ui works!</h5>
<hr style="max-width: 50%; opacity: 0.5; margin: 3rem auto" />
<h2
	style="
		text-align: center;
		margin: 2rem 0 4rem;
		display: flex;
		justify-content: center;
	"
>
	{{ 'buttons' | titlecase }}
	<button (click)="isShown = !isShown">{{ isShown ? 'Hide' : 'Show' }}</button>
</h2>
<div *ngIf="isShown" class="btn-wrapper">
	<mib-button size="l">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		Placeholder
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button [disabled]="true" size="l">
		<mib-ref-icon btn-right-icon class="stroke" name="fi_search"></mib-ref-icon>
		<mib-ref-icon btn-right-icon class="stroke" name="fi_x"></mib-ref-icon>
		filled-primary dz
		<mib-ref-icon
			btn-left-icon
			class="stroke"
			name="fi_chevron-right"
		></mib-ref-icon>
		<mib-ref-icon
			btn-right-icon
			class="stroke"
			name="fi_chevron-left"
		></mib-ref-icon>
	</mib-button>

	<mib-button size="m">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-primary m
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="s">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-primary s
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="xs">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-primary xs
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="l" type="filled-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-accent l
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button [disabled]="true" size="l" type="filled-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-accent dz
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="m" type="filled-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-accent m
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="s" type="filled-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-accent s
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="xs" type="filled-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-accent xs
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="l" type="filled-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-secondary l
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button [disabled]="true" size="l" type="filled-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-secondary dz
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="m" type="filled-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-secondary m
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="s" type="filled-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-secondary s
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="xs" type="filled-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		filled-secondary xs
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="l" type="floating">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		floating l
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button [disabled]="true" size="l" type="floating">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		floating dz
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="m" type="floating">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		floating m
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="s" type="floating">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		floating s
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="xs" type="floating">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		floating xs
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="l" type="outline-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-primary l
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button [disabled]="true" size="l" type="outline-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-primary dz
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="m" type="outline-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-primary m
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="s" type="outline-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-primary s
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="xs" type="outline-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-primary xs
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="l" type="outline-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-accent l
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button [disabled]="true" size="l" type="outline-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-accent dz
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="m" type="outline-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-accent m
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="s" type="outline-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-accent s
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="xs" type="outline-accent">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		outline-accent xs
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="l" type="ghost-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-primary l
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button [disabled]="true" size="l" type="ghost-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-primary dz
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="m" type="ghost-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-primary m
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="s" type="ghost-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-primary s
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="xs" type="ghost-primary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-primary xs
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="l" type="ghost-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-secondary l
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button [disabled]="true" size="l" type="ghost-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-secondary dz
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="m" type="ghost-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-secondary m
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="s" type="ghost-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-secondary s
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>

	<mib-button size="xs" type="ghost-secondary">
		<mib-ref-icon class="stroke" name="fi_chevron-left"></mib-ref-icon>
		ghost-secondary xs
		<mib-ref-icon class="stroke" name="fi_chevron-right"></mib-ref-icon>
	</mib-button>
</div>

<hr style="max-width: 50%; opacity: 0.5; margin: 3rem auto" />

<h2 style="text-align: center; margin: 2rem 0 4rem">
	{{ 'inputs' | titlecase }}
</h2>
<div class="btn-wrapper flex-column gap-0">
	<span>span text before →</span>
	<mib-input>
		<ng-container input-label>Секретное слово</ng-container>
		<input
			MibInput
			type="text"
			formControlName="secretWord"
			[size]="inputSize"
			styleType="filled-secondary"
			placeholder="Ваше секретное слово"
		/>
		<mib-ref-icon
			style="stroke: rgb(255, 0, 140); background-color: rgb(121, 84, 15)"
			class="stroke"
			input-left-icon
			name="fi_search"
		></mib-ref-icon>
		<mib-ref-icon
			style="stroke: blue; background-color: wheat"
			class="stroke"
			input-left-icon
			name="fi_chevron-right"
		></mib-ref-icon>
		<mib-ref-icon
			input-right-icon
			style="stroke: rgb(63, 151, 67); background-color: rgb(155, 20, 110)"
			c-bgr-secondary
			class="stroke"
			name="fi_chevron-left"
		></mib-ref-icon>
		<mib-ref-icon
			input-right-icon
			style="stroke: rgb(63, 133, 151); background-color: rgb(20, 155, 54)"
			c-bgr-secondary
			class="stroke"
			name="fi_x"
		></mib-ref-icon>
	</mib-input>
	<span>span text after →</span>
	<div class="spacer-5"></div>
	<div class="control">
		<div class="icon-wrapper">
			<span>
				<svg
					role="img"
					focusable="false"
					fill="currentColor"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="icon-button__icon_2436b"
				>
					<path
						d="M20.944 14.702a.197.197 0 00.293-.014C21.886 13.89 22.564 12.93 23 12c-1.914-4.089-6.19-7.01-11-7.01-.164 0-.326.003-.489.01-.17.007-.246.022-.125.143l9.558 9.559z"
					></path>
					<path
						d="M5.5 2L22 18.5 20.5 20l-2.44-2.527C16.28 18.561 14.21 19 12 19c-4.81 0-9.086-2.911-11-7 1.155-2.468 3.252-4.633 5.69-5.896L4 3.5 5.5 2zm8.177 11.09l1.571 1.573a4.2 4.2 0 11-5.91-5.911l1.571 1.571a2 2 0 102.767 2.767z"
						fill-rule="evenodd"
						clip-rule="evenodd"
					></path>
				</svg>
			</span>
		</div>
		<div class="icon-wrapper">
			<span>
				<svg
					role="img"
					focusable="false"
					fill="currentColor"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="icon-button__icon_2436b"
				>
					<path
						d="M20.944 14.702a.197.197 0 00.293-.014C21.886 13.89 22.564 12.93 23 12c-1.914-4.089-6.19-7.01-11-7.01-.164 0-.326.003-.489.01-.17.007-.246.022-.125.143l9.558 9.559z"
					></path>
					<path
						d="M5.5 2L22 18.5 20.5 20l-2.44-2.527C16.28 18.561 14.21 19 12 19c-4.81 0-9.086-2.911-11-7 1.155-2.468 3.252-4.633 5.69-5.896L4 3.5 5.5 2zm8.177 11.09l1.571 1.573a4.2 4.2 0 11-5.91-5.911l1.571 1.571a2 2 0 102.767 2.767z"
						fill-rule="evenodd"
						clip-rule="evenodd"
					></path>
				</svg>
			</span>
		</div>
		<div class="input-wrapper">
			<div class="label-wrap">
				<span class="label"> пароль </span>
			</div>
			<div class="input-wrap">
				<input type="text" />
			</div>
		</div>
		<div class="icon-wrapper">
			<span>
				<svg
					role="img"
					focusable="false"
					fill="currentColor"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="icon-button__icon_2436b"
				>
					<path
						d="M20.944 14.702a.197.197 0 00.293-.014C21.886 13.89 22.564 12.93 23 12c-1.914-4.089-6.19-7.01-11-7.01-.164 0-.326.003-.489.01-.17.007-.246.022-.125.143l9.558 9.559z"
					></path>
					<path
						d="M5.5 2L22 18.5 20.5 20l-2.44-2.527C16.28 18.561 14.21 19 12 19c-4.81 0-9.086-2.911-11-7 1.155-2.468 3.252-4.633 5.69-5.896L4 3.5 5.5 2zm8.177 11.09l1.571 1.573a4.2 4.2 0 11-5.91-5.911l1.571 1.571a2 2 0 102.767 2.767z"
						fill-rule="evenodd"
						clip-rule="evenodd"
					></path>
				</svg>
			</span>
		</div>
		<div class="icon-wrapper">
			<span>
				<svg
					role="img"
					focusable="false"
					fill="currentColor"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="icon-button__icon_2436b"
				>
					<path
						d="M20.944 14.702a.197.197 0 00.293-.014C21.886 13.89 22.564 12.93 23 12c-1.914-4.089-6.19-7.01-11-7.01-.164 0-.326.003-.489.01-.17.007-.246.022-.125.143l9.558 9.559z"
					></path>
					<path
						d="M5.5 2L22 18.5 20.5 20l-2.44-2.527C16.28 18.561 14.21 19 12 19c-4.81 0-9.086-2.911-11-7 1.155-2.468 3.252-4.633 5.69-5.896L4 3.5 5.5 2zm8.177 11.09l1.571 1.573a4.2 4.2 0 11-5.91-5.911l1.571 1.571a2 2 0 102.767 2.767z"
						fill-rule="evenodd"
						clip-rule="evenodd"
					></path>
				</svg>
			</span>
		</div>
		<div class="icon-wrapper">
			<span>
				<svg
					role="img"
					focusable="false"
					fill="currentColor"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="icon-button__icon_2436b"
				>
					<path
						d="M20.944 14.702a.197.197 0 00.293-.014C21.886 13.89 22.564 12.93 23 12c-1.914-4.089-6.19-7.01-11-7.01-.164 0-.326.003-.489.01-.17.007-.246.022-.125.143l9.558 9.559z"
					></path>
					<path
						d="M5.5 2L22 18.5 20.5 20l-2.44-2.527C16.28 18.561 14.21 19 12 19c-4.81 0-9.086-2.911-11-7 1.155-2.468 3.252-4.633 5.69-5.896L4 3.5 5.5 2zm8.177 11.09l1.571 1.573a4.2 4.2 0 11-5.91-5.911l1.571 1.571a2 2 0 102.767 2.767z"
						fill-rule="evenodd"
						clip-rule="evenodd"
					></path>
				</svg>
			</span>
		</div>
	</div>
	<div class="spacer-10"></div>
</div>
