<div class="table-head-cell flex flex_align-center" [title]="label.innerText">
  <div class="flex gap-8 flex_grow overflow-hidden">
    <mib-checkbox [formControl]="control" align="" [id]="checkboxId" *ngIf="isCheckboxDisplayed"></mib-checkbox>
    <label #label [for]="checkboxId">
      <ng-content></ng-content>
    </label>
  </div>
  <div class="actions flex gap-4">
    <mib-sort-table-action *ngIf="isSortable" class="action"></mib-sort-table-action>
    <mib-filter-table-action *ngIf="isFilterable" class="action">
      <ng-content select="[mibHeadCellFilterActions]"></ng-content>
    </mib-filter-table-action>
  </div>

</div>
