<div class="sidebar flex flex_column">
	<div routerLink="/client/cabinet" class="logotype cursor-pointer">
		<mib-icon name="logotype"></mib-icon>
	</div>
	<div class="body flex_grow flex flex_column full-height">
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex flex_column">
			<!-- <div class="drop-wrap">
				<div [mibDropdownTrigger]="userPanel" class="flex">
					<p>halo</p>
				</div>
				<mib-dropdown #userPanel>
					<mib-spacing dropdown-spacing type="s"></mib-spacing>
					<mib-dropdown-point (press)="logout()" text="Сменить аккаунт">
						<mib-icon
							dropdown-point-left-icon
							class="stroke"
							name="fi_refresh-ccw"
						></mib-icon>
					</mib-dropdown-point>
					<mib-dropdown-point (press)="logout()" text="Выйти">
						<mib-icon
							dropdown-point-left-icon
							class="stroke"
							name="fi_log-out"
						></mib-icon>
					</mib-dropdown-point>
				</mib-dropdown>
			</div> -->
			<ng-container
				*ngFor="
					let items of isAdmin ? menuAdmin : isVerify ? menuUser : menuVerify
				"
			>
				<mib-menu-point *ngFor="let item of items.links" [link]="item.link"
					><span>{{ item.name }}</span></mib-menu-point
				>
				<mib-spacing type="xs"></mib-spacing>
			</ng-container>
		</div>
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex flex_column flex_grow flex_justify-end">
			<mib-dropdown-point (press)="logout()" text="Выйти">
				<mib-icon
					dropdown-point-left-icon
					class="stroke"
					name="fi_log-out"
				></mib-icon>
			</mib-dropdown-point>
			<mib-spacing type="m"></mib-spacing>
		</div>
	</div>
</div>
