<div class="sidebar flex flex_column">
	<div routerLink="/client/cabinet" class="logotype cursor-pointer">
		<mib-icon name="logotype"></mib-icon>
	</div>
	<div class="body flex_grow flex flex_column full-height">
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex flex_column">
			<mib-menu-point *ngFor="let item of menu[0].links" link="{{ item.link }}"
				><span>{{ item.name }}</span></mib-menu-point
			>
			<mib-spacing type="xs"></mib-spacing>
			<mib-menu-point *ngFor="let item of menu[1].links" link="{{ item.link }}"
				><span>{{ item.name }}</span></mib-menu-point
			>
			<mib-spacing type="xs"></mib-spacing>
			<mib-menu-point *ngFor="let item of menu[2].links" link="{{ item.link }}"
				><span>{{ item.name }}</span></mib-menu-point
			>
		</div>
		<!-- <div class="flex flex_column">
			<mib-menu-point link="/client/cabinet">Кабинет</mib-menu-point>
			<mib-menu-point link="/client/requests">Заявки</mib-menu-point>
			<mib-menu-point link="/client/freeduty"
				><span>Свободная задолженность</span></mib-menu-point
			>
			<mib-spacing type="xs"></mib-spacing>

			<mib-menu-point link="/client/demand">Запросы</mib-menu-point>
			<mib-menu-point link="/client/invoices">Платежи</mib-menu-point>
			<mib-menu-point link="/client/delays"
				>Просрочки покупателя</mib-menu-point
			>

			<mib-spacing type="xs"></mib-spacing>
			<mib-menu-point link="/client/contracts">Договоры</mib-menu-point>
			<mib-menu-point link="/client/reports">Отчеты</mib-menu-point>
			<mib-menu-point link="/client/documents"
				><span>Электронные документы</span></mib-menu-point
			>
		</div> -->
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex flex_column flex_grow flex_justify-end">
			<mib-dropdown-point (press)="logout()" text="Выйти">
				<mib-icon
					dropdown-point-left-icon
					class="stroke"
					name="fi_log-out"
				></mib-icon>
			</mib-dropdown-point>
			<mib-spacing type="m"></mib-spacing>
		</div>
	</div>
</div>
