<div class="sidebar flex flex_column">
  <div routerLink="/client/cabinet" class="logotype cursor-pointer">
    <mib-ref-icon name="logotype"></mib-ref-icon>
  </div>
  <div class="body flex_grow flex flex_column">
    <mib-spacing type="xs"></mib-spacing>
    <div class="flex flex_column">
      <mib-menu-point link="/client/cabinet">Кабинет</mib-menu-point>
      <mib-menu-point link="/client/requests">Заявки</mib-menu-point>
      <mib-menu-point link="/client/1">Свободная задолженность</mib-menu-point>
    </div>
    <mib-spacing type="xs"></mib-spacing>
  </div>
</div>
