<mib-spacing type="xs2"></mib-spacing>
<h4>Распечатайте заявку</h4>
<mib-spacing type="xs"></mib-spacing>
<mib-information type="alert">
  <ng-container information-text
  >Внимание: перед отправкой необходимо установить заявку и
    распечатать ее на принтере. Распечатка обязательно понадобится при
    сверке документов при получении сертификата
  </ng-container>
</mib-information>
<mib-spacing type="xs"></mib-spacing>
<div class="flex flex_align-center document">
  <div class="flex flex_grow gap-4">
    <span class="text text_m c-bti-primary"> Название документа </span>
    <span class="text text_m c-bti-tertiary"> 2,37мб </span>
  </div>
  <div class="flex">
    <mib-button type="ghost-primary" (press)="downloadFile()">
      <mib-icon
        mibLeftIcon
        class="stroke"
        name="fi_download"
      ></mib-icon>
      <span>Скачать заявку</span>
    </mib-button>
  </div>
</div>
<mib-spacing type="m"></mib-spacing>
<p class="text text_m c-bti-secondary">
  После установки заявке, распечатайте ее на принтере и отсканируйте,
  после чего прикрепите ее в разделе ниже.
</p>
<mib-spacing type="s"></mib-spacing>
<p class="text text_m c-bti-primary">
  Прикрепите скан заполненной заявки
</p>
<ng-container *ngIf="documents?.controls?.length;">
  <p class="text text_m text_medium">Прикрепленные документы</p>
  <div *ngFor="let document of documents.controls; let idx = index">
    <mib-dl-file-cell
      [attr.index]="idx"
      [showRemove]="true"
      (onDload)="downloadCurrentFile()"
      (onRemove)="removeDocument(idx)"
      [fileName]="document.get('FileName').value"
    ></mib-dl-file-cell>
  </div>
  <mib-spacing type="xs2"></mib-spacing>
</ng-container>
<mib-spacing type="xs2"></mib-spacing>
<div class="flex flex_column gap-12" [formGroup]="form">
  <mib-dnd
    (onChange)="onDocumentLoad($event)"
    [accept]="[
      'application/pdf',
      'application/msword',
      'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
      'application/vnd.ms-excel',
      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
      'image/jpeg',
      'image/png'
    ]"
    headline="Прикрепите документ"
  ></mib-dnd>
  <div>
    <p class="text text_xs c-bti-tertiary">
      Допустимые форматы для документов: PDF, DOC, DOCX, XLS, XLSX,
      JPEG, PNG
    </p>
    <p class="text text_xs c-bti-tertiary">
      Размер каждого документа не должен превышать 10 МБ
    </p>
  </div>
</div>
<mib-spacing type="m"></mib-spacing>
