<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>История запросов</h2>
      <div class="subheader">
        Список Истории запросов
      </div>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" [routerLink]="['/demand']"
        class="p-button-outlined"></button>
    </div>
  </div>

  <div class="demand-list">
    <ng-container *ngIf="(demands$ | async); else skeletonDemandTemplate">
      <div class="demand-item" *ngFor="let demand of (demands$ | async)">
        <div class="demand-info">
          <div class="demand-content">
            <div class="text">
              <p>
                №{{demand.ID}}
                <span [ngSwitch]="demand.Type">
                  <span *ngSwitchCase="'Factoring'">
                    Запрос на Факторинг
                  </span>
                  <span *ngSwitchCase="'DigitalSignature'">
                    Запрос на ЭЦП
                  </span>
                  <span *ngSwitchCase="'ProfileChange'">
                    Запрос на Редактирование Профиля
                  </span>
                  <span *ngSwitchDefault>
                    Запрос на свободную тему
                  </span>
                </span>
              </p>

            </div>
            <div class="icon arrow_right"></div>
          </div>
          <div class="demand-status-info">
            <div [ngSwitch]="demand.Status">
              <div *ngSwitchCase="'Processing'">
                <div class="demand-status default">
                  В процессе
                </div>
              </div>
              <div *ngSwitchCase="'Completed'">
                <div class="demand-status success">
                  Завершен
                </div>
              </div>
              <div *ngSwitchCase="'Rejected'">
                <div class="demand-status warning">
                  Отклонено
                </div>
              </div>
              <div *ngSwitchCase="'Created'">
                <div class="demand-status default">
                  Создан
                </div>
              </div>
            </div>

            <div class="demand-status-date">
              {{demand.DateModify | date:'dd.MM.yyyy'}}
            </div>
          </div>
        </div>
        <div class="demand-manager">
          <div class="demand-manager-date">
            {{demand.DateModify | date:'dd.MM.yyyy'}}
          </div>
          <div *ngIf="demand.Manager; else noManager">
            <div class="demand-manager-info">
              {{demand.Manager.Email}} <br>
              {{demand.Manager.Name}}
            </div>
          </div>
          <ng-template #noManager>
            <div class="demand-manager-info">
              Менеджер не назначен
            </div>
          </ng-template>
        </div>
      </div>
    </ng-container>
    <ng-template #skeletonDemandTemplate>
      <div class="demand-item" *ngFor="let demand of [{}, {}, {}]">
        <div class="demand-info">
          <div class="demand-content">
            <div class="text">
              <p>
                <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
              </p>
            </div>
          </div>
          <div class="demand-status-info">
            <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
            <div class="demand-status-date">
              <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
        </div>
        <div class="demand-manager">
          <div class="demand-manager-date">
            <p-skeleton></p-skeleton>
          </div>
          <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
        </div>
      </div>
    </ng-template>
  </div>
</div>
