<!-- <p-menubar [model]="items">
  <ng-template pTemplate="start">
 </ng-template>
  <ng-template pTemplate="end">
    <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
    {{(currentUserFactoring$ | async)?.Name}}
  </ng-template>
</p-menubar> -->
<div class="header">
  <div class="manager">
    <div class="header-block manager-greatings">
      Ваш менеджер:
    </div>
    <div class="header-block manager-info">
      <div class="manager-info-name">
        {{(factoring$ | async)?.Manager?.Name}}  ({{(factoring$ | async)?.Manager?.Extension}})
      </div>
      <div class="manager-info-email">
        {{(factoring$ | async)?.Manager?.Email}}
      </div>
    </div>
    <div class="header-block manager-ava">
    </div>
  </div>
  <div class="account">
    <div class="header-block account-ava">
      <img src="/assets/images/mib_ava.png" alt="">
    </div>
    <div class="header-block account-owner" (click)="openAccountOwner()" >
      <div class="account-info-name">
        {{(currentUserFactoring$ | async)?.Name}}
      </div>
      <div class="account-info-email">
        {{(currentUser$ | async)?.Profile.Email}}
      </div>
    </div>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Справка</a>
      <a href="#">Сменить Пароль</a>
      <a href="#" (click)="logout()" >Выйти</a>
    </div>
  </div>
</div>
