<div class="container container_large">
	<mib-spacing type="m"></mib-spacing>
	<h3>Реестры</h3>
	<mib-spacing type="m"></mib-spacing>
</div>
<div class="container container_large">
	<div class="flex">
		<div class="mobile-col flex gap-16 flex_justify-between">
			<div class="flex flex_align-center gap-12">
				<input styleType="outline" type="date" mibInput />
				<input styleType="outline" type="date" mibInput />
			</div>
			<mib-button type="filled-primary" (press)="agentRegisterDrawer()">
				<mib-icon btn-left-icon class="stroke" name="fi_plus"></mib-icon>
				Добавить реестр
			</mib-button>
		</div>
	</div>
	<mib-spacing type="xs"></mib-spacing>
	<mib-table (selectionChange)="selectionChange($event)">
		<mib-table-head>
			<mib-table-head-cell>ID </mib-table-head-cell>
			<ng-container *ngIf="isDesktop; else mobile">
				<mib-table-head-cell>Договор</mib-table-head-cell>
			</ng-container>
			<mib-table-head-cell>Номер</mib-table-head-cell>
			<mib-table-head-cell>Дата</mib-table-head-cell>
			<mib-table-head-cell>Тип</mib-table-head-cell>
			<mib-table-head-cell>Состояние</mib-table-head-cell>
			<mib-table-head-cell>Отправлена</mib-table-head-cell>
			<mib-table-head-cell>Дата отправки</mib-table-head-cell>
			<mib-table-head-cell>Профинансировано</mib-table-head-cell>
			<mib-table-head-cell>Дата финансирования</mib-table-head-cell>
			<mib-table-head-cell>Покупатель</mib-table-head-cell>
			<mib-table-head-cell>Сумма</mib-table-head-cell>
			<ng-template #mobile>
				<mib-table-head-cell>{{ getVisibleHeader() }}</mib-table-head-cell>
			</ng-template>
			<ng-container table-head-button *ngIf="!isDesktop">
				<mib-button
					[disabled]="loading$ | async"
					(press)="prev()"
					size="s"
					table-row-button
					type="ghost-secondary"
				>
					<mib-icon class="stroke" btn-icon name="fi_chevron-left"></mib-icon>
				</mib-button>
				<mib-button
					[disabled]="loading$ | async"
					(press)="next()"
					size="s"
					table-row-button
					type="ghost-secondary"
				>
					<mib-icon class="stroke" btn-icon name="fi_chevron-right"></mib-icon>
				</mib-button>
			</ng-container>
		</mib-table-head>
		<ng-container *ngIf="loading$ | async; else table">
			<mib-skeleton
				[styles]="last ? skeletonWithoutUnderline : skeleton"
				*ngFor="
					let i of toolsService.createEmptyArray(PAGINATOR_ITEMS_PER_PAGE);
					let last = last
				"
			></mib-skeleton>
		</ng-container>
		<ng-template #table>
			<ng-container *ngIf="regData.length > 0; else emptyTable">
				<mib-table-row
					(dblclick)="agentRegisterViewsDrawer()"
					*ngFor="let reg of regData; let last = last"
					[underlined]="!last"
				>
					<mib-table-cell>
						<ng-container table-cell-title>{{ reg.ID }}</ng-container>
					</mib-table-cell>
					<ng-container *ngIf="isDesktop; else mobileCell">
						<mib-table-cell>
							<ng-container table-cell-title>{{ reg.Contract }} </ng-container>
						</mib-table-cell>
					</ng-container>
					<mib-table-cell>
						<ng-container table-cell-title>{{ reg.Number }}</ng-container>
					</mib-table-cell>
					<mib-table-cell>
						<ng-container table-cell-title>
							{{ reg.Date | date : 'dd.MM.YYYY' }}</ng-container
						>
					</mib-table-cell>
					<mib-table-cell>
						<ng-container table-cell-title>
							<mib-badge
								[type]="reg?.FinType ? 'filled-secondary' : 'filled-accent'"
								[extended]="true"
								size="m"
								>{{ reg?.FinType ? 'С финанас.' : 'Без финанас.' }}</mib-badge
							>
						</ng-container>
					</mib-table-cell>
					<mib-table-cell>
						<ng-container table-cell-title>
							<mib-badge
								[type]="reg?.Status ? 'filled-primary' : 'filled-success'"
								[extended]="true"
								size="m"
								>{{ reg?.Status ? 'Исполнена' : 'Действует' }}</mib-badge
							>
						</ng-container>
					</mib-table-cell>
					<mib-table-cell [special]="true">
						<ng-container table-cell-title>
							<ng-container *ngIf="reg.Send; else empty">
								<mib-badge
									[showText]="false"
									[showIcon]="true"
									[type]="'filled-primary'"
									size="m"
								>
								</mib-badge>
							</ng-container>
							<ng-template #empty>
								<mib-badge [type]="'filled-secondary'" size="m"> </mib-badge>
							</ng-template>
						</ng-container>
					</mib-table-cell>
					<mib-table-cell>
						<ng-container table-cell-title>{{
							reg.SendDate | date : 'dd.MM.YYYY'
						}}</ng-container>
					</mib-table-cell>
					<mib-table-cell [special]="true">
						<ng-container table-cell-title>
							<ng-container *ngIf="reg.Finance; else empty">
								<mib-badge
									[showText]="false"
									[showIcon]="true"
									[type]="'filled-primary'"
									size="m"
								>
								</mib-badge>
							</ng-container>
							<ng-template #empty>
								<mib-badge [type]="'filled-secondary'" size="m"> </mib-badge>
							</ng-template>
						</ng-container>
					</mib-table-cell>
					<mib-table-cell>
						<ng-container table-cell-title>{{
							reg.FinDate | date : 'dd.MM.YYYY'
						}}</ng-container>
					</mib-table-cell>
					<mib-table-cell>
						<ng-container table-cell-title>{{ reg.Buyer }}</ng-container>
					</mib-table-cell>
					<mib-table-cell>
						<ng-container table-cell-title>{{ reg.Amount | rub }}</ng-container>
					</mib-table-cell>
					<ng-template #mobileCell>
						<mib-table-head-cell>{{ getVisibleCell(reg) }}</mib-table-head-cell>
					</ng-template>
					<ng-container table-row-button *ngIf="isDesktop; else mobile">
						<mib-button
							[mibDropdownTrigger]="newDocumentRowMenu"
							table-row-button
							size="s"
							type="ghost-secondary"
						>
							<mib-icon
								class="stroke"
								btn-icon
								name="fi_more-vertical"
							></mib-icon>
						</mib-button>
						<mib-dropdown #newDocumentRowMenu>
							<mib-dropdown-point
								(press)="agentRegisterViewsDrawer()"
								text="Открыть"
							></mib-dropdown-point>
						</mib-dropdown>
					</ng-container>
					<ng-template #mobile>
						<mib-button
							(click)="openRegisterPageModal(reg); $event.stopPropagation()"
							size="s"
							table-row-button
							type="ghost-secondary"
						>
							<mib-icon class="stroke" btn-icon name="fi_eye"></mib-icon>
						</mib-button>
					</ng-template>
				</mib-table-row>
			</ng-container>
			<ng-template #emptyTable>
				<mib-table-row>
					<p class="text text_m w-100 flex_align-self-center text-center">
						нет данных
					</p>
				</mib-table-row>
			</ng-template>
		</ng-template>
		<mib-table-footer [lined]="!(loading$ | async)">
			<mib-paginator
				*ngIf="regData.length || !(loading$ | async)"
				(pageChange)="onPageChange($event)"
				[totalCount]="regData.length"
				[pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
				[itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
			></mib-paginator>
		</mib-table-footer>
	</mib-table>
</div>
