<div class="modal-content">
	<div class="flex flex_column">
		<h2>Modal Title</h2>

		<p>Your content goes here...</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit delectus in
			quae neque! Soluta, voluptatem debitis officiis a labore obcaecati, in
			fugiat esse enim culpa blanditiis recusandae adipisci iure magnam dolore,
			tempora laudantium alias minus saepe. Molestias sed in nemo iusto
			laudantium mollitia necessitatibus explicabo accusantium dolore
			voluptatibus consectetur recusandae harum quidem dignissimos magnam
			obcaecati, enim perspiciatis esse suscipit porro placeat dolorum? Eligendi
			illo, ipsa vel alias distinctio temporibus perspiciatis doloremque nam
			numquam fuga molestias, provident voluptas perferendis dolor animi sequi
			saepe optio dicta vero qui aperiam soluta omnis? Nemo molestias
			necessitatibus ratione commodi fugiat accusantium ipsa ullam rem
			voluptatum, expedita eligendi! Voluptate, iure. Quibusdam, alias. Esse
			quaerat a eum doloribus, exercitationem modi voluptatum aspernatur in
			rerum nemo delectus blanditiis optio nobis perferendis magni, sapiente
			molestiae reiciendis soluta necessitatibus! Quis omnis maxime, deleniti
			aut eaque expedita rem rerum inventore nihil asperiores eligendi
			exercitationem. Pariatur ab a et vitae? Voluptas dicta atque laudantium
			modi natus beatae quasi tenetur ipsa totam magni, quia mollitia,
			repellendus assumenda praesentium ullam possimus sit! A deleniti rem cum
			ut molestias? Inventore, molestias eligendi deserunt assumenda tempora
			asperiores quam, fugit, dolore quae quos recusandae consequatur esse et.
			Rem beatae, iusto assumenda ut odio ea reiciendis sunt dolor quisquam,
			nisi debitis nesciunt expedita ratione. Laudantium, eligendi in facere
			quos architecto nulla dolorem minus, voluptates corporis, suscipit ad
			itaque cumque eveniet unde adipisci nesciunt. Ipsa atque tempora
			doloremque ab esse, blanditiis quasi rerum reprehenderit optio, cumque,
			officia placeat autem ratione itaque molestiae assumenda at dolorem iusto
			repellendus. Dicta laboriosam enim possimus officiis nisi qui ut hic
			distinctio ad tempora, quos, esse nemo adipisci rerum totam deleniti omnis
			atque perspiciatis itaque suscipit accusamus modi! Numquam aliquam totam
			sunt perspiciatis asperiores praesentium optio repudiandae. Inventore
			aperiam recusandae architecto saepe quidem quam, eligendi labore ratione
			sapiente obcaecati eaque, sunt itaque, rem eos praesentium cumque.
			Nesciunt earum laboriosam atque fugiat obcaecati praesentium inventore ab
			quidem repellat doloremque quia quam consequuntur aperiam odit sed
			nostrum, quibusdam aut dolorum ipsa veniam corporis, ad odio ut molestiae!
			Vitae nemo facilis perferendis ut, corporis mollitia recusandae alias
			provident esse enim quas iusto ex facere aperiam quidem saepe obcaecati
			reiciendis omnis incidunt consequuntur aut optio dolorum. Eius, nisi
			aspernatur. Quas ea ab beatae harum voluptas officia doloremque aliquam
			vero autem alias ratione quia voluptatem dolorum qui delectus,
			exercitationem modi tenetur. Voluptatem, ipsam nam! Itaque consectetur
			possimus aperiam maxime pariatur voluptatem, veniam quod. Corporis
			perferendis unde odit, recusandae ut esse delectus dolores ab quasi
			sapiente molestiae dicta sed tenetur rem iusto exercitationem consectetur
			nisi officia distinctio? Porro odio facilis necessitatibus commodi eum
			maxime sapiente! Velit dolores architecto accusamus rem nostrum beatae vel
			tempore blanditiis inventore fuga iure totam odio porro delectus et
			facilis commodi, odit temporibus ratione deserunt magnam necessitatibus
			consectetur, itaque dolorum? Officiis, ipsam sunt nobis aliquid eaque quam
			sint velit recusandae dolor laudantium modi nemo aspernatur debitis,
			impedit cupiditate officia eveniet cum consequatur, ut ducimus! Quisquam
			ipsam voluptates eveniet reprehenderit laudantium earum repellat voluptate
			similique sed. Recusandae molestias asperiores debitis deserunt omnis
			dolorum, vitae consectetur qui dolor?
		</p>
	</div>
</div>

<button class="close-button" (click)="closeModal()">
	<span style="background-color: antiquewhite">close</span>
</button>
