<mib-modal [formGroup]="form" class="landing">
	<mib-modal-header
		[showClose]="false"
		(onClose)="dialogRef.close()"
		title="{{ data }}"
	>
	</mib-modal-header>
	<mib-spacing type="xs"></mib-spacing>
	<div class="flex flex_column gap-12">
		<input type="hidden" formControlName="FormName" />
		<mib-input class="flex_grow">
			<input
				size="{{ isDesktop ? 'xl' : 'l' }}"
				formControlName="Name"
				type="text"
				styleType="filled-secondary"
				mibInput
			/>
			<ng-container mibLabel>Имя</ng-container>
		</mib-input>
		<mib-input class="flex_grow">
			<input
				formControlName="Phone"
				size="{{ isDesktop ? 'xl' : 'l' }}"
				prefix="+"
				mask="0 (000) 000-00-00"
				type="tel"
				styleType="filled-secondary"
				mibInput
			/>
			<ng-container mibLabel>Телефон</ng-container>
		</mib-input>
		<mib-input class="flex_grow">
			<input
				size="{{ isDesktop ? 'xl' : 'l' }}"
				formControlName="Email"
				type="email"
				styleType="filled-secondary"
				mibInput
			/>
			<ng-container mibLabel>Электронная почта</ng-container>
		</mib-input>
		<mib-input class="flex_grow">
			<input
				size="{{ isDesktop ? 'xl' : 'l' }}"
				type="text"
				maxlength="12"
				minlength="10"
				formControlName="INN"
				styleType="filled-secondary"
				mibInput
			/>
			<ng-container mibLabel>ИНН Вашей компании</ng-container>
		</mib-input>
		<mib-autocomplete formControlName="Organization" [options]="options">
		</mib-autocomplete>
		<mib-textarea>
			<ng-container mibLabel>Использовали факторинг ранее?</ng-container>
			<textarea
				formControlName="Comment"
				[maxLength]="100"
				autosize
				mibTextarea
			></textarea>
		</mib-textarea>
	</div>
	<mib-spacing type="s"></mib-spacing>
	<div class="flex gap-12">
		<mib-checkbox
			size="{{ isDesktop ? 'l' : 'm' }}"
			formControlName="Agree"
			class="pt-4"
		>
		</mib-checkbox>
		<span class="text text_m c-bti-tertiary">
			Пожалуйста подтвердите Ваше согласие на обработку персональных данных.
		</span>
	</div>
	<div
		class="text text_m c-bti-tertiarty"
		*ngIf="form.get('Agree').invalid && form.get('Agree').touched"
	>
		* Подтвердите согласие на обработку данных
	</div>
	<mib-spacing type="m"></mib-spacing>
	<mib-modal-footer>
		<mib-button
			[disabled]="form.invalid"
			[loading]="!!(isSubmitting$ | async)"
			class="w-100"
			size="{{ isDesktop ? 'xl' : 'l' }}"
			(press)="onSubmit()"
			>Отправить</mib-button
		>
	</mib-modal-footer>
</mib-modal>
