<form [formGroup]="personalDataForm">
  <mib-spacing type="xs2"></mib-spacing>
  <h4>Данные о владельце сертификата</h4>
  <mib-spacing type="xs"></mib-spacing>
  <div class="flex flex_column gap-12">
    <div class="flex gap-12">
      <mib-input class="flex_grow">
        <input mibInput formControlName="NameLast" />
        <ng-container mibLabel>Фамилия</ng-container>
      </mib-input>
      <mib-input class="flex_grow">
        <input mibInput formControlName="NameFirst" />
        <ng-container mibLabel>Имя</ng-container>
      </mib-input>
      <mib-input class="flex_grow">
        <input mibInput formControlName="NameSecond" />
        <ng-container mibLabel>Отчество</ng-container>
      </mib-input>
    </div>
    <div class="flex flex_column">
      <p class="text text_s c-bti-tertiary">Пол</p>
      <div class="flex pt-4">
        <mib-checkbox formControlName="Male" class="gap-8 flex_grow">
          <span class="text text_m">Мужской</span>
        </mib-checkbox>
        <mib-checkbox formControlName="Female" class="gap-8 flex_grow">
          <span class="text text_m">Женский</span>
        </mib-checkbox>
      </div>
    </div>
    <mib-input>
      <input mibInput formControlName="INN" />
      <ng-container mibLabel>ИНН</ng-container>
    </mib-input>
    <mib-input>
      <input mibInput formControlName="SNILS" />
      <ng-container mibLabel>СНИЛС</ng-container>
    </mib-input>
    <mib-input>
      <input type="date" mibInput formControlName="BirthDate" />
      <ng-container mibLabel>Дата рождения</ng-container>
    </mib-input>
    <mib-input>
      <input mibInput formControlName="BirthPlace" />
      <ng-container mibLabel>Место рождения</ng-container>
    </mib-input>
    <mib-input>
      <input mibInput formControlName="Role" />
      <ng-container mibLabel>Должность в компании</ng-container>
    </mib-input>
  </div>
  <mib-spacing type="s"></mib-spacing>
  <div class="flex flex_column gap-8">
    <p class="headline">Контактные данные</p>
    <div class="flex gap-12">
      <mib-input class="flex_grow">
        <input mibInput formControlName="Phone" />
        <ng-container mibLabel>Мобильный телефон</ng-container>
      </mib-input>
      <mib-input class="flex_grow">
        <input mibInput formControlName="Email" />
        <ng-container mibLabel>Электронная почта</ng-container>
      </mib-input>
    </div>
  </div>
  <mib-spacing type="s"></mib-spacing>
  <div class="flex flex_column gap-12">
    <p class="headline">Паспортные данные {{ personalDataForm.value['PassportDate'] }}</p>
    <div class="flex">
      <mib-select
        class="w-100 dropdown-absolute"
        type="outline"
        placeholder="Выберите гражданство"
        formControlName="Nationality"
      >
        <mib-dropdown-point
          *ngFor="let country of countries"
          [value]="country.Title"
          [text]="country.Title"
        ></mib-dropdown-point>
      </mib-select>
    </div>
    <div class="flex gap-12">
      <mib-input class="flex_grow">
        <input mibInput formControlName="PassportSeriesAndNumber" />
        <ng-container mibLabel>Серия и номер</ng-container>
      </mib-input>
      <mib-input class="flex_grow">
        <input type="date" mibInput formControlName="PassportDate" />
        <ng-container mibLabel>Дата выдачи</ng-container>
      </mib-input>
    </div>
    <mib-input>
      <input mibInput formControlName="IssuerCode" />
      <ng-container mibLabel>Код подразделения</ng-container>
    </mib-input>
    <mib-input>
      <input mibInput formControlName="IssuerTitle" />
      <ng-container mibLabel>Кем выдан паспорт</ng-container>
    </mib-input>
  </div>
  <mib-spacing type="xs"></mib-spacing>
  <div class="flex flex_column gap-12">
    <p class="headline">Прикрепите скан-копию паспорта в поле ниже</p>
    <ng-container *ngIf="documents?.controls?.length;">
      <p class="text text_m text_medium">Прикрепленные документы</p>
      <div *ngFor="let document of documents.controls; let idx = index">
        <mib-dl-file-cell
          [attr.index]="idx"
          [showRemove]="true"
          (onDload)="downloadCurrentFile(document)"
          (onRemove)="removeDocument(idx)"
          [fileName]="document.get('FileName').value"
        ></mib-dl-file-cell>
      </div>
      <mib-spacing type="xs2"></mib-spacing>
    </ng-container>
    <div class="flex flex_column gap-12" [formGroup]="form">
      <mib-dnd
        (onChange)="onDocumentLoad($event)"
        [accept]="[
          'application/pdf',
          'application/msword',
          'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
          'application/vnd.ms-excel',
          'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
          'image/jpeg',
          'image/png'
        ]"
        headline="Прикрепите документ"
      ></mib-dnd>
      <div>
        <p class="text text_xs c-bti-tertiary">
          Допустимые форматы для документов: PDF, DOC, DOCX, XLS, XLSX,
          JPEG, PNG
        </p>
        <p class="text text_xs c-bti-tertiary">
          Размер каждого документа не должен превышать 10 МБ
        </p>
      </div>
    </div>
  </div>
</form>
