@import 'src/styles/_typography.vars.scss';

.pin-modal {
	input {
		width: 56px;
		height: 56px;
	}
	input,
	input::placeholder {
		text-align: center;
		@include body-text;
		@include text-l;
		color: var(--bti-tertiary);
	}
}
