@import 'src/styles/helpers/_icon_tools';
@import 'src/styles/_colors.vars';

.hero {
	& img {
		height: 595px;
		object-fit: none;
	}

	& .mobile-btn,
	.mobile-h1 {
		display: none;
	}

	@media (max-width: 768px) {
		& .container {
			padding: 0 16px;
		}

		& > div {
			flex-direction: column;
			gap: 0;
		}

		& .desktop-btn,
		.desktop-h1 {
			display: none;
		}

		& .mobile-h1 {
			display: block;
		}

		& .mobile-btn {
			display: flex;
			& mib-button[size='l'] {
				width: 100%;
				max-width: 328px;
			}
		}

		& h1 {
			padding-top: 32px;
			font-size: 32px;
			line-height: 40px;
			text-align: center;
		}

		& mib-spacing[type='xs'] {
			height: 12px;
		}

		& mib-spacing[type='l'] {
			height: 20px;
		}

		& p {
			font-size: 16px;
			line-height: 24px;
			text-align: center;
		}

		& .img-wrap {
			justify-content: center;
		}

		& img {
			object-fit: cover;
			height: 384px;
		}

		& .lineal {
			display: none;
		}
	}

	& .lineal {
		border-top: 1px solid var(--wgr-tertiary);
		border-bottom: 1px solid var(--wgr-tertiary);

		& .line {
			border-left: 1px solid var(--wgr-tertiary);
		}

		&-item {
			padding: 16px 0;
		}
	}
}

.advantages {
	& mib-icon {
		@include icon-size(40px);
		@include icon-color(var(--mc-default));
	}
}

.products {
	& .container {
		max-width: 1280px;
		padding: 0 72px;
		background-color: var(--mc-quinary);
		border-top-left-radius: 32px;
		border-bottom-left-radius: 32px;
	}

	& img {
		height: 468px;
		object-fit: none;
	}

	& .tag.active {
		color: red;
	}
}

.how {
	& h3 {
		text-align: center;
	}

	& .stapper {
		padding: 0 86px;
	}

	& .step {
		padding: 0 16px;
	}

	& .step > div {
		position: relative;
		padding: 24px;
		background-color: var(--wgr-secondary);
		border-radius: var(--main-border-radius);
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			background: var(--overlay-tertiary);
			border-radius: var(--main-border-radius);
		}
	}

	& .step h4 {
		width: 32px;
		height: 32px;
		color: var(--wgr-primary);
		z-index: 1;
	}

	& .line {
		border-bottom: 1px solid var(--wgr-tertiary);
	}
}

.partners {
	background-color: var(--wgr-secondary);

	& .fixWidth {
		padding: 0 288px;
	}
}

.requests {
	& .container {
		max-width: 1280px;
		padding: 0 72px;
		background-color: var(--mc-quinary);
		border-radius: 32px;
	}

	& .fixWidth {
		padding-right: 192px;
	}

	& img {
		height: 468px;
		object-fit: none;
	}
}
