<section class="hero">
	<div class="container flex gap-16">
		<div class="flex flex_grow flex_justify-center flex_column">
			<h1>Факторинг для поставщиков</h1>
			<mib-spacing type="xs"></mib-spacing>
			<p class="text text_xl c-bti-secondary">
				Факторинг - самый быстрый и безопасный способ превратить дебиторскую
				задолженность в деньги!
			</p>
			<mib-spacing type="l"></mib-spacing>
			<div class="flex">
				<mib-button size="xl" (press)="getFunding()" type="filled-primary">
					Получить финансирование
				</mib-button>
			</div>
		</div>
		<div class="flex flex_grow">
			<img src="./assets/images/staff/mib-staff.png" alt="staff" />
		</div>
	</div>
	<div class="flex lineal">
		<div class="container flex gap-32">
			<div class="flex flex_column flex_grow lineal-item">
				<h4 class="c-mc-default">Менее 15 минут</h4>
				<p class="text text_xl c-bti-secondary">на решение по сделке</p>
			</div>
			<div class="line"></div>
			<div class="flex flex_column flex_grow lineal-item">
				<h4 class="c-bti-primary">От 12% в месяц</h4>
				<p class="text text_xl c-bti-secondary">ставка по задолженности</p>
			</div>
			<div class="line"></div>
			<div class="flex flex_column flex_grow lineal-item">
				<h4 class="c-bti-primary">До 210 дней</h4>
				<p class="text text_xl c-bti-secondary">отсрочка платежа</p>
			</div>
		</div>
	</div>
</section>
<section class="advantages">
	<mib-spacing type="xl2"></mib-spacing>
	<div class="container flex flex_column">
		<h3 class="text-center">
			Преимущества факторинга
			<span class="c-mc-default">металлинвестбанка</span>
		</h3>
		<mib-spacing type="l"></mib-spacing>
		<div class="flex gap-16">
			<div *ngFor="let item of iconsDatas" class="flex flex_column">
				<div class="flex flex_align-center flex_column flex_grow">
					<mib-advantages-icon>
						<ng-container advantagesIcon>
							<mib-icon class="stroke" [name]="item.icon"></mib-icon>
						</ng-container>
					</mib-advantages-icon>
				</div>
				<mib-spacing type="s"></mib-spacing>
				<div class="text-center flex_column gap-4">
					<h4>{{ item.title }}</h4>
					<p class="text text_l c-bti-secondary">{{ item.text }}</p>
				</div>
			</div>
		</div>
	</div>
	<mib-spacing type="xl2"></mib-spacing>
</section>
<section class="products">
	<div class="container flex gap-16">
		<div class="flex flex_grow flex_column">
			<mib-spacing type="xl"></mib-spacing>
			<h3>Наши продукты - факторинг</h3>
			<mib-spacing type="xs"></mib-spacing>
			<mib-tags-group (onChange)="onChange($event)">
				<mib-tag type="floating" [value]="ProductTabsEnum.INNER">
					Внутренний
				</mib-tag>
				<mib-tag type="floating" [value]="ProductTabsEnum.INTERNATIONAL">
					Международный
				</mib-tag>
				<mib-tag type="floating" [value]="ProductTabsEnum.COMPLEX">
					Комплексный
				</mib-tag>
			</mib-tags-group>
			<mib-spacing type="s"></mib-spacing>
			<p class="text text_l c-mc-default">Продукты металлинвестбанка:</p>
			<ng-container [ngSwitch]="currentProductsTab">
				<div *ngSwitchCase="ProductTabsEnum.INNER">
					<mib-spacing type="xs2"></mib-spacing>
					<p class="text text_l c-bti-secondary">
						Факторинг с регрессом – выгодный способ получения оборотных средств
						без увеличения кредитной нагрузки.
					</p>
					<mib-spacing type="xs2"></mib-spacing>
					<p class="text text_l c-bti-secondary">
						Факторинг без регресса – получение оборотных средств с защитой от
						риска неплатежа.
					</p>
					<mib-spacing type="xs2"></mib-spacing>
					<p class="text text_l c-bti-secondary">
						Скрытый факторинг – пополнение оборотных средств без уведомления
						поставщика.
					</p>
				</div>
				<div *ngSwitchCase="ProductTabsEnum.INTERNATIONAL">
					<mib-spacing type="xs2"></mib-spacing>
					<p class="text text_l c-bti-secondary">
						Экспортный факторинг – выгодное финансирование поставок за рубеж.
					</p>
					<mib-spacing type="xs2"></mib-spacing>
					<p class="text text_l c-bti-secondary">
						Импортный факторинг – поддержка импортных операций с иностранными
						поставщиками.
					</p>
				</div>
				<div *ngSwitchCase="ProductTabsEnum.COMPLEX">
					<mib-spacing type="xs2"></mib-spacing>
					<p class="text text_l c-bti-secondary">
						Агентский факторинг – финансирование кредиторской задолженности
						и/или поддержка вашей закупочной деятельности.
					</p>
					<mib-spacing type="xs2"></mib-spacing>
					<p class="text text_l c-bti-secondary">
						Предостаточный факторинг – финансирование под уступку будущих
						требований.
					</p>
				</div>
			</ng-container>
		</div>
		<div class="flex flex_grow">
			<img src="./assets/images/staff/holder/product.jpg" alt="product" />
		</div>
	</div>
</section>
<section class="how">
	<mib-spacing type="xl2"></mib-spacing>
	<h3>Как это работает?</h3>
	<mib-spacing type="l"></mib-spacing>
	<div class="container flex flex_column">
		<div class="flex stapper">
			<div class="flex stap gap-8">
				<div class="flex">
					<h4 class="c-bti-quaternary text-center">1</h4>
				</div>
			</div>
			<div class="flex flex_grow flex_align-center">
				<div class="flex line flex_grow"></div>
			</div>
			<div class="flex stap gap-8">
				<div class="flex">
					<h4 class="c-bti-quaternary text-center">2</h4>
				</div>
			</div>
			<div class="flex flex_grow flex_align-center">
				<div class="flex line flex_grow"></div>
			</div>
			<div class="flex stap gap-8">
				<div class="flex">
					<h4 class="c-bti-quaternary text-center">3</h4>
				</div>
			</div>
			<div class="flex flex_grow flex_align-center">
				<div class="flex line flex_grow"></div>
			</div>
			<div class="flex stap gap-8">
				<div class="flex">
					<h4 class="c-bti-quaternary text-center">4</h4>
				</div>
			</div>
		</div>
		<mib-spacing type="s"></mib-spacing>
		<div class="flex gap-16">
			<div class="flex flex_column flex_align-center">
				<h4>Отгрузка товара</h4>
				<mib-spacing type="xs"></mib-spacing>
				<p class="text text_l c-bti-secondary text-center">
					Поставщик отгружает товары на условиях отсрочки платежа
				</p>
			</div>
			<div class="flex flex_column flex_align-center">
				<h4>Заявка клиента</h4>
				<mib-spacing type="xs"></mib-spacing>
				<p class="text text_l c-bti-secondary text-center">
					Клиент отправляет заявку в личном кабинете на сайте
				</p>
				<mib-link [routerLink]="['/']">
					factoring.metallinvestbank.ru
				</mib-link>
			</div>
			<div class="flex flex_column flex_align-center">
				<h4>Оплата банком</h4>
				<mib-spacing type="xs"></mib-spacing>
				<p class="text text_l c-bti-secondary text-center">
					Банк финансирует поставщика после подписания договора
				</p>
			</div>
			<div class="flex flex_column flex_align-center">
				<h4>Оплата дебитором</h4>
				<mib-spacing type="xs"></mib-spacing>
				<p class="text text_l c-bti-secondary text-center">
					Дебитор оплачивает задолженность по истечению срока факторинга
				</p>
			</div>
		</div>
	</div>
	<mib-spacing type="xl2"></mib-spacing>
</section>
<section class="partners">
	<mib-spacing type="xl"></mib-spacing>

	<h3 class="text-center">Наши партнеры</h3>
	<div class="flex container fixWidth gap-8">
		<p class="text text_l c-bti-secondary text-center">
			По просьбам наших клиентов мы ежедневно расширяем список наших партнеров,
			ниже представлены некоторые из них
		</p>
	</div>
	<mib-spacing type="m"></mib-spacing>
	<div class="container flex flex_wrap gap-16">
		<mib-partner-panel *ngFor="let partner of partnersLogo">
			<img src="{{ partner.img }}" alt="logo-{{ partner.name }}" />
		</mib-partner-panel>
	</div>
	<mib-spacing type="xl"></mib-spacing>
</section>
<section class="requests">
	<mib-spacing type="xl2"></mib-spacing>
	<div class="container flex gap-16">
		<div class="flex flex_column flex_grow">
			<mib-spacing type="xl"></mib-spacing>
			<h3>Заявка на факторинг</h3>
			<mib-spacing type="s"></mib-spacing>
			<div class="flex flex_column gap-12">
				<mib-input>
					<input size="xl" styleType="floating" mibInput />
					<ng-container mibLabel>Как к Вам обращаться?</ng-container>
				</mib-input>
				<div class="flex gap-12">
					<mib-input size="xl" class="flex_grow">
						<input styleType="floating" mibInput />
						<ng-container mibLabel>Мобильный телефон</ng-container>
					</mib-input>
					<mib-input class="flex_grow">
						<input size="xl" styleType="floating" mibInput />
						<ng-container mibLabel>ИНН Вашей организации</ng-container>
					</mib-input>
				</div>
			</div>
			<mib-spacing type="s"></mib-spacing>
			<div class="flex">
				<mib-button size="xl" (press)="getFunding()" type="filled-primary">
					Оставить заявку
				</mib-button>
			</div>
			<mib-spacing type="xs"></mib-spacing>
			<div class="flex fixWidth">
				<p class="text text_m c-bti-tertiary">
					Нажимая на кнопку «Оставить заявку», Вы даете согласие на
					<span class="c-mc-default"> обработку персональных данных </span>
				</p>
			</div>
			<mib-spacing type="xl"></mib-spacing>
		</div>
		<div class="flex flex_grow">
			<img src="./assets/images/staff/factoring-app.jpg" alt="factoring" />
		</div>
	</div>
</section>
<section class="press">
	<mib-spacing type="xl"></mib-spacing>
	<h3 class="text-center">Новости банка</h3>
	<mib-spacing type="m"></mib-spacing>
	<ng-container *ngIf="loading$ | async; else newsPanel">
		<mib-skeleton
			[styles]="defaultSkeleton"
			[style.height]="'485px'"
			*ngFor="let i of [1]"
		></mib-skeleton>
	</ng-container>
	<ng-template #newsPanel>
		<div class="container flex gap-16">
			<mib-news-panel
				class="flex flex_grow"
				[newsTitle]="getAdvancedNews[0]?.Title"
				[newsDate]="getAdvancedNews[0]?.Date | date : 'dd.MM.yyyy'"
				linkText="Открыть новость"
				[showPreview]="getAdvancedNews[0].Image"
				[link]="newsDatas[0]?.link"
				[altText]="getAdvancedNews[0]?.Title"
			></mib-news-panel>
			<div class="flex flex_grow flex_column gap-16">
				<mib-news-panel
					class="flex flex_grow"
					[vertical]="false"
					[newsTitle]="getAdvancedNews[1]?.Title"
					[newsDate]="getAdvancedNews[1]?.Date | date : 'dd.MM.yyyy'"
					linkText="Подробнее"
					[showPreview]="getAdvancedNews[1].Image"
					[link]="newsDatas[1]?.link"
					[altText]="getAdvancedNews[0]?.Title"
				></mib-news-panel>
				<mib-news-panel
					[vertical]="false"
					[newsTitle]="getAdvancedNews[2]?.Title"
					[newsDate]="getAdvancedNews[2]?.Date | date : 'dd.MM.yyyy'"
					linkText="Подробнее"
					[showPreview]="getAdvancedNews[2].Image"
					[link]="newsDatas[2]?.link"
					[altText]="getAdvancedNews[0]?.Title"
				></mib-news-panel>
			</div>
		</div>
	</ng-template>
	<mib-spacing type="m"></mib-spacing>
	<div class="flex flex_justify-center">
		<mib-button
			size="l"
			[routerLink]="'/news'"
			(press)="getFunding()"
			type="filled-secondary"
		>
			Показать больше
		</mib-button>
	</div>
</section>
<mib-spacing type="xl"></mib-spacing>
