@import 'src/styles/helpers/_icon_tools';
@import 'src/styles/_colors.vars';

.hero {
	background-color: #f0f4f5;

	& .lineal {
		background-color: var(--wgr-primary);
	}
	& img {
		height: 595px;
		object-fit: none;
	}

	& .mobile-btn,
	.mobile-h1 {
		display: none;
	}

	@media (max-width: 768px) {
		& .container {
			padding: 0 16px;
		}

		& > div {
			flex-direction: column;
			gap: 0;
		}

		& .desktop-btn,
		.desktop-h1 {
			display: none;
		}

		& .mobile-h1 {
			display: block;
		}

		& .mobile-btn {
			padding: 16px 0;
			display: flex;
			border-bottom: 1px solid var(--wgr-tertiary);
			background-color: var(--wgr-primary);
			& mib-button[size='l'] {
				width: 100%;
				max-width: 328px;
			}
			& > div {
				padding: 0 16px;
			}
		}

		& h1 {
			padding-top: 32px;
			font-size: 32px;
			line-height: 40px;
			text-align: center;
		}

		& mib-spacing[type='x'] {
			height: 12px;
		}

		& mib-spacing[type='l'] {
			height: 20px;
		}

		& p {
			font-size: 16px;
			line-height: 24px;
			text-align: center;
		}

		& .img-wrap {
			justify-content: center;
		}

		& img {
			object-fit: cover;
			height: 384px;
		}

		& .lineal {
			display: none;
		}
	}

	& .lineal {
		border-top: 1px solid var(--wgr-tertiary);
		border-bottom: 1px solid var(--wgr-tertiary);

		& .line {
			border-left: 1px solid var(--wgr-tertiary);
		}

		&-item {
			padding: 16px 0;
		}
	}
}

.advantages {
	& mib-icon {
		@include icon-size(40px);
		@include icon-color(var(--mc-default));
	}

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;

		& mib-spacing[type='xl2'] {
			height: 64px;
		}

		&-mobile {
			flex-direction: column;
			gap: 24px;
		}

		& mib-spacing[type='l'] {
			height: 24px;
		}

		& mib-spacing[type='s'] {
			height: 12px;
		}
	}
}

.products {
	& .container {
		max-width: 1280px;
		padding: 0 72px;
		background-color: var(--mc-quinary);
		border-radius: 32px;
		min-height: 520px;
		gap: 16px;

		& .individual,
		.title-spacing {
			display: none;
		}

		& mib-tags-group {
			height: 48px;
			background-color: white;
			align-items: center;
			display: flex;
			border-radius: 8px;
			padding: 2px;
		}

		& .hide {
			display: none;
		}

		& .products-img.hide,
		.products-btn.hide {
			display: none;
		}

		& .tags-content {
			& .frame {
				padding-right: 32px;
			}
			& .frame-r {
				padding-left: 64px;

				& .progress-bar {
					width: 216px;
					padding-top: 8px;
					gap: 4px;
					& .wrap {
						padding-bottom: 4px;
						gap: 2px;
					}
					& .line {
						width: 100%;
						height: 4px;
						border-radius: 4px;
						background-color: #cddff1;

						& .progress {
							height: 4px;
							border-radius: 4px;
							background-color: var(--mc-default);
						}
					}
				}

				& .timeline {
					& .point.active {
						& span {
							color: var(--mc-default);
						}
						& mib-icon {
							@include icon-color(var(--mc-default));
							@include icon-size(20px);
						}
					}
				}
			}
		}

		& .products-img {
			justify-content: center;

			& mib-spacing[type='s'] {
				display: none;
			}
		}

		& img {
			height: auto;
			object-fit: contain;
		}

		@media (max-width: 1100px) {
			flex-direction: column;
			gap: 0;
			min-height: auto;

			mib-spacing[type='xl'] {
				display: none;
			}

			& .individual {
				display: flex;
			}

			& .mob-products {
				order: 1;
				text-align: center;
			}

			& .products-img {
				& img {
					height: 280px;
				}
				& mib-spacing[type='s'] {
					display: flex;
				}
			}

			& .products-btn > div {
				padding-bottom: 24px;
				justify-content: center;
			}
		}

		@media (max-width: 992px) {
			padding: 0 36px;
		}

		@media (max-width: 768px) {
			padding: 0;
			border-radius: 0;
			& .tags-wrap {
				padding: 0 16px;
				overflow-x: auto;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: none; /* Internet Explorer 10+ */
				scrollbar-width: none; /* Firefox */
				&::-webkit-scrollbar {
					display: none;
				}
			}

			& .products-description {
				padding: 0 16px;
			}

			& .tags-content {
				flex-direction: column;

				& .frame {
					padding: 0;
				}

				& .frame-r {
					padding: 0;

					& .frame-mobile {
						display: none;
					}

					& .progress-bar {
						width: 100%;
					}

					& .timeline {
						display: none;
					}
				}
			}
		}

		@media (max-width: 576px) {
			& .products-img {
				padding: 0;
				justify-content: center;
			}

			& img {
				height: 280px;
				object-fit: contain;
			}

			& mib-spacing[type='xs'] {
				display: none;
			}

			& .tags-content {
				padding: 0 16px;
			}

			& .frame {
				& mib-button {
					width: 100%;
				}
			}

			& .products-btn {
				padding: 0 16px;
				mib-button[size='m'] {
					width: 100%;
				}
			}
		}
	}
}

.how {
	h3 {
		text-align: center;
	}

	.how-mobile {
		display: none;
	}

	.stapper {
		padding: 0 86px;
	}

	.step {
		padding: 0 16px;
	}

	.step > div {
		position: relative;
		padding: 24px;
		background-color: var(--wgr-secondary);
		border-radius: var(--main-border-radius);
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			background: var(--overlay-tertiary);
			border-radius: var(--main-border-radius);
		}
	}

	.step h4 {
		width: 32px;
		height: 32px;
		color: var(--wgr-primary);
		z-index: 1;
	}

	.line {
		border-bottom: 1px solid var(--wgr-tertiary);
	}

	@media (max-width: 992px) {
		& .stapper {
			flex-direction: column;
			padding: 0;
			gap: 16px;

			& .step {
				justify-content: center;
			}

			& .how-line {
				display: none;
			}
		}
		.how-mobile {
			display: flex;
			& mib-spacing[type='xs'] {
				display: none;
			}
		}

		.how-desktop {
			display: none;
		}

		& mib-spacing[type='xl2'] {
			display: block;
			height: 64px;
		}

		& mib-spacing[type='l'] {
			display: block;
			height: 24px;
		}

		& mib-spacing[type='s'] {
			display: none;
		}
	}
}

.partners {
	background-color: var(--wgr-secondary);

	& .fixWidth {
		padding: 0 288px;
	}

	@media (max-width: 992px) {
		& .fixWidth {
			padding: 0 120px;
		}
	}

	@media (max-width: 576px) {
		& mib-spacing[type='xl'] {
			height: 48px;
			display: block;
		}

		& .fixWidth {
			padding: 8px 16px 0;
		}

		& mib-spacing[type='m'] {
			height: 24px;
			display: block;
		}

		& .container {
			padding: 0 16px;
			gap: 12px;
		}
	}
}

.requests {
	& .container {
		max-width: 1280px;
		padding: 0 72px;
		background-color: var(--mc-quinary);
		border-radius: 32px;

		@media (max-width: 1100px) {
			flex-direction: column;

			& mib-spacing [type='xl2'] {
				height: 64px;
				display: block;
			}

			& .requests-form {
				order: 1;
				text-align: center;

				& mib-spacing[type='xl'] {
					height: 24px;
				}

				& mib-spacing[type='s'] {
					height: 16px;
				}

				& .requests-btn {
					justify-content: center;

					& mib-button {
						width: 50%;
					}
				}
			}

			& .fixWidth {
				padding: 0 16px;
			}

			& .requests-img {
				justify-content: center;
			}
		}

		@media (max-width: 768px) {
			padding: 0 32px;
		}

		@media (max-width: 576px) {
			border-radius: 0;
			padding: 0 16px;
			gap: 24px;

			& .requests-form {
				padding-bottom: 24px;

				& mib-spacing[type='xl'] {
					display: none;
				}

				& .requests-btn {
					& mib-button {
						width: 100%;
					}
				}

				& .requests-form--wrap {
					flex-direction: column;
				}
			}

			& .requests-img {
				img {
					height: 264px;
					object-fit: contain;
				}
			}
		}
	}

	@media (max-width: 576px) {
		mib-spacing[type='xl2'] {
			height: 64px;
			display: block;
		}
	}

	& .fixWidth {
		padding-right: 192px;
	}

	& img {
		height: 468px;
		object-fit: none;
	}
}

.press {
	.container {
		@media (max-width: 762px) {
			flex-direction: column;
		}

		@media (max-width: 576px) {
			padding: 0 16px;

			& .desktop-pannel {
				display: none;
			}
		}
	}

	@media (max-width: 576px) {
		& .press-btn {
			padding: 0 16px;
			& mib-button {
				width: 100%;
			}
		}
	}
}
