<section class="hero">
	<div class="container flex gap-16">
		<div class="wrap flex flex_grow flex_justify-center flex_column">
			<h1 class="desktop-h1">Факторинг для поставщиков</h1>
			<h1 class="mobile-h1">
				Факторинг <br />
				для поставщиков
			</h1>
			<mib-spacing type="x"></mib-spacing>
			<p class="text text_xl c-bti-secondary">
				Факторинг - самый быстрый и безопасный способ превратить дебиторскую
				задолженность в деньги!
			</p>
			<mib-spacing type="l"></mib-spacing>
			<div class="flex desktop-btn">
				<mib-button
					size="xl"
					(click)="openLandingRequestModal('Получить финансирование')"
					type="filled-primary"
				>
					Получить финансирование
				</mib-button>
			</div>
		</div>
		<div class="img-wrap flex flex_grow">
			<img src="./assets/images/staff/mib-staff-1.png" alt="staff" />
		</div>
	</div>
	<div class="flex gap-16 flex_column mobile-btn">
		<mib-swipe-text-slider></mib-swipe-text-slider>
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex flex_justify-center">
			<mib-button
				size="l"
				(click)="openLandingRequestModal('Получить финансирование')"
				type="filled-primary"
			>
				Получить финансирование
			</mib-button>
		</div>
	</div>
	<div class="flex lineal">
		<div class="container flex gap-32">
			<div class="flex flex_column flex_grow lineal-item">
				<h4 class="c-mc-default">Менее 15 минут</h4>
				<p class="text text_xl c-bti-secondary">на решение по сделке</p>
			</div>
			<div class="line"></div>
			<div class="flex flex_column flex_grow lineal-item">
				<h4 class="c-bti-primary">От 0,05% в день</h4>
				<p class="text text_xl c-bti-secondary">ставка за финансирование</p>
			</div>
			<div class="line"></div>
			<div class="flex flex_column flex_grow lineal-item">
				<h4 class="c-bti-primary">Более 180 дней</h4>
				<p class="text text_xl c-bti-secondary">отсрочка платежа</p>
			</div>
		</div>
	</div>
</section>
<section class="advantages">
	<div class="container flex flex_column">
		<mib-spacing type="xl2"></mib-spacing>
		<div class="advantages-mobile flex flex_center flex_wrap gap-16">
			<div *ngFor="let item of iconsDatas" class="item flex flex_column">
				<div class="flex flex_align-center flex_column flex_grow">
					<mib-advantages-icon>
						<ng-container advantagesIcon>
							<mib-icon class="stroke" [name]="item.icon"></mib-icon>
						</ng-container>
					</mib-advantages-icon>
				</div>
				<mib-spacing type="s"></mib-spacing>
				<div class="text-center flex_column gap-4">
					<h4>{{ item.title }}</h4>
					<p class="text text_l c-bti-secondary">{{ item.text }}</p>
				</div>
			</div>
		</div>
	</div>
	<mib-spacing type="xl2"></mib-spacing>
</section>
<section class="products">
	<div class="container flex">
		<div class="flex wrapper">
			<div class="mob-products flex flex_grow flex_column">
				<mib-spacing
					[ngClass]="{individual: imgNumber === ProductTabsEnum.INDIVIDUAL}"
					class="title-spacing"
					type="s"
				></mib-spacing>
				<mib-spacing type="xl"></mib-spacing>
				<h3>
					{{ isDesktop ? 'Наши продукты - факторинг' : 'Наши продукты' }}
				</h3>
				<mib-spacing type="{{ isDesktop ? 's' : 'xs' }}"></mib-spacing>
				<div class="flex extra-wrap">
					<div class="shadow-left hide-shadow"></div>
					<div class="shadow-right"></div>
					<div
						#tagsContainer
						id="tags-container"
						(swipe)="onSwipe($event)"
						class="flex tags-wrap"
					>
						<mib-tags-group (onChange)="onChange($event)">
							<mib-tag size="xl" type="special" [value]="ProductTabsEnum.INNER">
								Внутренний
							</mib-tag>
							<mib-tag
								size="xl"
								type="special"
								[value]="ProductTabsEnum.INTERNATIONAL"
							>
								Международный
							</mib-tag>
							<mib-tag
								size="xl"
								type="special"
								[value]="ProductTabsEnum.COMPLEX"
							>
								Комплексный
							</mib-tag>
							<mib-tag
								size="xl"
								type="special"
								[value]="ProductTabsEnum.INDIVIDUAL"
							>
								Подобрать продукт
								<mib-badge type="filled-accent" [extended]="true" size="m"
									>NEW</mib-badge
								>
							</mib-tag>
						</mib-tags-group>
					</div>
				</div>
				<ng-container [ngSwitch]="currentProductsTab">
					<div class="flex_column" *ngSwitchCase="ProductTabsEnum.INNER">
						<mib-spacing
							type="{{ isDesktop ? 'm' : 's' }}"
							type="s"
						></mib-spacing>
						<p class="products-title text_medium text text_l c-mc-default">
							Продукты внутреннего факторинга
						</p>
						<mib-spacing type="xs2"></mib-spacing>
						<p class="products-description text text_l c-bti-secondary">
							Факторинг с регрессом – выгодный способ получения оборотных
							средств без увеличения кредитной нагрузки.
						</p>
						<mib-spacing type="xs2"></mib-spacing>
						<p class="products-description text text_l c-bti-secondary">
							Факторинг без регресса – получение оборотных средств с защитой от
							риска неплатежа.
						</p>
						<mib-spacing type="xs2"></mib-spacing>
						<p class="products-description text text_l c-bti-secondary">
							Скрытый факторинг – пополнение оборотных средств без уведомления
							поставщика.
						</p>
					</div>
					<div
						class="flex_column"
						*ngSwitchCase="ProductTabsEnum.INTERNATIONAL"
					>
						<mib-spacing
							type="{{ isDesktop ? 'm' : 's' }}"
							type="s"
						></mib-spacing>
						<p class="products-title text_medium text text_l c-mc-default">
							Продукты международного факторинга
						</p>
						<mib-spacing type="xs2"></mib-spacing>
						<p class="products-description text text_l c-bti-secondary">
							Экспортный факторинг – выгодное финансирование поставок за рубеж.
						</p>
						<mib-spacing type="xs2"></mib-spacing>
						<p class="products-description text text_l c-bti-secondary">
							Импортный факторинг – поддержка импортных операций с иностранными
							поставщиками.
						</p>
					</div>
					<div class="flex_column" *ngSwitchCase="ProductTabsEnum.COMPLEX">
						<mib-spacing
							type="{{ isDesktop ? 'm' : 's' }}"
							type="s"
						></mib-spacing>
						<p class="products-title text_medium text text_l c-mc-default">
							Продукты комплексного факторинга
						</p>
						<mib-spacing type="xs2"></mib-spacing>
						<p class="products-description text text_l c-bti-secondary">
							Агентский факторинг – финансирование кредиторской задолженности
							и/или поддержка вашей закупочной деятельности.
						</p>
						<mib-spacing type="xs2"></mib-spacing>
						<p class="products-description text text_l c-bti-secondary">
							Предпоставочный факторинг – финансирование под уступку будущих
							требований.
						</p>
					</div>
					<div *ngSwitchCase="ProductTabsEnum.INDIVIDUAL" class="flex">
						<mib-quest
							(onPress)="openLandingRequestModal('Получить консультацию')"
							[questions]="questionList"
						></mib-quest>
					</div>
					<!-- <div
						class="flex tags-content"
						*ngSwitchCase="ProductTabsEnum.INDIVIDUAL"
					>
						<div class="flex flex_grow flex_column frame">
							<mib-spacing
								type="{{ isDesktop ? 'm' : 's' }}"
								type="s"
							></mib-spacing>
							<p class="products-title text_medium text text_l c-mc-default">
								Индивидуальное предложение
							</p>
							<mib-spacing type="xs2"></mib-spacing>
							<p class="text text_l c-bti-secondary">
								Заполните форму, чтобы мы смогли предложить вам один или
								несколько подходящих продуктов.
							</p>
							<div class="flex flex_column">
								<mib-spacing type="{{ isDesktop ? 's' : 'xs' }}"></mib-spacing>
								<mib-input>
									<input
										#innInput
										type="number"
										pattern="/^-?\d+\.?\d*$/"
										onKeyPress="if(this.value.length==10) return false;"
										size="l"
										styleType="floating"
										mibInput
									/>
									<ng-container mibLabel>ИНН Организации</ng-container>
								</mib-input>
								<mib-spacing type="{{ isDesktop ? 's' : 'xs' }}"></mib-spacing>
								<div class="flex">
									<mib-button
										(press)="
											openLandingRequestModal('Подобрать продукт');
											clearInput(innInput)
										"
										size="m"
										type="filled-primary"
										>Далее
										<mib-icon
											btn-right-icon
											class="stroke"
											name="fi_chevron-right"
										></mib-icon>
									</mib-button>
								</div>
								<mib-spacing type="{{ isDesktop ? 's' : 'xs' }}"></mib-spacing>
							</div>
						</div>
						<div class="flex flex_grow flex_column frame-r">
							<mib-spacing class="frame-mobile" type="s"></mib-spacing>
							<div class="flex flex_column progress-bar">
								<div
									class="wrap flex flex_justify-start text text_m c-bti-secondary"
								>
									<span>{{ progress }}</span>
									<span> из {{ maxPage }}</span>
								</div>
								<div class="line">
									<div
										class="progress"
										[ngStyle]="{width: (progress / maxPage) * 100 + '%'}"
									></div>
								</div>
								<mib-spacing type="{{ isDesktop ? 'xs' : 's' }}"></mib-spacing>
							</div>
							<div class="flex flex_column timeline">
								<div class="flex point">
									<span class="text text_l c-bti-quaternary">
										Сумма финансирования
									</span>
								</div>
								<div class="flex point active flex_align-center gap-8">
									<span class="text text_l c-bti-quaternary"> ИНН </span>
									<mib-icon
										btn-icon
										class="stroke"
										name="fi_chevron-left"
									></mib-icon>
								</div>
								<div class="flex point">
									<span class="text text_l c-bti-quaternary">
										Срок отсрочки
									</span>
								</div>
							</div>
						</div>
					</div> -->
				</ng-container>
				<div
					[ngClass]="{hide: imgNumber === ProductTabsEnum.INDIVIDUAL}"
					class="products-btn flex flex_column"
				>
					<mib-spacing type="s"></mib-spacing>
					<div class="flex">
						<mib-button
							(click)="openLandingRequestModal('Получить консультацию')"
							size="m"
							type="filled-primary"
						>
							Получить консультацию
						</mib-button>
					</div>
					<mib-spacing type="xl"></mib-spacing>
				</div>
			</div>
			<div
				[ngClass]="{hide: imgNumber === ProductTabsEnum.INDIVIDUAL}"
				class="products-img flex_column flex flex_grow flex_center"
			>
				<mib-spacing type="s"></mib-spacing>
				<img
					src="./assets/images/staff/holder/product_v4-{{
						imgNumber === ProductTabsEnum.INDIVIDUAL
							? ProductTabsEnum.INNER
							: imgNumber
					}}.png"
					alt="product"
				/>
				<mib-spacing type="s"></mib-spacing>
			</div>
		</div>
	</div>
</section>
<mib-spacing type="{{ isDesktop ? 'xl2' : 'lm' }}"></mib-spacing>
<section class="how">
	<mib-spacing type="xl2"></mib-spacing>
	<h3>Как это работает?</h3>
	<mib-spacing type="l"></mib-spacing>
	<div class="container flex_wrap flex_justify-center flex gap-20">
		<div
			*ngFor="let item of howDatas"
			class="flex flex_column w-100 flex-grow how-wrap"
		>
			<div class="flex flex_column how-card">
				<div class="flex how-icon">
					<img src="{{ item.img }}" alt="{{ item.title }}" />
				</div>
				<div class="flex flex_column how-content">
					<h4>
						{{ item.title }}
					</h4>
					<mib-spacing type="{{ isDesktop ? 'xs' : 'xs2' }}"></mib-spacing>
					<span class="text text_l c-bgr-secondary">
						{{ item.desc }}
					</span>
				</div>
			</div>
		</div>
	</div>
	<mib-spacing type="xl2"></mib-spacing>
</section>
<mib-spacing type="{{ isDesktop ? 'xl2' : 'lm' }}"></mib-spacing>
<section class="requests">
	<div class="container flex">
		<div class="flex wrap gap-16">
			<div [formGroup]="form" class="requests-form flex flex_column flex_grow">
				<mib-spacing type="xl"></mib-spacing>
				<h3>Заявка на факторинг</h3>
				<mib-spacing type="s"></mib-spacing>
				<div class="flex flex_column gap-12">
					<input type="hidden" formControlName="FormName" />
					<mib-autocomplete
						[extra]="true"
						formControlName="Organization"
						[options]="options"
					>
					</mib-autocomplete>
					<mib-input>
						<input
							formControlName="Name"
							size="{{ isDesktop ? 'xl' : 'l' }}"
							styleType="floating"
							mibInput
						/>
						<ng-container mibLabel>Как к Вам обращаться?</ng-container>
					</mib-input>
					<div class="requests-form--wrap flex gap-12">
						<mib-input class="flex_grow">
							<input
								formControlName="Phone"
								prefix="+"
								mask="0 (000) 000-00-00"
								type="tel"
								size="{{ isDesktop ? 'xl' : 'l' }}"
								styleType="floating"
								mibInput
							/>
							<ng-container mibLabel>Мобильный телефон</ng-container>
						</mib-input>
						<mib-input class="flex_grow">
							<input
								type="text"
								maxlength="12"
								minlength="10"
								formControlName="INN"
								size="{{ isDesktop ? 'xl' : 'l' }}"
								styleType="floating"
								mibInput
							/>
							<ng-container mibLabel>ИНН Вашей организации</ng-container>
						</mib-input>
					</div>
					<!-- <mib-textarea
						size="{{ isDesktop ? 'xl' : 'l' }}"
						styleType="floating"
					>
						<ng-container mibLabel>Использовали факторинг ранее?</ng-container>
						<textarea
							styleType="floating"
							[maxLength]="100"
							formControlName="Comment"
							autosize
							mibTextarea
						></textarea>
					</mib-textarea> -->
					<div class="flex gap-8">
						<mib-checkbox size="{{ isDesktop ? 'l' : 'm' }}"> </mib-checkbox>
						<p
							[ngClass]="isDesktop ? 'text_l' : 'text_m'"
							class="text-left text c-bti-secondary"
						>
							Мы уже работаем по факторингу
						</p>
					</div>
				</div>
				<mib-spacing type="{{ isDesktop ? 's' : 'm' }}"></mib-spacing>
				<div class="requests-btn flex">
					<mib-button
						size="{{ isDesktop ? 'xl' : 'l' }}"
						(press)="onSubmit()"
						[disabled]="form.invalid"
						[loading]="!!(isSubmitting$ | async)"
						type="filled-primary"
					>
						Оставить заявку
					</mib-button>
				</div>
				<mib-spacing type="xs"></mib-spacing>
				<div class="flex gap-8">
					<mib-checkbox
						size="{{ isDesktop ? 'l' : 'm' }}"
						formControlName="Agree"
					>
					</mib-checkbox>
					<p
						[ngClass]="isDesktop ? 'text_m' : 'text_s'"
						class="text-left text c-bti-tertiary"
					>
						Пожалуйста подтвердите Ваше согласие на
						<span
							(click)="openAgreementModal()"
							class="c-mc-default cursor-pointer"
						>
							обработку персональных данных.
						</span>
					</p>
				</div>
				<mib-spacing type="xl"></mib-spacing>
			</div>
			<div class="requests-img flex flex_align-center flex_grow">
				<img
					src="./assets/images/staff/requests/factoring-application.png"
					alt="factoring"
				/>
				<div class="flex img-shadow"></div>
			</div>
		</div>
	</div>
	<mib-spacing type="{{ isDesktop ? 'xl2' : 'lm' }}"></mib-spacing>
</section>
<section class="partners">
	<div class="flex container flex_column fixWidth">
		<mib-spacing type="{{ isDesktop ? 'xl' : 'l' }}"></mib-spacing>
		<h3>Наши партнеры</h3>
		<mib-spacing type="xs2"></mib-spacing>
		<p *ngIf="isDesktop; else mobile" class="text text_l c-bti-secondary">
			По просьбам наших клиентов мы ежедневно расширяем список
			<br />
			наших партнеров, ниже представлены некоторые из них
		</p>
		<ng-template #mobile>
			<p class="text text_l c-bti-secondary">
				По просьбам наших клиентов мы ежедневно расширяем список наших
				партнеров, ниже представлены некоторые из них
			</p>
		</ng-template>
		<mib-spacing type="{{ isDesktop ? 'm' : 's' }}"></mib-spacing>
	</div>
	<div class="flex flex_column gap-12">
		<div class="scroll-wrap gap-20 flex">
			<div class="item gap-20 flex infinee">
				<mib-partner-panel *ngFor="let partner of partnersLogo">
					<img src="{{ partner.img }}" alt="logo-{{ partner.name }}" />
				</mib-partner-panel>
			</div>
			<div aria-hidden="true" class="item gap-20 flex infinee">
				<mib-partner-panel *ngFor="let partner of partnersLogo">
					<img src="{{ partner.img }}" alt="logo-{{ partner.name }}" />
				</mib-partner-panel>
			</div>
		</div>
		<div class="scroll-wrap gap-20 flex">
			<div class="item gap-20 flex infinee reverce">
				<mib-partner-panel *ngFor="let partner of partnersLogo">
					<img src="{{ partner.img }}" alt="logo-{{ partner.name }}" />
				</mib-partner-panel>
			</div>
			<div aria-hidden="true" class="item gap-20 flex infinee reverce">
				<mib-partner-panel *ngFor="let partner of partnersLogo">
					<img src="{{ partner.img }}" alt="logo-{{ partner.name }}" />
				</mib-partner-panel>
			</div>
		</div>
	</div>
	<mib-spacing type="{{ isDesktop ? 'xl' : 'l' }}"></mib-spacing>
</section>
<!-- <section class="press">
	<mib-spacing type="{{ isDesktop ? 'xl' : 'l' }}"></mib-spacing>
	<h3 class="text-center">Новости банка</h3>
	<mib-spacing type="{{ isDesktop ? 'm' : 'xs' }}"></mib-spacing>
	<ng-container *ngIf="loading$ | async; else newsPanel">
		<mib-skeleton
			[styles]="isDesktop ? defaultSkeleton : mobileSkeleton"
			*ngFor="let i of [1]"
		></mib-skeleton>
	</ng-container>
	<ng-template #newsPanel>
		<div class="flex">
			<mib-news-panel
				[superHero]="isDesktop ? true : false"
				[newsTitle]="getAdvancedNews[0].Title"
				[newsText]="getAdvancedNews[0].Text"
				[newsDate]="getAdvancedNews[0].Date | date : 'dd.MM.yyyy'"
				linkText="Открыть новость"
				[showPreview]="getAdvancedNews[0].Image"
				[link]="'/news/' + getAdvancedNews[0].ID"
				[altText]="getAdvancedNews[0].Title"
			></mib-news-panel>
		</div>
		<mib-spacing type="m"></mib-spacing>
		<div [ngClass]="{flex_column: !isDesktop}" class="news-wrap flex gap-16">
			<mib-news-panel
				[vertical]="isDesktop ? true : false"
				[showLink]="isDesktop ? true : false"
				[newsTitle]="getAdvancedNews[1]?.Title"
				[newsDate]="getAdvancedNews[1]?.Date | date : 'dd.MM.yyyy'"
				linkText="Подробнее"
				[showPreview]="getAdvancedNews[1].Image"
				[link]="'/news/' + getAdvancedNews[1].ID"
				[altText]="getAdvancedNews[1]?.Title"
			></mib-news-panel>
			<mib-news-panel
				[vertical]="isDesktop ? true : false"
				[showLink]="isDesktop ? true : false"
				[newsTitle]="getAdvancedNews[2]?.Title"
				[newsDate]="getAdvancedNews[2]?.Date | date : 'dd.MM.yyyy'"
				linkText="Подробнее"
				[showPreview]="getAdvancedNews[2].Image"
				[link]="'/news/' + getAdvancedNews[2].ID"
				[altText]="getAdvancedNews[2]?.Title"
			></mib-news-panel>
			<mib-news-panel
				[style.display]="isDesktop ? 'flex' : 'none'"
				[vertical]="true"
				[showLink]="true"
				[newsTitle]="getAdvancedNews[3]?.Title"
				[newsDate]="getAdvancedNews[3]?.Date | date : 'dd.MM.yyyy'"
				linkText="Подробнее"
				[showPreview]="getAdvancedNews[3].Image"
				[link]="'/news/' + getAdvancedNews[3].ID"
				[altText]="getAdvancedNews[3]?.Title"
			></mib-news-panel>
		</div>
	</ng-template>
	<mib-spacing type="{{ isDesktop ? 'm' : 's' }}"></mib-spacing>
	<div class="press-btn flex flex_justify-center">
		<mib-button size="l" [routerLink]="'/news'" type="filled-secondary">
			Показать больше
		</mib-button>
	</div>
	<mib-spacing type="{{ isDesktop ? 'xl' : 'l' }}"></mib-spacing>
</section> -->
