.items {
  padding: 40px;
  display: flex;
  gap: 20px;

  &.rows {
    flex-direction: column;
  }

  &.grey {
    background-color: #ededed;
  }
}

.container {
  width: 900px;
  margin: auto;
}

hr {
  border: none;
  color: #ededed;
  background-color: #ededed;
  height: 1px;
}
