<!-- <h2>
  Menu
</h2>
<mib-menu></mib-menu>
<hr> -->

<h2>
  Buttons
</h2>
<div class="items">
  <mib-button (click)="incrementButton(1)" [title]="'Скачать договор'"></mib-button>
  <mib-button (click)="incrementButton(2)" [title]="'Личный кабинет'" [icon]="'../../../../assets/icons/button-icons/icon_key.svg'" [theme]="'regular'"></mib-button>
  <mib-button (click)="incrementButton(3)" [icon]="'../../../../assets/icons/button-icons/icon_whatsapp.svg'" [theme]="'icon'"></mib-button>
</div>

<hr>

<h2>
  Inputs
</h2>

<hr>

<h2>
  Progress
</h2>

<hr>

<h2>
  Modals
</h2>

<hr>

<h2>
  Text
</h2>

<hr>

<h2>
  Cards
</h2>

<hr>

<h2>
  Icons
</h2>

<hr>

<h2>
  Sections
</h2>

<hr>

<h2>
  News
</h2>
