<div class="sub-header">
  <div class="sub-header__title">
    <h2>Новости</h2>
    <p>Всего {{(newsListFiltered$ | async)?.length}} новости</p>
  </div>
  <form class="sub-header__actions sub-header__actions_search" [formGroup]="filterForm">
    <input type="text" pInputText placeholder="Поиск" class="search search_small" formControlName="search" >
    <button type="button" pButton label="Создать" class="basic"></button>
  </form>
</div>
<div class="content content_cards">
  <card-news
    *ngFor="let newsItem of (newsListFiltered$ | async)"
    [image]="newsItem.ID"
    [date]="newsItem.Date"
    [title]="newsItem.Title"
    [desc]="newsItem.Text">
  </card-news>
</div>
