<div class="mobile header">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="../../../../../assets/images/logo_big_normal_svg.svg">
    </a>
  </div>
  <input type="checkbox" class="toggler">
  <div class="burger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul class="mib-mb-20">
          <li>
            <a [routerLink]="['demand']" (click)="close()">Запросы</a>
          </li>
        </ul>
        <div class="account mib-mb-20">
          <div class="header-block account-ava">
            <img src="/assets/images/mib_ava.png" alt="">
          </div>
          <div class="header-block account-owner">
            <div class="account-info-name">
              <ng-container *ngIf="(currentUserFactoring$ | async); else skeletonUserNameTemplate">
                {{(currentUserFactoring$ | async)?.Name}}
              </ng-container>
              <ng-template #skeletonUserNameTemplate>
                <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
              </ng-template>
            </div>
            <div class="account-info-email">
              <ng-container *ngIf="(currentUserFactoring$ | async); else skeletonUserEmailTemplate">
                {{(currentUser$ | async)?.Profile.Email}}
              </ng-container>
              <ng-template #skeletonUserEmailTemplate>
                <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="dropdown-content">
          <div class="items">
            <!-- <div class="item" (click)="getInfo()">
              <div class="icon">
                <img src="../../../../../assets/icons/header-icons/info_icon.svg">
              </div>
              <a>Справка</a>
            </div> -->
            <div class="item">
              <div class="icon grey">
                <img src="../../../../../assets/icons/header-icons/exit_icon.svg">
              </div>
              <a href="#" (click)="logout()">Выйти</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
