<p-card>
  <h2>Факторинг</h2>
  <div class="p-grid">
    <div class="p-col">
      <h4>Ваш персональный менеджер</h4>
      <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>

      <p>Ермолова Юлия (55-27)</p>
      <p>eyv@metib.ru</p>
    </div>
    <div class="p-col">
      <h4>Договор Факторинга</h4>
      <p>1085/08-2015 от 09.01.2019</p>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <h5>Лимит</h5>
      <p>320 000 000,00р</p>
    </div>
    <div class="p-col">
      <h5>Уступлено</h5>
      <p>0,00р</p>
    </div>
    <div class="p-col">
      <h5>Просрочка</h5>
      <p>0,00р</p>
    </div>
    <div class="p-col">
      <h5>Свободный лимит</h5>
      <p>320 000 000,00p.</p>
    </div>
  </div>
</p-card>
