<mib-drawer>
	<mib-drawer-header
		(onClose)="dialogRef.close()"
		drawer-header
	></mib-drawer-header>
	<mib-drawer-container>
		<h4>Добавить документ</h4>
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex flex_column gap-12">
			<mib-dnd
				[accept]="[
					'application/pdf',
					'application/msword',
					'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
					'application/vnd.ms-excel',
					'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
					'image/jpeg',
					'image/png'
				]"
				headline="Прикрепите скан-копию документа"
			></mib-dnd>
			<p class="text text_xs c-bti-tertiary">
				Допустимые форматы для документов: PDF, DOC, DOCX, XLS, XLSX, JPEG, PNG
			</p>
			<p class="text text_xs c-bti-tertiary">
				Размер каждого документа не должен превышать 10 МБ
			</p>
		</div>
		<mib-spacing type="xs"></mib-spacing>
		<mib-textarea>
			<ng-container textarea-label
				>Описание для файлов (не обязательно для заполнения)</ng-container
			>
			<textarea autosize mibTextarea></textarea>
			<mib-icon class="stroke" mibRightIcon name="fi_edit"></mib-icon>
		</mib-textarea>
		<mib-spacing type="xs"></mib-spacing>
		<div class="flex gap-8">
			<mib-checkbox></mib-checkbox>
			<span class="text text_m"> Подписать </span>
		</div>
	</mib-drawer-container>
	<mib-drawer-footer drawer-footer>
		<mib-button [disabled]="true" [size]="size" type="filled-primary">
			Добавить документ
		</mib-button>
	</mib-drawer-footer>
</mib-drawer>
