@import 'src/styles/_colors.vars';

.tariffs {
	& .container-xs {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
	}
	& .banner {
		max-width: 1132px;
		height: 128px;
		border-radius: 16px;
		background-color: var(--mc-quinary);
		padding: 16px 0;
		position: relative;

		& .banner-wrap {
			padding: 0 286px;
		}
	}
	& img {
		position: absolute;
		right: 200px;
		bottom: 0;
	}
}
