<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>Запрос на ЭЦП</h2>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
        [routerLink]="['/demand']" *ngIf="isEdit"></button>
    </div>
  </div>

  <ng-container *ngIf="isEdit; else createTemplate;">
    <p-tabView class="mib-tabs">
      <p-tabPanel header="Информация">
        <app-demand-info [currentDemandInfo]="currentInformation" (sendMessage)="handleSendMessage($event)">
        </app-demand-info>
      </p-tabPanel>
      <p-tabPanel header="Данные">
        <ng-container *ngTemplateOutlet="form; context: {formEDS: formEDS}">></ng-container>
      </p-tabPanel>
      <p-tabPanel header="Файлы">
        <app-demand-files (removeFile)="handleRemoveFile($event)" [currentDemandFiles]="currentDemand.Files">
        </app-demand-files>
      </p-tabPanel>
    </p-tabView>
  </ng-container>
  <ng-template #createTemplate>
    <ng-container *ngTemplateOutlet="form; context: {formEDS: formEDS}"></ng-container>
  </ng-template>

  <ng-template #form let-formEDS="formEDS">
    <form [formGroup]="formEDS" (ngSubmit)="onSubmit()">
      <div class="form-actions">
        <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
          [routerLink]="['/demand']"></button>
        <button pButton pRipple type="button" label="Создать Запрос" type="submit" class="basic"></button>
      </div>
      <div class="p-fluid p-formgrid p-grid form">
        <!-- 1 row -->
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationType">Тип организации</label>
          <p-dropdown id="organizationType" [options]="organizationTypes" placeholder="Выберите Тип организации"
            formControlName="organizationType" optionLabel="title" optionValue="value"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationLegalForm">Правовая форма</label>
          <p-dropdown id="organizationLegalForm" [options]="ruleTypes" placeholder="Выберите Правовую форму"
            formControlName="organizationLegalForm" optionLabel="title" optionValue="value"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationShortName">Краткое наименование организации</label>
          <input id="organizationShortName" type="text" pInputText placeholder="Краткое наименование организации"
            formControlName="organizationShortName">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationFullName">Полное наименование организации</label>
          <input id="organizationFullName" type="text" pInputText placeholder="Полное наименование организации"
            formControlName="organizationFullName">
        </div>
        <!-- 2 row -->
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationINN">ИНН</label>
          <input id="organizationINN" type="text" pInputText placeholder="ИНН" formControlName="organizationINN">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationKPP">КПП</label>
          <input id="organizationKPP" type="text" pInputText placeholder="КПП" formControlName="organizationKPP">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationOGRN">ОГРН</label>
          <input id="organizationOGRN" type="text" pInputText placeholder="ОГРН" formControlName="organizationOGRN">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationOKPO">ОКПО</label>
          <input id="organizationOKPO" type="text" pInputText placeholder="ОКПО" formControlName="organizationOKPO">
        </div>
        <!-- 3 row -->
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationPhone">Телефон</label>
          <input id="organizationPhone" type="tel" pInputText placeholder="Телефон" formControlName="organizationPhone">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="organizationEmail">E-mail</label>
          <input id="organizationEmail" type="email" pInputText placeholder="E-mail"
            formControlName="organizationEmail">
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="organizationWEB">Адрес сайта</label>
          <input id="organizationWEB" type="text" pInputText placeholder="Адрес сайта"
            formControlName="organizationWEB">
        </div>
        <!-- 4 row -->
        <div class="p-field p-col-12 p-md-6">
          <label for="organizationLegalAddress">Юридический адрес</label>
          <div class="addon-button p-mb-2">
            <input id="organizationLegalAddress" type="text" pInputText placeholder="Юридический адрес"
              formControlName="organizationLegalAddress">
            <button pButton pRipple type="button" label="Изменить" class="p-button-outlined small"></button>
          </div>

          <div class="p-field-checkbox">
            <p-checkbox formControlName="organizationIsActualAdressEqual" binary="true"
              inputId="organizationIsActualAdressEqual"></p-checkbox>
            <label for="organizationIsActualAdressEqual"> Фактический адрес
              совпадает с юридическим</label>
          </div>

        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="organizationActualAddress">Фактический адрес</label>
          <div class="addon-button p-mb-2">
            <input id="organizationActualAddress" type="text" pInputText placeholder="Фактический адрес"
              formControlName="organizationActualAddress">
            <button pButton pRipple type="button" label="Изменить" class="p-button-outlined small"></button>
          </div>

          <div class="p-field-checkbox">
            <p-checkbox formControlName="organizationIsLegalAdressEqual" binary="true"
              inputId="organizationIsLegalAdressEqual"></p-checkbox>
            <label for="organizationIsLegalAdressEqual">Почтовый адрес совпадает
              с юридическим</label>
          </div>

        </div>
        <!-- 5 row -->
        <ng-container *ngIf="!isEdit">

          <div class="p-field p-col-12 p-md-6">
            <label>
              Прикрепите необходимые файлы
            </label>
            <div class="addon-button mb-20">
              <div class="addon-text">
                <p>
                  Скан-Копия свидетельства ИНН
                  организации
                </p>
              </div>
              <div class="mib-uploader">
                <input type="file" id="Inn" (change)="onSelect($event, 'Inn')" multiple="true" hidden />
                <label for="Inn" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файлы</label>
              </div>
            </div>
            <div *ngIf="files.length">
              <ng-container *ngFor="let file of files">
                <div class="addon-button mb-10" *ngIf="file.Identifier === 'Inn'">
                  <div class="addon-text">
                    <p>
                      {{file.FileName}}
                    </p>
                  </div>
                  <div class="mib-uploader">
                    <div class="mib-upload-warn" (click)="removeFile(file)">
                      Удалить
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>

          </div>
          <div class="p-field p-col-12 p-md-6">
            <label>
              &nbsp;
            </label>
            <div class="addon-button mb-20">
              <div class="addon-text">
                <p>
                  Скан-Копия свидетельства ОГРН
                  организации
                </p>
              </div>
              <div class="mib-uploader">
                <input type="file" id="Ogrn" (change)="onSelect($event, 'Ogrn')" multiple="true" hidden />
                <label for="Ogrn" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файлы</label>
              </div>
            </div>
            <div *ngIf="files.length">
              <ng-container *ngFor="let file of files">
                <div class="addon-button mb-10" *ngIf="file.Identifier === 'Ogrn'">
                  <div class="addon-text">
                    <p>
                      {{file.FileName}}
                    </p>
                  </div>
                  <div class="mib-uploader">
                    <div class="mib-upload-warn" (click)="removeFile(file)">
                      Удалить
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <div class="p-col-12">
          <h1>
            Данные о владельце сертификата
          </h1>
          <p class="description">Сертификат может быть издан только на текущего пользователя, лично заполняющего запрос
            на
            издание
            сертификата!
            В данном случае, сертификат будет издан на имя: Олег Кузнецов</p>
        </div>

        <!-- 6 row -->
        <div class="p-field p-col-12 p-md-3">
          <label for="ownerSurname">Фамилия</label>
          <input id="ownerSurname" type="text" pInputText placeholder="Фамилия" formControlName="ownerSurname">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="ownerName">Имя</label>
          <input id="ownerName" type="text" pInputText placeholder="Имя" formControlName="ownerName">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="ownerMiddlename">Отчество</label>
          <input id="ownerMiddlename" type="text" pInputText placeholder="Отчество" formControlName="ownerMiddlename">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="ownerGender">Пол</label>
          <p-dropdown id="ownerGender" [options]="genderTypes" formControlName="ownerGender" optionLabel="title"
            optionValue="value">
          </p-dropdown>
        </div>

        <!-- 7 row -->
        <div class="p-field p-col-12 p-md-3">
          <label for="ownerSNILS">СНИЛС</label>
          <input id="ownerSNILS" type="text" pInputText placeholder="СНИЛС" formControlName="ownerSNILS">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="ownerDateBurn">Дата рождения</label>
          <input id="ownerDateBurn" type="date" pInputText placeholder="Дата рождения" formControlName="ownerDateBurn">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="ownerPlaceBurn">Место рождения</label>
          <input id="ownerPlaceBurn" type="text" pInputText placeholder="Место рождения"
            formControlName="ownerPlaceBurn">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="ownerPhone">Мобильный телефон</label>
          <input id="ownerPhone" type="tel" pInputText placeholder="Мобильный телефон" formControlName="ownerPhone">
        </div>

        <!-- 8 row -->
        <div class="p-field p-col-12 p-md-6">
          <label for="ownerWorkPosition">Должность</label>
          <p-dropdown id="ownerWorkPosition" [options]="postionTypes" placeholder="Выберите Должность"
            formControlName="ownerWorkPosition" optionLabel="title" optionValue="value"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="ownerEmail">E-mail</label>
          <input id="ownerEmail" type="email" pInputText placeholder="E-mail" formControlName="ownerEmail">
        </div>
        <!-- 9 row -->
        <ng-container *ngIf="!isEdit">

          <div class="p-field p-col-12 p-md-6">
            <label>
              Прикрепите необходимые файлы
            </label>
            <div class="addon-button mb-20">
              <div class="addon-text">
                <p>
                  Скан-Копия СНИЛС владельца
                  ключа подписи
                </p>
              </div>
              <div class="mib-uploader">
                <input type="file" id="Snils" (change)="onSelect($event, 'Snils')" multiple="true" hidden />
                <label for="Snils" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файлы</label>
              </div>
            </div>
            <div *ngIf="files.length">
              <ng-container *ngFor="let file of files">
                <div class="addon-button mb-10" *ngIf="file.Identifier === 'Snils'">
                  <div class="addon-text">
                    <p>
                      {{file.FileName}}
                    </p>
                  </div>
                  <div class="mib-uploader">
                    <div class="mib-upload-warn" (click)="removeFile(file)">
                      Удалить
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-6">
            <label>
              &nbsp;
            </label>
            <div class="addon-button mb-20">
              <div class="addon-text">
                <p>
                  Скан-Копия приказа о назначении на
                  должность Генерального директора
                </p>
              </div>
              <div class="mib-uploader">
                <input type="file" id="Director" (change)="onSelect($event, 'Director')" multiple="true" hidden />
                <label for="Director" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файлы</label>
              </div>
            </div>
            <div *ngIf="files.length">
              <ng-container *ngFor="let file of files">
                <div class="addon-button mb-10" *ngIf="file.Identifier === 'Director'">
                  <div class="addon-text">
                    <p>
                      {{file.FileName}}
                    </p>
                  </div>
                  <div class="mib-uploader">
                    <div class="mib-upload-warn" (click)="removeFile(file)">
                      Удалить
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <!-- 10 row -->
        <div class="p-field p-col-12 p-md-12">
          <label for="ownerGeoPosition">Укажите географическое расположение</label>
          <p-dropdown id="ownerGeoPosition" [options]="locationTypes" placeholder="Выберите географическое расположение"
            formControlName="ownerGeoPosition" optionLabel="title" optionValue="value"></p-dropdown>
        </div>

        <div class="p-col-12">
          <div class="d-flex passport-confirm">
            <div class="passport-owner">
              <h1>Паспортные данные владельца сертификата</h1>
              <p class="description">Заполните паспортные данные</p>
            </div>
            <ng-container *ngIf="!isEdit">
              <div class="addon-button mb-20">
                <div class="addon-text">
                  <p>
                    Скан-копия паспорта
                    владельца ключа подписи
                  </p>
                </div>
                <div class="mib-uploader">
                  <input type="file" id="Passport" (change)="onSelect($event, 'Passport')" multiple="true" hidden />
                  <label for="Passport" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файлы</label>
                </div>
              </div>
              <div *ngIf="files.length">
                <ng-container *ngFor="let file of files">
                  <div class="addon-button mb-10" *ngIf="file.Identifier === 'Passport'">
                    <div class="addon-text">
                      <p>
                        {{file.FileName}}
                      </p>
                    </div>
                    <div class="mib-uploader">
                      <div class="mib-upload-warn" (click)="removeFile(file)">
                        Удалить
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- 11 row -->
        <div class="p-field p-col-12 p-md-3">
          <label for="passportNumber">Серия и номер паспорт</label>
          <input id="passportNumber" type="text" pInputText placeholder="Серия и номер паспорт"
            formControlName="passportNumber">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="passportDate">Дата выдачи</label>
          <input id="passportDate" type="date" pInputText placeholder="Дата выдачи" formControlName="passportDate">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="passportFrom">Кем выдан</label>
          <input id="passportFrom" type="text" pInputText placeholder="Кем выдан" formControlName="passportFrom">
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="passportCode">Код подразделения</label>
          <input id="passportCode" type="text" pInputText placeholder="Кем подразделения"
            formControlName="passportCode">
        </div>

        <div class="p-col-12">
          <h1>Внимание!</h1>
        </div>

        <div class="d-flex p-justify-between">
          <p>1. Перед тем как отправить запрос на ЭЦП, скачайте заявку на выдачу сертификата и распечатайте её на
            принтере. Она обязательно Вам понадобится при сверке документов при получении сертификата!</p>
          <button pButton pRipple type="button" label="Скачать заявку на выдачу сертификата"
            class="btn-mib-submit btn-attention"></button>
        </div>
        <p>2. После успешного сохранения запроса на ЭЦП, дождитесь приглашения от Калуги-Астрал (по e-mail) в <a
            href="#"> один из
            центров выдачи сертификатов</a> для сверки документов и получения сертификата</p>
        <p>Вы можете следить за состоянием Вашего запроса из личного кабинета по факторингу в разделе "Запросы"</p>

        <div class="p-field p-col-12 p-md-12">
          <label for="btn_submit">&nbsp;</label>
          <button id="btn_submit" pButton pRipple type="submit" label="Сохранить запрос"
            class="btn-mib-submit p-button-outlined"></button>
        </div>
      </div>
    </form>
  </ng-template>
</div>
