<div class="card-content">
  <div class="header lg">
    <div class="title">
      <h2>Запрос на нового дебитора</h2>
      <!-- <div class="subheader">
        Список заявок
      </div> -->
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" [routerLink]="['/demand']"
      class="p-button-outlined"></button>
      <button pButton pRipple type="button" label="Создать Запрос" (click)="a()" class="basic"></button>
    </div>
  </div>
</div>
