:host {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: block;
  border: 1px solid var(--wgr-tertiary);
  --table-paddings:  0 48px 0 16px;
  --table-flex: 1 0;
}
