:host {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	border: 1px solid var(--wgr-secondary);
  --table-left-padding: 16px;
  --table-right-padding: 48px;
	--table-flex: 1 0;
	@media (max-width: 576px) {
    --table-right-padding: calc(100% / 4);

		border-radius: unset;
	}
}
