@import 'src/styles/helpers/icon_tools';

:host {
	background-color: var(--wgr-secondary);
	border-radius: 12px;
	position: relative;
}

.rate {
	padding: 0 38px;
	max-width: 364px;
	position: relative;
	overflow: visible;
  border: 2px solid transparent;

  & .badge {
    background-color: var(--mc-default);
    color: white;
    font-size: 14px;
    padding: 4px 14px;
    border-radius: 99px;
    position: absolute;
    top: -10px;
    left: 29px;
    z-index: 20;
  }

  &:has(.badge) {
    border: 2px solid  var(--mc-default);
    border-radius: 12px;
  }

	& .rate-header {
		min-height: 168px;
	}

	& .rate-feature {
		display: flex;
	}

	& .mobile-content {
		display: none;

		& mib-icon.rotate {
			transform: rotate(180deg);
		}
	}

	& .rate-mobile {
		display: none;
	}

	& .mobile-s {
		display: none;
	}

	&_mobile {
		& .mobile-content {
			display: flex;
		}

		& .rate-feature {
			display: none;
		}

		& .rate-mobile {
			display: flex;
		}
	}

	& mib-icon[name='fi_chevron-down'] {
		@include icon-color(var(--bti-secondary));
		@include icon-size(26px);
	}

	@media (max-width: 576px) {
		padding: 0 16px;

		& .mobile-s {
			display: block;
		}

		& .badge {
			top: -8px;
			left: 8px;
			padding: 2px 12px;
		}
	}
}
