<p-toast></p-toast>
<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>Запрос на нового дебитора</h2>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
        [routerLink]="['/demand']" *ngIf="isEdit"></button>
    </div>
  </div>

  <metib-success-messages *ngIf="alert" [message]="alertMessage"></metib-success-messages>
  <metib-backend-error-messages *ngIf="errorAlert" [backendErrors]="errorMessage">
  </metib-backend-error-messages>

  <ng-container *ngIf="isEdit; else createTemplate;">
    <p-tabView class="mib-tabs">
      <p-tabPanel header="Информация">
        <app-demand-info [currentDemandInfo]="currentInformation" (sendMessage)="handleSendMessage($event)">
        </app-demand-info>
      </p-tabPanel>
      <p-tabPanel header="Данные">
        <ng-container *ngTemplateOutlet="form; context: {formFree: formFree}"></ng-container>
      </p-tabPanel>
      <p-tabPanel header="Файлы">
        <app-demand-files (removeFile)="handleRemoveFile($event)" [currentDemandFiles]="currentDemand.Files">
        </app-demand-files>
      </p-tabPanel>
    </p-tabView>
  </ng-container>
  <ng-template #createTemplate>
    <ng-container *ngTemplateOutlet="form; context: {formFree: formFree}"></ng-container>
  </ng-template>

  <ng-template #form let-formFree="formFree">
    <form [formGroup]="formFree" (ngSubmit)="onSubmit()">
      <div class="form-actions" *ngIf="!isEdit">
        <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
          [routerLink]="['/demand']"></button>
        <button pButton pRipple type="button" label="Создать Запрос" type="submit" class="basic"
          [disabled]="formFree.invalid || isLoading"></button>
      </div>
      <div class="p-fluid p-formgrid p-grid form">
        <!-- 1 row -->
        <div class="p-field p-col-12 p-md-12 p-lg-12">
          <label for="Id">Дебитор</label>
          <p-dropdown [options]="debtors" formControlName="Id" id="Id" [filter]="true" filterBy="Title"
            optionLabel="Title" optionValue="ID" editable="true" (change)="debtorChange()" (onChange)="debtorChange()">
          </p-dropdown>
          <small id="debtor-help">Выберите дебитора из списка или добавьте своего.</small>
          <div *ngIf="formFree.controls['Id'].invalid">
            <small *ngIf="formFree.controls['Id'].errors.required" class="p-error">
              Поле должно быть заполнено.
            </small>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-12 p-lg-12" *ngIf="isNewDebtor">
          <label for="INN">ИНН</label>
          <input formControlName="INN" id="INN" type="text" pInputText aria-describedby="Инн">
          <div *ngIf="formFree.controls['INN'].invalid">
            <small *ngIf="formFree.controls['INN'].errors.required" class="p-error">
              Поле должно быть заполнено.
            </small>
          </div>
        </div>

        <!-- 2 row -->
        <ng-container *ngIf="!isEdit">
          <div class="p-field p-col-12 p-md-6">
            <div class="addon-button mb-20">
              <div class="addon-text">
                <p>
                  При необходимости прикрепите файлы:
                </p>
              </div>
              <div class="mib-uploader">
                <input type="file" id="All" (change)="onSelect($event, 'All')" multiple="true" hidden />
                <label for="All" class="mib-upload"><i class="pi pi-paperclip mr-20"></i> Выбрать файл</label>
              </div>
            </div>
            <div *ngIf="files.length">
              <ng-container *ngFor="let file of files">
                <div class="addon-button mb-10" *ngIf="file.Identifier === 'All'">
                  <div class="addon-text">
                    <p>
                      {{file.FileName}}
                    </p>
                  </div>
                  <div class="mib-uploader">
                    <div class="mib-upload-warn" (click)="removeFile(file)">
                      Удалить
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <div class="p-field p-col-12 p-md-12">
          <label for="btn_submit">&nbsp;</label>
          <button id="btn_submit" pButton pRipple type="submit" label="Сохранить запрос"
            class="btn-mib-submit p-button-outlined" [disabled]="formFree.invalid || isLoading"></button>
        </div>
      </div>
    </form>
  </ng-template>
</div>
