<form [formGroup]="formEDS" (ngSubmit)="onSubmit()">
  <div class="p-fluid p-formgrid p-grid form">
    <!-- 1 row -->
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationType">Тип организации</label>
      <p-dropdown styleClass="mib-input" id="organizationType" [options]="[]"
        placeholder="Выберите Тип организации" formControlName="organizationType" optionLabel="title"
        optionValue="value"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-9" *ngIf="formEDS?.value?.organizationType === 1">
      <label for="organizationLegalForm">Правовая форма</label>
      <p-dropdown styleClass="mib-input" id="organizationLegalForm" [options]="[]"
        placeholder="Выберите Правовую форму" formControlName="organizationLegalForm" optionLabel="title"
        optionValue="value"></p-dropdown>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid form">
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationShortName">Краткое наименование организации</label>
      <input id="organizationShortName" type="text" pInputText placeholder="Краткое наименование организации"
        formControlName="organizationShortName">
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationFullName">Полное наименование организации</label>
      <input id="organizationFullName" type="text" pInputText placeholder="Полное наименование организации"
        formControlName="organizationFullName">
    </div>
    <!-- 2 row -->
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationINN">ИНН</label>
      <input id="organizationINN" type="text" pInputText placeholder="ИНН" minlength="10" maxlength="12"
        formControlName="organizationINN">
      <div *ngIf="formEDS?.controls['organizationINN']?.invalid">
        <small *ngIf="formEDS?.controls['organizationINN']?.errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
        <small *ngIf="formEDS?.controls['organizationINN'].errors.minlength" class="p-error">
          Введите корректный ИНН (10 или 12 цифр).
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationKPP">КПП</label>
      <p-inputMask id="organizationKPP" mask="999999999" formControlName="organizationKPP" placeholder="КПП">
      </p-inputMask>
      <div *ngIf="formEDS?.controls['organizationKPP'].invalid">
        <small *ngIf="formEDS?.controls['organizationKPP'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationOGRN">ОГРН</label>
      <p-inputMask id="organizationOGRN" mask="9999999999999" formControlName="organizationOGRN" placeholder="ОГРН">
      </p-inputMask>
      <div *ngIf="formEDS?.controls['organizationOGRN']?.invalid">
        <small *ngIf="formEDS?.controls['organizationOGRN']?.errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationOKPO">ОКПО</label>
      <input id="organizationOKPO" type="text" pInputText placeholder="ОКПО" minlength="8" maxlength="10"
        formControlName="organizationOKPO">
      <div *ngIf="formEDS?.controls['organizationOKPO']?.invalid">
        <small *ngIf="formEDS?.controls['organizationOKPO']?.errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
        <small *ngIf="formEDS?.controls['organizationOKPO']?.errors.minlength" class="p-error">
          Введите корректный ОКПО (8 или 10 цифр).
        </small>
      </div>
    </div>
    <!-- 3 row -->
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationPhone">Телефон</label>
      <p-inputMask id="organizationPhone" type="tel" placeholder="Телефон" formControlName="organizationPhone"
        mask="+7-999-999-99-99"></p-inputMask>
      <div *ngIf="formEDS?.controls['organizationPhone'].invalid">
        <small *ngIf="formEDS?.controls['organizationPhone'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="organizationEmail">E-mail</label>
      <input id="organizationEmail" type="email" pInputText placeholder="E-mail" formControlName="organizationEmail">
      <div *ngIf="formEDS?.controls['organizationEmail'].invalid">
        <small *ngIf="formEDS?.controls['organizationEmail'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
        <small *ngIf="formEDS?.controls['organizationEmail'].errors.email" class="p-error">
          Введите корректную почту.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="organizationWEB">Адрес сайта</label>
      <input id="organizationWEB" type="text" pInputText placeholder="Адрес сайта" formControlName="organizationWEB">
      <div *ngIf="formEDS?.controls['organizationWEB'].invalid">
        <small *ngIf="formEDS?.controls['organizationWEB'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <!-- 4 row -->
    <div class="p-field p-col-12 p-md-12">
      <label for="organizationLegalAddress">Юридический адрес</label>
      <div class="addon-button p-mb-2" formGroupName="organizationLegalAddress">
        <div class="action-box">
          <input id="organizationLegalAddress" type="text" pInputText placeholder="Юридический адрес" disabled
            formControlName="displayAddress">
          <button pButton pRipple type="button" label="Изменить" class="p-button-outlined small"
            (click)="openAddressForm('organizationLegalAddress')"></button>
        </div>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <div class="p-field-checkbox">
        <p-checkbox formControlName="organizationIsActualAdressEqual" binary="true"
          inputId="organizationIsActualAdressEqual" (onChange)="isAddressEqual('organizationActualAddress')">
        </p-checkbox>
        <label for="organizationIsActualAdressEqual"> Фактический адрес
          совпадает с юридическим</label>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-12" *ngIf="!formEDS?.value.organizationIsActualAdressEqual">
      <label for="organizationActualAddress">Фактический адрес</label>
      <div class="addon-button p-mb-2" formGroupName="organizationActualAddress">
        <div class="action-box">
          <input id="organizationActualAddress" type="text" pInputText placeholder="Фактический адрес" disabled
            formControlName="displayAddress">
          <button pButton pRipple type="button" label="Изменить" class="p-button-outlined small"
            (click)="openAddressForm('organizationActualAddress')"></button>
        </div>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <div class="p-field-checkbox">
        <p-checkbox formControlName="organizationIsLegalAdressEqual" binary="true"
          inputId="organizationIsLegalAdressEqual" (onChange)="isAddressEqual('organizationPostAddress')">
        </p-checkbox>
        <label for="organizationIsLegalAdressEqual">Почтовый адрес совпадает
          с юридическим</label>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-12" *ngIf="!formEDS?.value.organizationIsLegalAdressEqual">
      <label for="organizationPostAddress">Почтовый адрес</label>
      <div class="addon-button p-mb-2" formGroupName="organizationPostAddress">
        <div class="action-box">
          <input id="organizationPostAddress" type="text" pInputText placeholder="Почтовый адрес" disabled
            formControlName="displayAddress">
          <button pButton pRipple type="button" label="Изменить" class="p-button-outlined small"
            (click)="openAddressForm('organizationPostAddress')"></button>
        </div>
      </div>
    </div>
    <!-- 5 row -->
    <ng-container *ngIf="!isEdit">
      <div class="p-field p-col-12 p-md-6">
        <label> Прикрепите необходимые файлы </label>
        <mib-file-uploader [existFile]="files" [title]="'Скан-Копия свидетельства ИНН организации'" [type]="'Inn'"
          (remove)="onRemove($event)" (add)="onAdd($event)">
        </mib-file-uploader>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>
          &nbsp;
        </label>
        <mib-file-uploader [existFile]="files" [title]="'Скан-Копия свидетельства ОГРН
        организации'" [type]="'Ogrn'" (remove)="onRemove($event)" (add)="onAdd($event)">
        </mib-file-uploader>

      </div>
    </ng-container>
    <div class="p-col-12">
      <h1>
        Данные о владельце сертификата
      </h1>
      <p class="description">Сертификат может быть издан только на текущего пользователя, лично заполняющего
        запрос
        на
        издание
        сертификата!</p>
      <!-- В данном случае, сертификат будет издан на имя: Олег Кузнецов -->
    </div>

    <!-- 6 row -->
    <div class="p-field p-col-12 p-md-3">
      <label for="ownerSurname">Фамилия</label>
      <input id="ownerSurname" type="text" pInputText placeholder="Фамилия" disabled formControlName="ownerSurname">
      <div *ngIf="formEDS?.controls['ownerSurname'].invalid">
        <small *ngIf="formEDS?.controls['ownerSurname'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="ownerName">Имя</label>
      <input id="ownerName" disabled type="text" pInputText placeholder="Имя" formControlName="ownerName">
      <div *ngIf="formEDS?.controls['ownerName'].invalid">
        <small *ngIf="formEDS?.controls['ownerName'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="ownerMiddlename">Отчество</label>
      <input id="ownerMiddlename" type="text" pInputText placeholder="Отчество" formControlName="ownerMiddlename">
      <div *ngIf="formEDS?.controls['ownerMiddlename'].invalid">
        <small *ngIf="formEDS?.controls['ownerMiddlename'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="ownerGender">Пол</label>
      <p-dropdown styleClass="mib-input" id="ownerGender" [disabled]="true" [options]="[]"
        formControlName="ownerGender" optionLabel="title" optionValue="value">
      </p-dropdown>
    </div>

    <!-- 7 row -->
    <div class="p-field p-col-12 p-md-3">
      <label for="ownerSNILS">СНИЛС</label>
      <p-inputMask id="ownerSNILS" mask="999-999-999 99" formControlName="ownerSNILS" placeholder="СНИЛС">
      </p-inputMask>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="ownerDateBurn">Дата рождения</label>
      <input id="ownerDateBurn" type="date" pInputText placeholder="Дата рождения" formControlName="ownerDateBurn">
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="ownerPlaceBurn">Место рождения</label>
      <input id="ownerPlaceBurn" type="text" pInputText placeholder="Место рождения" formControlName="ownerPlaceBurn">
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="ownerPhone">Мобильный телефон</label>
      <input id="ownerPhone" disabled type="tel" pInputText placeholder="Мобильный телефон"
        formControlName="ownerPhone">
    </div>

    <!-- 8 row -->
    <div class="p-field p-col-12 p-md-6">
      <label for="ownerWorkPosition">Должность</label>
      <p-dropdown styleClass="mib-input" id="ownerWorkPosition" [options]="[]" placeholder="Выберите Должность"
        formControlName="ownerWorkPosition" optionLabel="Title" optionValue="Title"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="ownerEmail">E-mail</label>
      <input id="ownerEmail" type="email" pInputText disabled placeholder="E-mail" formControlName="ownerEmail">
      <div *ngIf="formEDS?.controls['ownerEmail'].invalid">
        <small *ngIf="formEDS?.controls['ownerEmail'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
  </div>
  <!-- 9 row -->
  <div class="p-fluid p-formgrid p-grid form">
    <ng-container *ngIf="!isEdit">
      <div class="p-field p-col-12 p-md-6">
        <label>
          Прикрепите необходимые файлы
        </label>
        <mib-file-uploader [existFile]="files" [title]="'Скан-Копия СНИЛС владельца
        ключа подписи'" [type]="'Snils'" (remove)="onRemove($event)" (add)="onAdd($event)">
        </mib-file-uploader>

      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>
          &nbsp;
        </label>
        <mib-file-uploader [existFile]="files" [title]="'Скан-Копия приказа о назначении на
        должность Генерального директора'" [type]="'Director'" (remove)="onRemove($event)" (add)="onAdd($event)">
        </mib-file-uploader>
      </div>

    </ng-container>
  </div>
  <div class="p-fluid p-formgrid p-grid form">
    <!-- 10 row -->
    <div class="p-field p-col-12 p-md-12">
      <label for="ownerGeoPosition">Укажите географическое расположение</label>
      <p-dropdown styleClass="mib-input" id="ownerGeoPosition" [options]="[]"
        placeholder="Выберите географическое расположение" formControlName="ownerGeoPosition" optionLabel="Title"
        (onChange)="selectGeoPosition($event)" optionValue="Code"></p-dropdown>
      <div>
        <small class="p-error">
          Укажите Ваше географическое расположение для выбора ближайших Центров идентификации
        </small>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-12" *ngIf="formEDS?.value.ownerGeoPosition">
      <label for="ownerIdCenter">Укажите подходящий региональный Центр идентификации</label>
      <p-dropdown styleClass="mib-input" id="ownerIdCenter" (onChange)="setIDCenter($event)" [options]="[]"
        placeholder="Выберите географическое расположение" formControlName="ownerIdCenter" optionLabel="name"
        optionValue="guid"></p-dropdown>
      <div>
        <small class="p-error">
          Укажите подходящий региональный Центр идентификации
        </small>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-12" *ngIf="formEDS.value.ownerIdCenter">
      <p>
        <!-- {{selectedIdCenter.name}} <br>
        Адрес: {{selectedIdCenter.address}} <br>
        Режим работы: {{selectedIdCenter.schedule}} <br>
        Контакты: {{selectedIdCenter.email}} {{selectedIdCenter.phone}} <br> -->
      </p>
    </div>
    <div class="p-col-12">
      <div class="d-flex passport-confirm">
        <div class="passport-owner">
          <h1>Паспортные данные владельца сертификата</h1>
          <p class="description">Заполните паспортные данные</p>
        </div>
        <ng-container *ngIf="!isEdit">

          <div>
            <mib-file-uploader [existFile]="files" [title]="'Скан-копия паспорта
            владельца ключа подписи'" [type]="'Passport'" (remove)="onRemove($event)" (add)="onAdd($event)">
            </mib-file-uploader>
          </div>

        </ng-container>
      </div>
    </div>

    <!-- 11 row -->
    <div class="p-field p-col-12 p-md-3">
      <label for="passportNumber">Серия и номер паспорт</label>
      <p-inputMask id="passportNumber" type="text" placeholder="Серия и номер паспорта" formControlName="passportNumber"
        mask="99 99 999999"></p-inputMask>
      <div *ngIf="formEDS?.controls['passportNumber'].invalid">
        <small *ngIf="formEDS?.controls['passportNumber'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="passportDate">Дата выдачи</label>
      <input id="passportDate" type="date" pInputText placeholder="Дата выдачи" formControlName="passportDate">
      <div *ngIf="formEDS?.controls['passportDate'].invalid">
        <small *ngIf="formEDS?.controls['passportDate'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="passportFrom">Кем выдан</label>
      <input id="passportFrom" type="text" pInputText placeholder="Кем выдан" formControlName="passportFrom">
      <div *ngIf="formEDS?.controls['passportFrom'].invalid">
        <small *ngIf="formEDS?.controls['passportFrom'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="passportCode">Код подразделения</label>
      <p-inputMask id="passportCode" type="text" placeholder="Код подразделения" formControlName="passportCode"
        mask="999-999"></p-inputMask>
      <div *ngIf="formEDS?.controls['passportCode'].invalid">
        <small *ngIf="formEDS?.controls['passportCode'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label for="passportNationality">Гражданство</label>
      <p-dropdown styleClass="mib-input" id="passportNationality" [options]="[]"
        placeholder="Выберите гражданство" formControlName="passportNationality" optionLabel="Title"
        optionValue="Identifier"></p-dropdown>
      <div *ngIf="formEDS?.controls['passportNationality'].invalid">
        <small *ngIf="formEDS?.controls['passportNationality'].errors.required" class="p-error">
          Поле должно быть заполнено.
        </small>
      </div>
    </div>

    <div class="p-col-12">
      <h1>Внимание!</h1>
    </div>

    <div class="d-flex p-justify-between">
      <p>1. Перед тем как отправить запрос на ЭЦП, скачайте заявку на выдачу сертификата и распечатайте её на
        принтере. Она обязательно Вам понадобится при сверке документов при получении сертификата!</p>
      <button pButton pRipple type="button" (click)="getDigitalSignatureRequest()"
        label="Скачать заявку на выдачу сертификата" class="btn-mib-submit btn-attention"></button>
    </div>
    <p>2. После успешного сохранения запроса на ЭЦП, дождитесь приглашения от Калуги-Астрал (по e-mail) в <a
        href="https://astral.ru/" target="_blank"> один из
        центров выдачи сертификатов</a> для сверки документов и получения сертификата</p>
    <p>Вы можете следить за состоянием Вашего запроса из личного кабинета по факторингу в разделе "Запросы"</p>

    <div class="p-field p-col-12 p-md-12">
      <label for="btn_submit">&nbsp;</label>
      <button id="btn_submit" pButton pRipple type="submit" label="Сохранить запрос"
        [disabled]="formEDS?.invalid || isFilesInvalid()" class="btn-mib-submit p-button-outlined"></button>
    </div>
  </div>
</form>
