@import 'src/styles/helpers/_icon_tools';
@import 'src/styles/_colors.vars';

:host {
	width: 100%;
}

.quest {
	width: 100%;
	& .frame-l {
		padding-right: 32px;
	}
	& .frame-r {
		padding-left: 64px;
		& .quiz-progress {
			padding-top: 8px;
			& .progress-bar {
				width: 216px;
				gap: 4px;
				height: 4px;
				border-radius: 4px;
				background-color: #cddff1;
				& .progress {
					height: 4px;
					border-radius: 4px;
					background-color: var(--mc-default);
					transition: width 0.5s ease;
				}
			}

			& .timeline {
				& .point.active {
					& span {
						color: var(--mc-default);
					}
					& mib-icon {
						@include icon-color(var(--mc-default));
						@include icon-size(20px);
					}
				}
			}
		}
	}
}
