.quest {
	& .frame-l {
		padding-right: 32px;
		background-color: azure;
	}
	& .frame-r {
		padding-left: 64px;
		background-color: lavenderblush;
	}
}

// test test test

.item.active {
	color: #76c7c0;
}

.progress-bar {
	width: 100%;
	height: 10px;
	background-color: #e0e0e0;
	margin-bottom: 10px;
	position: relative;
}

.progress {
	height: 100%;
	background-color: #76c7c0;
	transition: width 0.5s ease;
}
