@import '/src/styles/colors.scss';

button {
  &.mib-button {
    cursor: pointer;

    box-sizing: border-box;
    border-radius: 10px !important;

    font-size: 0.875rem;
    line-height: 1rem;

    padding: 17px 20px 17px 20px !important;

    &.default {
      border: 1px solid $button-grey;
      color: $button-grey;
      background: transparent;

      &:hover {
        background: $main;
        color: white;
        border: 1px solid $main;
      }
    }

    &.regular {
      border: 1px solid $main;
      color: white;
      background: $main;
      filter: drop-shadow(0px 10px 15px rgba(12, 131, 241, 0.2));

      &:hover {
        filter: drop-shadow(0px 10px 15px rgba(12, 131, 241, 0.6));
      }

      img {
        &.mr-5 {
          margin-right: 5px;
        }
      }
    }

    &.icon {
      height: 50px;
      width: 50px;

      color: $black;
      background: transparent;
      border: 2px solid $black;

      padding: unset !important;

      img {
        margin: auto;
      }

      &:hover {
        background: $main;
        border: 2px solid $main;
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

