<mib-drawer>
	<mib-drawer-header
		showProgressBar="true"
		showMaximize="true"
		showEdits="true"
		(onClose)="dialogRef.close()"
		drawer-header
	></mib-drawer-header>
	<h4>Номер заявки</h4>
	<mib-spacing type="xs2"></mib-spacing>
	<div class="flex gap-4">
		<span class="text text_m c-bti-secondary">Создана 12.12.2023</span>
		<span class="text text_m c-bti-quaternary"
			>откорректирована 12.12.2023</span
		>
	</div>
	<mib-spacing type="xs"></mib-spacing>
	<div class="flex gap-8">
		<mib-tag size="m">Статус заявки</mib-tag>
		<mib-tag type="filled-secondary" class="text_regular" size="m"
			>Тип заявки</mib-tag
		>
	</div>
	<mib-spacing type="xs"></mib-spacing>
	<mib-cash-panel
		extracted="true"
		panelTitle="Ваш лимит:"
		panelData="1000000"
	></mib-cash-panel>
	<mib-spacing type="xs"></mib-spacing>
	<mib-cash-panel
		extracted="true"
		panelTitle="Уступлено:"
		panelData="1000000"
	></mib-cash-panel>
	<mib-spacing type="xs"></mib-spacing>
	<mib-cash-panel extracted="true" panelTitle="Просрочка:">
		<ng-container alert
			>{{ datas | currency : 'RUB' : 'symbol-narrow' }}
		</ng-container>
	</mib-cash-panel>
	<mib-spacing type="m"></mib-spacing>
	<mib-tab-group>
		<mib-navbar>
			<mib-navbar-point value="1">События</mib-navbar-point>
			<mib-navbar-point value="2">Поставки</mib-navbar-point>
			<mib-navbar-point value="3">Копии накладных</mib-navbar-point>
		</mib-navbar>
		<div class="">
			<mib-tab-item value="1">
				<mib-spacing type="m"></mib-spacing>
				<h2>События</h2>
				<mib-spacing type="m"></mib-spacing>
			</mib-tab-item>
			<mib-tab-item value="2">
				<mib-spacing type="m"></mib-spacing>
				<h2>Поставки</h2>
				<mib-spacing type="m"></mib-spacing>
				<div class="flex">
					<mib-button type="filled-primary">
						<mib-ref-icon
							btn-left-icon
							class="stroke"
							name="fi_plus"
						></mib-ref-icon>
						Добавить договор
					</mib-button>
				</div>
			</mib-tab-item>
			<mib-tab-item value="3">
				<mib-spacing type="m"></mib-spacing>
				<h2>Копии накладных</h2>
				<mib-spacing type="m"></mib-spacing>
			</mib-tab-item>
		</div>
	</mib-tab-group>
</mib-drawer>
