<mib-drawer>
  <mib-drawer-header
    showMaximize="true"
    showEdits="true"
    (onClose)="dialogRef.close()"
    drawer-header
  ></mib-drawer-header>
  <ng-container *ngIf="loading$ | async; else title">
    <mib-skeleton [styles]="skeletonTitle" *ngFor="let i of [1]"></mib-skeleton>
  </ng-container>
  <ng-template #title>
    <h4>Номер заявки: {{ requestData?.Number }}</h4>
    <mib-spacing type="xs2"></mib-spacing>
    <div class="flex gap-4">
			<span class="text text_m c-bti-secondary"
      >Создана {{ requestData?.Date | date }}</span
      >
      <span class="text text_m c-bti-quaternary"
      >откорректирована {{ requestData?.Date | date }}</span
      >
    </div>
  </ng-template>
  <mib-spacing type="xs"></mib-spacing>
  <ng-container *ngIf="loading$ | async; else tags">
    <mib-skeleton [styles]="skeletonTags" *ngFor="let i of [1]"></mib-skeleton>
  </ng-container>
  <ng-template #tags>
    <div class="flex gap-8">
      <mib-tag size="m">{{ requestData?.Status }}</mib-tag>
      <mib-tag type="filled-secondary" class="text_regular" size="m">{{
        requestData?.Type
        }}</mib-tag>
    </div>
  </ng-template>
  <mib-spacing type="xs"></mib-spacing>
  <ng-container *ngIf="loading$ | async; else cashPanel">
    <mib-skeleton
      [styles]="skeletonCashPanel"
      *ngFor="let i of [1]"
    ></mib-skeleton>
  </ng-container>
  <ng-template #cashPanel>
    <mib-cash-panel
      extracted="true"
      panelTitle="Ваш лимит:"
      [panelData]="0"
    ></mib-cash-panel>
    <mib-spacing type="xs"></mib-spacing>
    <mib-cash-panel
      extracted="true"
      panelTitle="Уступлено:"
      [panelData]="concededSum"
    >
    </mib-cash-panel>
    <mib-spacing type="xs"></mib-spacing>
    <mib-cash-panel extracted="true" panelTitle="Просрочка:">
      <ng-container alert>{{ overdueSum | rub }}</ng-container>
    </mib-cash-panel>
  </ng-template>
  <mib-spacing type="m"></mib-spacing>
  <ng-container *ngIf="loading$ | async; else tabGroup">
    <mib-skeleton
      [styles]="skeletonTabGroup"
      *ngFor="let i of [1]"
    ></mib-skeleton>
  </ng-container>
  <ng-template #tabGroup>
    <mib-tab-group>
      <mib-navbar>
        <!-- <mib-navbar-point value="1">События</mib-navbar-point> -->
        <mib-navbar-point value="2">Поставки</mib-navbar-point>
        <mib-navbar-point value="3">Копии накладных</mib-navbar-point>
      </mib-navbar>
      <div>
        <ng-container *ngIf="loading$ | async; else tabItems">
          <mib-skeleton
            [styles]="last ? skeletonWithoutUnderline : skeleton"
            *ngFor="let i of [1]; let last = last"
          ></mib-skeleton>
        </ng-container>
        <ng-template #tabItems>
          <!-- <mib-tab-item value="1">
          <mib-spacing type="m"></mib-spacing>
          <h2>События</h2>
          <mib-spacing type="m"></mib-spacing>
        </mib-tab-item> -->
          <mib-tab-item value="2">
            <mib-spacing type="m"></mib-spacing>
            <div class="flex flex_justify-between">
              <mib-button (press)="openShipment()"  type="filled-primary">
                <mib-icon btn-left-icon class="stroke" name="fi_plus"></mib-icon>
                Добавить договор
              </mib-button>
              <mib-select
                class="supply-select-width"
                placeholder="4 из 9 колонн в таблице"
              >
                <mib-dropdown-point
                  [value]="true"
                  text="4 из 9 колонн в таблице"
                ></mib-dropdown-point>
                <mib-dropdown-point
                  [value]="true"
                  text="6 из 9 колонн в таблице"
                ></mib-dropdown-point>
                <mib-dropdown-point
                  [value]="false"
                  text="9 из 9 колонн в таблице"
                ></mib-dropdown-point>
              </mib-select>
            </div>
            <mib-spacing type="xs"></mib-spacing>
            <mib-table>
              <mib-table-head>
                <mib-table-head-cell [showCheckbox]="true"
                >ИД
                </mib-table-head-cell>
                <mib-table-head-cell>Дата поставки</mib-table-head-cell>
                <mib-table-head-cell>Дата платежа</mib-table-head-cell>
                <mib-table-head-cell>Сумма уступки</mib-table-head-cell>
              </mib-table-head>
              <mib-table-row *ngFor="let shipment of shipmentsList">
                <mib-table-cell type="main">
                  <ng-container table-cell-title>{{
                    shipment?.ID
                    }}</ng-container>
                </mib-table-cell>
                <mib-table-cell>
                  <ng-container table-cell-title>{{
                    shipment?.AccountDate
                    }}</ng-container>
                </mib-table-cell>
                <mib-table-cell>
                  <ng-container table-cell-title>{{
                    shipment?.DatePayment
                    }}</ng-container>
                </mib-table-cell>
                <mib-table-cell>
                  <ng-container table-cell-title>{{
                    shipment?.Summ | currency : 'RUB' : 'symbol-narrow'
                    }}</ng-container>
                </mib-table-cell>
                <mib-button table-row-button size="s" type="ghost-secondary">
                  <mib-icon
                    class="stroke"
                    btn-icon
                    name="fi_more-vertical"
                  ></mib-icon>
                </mib-button>
              </mib-table-row>
              <mib-table-footer [underlined]="!(loading$ | async)">
                <div class="flex flex_align-center flex_grow">
                  <mib-select type="floating" placeholder="5 рядов">
                    <mib-dropdown-point
                      [value]="true"
                      text="10 рядов"
                    ></mib-dropdown-point>
                    <mib-dropdown-point
                      [value]="false"
                      text="20 рядов"
                    ></mib-dropdown-point>
                  </mib-select>
                </div>
                <mib-paginator
                  (pageChange)="onShipmentsPageChange($event)"
                  [totalCount]="shipments?.length"
                  [pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
                  [itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
                ></mib-paginator>
                <div class="flex flex_align-center flex_grow"></div>
              </mib-table-footer>
            </mib-table>
          </mib-tab-item>
          <mib-tab-item value="3">
            <mib-spacing type="m"></mib-spacing>
            <div class="flex flex_justify-between">
              <div></div>
              <mib-select
                class="supply-select-width"
                placeholder="9 из 9 колонн в таблице"
              >
                <mib-dropdown-point
                  [value]="true"
                  text="4 из 9 колонн в таблице"
                ></mib-dropdown-point>
                <mib-dropdown-point
                  [value]="true"
                  text="6 из 9 колонн в таблице"
                ></mib-dropdown-point>
                <mib-dropdown-point
                  [value]="false"
                  text="9 из 9 колонн в таблице"
                ></mib-dropdown-point>
              </mib-select>
            </div>
            <mib-spacing type="xs"></mib-spacing>
            <mib-table>
              <mib-table-head>
                <mib-table-head-cell [showCheckbox]="true">№</mib-table-head-cell>
                <mib-table-head-cell>Имя файла</mib-table-head-cell>
                <mib-table-head-cell>Описание</mib-table-head-cell>
                <mib-table-head-cell>Тип документа</mib-table-head-cell>
              </mib-table-head>
              <mib-table-row *ngFor="let document of documentsList; let idx = index">
                <mib-table-cell type="main">
                  <ng-container table-cell-title>{{ idx + 1 }}</ng-container>
                </mib-table-cell>
                <mib-table-cell>
                  <ng-container table-cell-title>{{document.Title}}</ng-container>
                </mib-table-cell>
                <mib-table-cell>
                  <ng-container table-cell-title>{{document.Description}}</ng-container>
                </mib-table-cell>
                <mib-table-cell>
                  <ng-container table-cell-title>{{document.DocumentTypeID}}</ng-container>
                </mib-table-cell>
                <mib-button table-row-button size="s" type="ghost-secondary">
                  <mib-icon class="stroke" btn-icon name="fi_more-vertical"></mib-icon>
                </mib-button>

              </mib-table-row>
              <mib-table-footer [underlined]="!(loading$ | async)">
                <div class="flex flex_align-center flex_grow">
                  <mib-select type="floating" placeholder="5 рядов">
                    <mib-dropdown-point
                      [value]="true"
                      text="10 рядов"
                    ></mib-dropdown-point>
                    <mib-dropdown-point
                      [value]="false"
                      text="20 рядов"
                    ></mib-dropdown-point>
                  </mib-select>
                </div>
                <mib-paginator
                  (pageChange)="onDocumentsPageChange($event)"
                  [totalCount]="documents?.length"
                  [pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
                  [itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
                ></mib-paginator>
                <div class="flex flex_align-center flex_grow"></div>
              </mib-table-footer>
            </mib-table>
          </mib-tab-item>
        </ng-template>
      </div>
    </mib-tab-group>
  </ng-template>
</mib-drawer>
