<ng-template #editForm>
  <!-- первый скрин -->
  <div>
    <mib-spacing type="xs2"></mib-spacing>
    <h4>Основная информация</h4>
    <mib-spacing type="xs"></mib-spacing>
    <mib-demand-signature-second-step
      [orgDataForm]="orgDataForm"
      [options]=dataByINN
      (apply)="nextPage(false)"
    ></mib-demand-signature-second-step>
    <mib-spacing type="m"></mib-spacing>
  </div>
  <!-- второй скрин -->
  <div>
    <mib-demand-signature-third-step
      [docFormData]="personalDataForm"
      (changeDoc)="addDocuments($event)"
      [personalDataForm]="personalDataForm"
    ></mib-demand-signature-third-step>
  </div>
  <!-- третий скрин -->
  <div >
    <mib-demand-signature-fourth-step
      [docFormData]="personalDataForm"
      (changeDoc)="addDocuments($event)"
    ></mib-demand-signature-fourth-step>
  </div>
</ng-template>

<mib-blur-loader *ngIf="loading$ | async"></mib-blur-loader>

<mib-drawer>
  <mib-drawer-header
    [showProgressBar]="!isChangeByView"
    (onClose)="dialogRef.close()"
    drawer-header
    [maxPage]="maxPage"
    [progress]="pageCount"
  >
  </mib-drawer-header>
  <mib-drawer-container>
    <ng-container *ngIf="isView && date.status; else edit">
      <h4>Запрос №{{ data.data.id }}</h4>
      <mib-spacing type="xs"></mib-spacing>
      <p class="text text_m c-bti-secondary">
        Запрос создан: {{ date.create | date: 'dd.MM.yyyy' }}, запрос
        отредактирован: {{ date.update | date: 'dd.MM.yyyy' }}
      </p>
      <mib-spacing type="xs"></mib-spacing>
      <div class="flex flex_align-center gap-12">
        <mib-badge
          type="filled-secondary"
          [extended]="true"
          size="l"
        >Запрос на ЭЦП
        </mib-badge
        >
        <mib-badge
          type="filled-primary"
          [extended]="true"
          size="l"
        >{{ date.status }}
        </mib-badge
        >
      </div>
    </ng-container>
    <ng-template #edit>
      <p class="text text_m c-bti-secondary">Запрос на ЭЦП</p>
    </ng-template>
    <div *ngIf="isChangeByView; else editing">
      <mib-spacing type="xs"></mib-spacing>
      <mib-tab-group>
        <mib-navbar class="container container_large">
          <mib-navbar-point (press)="tabIndex = $event" value="1">События</mib-navbar-point>
          <mib-navbar-point (press)="tabIndex = $event" value="2">Информация</mib-navbar-point>
          <mib-navbar-point (press)="tabIndex = $event" value="3">Документы</mib-navbar-point>
          <mib-navbar-point (press)="tabIndex = $event" value="4">Результат</mib-navbar-point>
        </mib-navbar>
        <mib-spacing type="m"></mib-spacing>
        <mib-tab-item value="1">
          <!--События-->
          <mib-demand-signature-events-tab
            [messages]="viewingData?.Messages"
            [loading$]="loading$"
          ></mib-demand-signature-events-tab>
        </mib-tab-item>
        <mib-tab-item value="2">
          <!--Информация-->
<!--          <mib-demand-signature-info-tab-->
<!--            [data]="viewingData?.Data"-->
<!--          ></mib-demand-signature-info-tab>-->
          <ng-container *ngTemplateOutlet="editForm"></ng-container>
        </mib-tab-item>
        <mib-tab-item value="3">
          <!--Документы-->
          <mib-demand-signature-docs-tab
            [filesWithTypes]="filesWithTypes"
            (deleteFile)="deleteFile()"
          ></mib-demand-signature-docs-tab>
        </mib-tab-item>
        <mib-tab-item value="4">
          <!--Результат-->
          <mib-demand-signature-result-tab
            [viewingData]="viewingData"
          ></mib-demand-signature-result-tab>
        </mib-tab-item>
      </mib-tab-group>
      <mib-spacing type="xs"></mib-spacing>
    </div>
    <ng-template #editing>
      <div [ngSwitch]="pageCount">
        <!-- первый скрин -->
        <div *ngSwitchCase="1">
          <mib-spacing type="xs2"></mib-spacing>
          <h4>Основная информация</h4>
          <mib-spacing type="xs"></mib-spacing>
          <mib-demand-signature-second-step
            [orgDataForm]="orgDataForm"
            [options]=dataByINN
            (apply)="nextPage(false)"
          ></mib-demand-signature-second-step>
          <mib-spacing type="m"></mib-spacing>
        </div>
        <!-- второй скрин -->
        <div *ngSwitchCase="2">
          <mib-demand-signature-third-step
            [docFormData]="personalDataForm"
            (changeDoc)="addDocuments($event)"
            [personalDataForm]="personalDataForm"
          ></mib-demand-signature-third-step>
        </div>
        <!-- третий скрин -->
        <div *ngSwitchCase="3">
          <mib-demand-signature-fourth-step
            [docFormData]="personalDataForm"
            (changeDoc)="addDocuments($event)"
          ></mib-demand-signature-fourth-step>
        </div>
        <div *ngSwitchDefault>
          <h4>default switch</h4>
        </div>
      </div>
    </ng-template>
  </mib-drawer-container>
  <mib-drawer-footer drawer-footer *ngIf="(isChangeByView && tabIndex === '1')">
    <mib-send-messages
      [disabled]="(isSubmitting$ | async)"
      [form]="messageForm"
      (sendMessage)="sendMessage()"
    ></mib-send-messages>
  </mib-drawer-footer>
  <!-- дровер футер -->
  <mib-drawer-footer drawer-footer *ngIf="!isChangeByView">
    <div class="flex w-100 flex_justify-between">
      <div class="flex">
        <mib-button
          [ngStyle]="{display: pageCount <= 1 ? 'none' : 'block'}"
          (click)="prevPage()"
          size="m"
          type="filled-secondary"
        >Назад
        </mib-button
        >
      </div>
      <div class="flex">
        <mib-button
          *ngIf="isEdit;else isOther"
          [ngStyle]="{display: pageCount === maxPage ? 'none' : 'block'}"
          (click)="nextPage()"
          [disabled]="!isEdit && !formIsValid()"
          size="m"
          type="filled-primary"
        >Продолжить
        </mib-button>
        <ng-template #isOther>
          <mib-button
            [ngStyle]="{display: pageCount === maxPage ? 'none' : 'block'}"
            (click)="nextPage()"
            [disabled]="!formIsValid()"
            size="m"
            type="filled-primary"
          >Продолжить
          </mib-button>
        </ng-template>
        <mib-button
          [ngStyle]="{display: pageCount === maxPage ? 'block' : 'none'}"
          (click)="submitData()"
          [disabled]="!formIsValid()"
          size="m"
          type="filled-primary"
        >Отправить
        </mib-button
        >
      </div>
    </div>
  </mib-drawer-footer>
</mib-drawer>
