<div class="container container_large">
	<mib-spacing type="m"></mib-spacing>
	<h3>Электронные документы</h3>
	<mib-spacing type="m"></mib-spacing>
</div>
<mib-tab-group>
	<div class="container container_large">
		<div class="flex flex_justify-between">
			<div class="flex gap-16 flex_justify-between">
				<div class="flex flex_align-center gap-12">
					<input
						styleType="outline"
						type="date"
						mibInput
						[formControl]="dateFrom"
					/>
					<input
						styleType="outline"
						type="date"
						mibInput
						[formControl]="dateTo"
					/>
				</div>
				<mib-button type="filled-primary" (press)="newDocumentPageDrawer()">
					<mib-icon btn-left-icon class="stroke" name="fi_plus"></mib-icon
					>Добавить документ</mib-button
				>
				<!-- <mib-button (press)="openDrawer()" type="filled-primary">Добавить доку</mib-button> -->
			</div>
			<mib-select placeholder="6 из 6 колонн в таблице">
				<mib-dropdown-point
					[value]="true"
					text="6 из 6 колонн в таблице"
				></mib-dropdown-point>
				<mib-dropdown-point
					[value]="false"
					text="3 из 6 колонн в таблице"
				></mib-dropdown-point>
				<mib-dropdown-point
					[value]="false"
					text="1 из 6 колонн в таблице"
				></mib-dropdown-point>
			</mib-select>
		</div>
		<mib-spacing type="xs"></mib-spacing>
		<mib-tab-item>
			<mib-table (selectionChange)="selectionChange($event)">
				<mib-table-head>
					<mib-table-head-cell [sortable]="true" [showCheckbox]="true"
						>№</mib-table-head-cell
					>
					<mib-table-head-cell>Имя файла</mib-table-head-cell>
					<mib-table-head-cell>Описание</mib-table-head-cell>
					<mib-table-head-cell>Тип документа</mib-table-head-cell>
					<mib-table-head-cell>Дата создания</mib-table-head-cell>
					<mib-table-head-cell>Прикрепил</mib-table-head-cell>
				</mib-table-head>
				<ng-container *ngIf="loading$ | async; else table">
					<!-- let i of toolsService.createEmptyArray(PAGINATOR_ITEMS_PER_PAGE); -->
					<mib-skeleton
						[styles]="last ? skeletonWithoutUnderline : skeleton"
						*ngFor="let i of [1]; let last = last"
					></mib-skeleton>
				</ng-container>
				<ng-template #table>
					<mib-table-row
						*ngFor="let document of clientDocuments; let last = last"
						[underlined]="!last"
					>
						<mib-table-cell type="main">
							<ng-container table-cell-title>{{
								document?.Number
							}}</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>{{
								document?.Title
							}}</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>{{
								document?.DocumentTypeTitle
							}}</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>{{
								document?.Description
							}}</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>{{
								document?.CreatedTime | date : 'dd.MM.YYYY'
							}}</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title
								>{{ document?.CreatorFirstName }}
								{{ document?.CreatorLastName }}</ng-container
							>
						</mib-table-cell>
						<mib-button
							[mibDropdownTrigger]="newDocumentRowMenu"
							table-row-button
							size="s"
							type="ghost-secondary"
						>
							<mib-icon
								class="stroke"
								btn-icon
								name="fi_more-vertical"
							></mib-icon>
						</mib-button>
						<mib-dropdown #newDocumentRowMenu>
							<mib-dropdown-point
								(press)="newDocumentViewsDrawer()"
								text="Открыть"
							></mib-dropdown-point>
						</mib-dropdown>
					</mib-table-row>
				</ng-template>
				<mib-table-footer [showIsland]="true" [lined]="!(loading$ | async)">
					<mib-paginator
						[totalCount]="clientDocuments.length"
						[pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
						[itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
					></mib-paginator>
				</mib-table-footer>
			</mib-table>
		</mib-tab-item>
		<mib-tab-item></mib-tab-item>
	</div>
</mib-tab-group>
