<div class="container container_large">
	<mib-spacing type="m"></mib-spacing>
	<h3>Электронные документы</h3>
	<mib-spacing type="m"></mib-spacing>
</div>
<mib-tab-group>
	<div class="container container_large">
		<div class="flex flex_justify-between">
			<div class="flex gap-16 flex_justify-between">
				<div class="flex flex_align-center gap-12">
					<input
						styleType="outline"
						type="date"
						mibInput
						[formControl]="dateFrom"
					/>
					<input
						styleType="outline"
						type="date"
						mibInput
						[formControl]="dateTo"
					/>
				</div>
				<mib-button type="filled-primary" (press)="newDocumentPageDrawer()">
					<mib-icon btn-left-icon class="stroke" name="fi_plus"></mib-icon
					>Добавить документ</mib-button
				>
				<!-- <mib-button (press)="openDrawer()" type="filled-primary">Добавить доку</mib-button> -->
			</div>
			<mib-select placeholder="6 из 6 колонн в таблице">
				<mib-dropdown-point
					[value]="true"
					text="6 из 6 колонн в таблице"
				></mib-dropdown-point>
				<mib-dropdown-point
					[value]="false"
					text="3 из 6 колонн в таблице"
				></mib-dropdown-point>
				<mib-dropdown-point
					[value]="false"
					text="1 из 6 колонн в таблице"
				></mib-dropdown-point>
			</mib-select>
		</div>
		<mib-spacing type="xs"></mib-spacing>
		<mib-tab-item>
			<mib-table (selectionChange)="selectionChange($event)">
				<mib-table-head>
					<mib-table-head-cell [sortable]="true" [showCheckbox]="true"
						>№</mib-table-head-cell
					>
					<mib-table-head-cell>Имя файла</mib-table-head-cell>
					<mib-table-head-cell>Описание</mib-table-head-cell>
					<mib-table-head-cell>Тип документа</mib-table-head-cell>
					<mib-table-head-cell>Дата создания</mib-table-head-cell>
					<mib-table-head-cell>Прикрепил</mib-table-head-cell>
				</mib-table-head>
				<ng-container *ngIf="loading$ | async; else table">
					<!-- let i of toolsService.createEmptyArray(PAGINATOR_ITEMS_PER_PAGE); -->
					<mib-skeleton
						[styles]="last ? skeletonWithoutUnderline : skeleton"
						*ngFor="let i of [1]; let last = last"
					></mib-skeleton>
				</ng-container>
				<ng-template #table>
					<mib-table-row>
						<mib-table-cell type="main">
							<ng-container table-cell-title>tab-data 1</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>2</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>3</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>4</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>5</ng-container>
						</mib-table-cell>
						<mib-table-cell>
							<ng-container table-cell-title>6</ng-container>
						</mib-table-cell>
						<mib-button
							[mibDropdownTrigger]="newDocumentRowMenu"
							table-row-button
							size="s"
							type="ghost-secondary"
						>
							<mib-icon
								class="stroke"
								btn-icon
								name="fi_more-vertical"
							></mib-icon>
						</mib-button>
						<mib-dropdown #newDocumentRowMenu>
							<mib-dropdown-point
								(press)="newDocumentViewsDrawer()"
								text="Открыть"
							></mib-dropdown-point>
						</mib-dropdown>
					</mib-table-row>
					<!-- <mib-table-row *ngFor="let req of requestsVisible; let last = last" [rowId]="req.ID" [underlined]="!last">
            <mib-table-cell type="main">
              <ng-container table-cell-title>{{ req.ID }}</ng-container>
            </mib-table-cell>
            <mib-table-cell>
              <ng-container table-cell-title>{{ req.Number }}</ng-container>
            </mib-table-cell>
            <mib-table-cell>
              <ng-container table-cell-title>{{
                req.Date | date : 'dd.MM.YYYY'
                }}</ng-container>
            </mib-table-cell>
            <mib-table-cell>
              <ng-container table-cell-title>{{
                req.Delivery.CustomerID
                }}</ng-container>
            </mib-table-cell>
            <mib-table-cell>
              <ng-container table-cell-title>{{
                req.Delivery.Title
                }}</ng-container>
            </mib-table-cell>
            <mib-table-cell>
              <ng-container table-cell-title>{{ req.Status }}</ng-container>
            </mib-table-cell>
            <mib-table-cell>
              <ng-container table-cell-title>{{
                req.Shipments ? 'Есть' : 'Отсутствует'
                }}</ng-container>
            </mib-table-cell>
            <mib-table-cell>
              <ng-container table-cell-title>{{
                req.IsCorrected ? 'Да' : 'Нет'
                }}</ng-container>
            </mib-table-cell>
            <mib-table-cell>
              <ng-container table-cell-title>{{
                req.Summ | currency : 'RUR'
                }}</ng-container>
            </mib-table-cell>
            <mib-button [mibDropdownTrigger]="requestRowMenu" table-row-button size="s" type="ghost-secondary">
              <mib-icon
                class="stroke"
                btn-icon
                name="fi_more-vertical"
              ></mib-icon>
            </mib-button>
            <mib-dropdown #requestRowMenu>
              <mib-dropdown-point
                (press)="openBrowserDrawer(req.ID)"
                text="Открыть"
              ></mib-dropdown-point>
            </mib-dropdown>
          </mib-table-row> -->
				</ng-template>
				<!-- {{ date | date : 'dd.MM.yyyy' }} -->
				<!-- <mib-table-footer [showIsland]="true" [actionLoading]="isSigningPreparing$ | async" (onDelete)="deleteRequests($event)" (onAction)="requestSign()" [lined]="!(loading$ | async)">
          <ng-container table-footer-action>Подписать</ng-container>
          <mib-paginator
            (pageChange)="onPageChange($event)"
            [totalCount]="requests.length"
            [pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
            [itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
          ></mib-paginator>
        </mib-table-footer> -->
				<mib-table-footer [showIsland]="true" [lined]="!(loading$ | async)">
					<!-- <ng-container table-footer-action>Подписать</ng-container> -->
					<mib-paginator
						[totalCount]="123"
						[pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
						[itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
					></mib-paginator>
				</mib-table-footer>
			</mib-table>
		</mib-tab-item>
		<mib-tab-item></mib-tab-item>
	</div>
</mib-tab-group>
