<mib-section-header [backgroundImageUrl]="'../../../../assets/public/news_one.png'">
  <span class="date">01.09.2020</span>
  <h1>Несем спорт в массы!</h1>
  <p class="desc">
    За последние пол года все больше и больше людей стали заботиться о
    своем здоровье и физической форме. В связи с этим в адрес
    Металлинвестбанк Факторинг участились запросы на финансирование
    поставок в сеть Спортмастер.
  </p>
</mib-section-header>
<mib-section-body>
  <p>В начале 2020 года многие предприятия перешли на удалённую работу, отказались от личных встреч, проводят их в ZOOM
    и,
    конечно же, все эти изменения привели к практически полному отказу от бумаги.</p>

  <p> Данные процессы коснулись и факторинга!
  </p>

  <p>
    Внедрение электронного документооборота в свои финансовые сделки компании начали очень давно. На примере ритейла,
    который за последние 6 лет продвинулся в данном вопросе, ПАО АКБ «Металлинвестбанк» активно развивал цифровые
    технологии и в своей работе. Мы задумались об электронном факторинге еще 10 лет назад, стояли на пороге внедрения
    ЭДО,
    и поэтому уровень автоматизации процессов у нас очень высокий. На сегодняшний день, Металлинвестбанк готов
    предложить
    своим клиентам полностью автоматизировать свои бизнес-процессы в рамках факторинга и разделить с нами многие
    административные вопросы.
  </p>

  <p> В Металлинвестбанке вы сможете без дополнительных посещений офиса подписать договор Факторинга и полноценно
    перевести
    все процессы на электронный документооборот.</p>

  <p>Такая поддержка позволяет нашим клиентам получать моментальное финансирование , в режиме on-line просматривать всю
    необходимую информацию о состоянии дебиторской задолженности, а личный менеджер всегда готов решить любую проблему.
    Всё это позволяет забыть о рутинной бумажной работе и всё внимание направить на развитие и рост вашего бизнеса.</p>

  <p>Если вы также устали от бумаги и цените своё время, оставляйте заявку на <a
      href="https://factoring.metallinvestbank.ru/" target="_blank">https://factoring.metallinvestbank.ru/</a> </p>
</mib-section-body>
