<div class="container container_large">
  <mib-spacing type="m"></mib-spacing>
  <h3>Свободная задолженность</h3>
  <mib-spacing type="m"></mib-spacing>
</div>
<mib-tab-group>
  <mib-navbar class="container container_large">
    <mib-navbar-point size="m" (press)="selectTab(true)" value="1"
    >Свободные
    </mib-navbar-point
    >
    <mib-navbar-point (press)="selectTab(false)" value="2"
    >Все задолженности
    </mib-navbar-point
    >
  </mib-navbar>
  <!-- <div class="container container_large">
    <mib-spacing type="m"></mib-spacing>
    <mib-auto-complete [style.max-width]="360+'px'">
      <mib-input autocomplete-input>
        <ng-container mibLabel>label</ng-container>
        <input [formControl]="control" styleType="outline" mibInput>
      </mib-input>
      <mib-dropdown-point *ngFor="let i of filtered | async" [value]="i.value" [text]="i.text"></mib-dropdown-point>
    </mib-auto-complete>
  </div> -->
  <div class="container container_large">
    <mib-spacing type="m"></mib-spacing>
    <div class="flex flex_justify-between">
      <div class="mobile-col flex gap-16">
        <div class="flex flex_align-center gap-4">
          <input
            [formControl]="dateFrom"
            styleType="outline"
            type="date"
            mibInput
          />
          <p class="text text_m c-bti-tertiary">-</p>
          <input
            [formControl]="dateTo"
            styleType="outline"
            type="date"
            mibInput
          />
        </div>
        <mib-button
          [disabled]="!dutiesSelection.selectedCount"
          (press)="openDrawer()"
          type="filled-primary"
        >Создать заявку ({{ dutiesSelection.selectedCount }})
        </mib-button>
      </div>
    </div>
    <mib-spacing type="xs"></mib-spacing>
    <mib-table
      #tableComponent
      [data]="duties$ | async"
      [isLoading]="loading$ | async"
      (selectionChange)="onSelectionChanged($event)"
      [showCheckbox]="freeOnly"
    >
      <mib-table-head>
        <mib-table-head-cell
          sortType="numerical"
          field="ID"
        >ИД
        </mib-table-head-cell>
        <ng-container *ngIf="isDesktop; else mobile">
          <mib-table-head-cell
            sortType="numerical"
            field="Contract.Id"
          >Контракт
          </mib-table-head-cell
          >
        </ng-container>
        <mib-table-head-cell
          sortType="alphabetical"
          field="Contract.Counterparty"
        >Дебитор
        </mib-table-head-cell
        >
        <mib-table-head-cell
          sortType="numerical"
          field="Number"
        >№ поставки
        </mib-table-head-cell
        >
        <mib-table-head-cell
          sortType="date"
          field="Date"
        >Дата отгрузки
        </mib-table-head-cell
        >
        <mib-table-head-cell
          sortType="date"
          field="DateContract"
        >Дата поставки
        </mib-table-head-cell
        >
        <mib-table-head-cell
          sortType="numerical"
          field="NumberInvoice"
        >С/ф №
        </mib-table-head-cell
        >
        <mib-table-head-cell
          sortType="date"
          field="DateInvoice"
        >С/ф дата
        </mib-table-head-cell
        >
        <mib-table-head-cell>Статус</mib-table-head-cell>
        <!-- <mib-table-head-cell
          [sortable]="true"
          (onSort)="onSortByDates($event, 'DatePayment')"
          >Дата Платежа</mib-table-head-cell
        > -->
        <mib-table-head-cell sortType="numerical" field="Summ"
        >Сумма поставки
        </mib-table-head-cell
        >
        <mib-table-head-cell sortType="numerical" field="Rest"
        >Остаток задолженности
        </mib-table-head-cell
        >
        <mib-table-head-cell>Внешняя ссылка</mib-table-head-cell>
        <ng-template #mobile>
          <mib-table-head-cell>{{ getVisibleHeader() }}</mib-table-head-cell>
        </ng-template>
        <ng-container table-head-button *ngIf="!isDesktop">
          <mib-button
            [disabled]="loading$ | async"
            (press)="prev()"
            size="s"
            type="ghost-secondary"
          >
            <mib-icon class="stroke" btn-icon name="fi_chevron-left"></mib-icon>
          </mib-button>
          <mib-button
            [disabled]="loading$ | async"
            (press)="next()"
            size="s"
            type="ghost-secondary"
          >
            <mib-icon
              class="stroke"
              btn-icon
              name="fi_chevron-right"
            ></mib-icon>
          </mib-button>
        </ng-container>
      </mib-table-head>
      <ng-container *ngIf="loading$ | async; else table">
        <mib-skeleton
          [styles]="last ? skeletonWithoutUnderline : skeleton"
          *ngFor="
						let i of toolsService.createEmptyArray(PAGINATOR_ITEMS_PER_PAGE);
						let last = last
					"
        ></mib-skeleton>
      </ng-container>
      <ng-template #table>
        <mib-table-row
          [rowStatus]="duty.Statistics.Comment"
          [rowId]="duty.ID"
          *ngFor="let duty of tableComponent.rendererData; trackBy: trackById; let last = last"
          [underlined]="!last"
        >
          <mib-table-cell [type]="freeOnly ? 'main' : 'text'">
            <ng-container table-cell-title>{{ duty.ID }}</ng-container>
          </mib-table-cell>
          <ng-container *ngIf="isDesktop; else mobileCell">
            <mib-table-cell>
              <ng-container table-cell-title>{{
                  duty.Contract.Number
                }}
              </ng-container>
            </mib-table-cell>
          </ng-container>
          <mib-table-cell>
            <ng-container table-cell-title>{{
                duty.Contract.Counterparty
              }}
            </ng-container>
          </mib-table-cell>
          <mib-table-cell type="numbers">
            <ng-container table-cell-title>{{
                duty.Contract.ID
              }}
            </ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{
                duty.Date | date : 'dd.MM.YYYY'
              }}
            </ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{
                duty.DateContract | date : 'dd.MM.YYYY'
              }}
            </ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{ duty.Number }}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{
                duty.DateInvoice | date : 'dd.MM.YYYY'
              }}
            </ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{
                duty.Statistics.Comment
              }}
            </ng-container>
          </mib-table-cell>
          <!-- <mib-table-cell>
            <ng-container table-cell-title>{{
              duty.DatePayment | date : 'dd.MM.YYYY'
            }}</ng-container>
          </mib-table-cell> -->
          <mib-table-cell type="numbers">
							<span
                [ngClass]="{
									'c-mc-active': !duty.Statistics.PaymentExpire,
									'c-ac-active': duty.Statistics.PaymentExpire
								}"
                table-cell-title
              >
								{{ duty.Summ | rub }}</span
              >
          </mib-table-cell>
          <mib-table-cell type="numbers">
							<span
                [ngClass]="{
									'c-mc-active': !duty.Statistics.PaymentExpire,
									'c-ac-active': duty.Statistics.PaymentExpire
								}"
                table-cell-title
              >
								{{ duty.Rest | rub }}</span
              >
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{ duty.RefNum }}</ng-container>
          </mib-table-cell>
          <ng-template #mobileCell>
            <mib-table-head-cell>{{
                getVisibleCell(duty)
              }}
            </mib-table-head-cell>
          </ng-template>
          <ng-container table-row-button *ngIf="isDesktop; else mobile">
            <mib-button size="s" type="ghost-secondary">
              <mib-icon
                class="stroke"
                btn-icon
                name="fi_more-vertical"
              ></mib-icon>
            </mib-button>
          </ng-container>
          <ng-template #mobile>
            <mib-button
              (click)="openInvoicePageModal(duty); $event.stopPropagation()"
              size="s"
              type="ghost-secondary"
            >
              <mib-icon class="stroke" btn-icon name="fi_eye"></mib-icon>
            </mib-button>
          </ng-template>
        </mib-table-row>
        <mib-table-row
          *ngIf="tableComponent.rendererData.length === 0"
        >
          <p class="text text_m w-100 flex_align-self-center text-center">
            нет данных
          </p>
        </mib-table-row>
      </ng-template>
      <mib-table-footer
        [showRemove]="false"
        (onAction)="openDrawer()"
        [lined]="!(loading$ | async)"
      >
        <ng-container table-footer-action
        >Создать заявку ({{ dutiesSelection.selectedCount }})
        </ng-container
        >
        <mib-paginator
          *ngIf="dutiesCount?.TotalItems"
          (pageChange)="onPageChange($event)"
          [totalCount]="dutiesCount?.TotalItems ?? 0"
          [pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
          [itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
        ></mib-paginator>
      </mib-table-footer>
    </mib-table>
  </div>
</mib-tab-group>
