<div class="container container_large">
  <mib-spacing type="m"></mib-spacing>
  <h3>Свободная задолженность</h3>
  <mib-spacing type="m"></mib-spacing>
</div>
<mib-tab-group>
  <mib-navbar class="container container_large">
    <mib-navbar-point (press)="selectTab(true)" value="1">Свободные</mib-navbar-point>
    <mib-navbar-point (press)="selectTab(false)" value="2">Все задолженности</mib-navbar-point>
  </mib-navbar>
  <!-- <div class="container container_large">
    <mib-spacing type="m"></mib-spacing>
    <mib-auto-complete [style.max-width]="360+'px'">
      <mib-input autocomplete-input>
        <ng-container input-label>label</ng-container>
        <input [formControl]="control" styleType="outline" mibInput>
      </mib-input>
      <mib-dropdown-point *ngFor="let i of filtered | async" [value]="i.value" [text]="i.text"></mib-dropdown-point>
    </mib-auto-complete>
  </div> -->
  <div class="container container_large">
    <mib-spacing type="m"></mib-spacing>
    <div class="flex flex_justify-between">
      <div class="flex gap-16">
        <div class="flex flex_align-center gap-4">
          <input styleType="outline" type="date" mibInput/>
          <p class="text text_m c-bti-tertiary">-</p>
          <input styleType="outline" type="date" mibInput/>
        </div>
        <mib-button [disabled]="!selectedDutiesCount" (press)="openDrawer()" type="filled-primary">Создать заявку
          ({{selectedDutiesCount}})
        </mib-button>
      </div>
    </div>
    <mib-spacing type="xs"></mib-spacing>
    <mib-table [isLoading]="loading$ | async">
      <mib-table-head>
        <mib-table-head-cell [sortable]="true" (onCheck)="severalDutiesChecked = $event"
                             [checked]="severalDutiesChecked" [showCheckbox]="true" (onSort)="onSort($event, 'ID')">ИД
        </mib-table-head-cell>
        <mib-table-head-cell [sortable]="true" (onSort)="onSort($event, 'Contract.Id')">Контракт</mib-table-head-cell>
        <mib-table-head-cell [sortable]="true" (onSort)="onSort($event, 'Number')">№ поставки</mib-table-head-cell>
        <mib-table-head-cell [sortable]="true" (onSort)="onSortByDates($event, 'Date')">Дата поставки</mib-table-head-cell>
        <mib-table-head-cell [sortable]="true" (onSort)="onSort($event, 'NumberInvoice')">С/ф №</mib-table-head-cell>
        <mib-table-head-cell [sortable]="true" (onSort)="onSortByDates($event, 'DateInvoice')">С/ф дата</mib-table-head-cell>
        <mib-table-head-cell>Задолженность</mib-table-head-cell>
        <mib-table-head-cell [sortable]="true" (onSort)="onSortByDates($event, 'DatePayment')">Дата Платежа</mib-table-head-cell>
        <mib-table-head-cell>Внешняя ссылка</mib-table-head-cell>
        <mib-table-head-cell [sortable]="true" (onSort)="onSort($event, 'Rest')">Остаток задолженности</mib-table-head-cell>
        <mib-table-head-cell [sortable]="true" (onSort)="onSort($event, 'Summ')">Сумма поставки</mib-table-head-cell>
      </mib-table-head>
      <ng-container *ngIf="loading$ | async; else table">
        <mib-skeleton [styles]="last ? skeletonWithoutUnderline : skeleton"
                      *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let last = last"></mib-skeleton>
      </ng-container>
      <ng-template #table>
        <mib-table-row [@slideAnimation]="dutyAnimationStates[duty.ID]"
                       *ngFor="let duty of duties$ | async; let last = last" [underlined]="!last">
          <mib-table-cell [checked]="duty.checked" (onCheck)="onRowCheck($event, duty)" type="main">
            <ng-container table-cell-title>{{duty.ID}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.Contract.ID}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.Number}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.Date | date: 'dd.MM.YYYY'}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.NumberInvoice}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.DateInvoice | date: 'dd.MM.YYYY' }}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.Statistics.PaymentExpire ? 'Есть' : 'Отсутствует'}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.DatePayment | date: 'dd.MM.YYYY'}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.RefNum}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.Rest | rub}}</ng-container>
          </mib-table-cell>
          <mib-table-cell>
            <ng-container table-cell-title>{{duty.Summ | rub}}</ng-container>
          </mib-table-cell>
          <mib-button table-row-button size="s" type="ghost-secondary">
            <mib-ref-icon class="stroke" btn-icon name="fi_more-vertical"></mib-ref-icon>
          </mib-button>
        </mib-table-row>
      </ng-template>
      <mib-table-footer [underlined]="!(loading$ | async)">
        <mib-paginator (pageChange)="onPageChange($event)" [totalCount]="duties$.value.length"
                       [pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
                       [itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"></mib-paginator>
      </mib-table-footer>
    </mib-table>
  </div>
</mib-tab-group>


<!--<div class="card-content" id="step1">-->
<!--  <p-toolbar styleClass="p-mb-4">-->
<!--    <ng-template pTemplate="left">-->
<!--      <div class="button-content p-mr-2" (click)="openDateModal()">-->
<!--        {{filterForm.value.dateFrom | date: 'dd.MM.yyyy'}} - {{filterForm.value.dateTo | date: 'dd.MM.yyyy'}}-->
<!--      </div>-->
<!--      <button type="button" pButton label="Показать всё" class="basic p-mr-2" (click)="showAll()"></button>-->
<!--      <button type="button" pButton label="Обновить данные" class="basic p-mr-2" (click)="applyFilters()"></button>-->
<!--      <button type="button" pButton label="Создать заявку ({{selectedItems.length}})" class="basic"-->
<!--        (click)="openCreateRequestModal()"></button>-->
<!--    </ng-template>-->
<!--  </p-toolbar>-->
<!--  <p-table [value]="(freeduty$ | async)" [rows]="10" [showCurrentPageReport]="true" selectionMode="multiple"-->
<!--    [scrollable]="true" [rowsPerPageOptions]="[10,25,50]" [(selection)]="selectedItems" dataKey="ID"-->
<!--    styleClass="p-datatable-customers mib-table" [paginator]="true" [metaKeySelection]="true"-->
<!--    currentPageReportTemplate="Показано: от {first} до {last} из {totalRecords}">-->
<!--    <ng-template pTemplate="colgroup" let-columns>-->
<!--      <colgroup>-->
<!--        <col style="width:3rem">-->
<!--        <col style="width:180px">-->
<!--        <col style="width:180px">-->
<!--        <col style="width:180px">-->
<!--        <col style="width:180px">-->
<!--        <col style="width:180px">-->
<!--        <col style="width:180px">-->
<!--        <col style="width:180px">-->
<!--        <col style="width:180px">-->
<!--      </colgroup>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="header">-->
<!--      <tr>-->
<!--        <th style="width: 3rem">-->
<!--          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--        </th>-->
<!--        <th>-->
<!--          <div class="m-th" tooltipPosition="bottom" pTooltip="ID задолженности">-->
<!--            <div>ID задолженности</div>-->
<!--          </div>-->
<!--        </th>-->
<!--        <th>-->
<!--          <div class="m-th">-->
<!--            <div>Накладная №</div>-->
<!--          </div>-->
<!--        </th>-->
<!--        <th>-->
<!--          <div class="m-th" tooltipPosition="bottom" pTooltip="Дата накладной">-->
<!--            <div>Дата накладной</div>-->
<!--          </div>-->
<!--        </th>-->
<!--        <th>-->
<!--          <div class="m-th">-->
<!--            <div>Дата платежа</div>-->
<!--          </div>-->
<!--        </th>-->
<!--        <th>-->
<!--          <div class="m-th" tooltipPosition="bottom" pTooltip="Сумма остатка задолженности">-->
<!--            <div>Сумма остатка задолж.</div>-->
<!--          </div>-->
<!--        </th>-->
<!--        <th>-->
<!--          <div class="m-th">-->
<!--            <div>Договор</div>-->
<!--          </div>-->
<!--        </th>-->
<!--        <th>-->
<!--          <div class="m-th">-->
<!--            <div>Дебитор</div>-->
<!--          </div>-->
<!--        </th>-->
<!--        <th>-->
<!--          <div class="m-th">-->
<!--            <div>Комментарий</div>-->
<!--          </div>-->
<!--        </th>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body" let-item>-->
<!--      <tr-->
<!--        [ngClass]="{'warn': item.Statistics.PaymentExpire === true, 'success': item.Statistics.ShipmentID}">-->
<!--        <td>-->
<!--          <p-tableCheckbox [value]="item"></p-tableCheckbox>-->
<!--        </td>-->
<!--        <td>-->
<!--          <div class="m-td">-->
<!--            <div>-->
<!--              {{item.ID}}-->
<!--            </div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td>-->
<!--          <div class="m-td">-->
<!--            <div>{{item.Number}}</div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td>-->
<!--          <div class="m-td">-->
<!--            <div>{{item.DateDuty | date: 'dd.MM.yyyy'}}</div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td>-->
<!--          <div class="m-td">-->
<!--            <div>{{item.DatePayment | date: 'dd.MM.yyyy'}}</div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td>-->
<!--          <div class="m-td currency" tooltipPosition="bottom" pTooltip="{{item.Summ | currency: 'RUB'}}">-->
<!--            <div>{{item.Summ | currency: 'RUB'}}</div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td>-->
<!--          <div class="m-td" tooltipPosition="bottom" pTooltip="{{item.Contract.Title}}">-->
<!--            <div>{{item.Contract.Title}}</div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td>-->
<!--          <div class="m-td" tooltipPosition="bottom" pTooltip="{{item.Contract.Client}}">-->
<!--            <div>{{item.Contract.Client}}</div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td>-->
<!--          <div class="m-td">-->
<!--            <div>{{item.Statistics.Comment}}</div>-->
<!--          </div>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="footer">-->
<!--      <tr>-->
<!--        <td colspan="5" class="p-text-right"></td>-->
<!--        <td>{{getFreedutySum((freeduty$ | async)) | currency:'RUB':'symbol' }}</td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="emptymessage">-->
<!--      <ng-container *ngIf="(loading$ | async); else skeletonRequestsTemplate">-->
<!--        <tr>-->
<!--          <td colspan="8">Нет данных.</td>-->
<!--        </tr>-->
<!--      </ng-container>-->
<!--      <ng-template #skeletonRequestsTemplate>-->
<!--        <tr *ngFor="let item of [{}, {}, {}, {}, {}]">-->
<!--          <td>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                <p-skeleton width="10rem"></p-skeleton>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                <p-skeleton width="10rem"></p-skeleton>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                <p-skeleton width="10rem"></p-skeleton>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                <p-skeleton width="10rem"></p-skeleton>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                <p-skeleton width="10rem"></p-skeleton>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                <p-skeleton width="10rem"></p-skeleton>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                <p-skeleton width="10rem"></p-skeleton>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                <p-skeleton width="10rem"></p-skeleton>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </ng-template>-->
<!--  </p-table>-->
<!--</div>-->

<!--&lt;!&ndash; Filter Form &ndash;&gt;-->
<!--<p-dialog [style]="{width: '450px'}" [(visible)]="filterDialog" [draggable]="false" [resizable]="false"-->
<!--  header="Укажите период" [modal]="true" styleClass="p-fluid">-->
<!--  <ng-template pTemplate="content">-->
<!--    <form [formGroup]="filterForm" (ngSubmit)="saveFilter()">-->
<!--      <div class="p-field">-->
<!--        <label for="dateFrom">Дата с: </label>-->
<!--        <input id="dateFrom" type="date" pInputText placeholder="Дата с" formControlName="dateFrom">-->
<!--      </div>-->
<!--      <div class="p-field">-->
<!--        <label for="dateTo">Дата по: </label>-->
<!--        <input id="dateTo" type="date" pInputText placeholder="Дата по" formControlName="dateTo">-->
<!--      </div>-->
<!--      <div class="modal-actions">-->
<!--        <button pButton pRipple label="Применить" class="p-button-text save" type="submit"></button>-->
<!--        <button pButton pRipple label="Отменить" class="p-button-text cancel" (click)="closeDateModal()"></button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </ng-template>-->
<!--</p-dialog>-->
<!--&lt;!&ndash; Request Form &ndash;&gt;-->
<!-- <p-dialog [style]="{width: '950px'}" [(visible)]="requestsDialog" header="Создать заявку" [modal]="true"-->
<!--  [draggable]="false" [resizable]="false" styleClass="p-fluid">-->
<!--  <ng-template pTemplate="content">-->
<!--    <p-table [value]="selectedItemsSorted" dataKey="contract">-->
<!--      <ng-template pTemplate="header">-->
<!--        <tr>-->
<!--          <th style="width: 3rem"></th>-->
<!--          <th class="header-width">-->
<!--            <div class="m-th">-->
<!--              <div>Договор / Заявка / Накладная</div>-->
<!--            </div>-->
<!--          </th>-->
<!--          <th class="header-width">-->
<!--            <div class="m-th">-->
<!--              <div>ID задолженности</div>-->
<!--            </div>-->
<!--          </th>-->
<!--          <th class="header-width">-->
<!--            <div class="m-th">-->
<!--              <div>Дата задолженности</div>-->
<!--            </div>-->
<!--          </th>-->
<!--          <th class="header-width">-->
<!--            <div class="m-th">-->
<!--              <div>Сумма</div>-->
<!--            </div>-->
<!--          </th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-item let-expanded="expanded">-->
<!--        <tr>-->
<!--          <td>-->
<!--            <button type="button" pButton pRipple [pRowToggler]="item"-->
<!--              class="p-button-text p-button-rounded p-button-plain"-->
<!--              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>-->
<!--                {{item.contract}}</div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div>-->
<!--              <div class="m-td">-->
<!--                Итог - Контракт: {{item.summ | currency:'RUB'}}-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="rowexpansion" let-item>-->
<!--        <tr>-->
<!--          <td colspan="7" class="inner">-->
<!--            <div>-->
<!--              <p-table [value]="item.categories" dataKey="categoryName">-->
<!--                <ng-template pTemplate="header">-->
<!--        <tr class="empty">-->
<!--          <th style="width: 3rem"></th>-->
<!--          <th class="header-width"></th>-->
<!--          <th class="header-width"></th>-->
<!--          <th class="header-width"></th>-->
<!--          <th class="header-width"></th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-category let-expandedCategory="expanded">-->
<!--        <tr>-->
<!--          <td>-->
<!--            <button type="button" pButton pRipple [pRowToggler]="category"-->
<!--              class="p-button-text p-button-rounded p-button-plain"-->
<!--              [icon]="expandedCategory ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>{{category.categoryName}}</div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td currency">-->
<!--              <div>{{category.summ | currency:'RUB'}}</div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="rowexpansion" let-category>-->
<!--        <tr>-->
<!--          <td colspan="7" class="inner">-->
<!--            <div>-->
<!--              <p-table [value]="category.requests" dataKey="id">-->
<!--                <ng-template pTemplate="header">-->
<!--        <tr class="empty">-->
<!--          <th style="width: 3rem"></th>-->
<!--          <th class="header-width"></th>-->
<!--          <th class="header-width"></th>-->
<!--          <th class="header-width"></th>-->
<!--          <th class="header-width"></th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-request>-->
<!--        <tr>-->
<!--          <td></td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>{{request.id}}</div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>{{request.number}}</div>-->

<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td">-->
<!--              <div>{{request.date | date:'MM.dd.yyyy'}}</div>-->

<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="m-td currency">-->
<!--              <div>{{request.summ | currency:'RUB'}}</div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="emptymessage">-->
<!--        <tr>-->
<!--          <td colspan="6">Нет данных.</td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </p-table>-->
<!--    </div>-->
<!--    </td>-->
<!--    </tr>-->
<!--  </ng-template>-->

<!--  <ng-template pTemplate="emptymessage">-->
<!--    <tr>-->
<!--      <td colspan="6">Нет данных.</td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  </p-table>-->
<!--  </div>-->
<!--  </td>-->
<!--  </tr>-->
<!--  </ng-template>-->
<!--  </p-table>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="footer">-->
<!--    <button pButton pRipple label="Создать Заявку" class="p-button-text" type="button" class="btn-mib-submit w-100"-->
<!--      (click)="createRequests()"></button>-->
<!--  </ng-template>-->
<!--</p-dialog>-->
