<p-toast></p-toast>
<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>Редактирование Профиля</h2>
    </div>
    <div class="actions">
      <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
        (click)="back()" *ngIf="isEdit"></button>
    </div>
  </div>

  <p-messages [(value)]="alertMessage" [enableService]="false"></p-messages>

  <!-- <metib-success-messages *ngIf="alertMessage$ | async" [message]="alertMessage$ | async"></metib-success-messages> -->
  <metib-backend-error-messages *ngIf="backendErrors$ | async" [backendErrors]="backendErrors$ | async">
  </metib-backend-error-messages>

  <ng-container *ngIf="isEdit; else createTemplate;">
    <p-tabView class="mib-tabs">
      <p-tabPanel header="Информация">
        <app-demand-info [currentDemandInfo]="currentInformation" (sendMessage)="handleSendMessage($event)">
        </app-demand-info>
      </p-tabPanel>
      <p-tabPanel header="Данные">
        <ng-container *ngTemplateOutlet="form; context: {formEdit: formEdit}">></ng-container>
      </p-tabPanel>
      <p-tabPanel header="Файлы">
        <app-demand-files (removeFile)="handleRemoveFile($event)" [currentDemandFiles]="currentDemand.Files">
        </app-demand-files>
      </p-tabPanel>
      <p-tabPanel header="Результат" *ngIf="isView">
        <app-demand-result [result]="currentDemand.Result">
        </app-demand-result>
      </p-tabPanel>
    </p-tabView>
  </ng-container>
  <ng-template #createTemplate>
    <ng-container *ngTemplateOutlet="form; context: {formEdit: formEdit}"></ng-container>
  </ng-template>

  <ng-template #form let-formEdit="formEdit">
    <ng-container *ngIf="isLoading; else contentTemplate">
      Загрузка...
    </ng-container>
    <ng-template #contentTemplate>
      <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
        <div class="form-actions" *ngIf="!isEdit">
          <button pButton pRipple type="button" label="Вернуться к списку запросов" class="p-button-outlined p-mr-2"
            (click)="back()"></button>
        </div>

        <!-- <div>
            <div class="avatar">
              <img src="{{avatarSource}}" alt="">
            </div>
            <div class="mib-uploader">
              <input type="file" id="Avatar" (change)="onSelect($event, 'Avatar')" hidden />
              <label for="Avatar" class="mib-upload medium">Сменить Аватар</label>
            </div>
          </div> -->
        <div class="p-fluid p-formgrid p-grid form">
          <!-- 1 row -->
          <div class="p-field p-col-12 p-md-6 p-lg-4">
            <label for="last">Фамилия</label>
            <input id="last" type="text" pInputText placeholder="Фамилия" formControlName="last">
            <div *ngIf="formEdit.controls['last'].invalid">
              <small *ngIf="formEdit.controls['last'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-6 p-lg-4">
            <label for="first">Имя</label>
            <input id="first" type="text" pInputText placeholder="Имя" formControlName="first">
            <div *ngIf="formEdit.controls['first'].invalid">
              <small *ngIf="formEdit.controls['first'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-6 p-lg-4">
            <label for="isMale">Пол</label>
            <p-dropdown styleClass="mib-input"  id="isMale" [options]="genderTypes" formControlName="isMale" optionLabel="title"
              optionValue="value">
            </p-dropdown>
            <div *ngIf="formEdit.controls['isMale'].invalid">
              <small *ngIf="formEdit.controls['isMale'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
          <!-- 2 row -->
          <div class="p-field p-col-12 p-md-6 p-lg-6">
            <label for="phone">Мобильный телефон</label>
            <p-inputMask id="phone" type="tel" placeholder="Телефон" formControlName="phone" mask="+7-999-999-99-99">
            </p-inputMask>
            <div *ngIf="formEdit.controls['phone'].invalid">
              <small *ngIf="formEdit.controls['phone'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-6 p-lg-6">
            <label for="email">E-mail</label>
            <input id="email" type="email" pInputText placeholder="E-mail" formControlName="email">
            <div *ngIf="formEdit.controls['email'].invalid">
              <small *ngIf="formEdit.controls['email'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid form">
          <div class="p-col-12">
            <div class="d-flex passport-confirm">
              <div class="passport-owner">
                <h1>Паспорт</h1>
                <p class="description">Заполните паспортные данные</p>
              </div>
              <ng-container *ngIf="!isEdit">
                <div>
                  <mib-file-uploader [existFile]="files" [title]="'Загрузите копию паспорта'" [type]="'Passport'"
                    (remove)="onRemove($event)" (add)="onAdd($event)">
                  </mib-file-uploader>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="number">Серия и номер паспорт</label>
            <p-inputMask id="phone" type="text" placeholder="Серия и номер паспорт" formControlName="number"
              mask="99 99 999999"></p-inputMask>
            <div *ngIf="formEdit.controls['number'].invalid">
              <small *ngIf="formEdit.controls['number'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="date">Дата выдачи</label>
            <input id="date" type="date" pInputText placeholder="Дата выдачи" formControlName="date">
            <div *ngIf="formEdit.controls['date'].invalid">
              <small *ngIf="formEdit.controls['date'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="issuerTitle">Кем выдан</label>
            <input id="issuerTitle" type="text" pInputText placeholder="Кем выдан" formControlName="issuerTitle">
            <div *ngIf="formEdit.controls['issuerTitle'].invalid">
              <small *ngIf="formEdit.controls['issuerTitle'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="issuerCode">Код подразделения</label>
            <p-inputMask id="issuerCode" type="text" placeholder="Код подразделения" formControlName="issuerCode"
              mask="999-999"></p-inputMask>
            <div *ngIf="formEdit.controls['issuerCode'].invalid">
              <small *ngIf="formEdit.controls['issuerCode'].errors.required" class="p-error">
                Поле должно быть заполнено.
              </small>
            </div>
          </div>
          <ng-container *ngIf="!isEdit">
            <div *ngIf="files.length" style="width: 100%;">
              <h2>Приложенные файлы</h2>
              <ng-container *ngFor="let file of files">
                <div class="addon-button mb-10" *ngIf="file.Identifier === 'Passport'">
                  <div class="action-box">
                    <div class="addon-text">
                      <p>
                        {{file.FileName}}
                      </p>
                    </div>
                    <div class="mib-uploader">
                      <div class="mib-upload-warn" (click)="onRemove(file)">
                        Удалить
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <div class="p-field p-col-12 p-md-12">
            <label for="btn_submit">&nbsp;</label>
            <button id="btn_submit" pButton pRipple type="submit" label="Сохранить запрос"
              class="btn-mib-submit p-button-outlined"
              [disabled]="formEdit.invalid || isRequestLoading || isFilesInvalid()"></button>
          </div>
        </div>
      </form>
    </ng-template>
  </ng-template>
</div>
