<div
	*ngIf="!extracted; else unextracted"
	(mouseenter)="isHover = true"
	(mouseleave)="isHover = false"
	class="cash-panel"
	[ngClass]="classes"
	[class.main-transition]="viewMounted"
>
	<div class="flex flex_column gap-4">
		<div class="flex flex_align-center">
			<p class="text text_m text_medium c-bti-tertiary flex_grow">
				{{ panelTitle }}
			</p>
			<mib-ref-icon class="stroke" name="fi_info"></mib-ref-icon>
		</div>
		<h3>
			{{ panelData | currency : 'RUB' : 'symbol-narrow' }}
		</h3>
	</div>
	<mib-spacing type="xs2"></mib-spacing>
	<div class="flex">
		<p class="text text_m c-bti-tertiary flex_grow">
			<!-- Актульно на: {{ relevantAt ? relevantAt : ' --- ' }} -->
		</p>
		<mib-link [routerLink]="link">
			Подробнее
			<mib-ref-icon
				[@opacityViewAnimation]="{
					value: '',
					params: {enterTime: 200, leaveTime: 0}
				}"
				*ngIf="isHover"
				mibRightIcon
				class="stroke"
				name="fi_chevron-right"
			></mib-ref-icon>
		</mib-link>
	</div>
</div>
<ng-template #unextracted>
	<div
		[class.extracted]="extracted"
		class="flex flex_justify-center flex_justify-between"
	>
		<div class="flex flex_align-center gap-4">
			<span class="text text_m text_regular">
				{{ panelTitle }}
			</span>
			<span class="paneldata text_medium c-bti-secondary">
				{{ panelData | currency : 'RUB' : 'symbol-narrow' }}
			</span>
			<p class="alert">
				<ng-content select="[alert]"></ng-content>
			</p>
		</div>
		<mib-ref-icon class="stroke" name="fi_info"></mib-ref-icon>
	</div>
</ng-template>
