.mib-card-info {
  position: relative;
  margin-bottom: 65px;

  .icon {
    position: absolute;

    top: -27%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inner {
    padding: 0 15px;
    border-radius: 10px;
    background-color: white;
    width: 255px;

    .text {
      padding-top: 50px;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-align: center;

      color: #334D64;
    }
    &.lg {
      height: 114px;
    }
    &.xl {
      height: 130px;
    }

  }
}
