<p-toast></p-toast>
<div [ngClass]="{'card-content': isUserVerified}">
  <div class="header lg">
    <div class="title">
      <h2>Запрос на Факторинг</h2>
    </div>
    <div class="actions">
    </div>
  </div>

  <metib-success-messages *ngIf="alert" [message]="alertMessage"></metib-success-messages>
  <metib-backend-error-messages *ngIf="backendErrors$ | async" [backendErrors]="backendErrors$ | async">
  </metib-backend-error-messages>

  <ng-container *ngIf="isEdit; else createTemplate;">
    <app-factoring-data [isEdit]="true" [currentDemand]="currentDemand" [currentDraftId]="currentDraftId"
      (save)="handleSave($event)" (create)="handleSubmit($event)"></app-factoring-data>
  </ng-container>
  <ng-template #createTemplate>
    <app-factoring-data [isEdit]="false" [currentDemand]="currentDemand" [currentDraftId]="currentDraftId"
      (save)="handleSave($event)" (create)="handleSubmit($event)"></app-factoring-data>
  </ng-template>
</div>
