.mib-card-news {
  width: 255px;
  border-radius: 10px;
  background-color: white;

  .header {
    position: relative;

    .date {
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 5px;
      background: #FFFFFF;
      border-radius: 10px;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #989898;
    }

    .image {
      height: 145px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .body {
    padding: 10px;
    height: 150px;

    .title {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #102538;
      margin-bottom: 12px;
    }

    .desc {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #989898;
    }
  }
}
@media (max-width: 1300px) {
  .mib-card-news {
    width: 200px;
  }
}
