.menu-container {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	position: relative;
}

.menu-item {
	flex: 0 0 auto;
	padding: 10px 20px;
	cursor: pointer;
	user-select: none;
	text-align: center;
}

.shadow-left,
.shadow-right {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 20px;
	pointer-events: none;
	z-index: 1;
	transition: opacity 0.3s;
}

.shadow-left {
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.shadow-right {
	right: 0;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

.hide-shadow {
	opacity: 0;
}

/* Hide scrollbar */
.menu-container::-webkit-scrollbar {
	display: none;
}

.menu-container {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
