<div class="autocomplete">
	<mib-input>
		<input
			*ngIf="!extra"
			required
			style="padding-right: 40px"
			#input
			size="{{ isDesktop ? 'xl' : 'l' }}"
			mibInput
			[formControl]="control"
			(focus)="showDropdown = true"
			(blur)="onBlur()"
		/>
		<input
			*ngIf="extra"
			required
			style="padding-right: 40px"
			#input
			size="{{ isDesktop ? 'xl' : 'l' }}"
			mibInput
			styleType="floating"
			[formControl]="control"
			(focus)="showDropdown = true"
			(blur)="onBlur()"
		/>
		<ng-container mibLabel>Ваш контрагент</ng-container>
		<mib-icon
			class="stroke cursor-pointer"
			mibRightIcon
			name="fi_x"
			*ngIf="control.value"
			(click)="clearInput()"
		></mib-icon>
	</mib-input>
	<div *ngIf="loading">Загрузка...</div>
	<div class="list">
		<ul class="flex flex_column" *ngIf="showDropdown">
			<li
				class="flex flex_column text text_m c-bti-tertiarty cursor-pointer item"
				*ngFor="let option of options"
				(click)="toggleSelection(option)"
			>
				{{ option.value }}
				<span class="text text_s c-bti-tertiary">
					ИНН: {{ option.data.inn }}
				</span>
			</li>
			<li *ngIf="noData">Нет данных</li>
		</ul>
	</div>
</div>
