@media (max-width: 768px) {
	mib-spacing[type='xs'] {
		height: 8px;
		display: block;
	}

	.organization {
		flex-direction: column;
		gap: 4px;

		& .separator-vertical {
			display: none;
		}
	}
}

@media (max-width: 568px) {
	.factoring {
		padding: 0 16px;
	}
}
