<ng-container *ngIf="loading$ | async; else title">
	<mib-skeleton
		[styles]="defaultSkeleton"
		[style.height]="'40px'"
		*ngFor="let i of [1]"
	></mib-skeleton>
</ng-container>
<ng-template #title>
	<h3>{{ (factoring$ | async)?.Title }}</h3>
</ng-template>
<mib-spacing type="xs"></mib-spacing>
<ng-container *ngIf="loading$ | async; else body">
	<mib-skeleton
		[styles]="defaultSkeleton"
		[style.height]="'20px'"
		*ngFor="let i of [1]"
	></mib-skeleton>
</ng-container>
<ng-template #body>
	<div class="flex gap-12">
		<p class="text text_m">
			ИНН: {{ (factoring$ | async)?.Organization?.Inn }}
		</p>
		<div class="separator vertical"></div>
		<p class="text text_m">
			КПП: {{ (factoring$ | async)?.Organization?.Kpp }}
		</p>
		<div class="separator vertical"></div>
		<p class="text text_m">
			Договор Факторинга: {{ (factoring$ | async)?.Contract.Number }} от
			{{ (factoring$ | async)?.Contract.Date | date : 'dd/MM/yyyy' }}
		</p>
	</div>
</ng-template>
<!-- <div class="header lg">
  <div class="title">
    <h1 class="display-1">
      <ng-container *ngIf="(factoring$ | async); else skeletonFactoringTitleTemplate">
        {{(factoring$ | async)?.Title}}
      </ng-container>
      <ng-template #skeletonFactoringTitleTemplate>
        <p-skeleton width="20rem"  height="4rem" styleClass="p-mb-2"></p-skeleton>
      </ng-template>
    </h1>
    <div class="subheader info">
      <div class="organization">
        <ng-container *ngIf="(factoring$ | async); else skeletonOrganizationTemplate">
          ИНН: {{(factoring$ | async)?.Organization.Inn}} КПП: {{(factoring$ | async)?.Organization?.Kpp}}
        </ng-container>
        <ng-template #skeletonOrganizationTemplate>
          <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
        </ng-template>
      </div>
      <div class="contract">
        <ng-container *ngIf="(factoring$ | async); else skeletonContractTemplate">
          Договор Факторинга: {{(factoring$ | async)?.Contract.Number}} от {{(factoring$ | async)?.Contract.Date | date:
            'dd/MM/yyyy'}}
        </ng-container>
        <ng-template #skeletonContractTemplate>
          <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="actions">
  </div>
</div>


<div class="p-grid stats">
  <div class="p-col">
    <div class="card-info">
      <div class="header normal">
        <ng-container *ngIf="stats; else skeletonLimitTemplate">
          {{stats?.Limit | currency:'RUB':'symbol-narrow'}}
        </ng-container>
        <ng-template #skeletonLimitTemplate>
          <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
        </ng-template>
      </div>
      <div class="content">
        Лимит
      </div>
    </div>
  </div>
  <div class="p-col">
    <div class="card-info">
      <div class="header success">
        <ng-container *ngIf="stats; else skeletonLimitTemplate">
          {{stats?.UsedLimit | currency:'RUB':'symbol-narrow'}}
        </ng-container>
        <ng-template #skeletonLimitTemplate>
          <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
        </ng-template>
      </div>
      <div class="content">
        Уступлено
      </div>

    </div>
  </div>
  <div class="p-col can-click" [routerLink]="['/delays']">
    <div class="card-info">
      <div class="header warn">
        <ng-container *ngIf="stats; else skeletonLimitTemplate">
          {{stats?.DelayAmount | currency:'RUB':'symbol-narrow'}}
        </ng-container>
        <ng-template #skeletonLimitTemplate>
          <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
        </ng-template>
      </div>
      <div class="content">
        Просрочка
      </div>
    </div>
  </div>
</div> -->
