<div class="header lg">
<div class="title">
  <h1 class="display-1">{{factoring?.Title}}</h1>
  <div class="subheader info">
    <div class="organization">ИНН:  {{factoring?.Organization.Inn}} КПП: {{organization?.KPP}}</div>
    <div class="contract"> Договор Факторинга:  {{factoring?.Contract.Number}} от  {{factoring?.Contract.Date | date: 'dd/MM/yyyy'}}</div>
  </div>
</div>
<div class="actions">

</div>

</div>


<div class="p-grid">
  <div class="p-col">
    <div class="card-info">
      <div class="header normal">
        {{factoring?.Limit | currency:'RUB':'symbol-narrow'}}
      </div>
      <div class="content">
        Лимит
      </div>
    </div>
  </div>
  <div class="p-col">
    <div class="card-info">
      <div class="header success">
        [InProgress] 500 000 000,00₽
      </div>
      <div class="content">
        Уступлено
      </div>
    </div>
  </div>
  <div class="p-col can-click" [routerLink]="['/delays']">
    <div class="card-info">
      <div class="header warn">
        [InProgress] 500 000 000,00₽
      </div>
      <div class="content">
        Просрочка
      </div>
    </div>
  </div>
  <div class="p-col can-click" [routerLink]="['/freeduty']">
    <div class="card-info">
      <div class="header normal">
        [InProgress] 500 000 000,00₽
      </div>
      <div class="content">
        Свободный лимит
      </div>
    </div>
  </div>
</div>
