<mib-drawer>
  <mib-drawer-header
    (onClose)="dialogRef.close()"
    drawer-header
  ></mib-drawer-header>
  <h4>Новый договор поставки</h4>
  <mib-spacing type="xs"></mib-spacing>
  <div class="flex flex_column gap-12">
    <mib-input>
      <ng-container input-label>Накладная</ng-container>
      <input mibInput>
    </mib-input>
    <mib-input>
      <ng-container input-label>Дата накладной</ng-container>
      <input type="date" mibInput>
    </mib-input>
    <div class="flex gap-12">
      <mib-input class="flex_grow">
        <ng-container input-label>Счет-фактура</ng-container>
        <input type="date" mibInput>
      </mib-input>
      <mib-input class="flex_grow">
        <ng-container input-label>Дата фактуры</ng-container>
        <input type="date" mibInput>
      </mib-input>
    </div>
    <mib-input>
      <ng-container input-label>Дата поставки</ng-container>
      <input type="date" mibInput>
    </mib-input>
    <mib-input>
      <ng-container input-label>Сумма поставки</ng-container>
      <p input-right-icon class="text text_m c-bti-quaternary">₽</p>
      <input mibInput>
    </mib-input>
  </div>
  <mib-spacing type="m"></mib-spacing>
  <mib-drawer-footer drawer-footer>
    <mib-button>Создать поставку</mib-button>
  </mib-drawer-footer>
</mib-drawer>
