<div class="widget widget__news">
  <div class="widget__header">
    <h4 class="widget__title">
      Новости
    </h4>
  </div>
  <div class="widget__content widget__content-news">
    <div class="news-row">
      <div class="news-image">
        img
      </div>
      <div class="news-content">
        <div class="news-header">Поздравляем с Днём России!</div>
        <div class="news-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
      </div>
      <div class="news-info">
        <div class="news-date">14.07.2021</div>
        <div class="news-action">Читать</div>
      </div>
    </div>
  </div>
</div>
