:host {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1000;
  &.dropdown-open {
    display: block;
  }
}
