:host {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  max-height: 260px;
  &.dropdown-open {
    pointer-events: visible;
  }
}
.dropdown {
  margin-top: 8px;

  border-radius: 8px;
  background: var(--wgr-primary);
  box-shadow: var(--shadow-big);

  padding: 4px 0;
  overflow: hidden;

  transition: var(--transition);
}
.content {
  height: 100%;
}
