<div class="header" #header>
  <div class="container container_large flex flex_justify-between">
    <mib-skeleton *ngIf="factoringLoading$ | async; else managerTemplate" [styles]="skeleton"></mib-skeleton>
    <ng-template #managerTemplate>
      <div class="manager flex gap-12">
        <mib-avatar [showImage]="false">{{managerInitials}}</mib-avatar>
        <div class="flex flex_column">
          <div class="flex">
            <p class="text name text_m text_medium c-bti-primary">{{manager?.Name ?? 'Отсутствует'}} </p>
            <p class="text text_m text_medium c-bti-tertiary" *ngIf="manager?.Extension as value">({{value}})</p>
          </div>
          <p class="text text_s label c-bti-tertiary">Ваш менеджер</p>
        </div>
        <mib-button size="m" type="ghost-secondary">
          <mib-ref-icon btn-icon class="stroke" name="fi_chevron-down"></mib-ref-icon>
        </mib-button>
      </div>
    </ng-template>
    <mib-skeleton *ngIf="userLoading$ | async; else userTemplate" [styles]="skeleton"></mib-skeleton>
    <ng-template #userTemplate>
      <div class="manager user flex gap-12">
        <mib-avatar [showImage]="false">{{nameInitials}}</mib-avatar>
        <div class="flex flex_column">
          <p class="text name text_m text_medium c-bti-primary">{{name}}</p>
          <p class="text text_s label c-bti-tertiary">Пользователь</p>
        </div>
        <mib-button size="m" type="ghost-secondary">
          <mib-ref-icon btn-icon class="stroke" name="fi_chevron-down"></mib-ref-icon>
        </mib-button>
      </div>
    </ng-template>
  </div>
</div>
