<div class="header" #header>
  <div class="container container_large flex flex_justify-between">
    <div class="manager flex gap-12">
      <mib-avatar [showImage]="false">АК</mib-avatar>
      <div class="flex flex_column">
        <div class="flex">
          <p class="text name text_m text_medium c-bti-primary">Бирюкова Кристина Олеговна</p>
          <p class="text text_m text_medium c-bti-tertiary">(11-11)</p>
        </div>
        <p class="text text_s label c-bti-tertiary">Ваш менеджер</p>
      </div>
      <mib-button size="m" type="ghost-secondary">
        <mib-ref-icon btn-icon class="stroke" name="fi_chevron-down"></mib-ref-icon>
      </mib-button>
    </div>
    <div class="manager user flex gap-12">
      <mib-avatar [showImage]="false">КА</mib-avatar>
      <div class="flex flex_column">
        <p class="text name text_m text_medium c-bti-primary">Назаров Егор Михайлович</p>
        <p class="text text_s label c-bti-tertiary">Пользователь</p>
      </div>
      <mib-button size="m" type="ghost-secondary">
        <mib-ref-icon btn-icon class="stroke" name="fi_chevron-down"></mib-ref-icon>
      </mib-button>
    </div>
  </div>
</div>
