@import "src/styles/typography.vars";

.header {
  border-bottom: 1px solid var(--wgr-secondary);
}

.container {
  padding: 12px 32px;
}

.manager {
  cursor: pointer;
}

.name {
  @include text-overflow(1);
  max-width: 132px;
}

.user {
  .name {
    max-width: 176px;
  }
}

.label {
  padding: 2px 0;
}
