<!--<div class="card-content">-->
<!--  <app-factoring [stats]="statistics"></app-factoring>-->
<!--</div>-->
<!--
<div class="widgets">
  <div class="widget__full-height">
    <widget-stats></widget-stats>
  </div>
  <div class="widget__normal">
    <widget-actions></widget-actions>
    <widget-news></widget-news>
  </div>
</div> -->
<mib-spacing type="m"></mib-spacing>
<h3>ООО “Бизнес”</h3>
<mib-spacing type="xs"></mib-spacing>
<div class="flex gap-12">
  <p class="text text_m">ИНН: 7704742940</p>
  <div class="separator vertical"></div>
  <p class="text text_m">КПП: 772301001</p>
  <div class="separator vertical"></div>
  <p class="text text_m">Договор Факторинга: 1085/08-2015 от 09/01/2019</p>
</div>
<mib-spacing type="s"></mib-spacing>
<div class="flex gap-16">
  <mib-cash-panel></mib-cash-panel>
  <mib-cash-panel></mib-cash-panel>
  <mib-cash-panel></mib-cash-panel>
</div>
