<div class="card-content">
  <p-progressSpinner *ngIf="(loading$ | async); else content"></p-progressSpinner>
  <ng-template #content>
    <app-factoring [factoringUser]="(currentUserFactoring$ | async)"></app-factoring>
  </ng-template>

  <!-- <button pButton label="Выйти" (click)="logout()"></button> -->
</div>
<div class="card-content">
  <div class="header lg">
    <div class="title">
    <h2>Отчеты</h2>
    <div class="subheader">
      Получите любой интересующий Вас отчёт
    </div>
    </div>
    <div class="actions">
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col">
      <div class="card-report">
        <div class="header">
          <div class="text">
            Приём документов
          </div>
          <div class="icon arrow_right"></div>
        </div>
        <div class="content">
          Список операций "Прием Документов" в разрезе накладных за указанный период
        </div>
      </div>
    </div>
    <div class="p-col">
      <div class="card-report">
        <div class="header">
          <div class="text">
            Приём документов
          </div>
          <div class="icon arrow_right"></div>
        </div>
        <div class="content">
          Список операций "Прием Документов" в разрезе накладных за указанный период
        </div>
      </div>
    </div>
    <div class="p-col">
      <div class="card-report">
        <div class="header">
          <div class="text">
            Приём документов
          </div>
          <div class="icon arrow_right"></div>
        </div>
        <div class="content">
          Список операций "Прием Документов" в разрезе накладных за указанный период
        </div>
      </div>
    </div>
    <div class="p-col">
      <div class="card-report">
        <div class="header">
          <div class="text">
            Приём документов
          </div>
          <div class="icon arrow_right"></div>
        </div>
        <div class="content">
          Список операций "Прием Документов" в разрезе накладных за указанный период
        </div>
      </div>
    </div>
  </div>

</div>
