<!--<div class="update-password-dialog">-->
<!--  <p-messages [(value)]="alertMessage" [enableService]="false"></p-messages>-->
<!--  <form [formGroup]="form" (ngSubmit)="updatePassword()">-->
<!--    <div class="p-fluid p-formgrid p-grid form">-->
<!--      <div class="p-field p-col-12 p-md-12 p-lg-12">-->
<!--        <input id="OldPassword" type="password" pInputText placeholder="Введите текущий пароль"-->
<!--          formControlName="OldPassword">-->
<!--        <div *ngIf="form.controls['OldPassword'].invalid">-->
<!--          <small *ngIf="form.controls['OldPassword'].errors.required" class="p-error">-->
<!--            Поле должно быть заполнено.-->
<!--          </small>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="p-field p-col-12 p-md-12 p-lg-12">-->
<!--        <input id="NewPassword" type="password" pInputText placeholder="Введите новый пароль"-->
<!--          formControlName="NewPassword">-->
<!--        <div *ngIf="form.controls['NewPassword'].invalid">-->
<!--          <small *ngIf="form.controls['NewPassword'].errors.required" class="p-error">-->
<!--            Поле должно быть заполнено.-->
<!--          </small>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="p-field p-col-12 p-md-12 p-lg-12">-->
<!--        <img class="captcha" id="image" [src]="image">-->
<!--      </div>-->
<!--      <div class="p-field p-col-12 p-md-12 p-lg-12">-->
<!--        <button type="button" (click)="updateCaptcha()" class="captcha-link">Обновить картинку</button>-->
<!--      </div>-->

<!--      <div class="p-field p-col-12 p-md-12 p-lg-12" formGroupName="Captcha">-->
<!--        <input id="CaptchaText" type="text" pInputText placeholder="Укажите текст с картинки" formControlName="Text">-->
<!--        <div *ngIf="captchaText.invalid">-->
<!--          <small *ngIf="captchaText.errors.required" class="p-error">-->
<!--            Поле должно быть заполнено.-->
<!--          </small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button pButton pRipple type="submit" label="Сменить пароль" class="captcha-submit"></button>-->
<!--  </form>-->

<!--</div>-->
