html,
body {
	height: 100%;
	background: var(--wgr-primary);
	overflow: hidden;
}

/* 
  ['xl', '(min-width: 1200px)'],
  ['lg', '(min-width: 992px)'],
  ['md', '(min-width: 768px)'],
  ['sm', '(min-width: 576px)'],
  ['xs', '(min-width: 0px)'],
*/

@import 'src/styles/layout/reset.scss';
@import 'src/styles/layout/_global';
@import 'src/styles/components/main';
@import 'src/styles/modals/main';

:root {
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--ff-primary: 'Inter', sans-serif;
	--transition: 0.2s ease;
	--badge-border-radius: 4px;
	--main-border-radius: 8px;
	--custom-floating-shadow: 0px 8px 16px 0px rgba(9, 13, 17, 0.1);
	--main-transition: 0.2s;
	--normal-shadow: 0px 8px 16px 0px rgba(9, 13, 17, 0.08);

	--spacing-desktop-xs2: 8px;
	--spacing-desktop-x: 14px;
	--spacing-desktop-xs: 16px;
	--spacing-desktop-s: 24px;
	--spacing-desktop-m: 32px;
	--spacing-desktop-l: 48px;
	--spacing-desktop-xl: 72px;
	--spacing-desktop-xl2: 96px;
	//--spacing-mobile-xs2: 8px;
	//--spacing-mobile-xs: 16px;
	//--spacing-mobile-s: 24px;
	//--spacing-mobile-m: 32px;
	//--spacing-mobile-l: 48px;
	//--spacing-mobile-xl: 72px;
	//--spacing-mobile-xl2: 96px;
}

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// TODO: ПОМЕНЯТЬ ЦВЕТ
::-webkit-scrollbar {
	background-color: var(--wgr-primary);
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border: 4px solid var(--wgr-primary);
	background-color: var(--wgr-tertiary);
	border-radius: 12px;
	&:active {
		background-color: var(--wgr-quaternary);
	}
}

.separator {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: var(--wgr-tertiary);

	&:not(.vertical) {
		height: 1px;
	}

	&.vertical {
		width: 1px;
	}
}

//.cdk-overlay-dark-backdrop {
//  transition: unset !important;
//  backdrop-filter: blur(1px);
//}
