@import '/src/styles/colors.scss';

body {
  margin: 0;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}


.card-content {
  background: url('/assets/images/mib_logo_background.png') no-repeat center center, $grey-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 50px;
  box-shadow: none;

  .header {
    &.lg {
      margin-bottom: 48px;
    }

    h2 {
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .subheader {
      color: $description-color;

      &.info {
        margin-top: 9px;
        display: flex;
        color: #102538;
      }
    }
  }
}

.display-1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  margin: 0px;
}


.p-menu {
  border: unset !important;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: transparent !important;
  color: #26b5fd24 !important;
  font-weight: bold !important;
}

.p-menuitem-link-active {
  color: #26b5fd24;
  font-weight: bold;
}

.p-datatable .p-datatable-tbody>tr {
  background: transparent !important;
}

.m-td {
  width: 100%;
  height: 90px;
  padding: 1rem 1rem;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 10px;
}

.m-th {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 80px;
  padding: 1rem 1rem;
  border: 1px solid #0C83F1;
  box-sizing: border-box;
  border-radius: 10px;
}

.p-datatable .p-datatable-thead>tr>th {
  // outline:  #0C83F1 auto 1px;
  // -webkit-outline-radius: 10px;
  // -moz-outline-radius: 10px;

  /* border-radius */
  // -webkit-border-radius: 10px;
  // -moz-border-radius: 10px;
  // border-radius: 10px;
  // // border: 1px solid #0C83F1 !important;
  // /* box-shadow */
  // -webkit-box-shadow: #0074e0 0px 0 2px;
  // -moz-box-shadow: #0074e0 0 0 2px;
  // box-shadow: #0074e0 0 0 2px;
}
.p-datatable .p-datatable-tbody > tr > td {
  /* border-radius */
  // -webkit-border-radius: 10px;
  // -moz-border-radius: 10px;
  // border-radius: 10px;
  // // border: 1px solid #0C83F1 !important;
  // /* box-shadow */
  // -webkit-box-shadow: #b4b4b4 0px 0 2px;
  // -moz-box-shadow: #b4b4b4 0 0 2px;
  // box-shadow: #b4b4b4 0 0 2px;
}

.p-paginator {
  background: transparent !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  border: unset !important;
  padding: unset !important;
}

.p-datatable .p-datatable-thead > tr > th {
  border: unset !important;
  padding: unset !important;
}
