<metib-backend-error-messages *ngIf="errorsMessage$ | async" [backendErrors]="errorsMessage$ | async">
</metib-backend-error-messages>

<metib-success-messages *ngIf="successMessage$ | async" [message]="successMessage$ | async"></metib-success-messages>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="p-fluid p-formgrid p-grid form">
    <div class="p-field p-col-12 p-md-6">
      <label for="deliveryID">Договор поставки:</label>
      <p-dropdown id="deliveryID" [options]="deliveries" placeholder="Выберите договор" formControlName="deliveryID"
        optionLabel="Title" optionValue="ID" (onChange)="onDeliveryChange($event)"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="freeDuty">Свободный лимит:</label>
      <input id="freeDuty" type="text" pInputText placeholder="Свободный Лимит" readonly
        value="{{freeDuty | currency:'RUB':'symbol-narrow'}}">
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="number">Номер заявки:</label>
      <input id="number" type="text" pInputText placeholder="Номер Заявки" formControlName="number">
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="type">Тип заявки:</label>
      <p-dropdown id="type" [options]="types" formControlName="type" optionLabel="name" optionValue="value">
      </p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="date">Дата: </label>
      <input id="date" type="date" pInputText placeholder="Дата" formControlName="date">
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="btn_submit">&nbsp;</label>
      <button id="btn_submit" pButton pRipple type="submit" label="{{btnSubmitValue}}" class="btn-mib-submit"></button>
    </div>
  </div>
</form>

<p-tabView>
  <p-tabPanel header="Поставки">

    <div class="card">
      <div class="mib-toolbar">
        <button type="button" pButton pRipple label="Добавить" class="p-mr-2" (click)="openNew(false)"></button>
        <button type="button" pButton pRipple label="Редактировать" class="p-mr-2" (click)="openNew(true)"></button>
        <button type="button" pButton pRipple label="Удалить ({{selectedShipments.length}})" class="p-mr-2"
          (click)="deleteShipments()"></button>
      </div>

      <p-table [rows]="10" [rowHover]="true" [value]="shipments" selectionMode="multiple"
        [(selection)]="selectedShipments">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
              <div class="m-th">
                ID
              </div>
            </th>
            <th>
              <div class="m-th">
                Накладная
              </div>
            </th>
            <th>
              <div class="m-th">
                Дата накладной
              </div>
            </th>
            <th>
              <div class="m-th">
                Счёт-фактура
              </div>
            </th>
            <th>
              <div class="m-th">
                Дата счёт-фактуры
              </div>
            </th>
            <th>
              <div class="m-th">
                Дата поставки
              </div>
            </th>
            <th>
              <div class="m-th">
                Сумма
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shipment>
          <tr>
            <td>
              <p-tableCheckbox [value]="shipment"></p-tableCheckbox>
            </td>
            <td>
              <div class="m-td">{{shipment.ID}}</div>
            </td>
            <td>
              <div class="m-td">{{shipment.AccountNumber}}</div>
            </td>
            <td>
              <div class="m-td">{{shipment.AccountDate}}</div>
            </td>
            <td>
              <div class="m-td">{{shipment.InvoiceNumber}}</div>
            </td>
            <td>
              <div class="m-td">{{shipment.InvoiceDate}}</div>
            </td>
            <td>
              <div class="m-td">{{shipment.DateShipment}}</div>
            </td>
            <td>
              <div class="m-td">{{shipment.Summ}}</div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [style]="{width: '650px'}" [(visible)]="addDeliveryDialog" header="Накладная" [modal]="true"
      [draggable]="false" [resizable]="false" styleClass="p-fluid">
      <ng-template pTemplate="content">
        <form [formGroup]="shipmentForm" (ngSubmit)="addShipment()">
          <div class="p-field">
            <label for="accountNumber">Накладная: </label>
            <input id="accountNumber" type="text" pInputText placeholder="Накладная" formControlName="accountNumber">
          </div>
          <div class="p-field">
            <label for="accountDate">Дата накладной: </label>
            <input id="accountDate" type="date" pInputText placeholder="Дата" formControlName="accountDate">
          </div>
          <div class="p-field">
            <label for="invoiceNumber">Счет-фактура: </label>
            <input id="invoiceNumber" type="text" pInputText placeholder="Счет-фактура" formControlName="invoiceNumber">
          </div>
          <div class="p-field">
            <label for="invoiceDate">Дата счета-ф: </label>
            <input id="invoiceDate" type="date" pInputText placeholder="Дата счета-ф" formControlName="invoiceDate">
          </div>

          <div class="p-field">
            <label for="dateShipment">Дата поставки: </label>
            <input id="dateShipment" type="date" pInputText placeholder="Дата счета-ф" formControlName="dateShipment">
          </div>
          <div class="p-field">
            <label for="summ">Сумма: </label>
            <input id="summ" type="number" pInputText placeholder="Сумма" formControlName="summ">
          </div>
          <div class="modal-actions">
            <button pButton pRipple label="Сформировать" class="p-button-text save" type="submit"></button>
            <button pButton pRipple label="Отменить" class="p-button-text cancel"></button>
          </div>

        </form>
      </ng-template>
      <!-- <ng-template pTemplate="footer">

        </ng-template> -->
    </p-dialog>
  </p-tabPanel>
  <p-tabPanel header="Скан-копии накладных">
    <p-fileUpload chooseIcon="pi pi-paperclip" (onSelect)="onSelect($event, 'Scan')" customUpload="true" [auto]="true"
      multiple="multiple" styleClass="mib-upload" maxFileSize="1000000" chooseLabel="Выбрать файлы">
      <!-- <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
        </ul>
    </ng-template> -->
      <ng-template let-file pTemplate="file">
        <div>{{file.name}}</div>
      </ng-template>
    </p-fileUpload>
  </p-tabPanel>
  <p-tabPanel header="Документы аккредитива">
    <p-fileUpload chooseIcon="pi pi-paperclip" (onSelect)="onSelect($event, 'Verification')" customUpload="true"
      [auto]="true" multiple="multiple" styleClass="mib-upload" maxFileSize="1000000" chooseLabel="Выбрать файлы">
      <!-- <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
        </ul>
    </ng-template> -->
      <ng-template let-file pTemplate="file">
        <div>{{file.name}}</div>
      </ng-template>
    </p-fileUpload>
  </p-tabPanel>
  <p-tabPanel header="Документы ЭДО">
    <p-fileUpload chooseIcon="pi pi-paperclip" (onSelect)="onSelect($event, 'All')" customUpload="true" [auto]="true"
      multiple="multiple" styleClass="mib-upload" maxFileSize="1000000" chooseLabel="Выбрать файлы">
      <!-- <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
        </ul>
    </ng-template> -->
      <ng-template let-file pTemplate="file">
        <div>{{file.name}}</div>
      </ng-template>
    </p-fileUpload>
  </p-tabPanel>
</p-tabView>
