<div class="p-fluid p-formgrid p-grid form">
  <div class="p-field p-col-12 p-md-6">
    <input type="text" pInputText placeholder="Договор Поставки - выпадающий список">
  </div>
  <div class="p-field p-col-12 p-md-6">
    <input type="text" pInputText placeholder="Свободный Лимит">
  </div>
  <div class="p-field p-col-12">
    <input type="text" pInputText placeholder="Номер Заявки">
  </div>
  <div class="p-field p-col-12 p-md-6">
    <input type="text" pInputText placeholder="Тип Заявки выпадающий список ">
  </div>
  <div class="p-field p-col-12 p-md-6">
    <input type="date" pInputText placeholder="Дата календарь">
  </div>
</div>
<button pButton pRipple type="submit" label="Создать" class="btn-mib-submit"></button>
