<mib-drawer>
	<mib-drawer-header
		(onClose)="dialogRef.close()"
		showMaximize="true"
		drawer-header
	></mib-drawer-header>
	<ng-container *ngIf="loading$ | async; else title">
		<mib-skeleton [styles]="skeletonTitle" *ngFor="let i of [1]"></mib-skeleton>
	</ng-container>
	<ng-template #title>
		<h4>Платеж на: {{ currentInvoice?.Amount | currency : 'RUB' }}</h4>
	</ng-template>
	<mib-spacing type="xs2"></mib-spacing>
	<ng-container *ngIf="loading$ | async; else date">
		<mib-skeleton [styles]="skeletonDate" *ngFor="let i of [1]"></mib-skeleton>
	</ng-container>
	<ng-template #date>
		<div class="flex gap-4">
			<span class="text text_m c-bti-secondary">Дата платежа</span>
			<span class="text text_m c-bti-secondary">{{
				currentInvoice?.Date | date : 'dd.MM.YYYY'
			}}</span>
			<mib-spacing type="xs"></mib-spacing>
		</div>
	</ng-template>
</mib-drawer>
