<mib-drawer>
	<mib-drawer-header
		(onClose)="dialogRef.close()"
		showMaximize="true"
		drawer-header
	></mib-drawer-header>
  <mib-skeleton *ngIf="loading$ | async; else title" [styles]="skeletonTitle"></mib-skeleton>
  <ng-template #title>
		<h4>Платеж на: {{ currentInvoice?.Amount | rub }}</h4>
	</ng-template>
	<mib-spacing type="xs2"></mib-spacing>
  <mib-skeleton *ngIf="loading$ | async; else date" [styles]="skeletonDate"></mib-skeleton>
	<ng-template #date>
		<div class="flex gap-4">
			<span class="text text_m c-bti-secondary">Дата платежа</span>
			<span class="text text_m c-bti-secondary">{{
				currentInvoice?.Date | date : 'dd.MM.YYYY'
			}}</span>
		</div>
	</ng-template>
	<mib-spacing type="xs"></mib-spacing>
  <mib-skeleton *ngIf="loading$ | async; else textareaTemplate" [styles]="skeletonTextarea"></mib-skeleton>
  <ng-template #textareaTemplate>
    <mib-textarea>
      <ng-container textarea-label>Назначение платежа</ng-container>
      <textarea readonly autosize [value]="currentInvoice?.Comment" mibTextarea></textarea>
      <mib-icon class="stroke" mibRightIcon name="fi_edit"></mib-icon>
    </mib-textarea>
  </ng-template>
	<mib-spacing type="m"></mib-spacing>
	<ng-container *ngIf="loading$ | async; else tabGroup">
		<mib-skeleton
			[styles]="skeletonTabGroup"
			*ngFor="let i of [1]"
		></mib-skeleton>
	</ng-container>
	<ng-template #tabGroup>
		<mib-tab-group>
			<mib-navbar>
				<mib-navbar-point value="1">Накладные</mib-navbar-point>
				<mib-navbar-point value="2">Реквизиты</mib-navbar-point>
			</mib-navbar>
			<div>
				<ng-container *ngIf="loading$ | async; else tabItems">
					<mib-skeleton
						[styles]="last ? skeletonWithoutUnderline : skeletonTable"
						*ngFor="let i of [1]; let last = last"
					></mib-skeleton>
				</ng-container>
				<ng-template #tabItems>
					<mib-tab-item value="1">
						<mib-spacing type="m"></mib-spacing>
						<div class="flex flex_justify-between">
							<mib-select
								class="supply-select-width"
								placeholder="5 из 8 колонн в таблице"
							>
								<mib-dropdown-point
									[value]="true"
									text="3 из 8 колонн в таблице"
								></mib-dropdown-point>
								<mib-dropdown-point
									[value]="true"
									text="5 из 8 колонн в таблице"
								></mib-dropdown-point>
								<mib-dropdown-point
									[value]="false"
									text="8 из 8 колонн в таблице"
								></mib-dropdown-point>
							</mib-select>
						</div>
						<mib-spacing type="xs"></mib-spacing>
						<mib-table>
							<mib-table-head>
								<mib-table-head-cell [showCheckbox]="true"
									>Дата оплаты
								</mib-table-head-cell>
								<mib-table-head-cell>Сумма поставки</mib-table-head-cell>
								<mib-table-head-cell>Долг дебитора</mib-table-head-cell>
								<mib-table-head-cell>Номер заявки</mib-table-head-cell>
								<mib-table-head-cell>Дата заявки</mib-table-head-cell>
							</mib-table-head>
							<mib-table-row *ngFor="let doc of [1, 2, 3]; let idx = index" [underlined]="true">
								<mib-table-cell type="main">
									<ng-container table-cell-title>
										{{ idx + 1 }}
									</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>{{ datas }}</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>{{
										currentInvoice?.ID
									}}</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>{{
										currentInvoice?.ID
									}}</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>{{
										currentInvoice?.ID
									}}</ng-container>
								</mib-table-cell>
								<mib-button table-row-button size="s" type="ghost-secondary">
									<mib-icon
										class="stroke"
										btn-icon
										name="fi_more-vertical"
									></mib-icon>
								</mib-button>
							</mib-table-row>
							<mib-table-row>
								<mib-table-cell>
									<ng-container table-cell-title> 3 позиции </ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>
										{{ datas * 3 }}
									</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title>
										{{ datas * 2.5 }}
									</ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title> </ng-container>
								</mib-table-cell>
								<mib-table-cell>
									<ng-container table-cell-title> </ng-container>
								</mib-table-cell>
							</mib-table-row>
						</mib-table>
					</mib-tab-item>
					<mib-tab-item value="2">
						<mib-spacing type="s"></mib-spacing>
						<p class="headline">Реквизиты плательщика</p>
						<mib-spacing type="xs2"></mib-spacing>
						<mib-contracted-forms extended="true">
							<ng-container contacted-label>{{
								currentInvoice?.Payer?.BankName
							}}</ng-container>
							<ng-container contracted-bill>{{
								currentInvoice?.Payer?.Account
							}}</ng-container>
							<ng-container contracted-open>{{
								currentInvoice?.Date | date : 'dd.MM.YYYY'
							}}</ng-container>
							<ng-container contracted-close>{{
								currentInvoice?.Date | date : 'dd.MM.YYYY'
							}}</ng-container>
							<ng-container contracted-description
								>Для основных транзакций</ng-container
							>
						</mib-contracted-forms>
						<mib-spacing type="xs"></mib-spacing>
						<mib-contracted-forms>
							<ng-container contacted-label>{{
								currentInvoice?.Beneficiary?.BankName
							}}</ng-container>
							<ng-container contracted-bill>{{
								currentInvoice?.Beneficiary?.Account
							}}</ng-container>
							<ng-container contracted-open>{{
								currentInvoice?.Date | date : 'dd.MM.YYYY'
							}}</ng-container>
							<ng-container contracted-close>{{
								currentInvoice?.Date | date : 'dd.MM.YYYY'
							}}</ng-container>
							<ng-container contracted-description
								>Для основных транзакций</ng-container
							>
						</mib-contracted-forms>
						<mib-spacing type="s"></mib-spacing>
						<p class="headline">Реквизиты дебитора</p>
						<mib-spacing type="xs2"></mib-spacing>
						<mib-contracted-forms extended="true">
							<ng-container contacted-label>{{
								currentInvoice?.Beneficiary?.BankName
							}}</ng-container>
							<ng-container contracted-bill>{{
								currentInvoice?.Beneficiary?.Account
							}}</ng-container>
							<ng-container contracted-open>{{
								currentInvoice?.Date | date : 'dd.MM.YYYY'
							}}</ng-container>
							<ng-container contracted-close>{{
								currentInvoice?.Date | date : 'dd.MM.YYYY'
							}}</ng-container>
							<ng-container contracted-description
								>Для основных транзакций</ng-container
							>
						</mib-contracted-forms>
						<mib-spacing type="xs"></mib-spacing>
						<mib-contracted-forms>
							<ng-container contacted-label>{{
								currentInvoice?.Payer?.BankName
							}}</ng-container>
							<ng-container contracted-bill>{{
								currentInvoice?.Payer?.Account
							}}</ng-container>
							<ng-container contracted-open>{{
								currentInvoice?.Date | date : 'dd.MM.YYYY'
							}}</ng-container>
							<ng-container contracted-close>{{
								currentInvoice?.Date | date : 'dd.MM.YYYY'
							}}</ng-container>
							<ng-container contracted-description
								>Для основных транзакций</ng-container
							>
						</mib-contracted-forms>
					</mib-tab-item>
				</ng-template>
			</div>
		</mib-tab-group>
	</ng-template>
</mib-drawer>
