<ng-container [formGroup]="form">
  <mib-spacing type="s"></mib-spacing>
  <mib-input>
    <input mibInput type="text" formControlName="first" [size]="inputSizeL" styleType="filled-secondary"
           placeholder="Ваши Фамилия Имя"/>
    <ng-container input-label>Ваши Фамилия Имя</ng-container>
  </mib-input>
  <mib-spacing type="xs"></mib-spacing>
  <mib-input>
    <input mibInput mask="+7-999-999-9999" placeholder="Телефон" formControlName="phone" [size]="inputSizeL"
           styleType="filled-secondary"/>
    <ng-container input-label>Телефон</ng-container>
  </mib-input>
  <mib-spacing type="xs"></mib-spacing>
  <mib-input>
    <input mibInput type="email" placeholder="E-mail" formControlName="email" [size]="inputSizeL"
           styleType="filled-secondary"/>
    <ng-container input-label>E-mail</ng-container>
  </mib-input>
  <mib-spacing type="xs"></mib-spacing>
  <mib-input>
    <input mibInput type="password" [size]="inputSizeL" styleType="filled-secondary" formControlName="password"
           placeholder="Введите пароль"/>
    <ng-container input-label>Введите пароль</ng-container>
    <mib-ref-icon class="stroke path" input-right-icon name="fi_eye"></mib-ref-icon>
  </mib-input>
  <mib-spacing type="xs"></mib-spacing>
  <div class="flex gap-16">
    <img [src]="image" alt=""/>
    <div class="flex flex_column gap-8">
      <mib-input>
        <input mibInput formControlName="text" placeholder="Текст с картинки" [size]="inputSizeL"
               styleType="filled-secondary"/>
        <ng-container input-label>Текст с картинки</ng-container>
      </mib-input>
      <mib-link>
        <mib-ref-icon link-right-icon class="stroke" name="fi_refresh-ccw"></mib-ref-icon>
        Обновить картинку
      </mib-link>
    </div>
  </div>
  <mib-spacing type="m"></mib-spacing>
  <div class="flex gap-16">
    <mib-button [routerLink]="['/auth/register']" size="l" type="filled-secondary" class="flex_grow">Авторизация</mib-button>
    <mib-button size="l" class="flex_grow" (press)="onSubmit()">Продолжить</mib-button>
  </div>
</ng-container>


<!--<hr />-->
<!--<div class="auth__body">-->
<!--	<div class="auth__body__form auth__body__form_registration">-->
<!--		<div class="auth__body__form__title">-->
<!--			<h1>Регистрация</h1>-->
<!--		</div>-->

<!--		<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--			<div class="auth__body__form__fields">-->
<!--				&lt;!&ndash; Profile &ndash;&gt;-->
<!--				<div formGroupName="profile">-->
<!--					&lt;!&ndash; Name &ndash;&gt;-->
<!--					<div formGroupName="name">-->
<!--						<div class="auth__body__form__fields__two-columns">-->
<!--							<div class="auth__body__form__fields__field">-->
<!--								<input-->
<!--									id="first"-->
<!--									type="text"-->
<!--									pInputText-->
<!--									placeholder="Имя"-->
<!--									formControlName="first"-->
<!--									[ngClass]="{-->
<!--										'mib-border-danger':-->
<!--											(isSubmitting$ | async) &&-->
<!--											form.get('profile.name.first').invalid-->
<!--									}"-->
<!--								/>-->
<!--								<small-->
<!--									class="p-error"-->
<!--									*ngIf="-->
<!--										(isSubmitting$ | async) &&-->
<!--										form.get('profile.name.first').invalid-->
<!--									"-->
<!--								>-->
<!--									<div-->
<!--										*ngIf="form.get('profile.name.first').errors['required']"-->
<!--									>-->
<!--										Поле Имя не должно быть пустым-->
<!--									</div>-->
<!--								</small>-->
<!--							</div>-->
<!--							<div class="auth__body__form__fields__field">-->
<!--								<input-->
<!--									id="last"-->
<!--									type="text"-->
<!--									pInputText-->
<!--									placeholder="Фамилия"-->
<!--									formControlName="last"-->
<!--									[ngClass]="{-->
<!--										'mib-border-danger':-->
<!--											(isSubmitting$ | async) &&-->
<!--											form.get('profile.name.last').invalid-->
<!--									}"-->
<!--								/>-->
<!--								<small-->
<!--									class="p-error"-->
<!--									*ngIf="-->
<!--										(isSubmitting$ | async) &&-->
<!--										form.get('profile.name.last').invalid-->
<!--									"-->
<!--								>-->
<!--									<div *ngIf="form.get('profile.name.last').errors['required']">-->
<!--										Поле Фамилия не должно быть пустым-->
<!--									</div>-->
<!--								</small>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="auth__body__form__fields__two-columns">-->
<!--						<div class="auth__body__form__fields__field">-->
<!--							<p-inputMask-->
<!--								id="phone"-->
<!--								mask="+7-999-999-9999"-->
<!--								type="tel"-->
<!--								placeholder="Телефон"-->
<!--								formControlName="phone"-->
<!--								[ngClass]="{-->
<!--									'mib-border-danger':-->
<!--										(isSubmitting$ | async) && form.get('profile.phone').invalid-->
<!--								}"-->
<!--							>-->
<!--							</p-inputMask>-->
<!--							<small-->
<!--								class="p-error"-->
<!--								*ngIf="-->
<!--									(isSubmitting$ | async) && form.get('profile.phone').invalid-->
<!--								"-->
<!--							>-->
<!--								<div *ngIf="form.get('profile.phone').errors['required']">-->
<!--									Поле Телефон не должно быть пустым-->
<!--								</div>-->
<!--							</small>-->
<!--						</div>-->
<!--						<div class="auth__body__form__fields__field">-->
<!--							<input-->
<!--								id="email"-->
<!--								type="email"-->
<!--								pInputText-->
<!--								placeholder="Email"-->
<!--								formControlName="email"-->
<!--								[ngClass]="{-->
<!--									'mib-border-danger':-->
<!--										(isSubmitting$ | async) && form.get('profile.email').invalid-->
<!--								}"-->
<!--							/>-->
<!--							<small-->
<!--								class="p-error"-->
<!--								*ngIf="-->
<!--									(isSubmitting$ | async) && form.get('profile.email').invalid-->
<!--								"-->
<!--							>-->
<!--								<div *ngIf="form.get('profile.email').errors['required']">-->
<!--									Поле Email не должно быть пустым-->
<!--								</div>-->
<!--								<div *ngIf="form.get('profile.email').errors['email']">-->
<!--									Введите корректный Email адрес-->
<!--								</div>-->
<!--							</small>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="auth__body__form__fields__two-columns">-->
<!--						<div-->
<!--							class="auth__body__form__fields__field"-->
<!--							pTooltip="Ваш Логин, используется для входа в систему"-->
<!--						>-->
<!--							<input-->
<!--								id="login"-->
<!--								type="text"-->
<!--								pInputText-->
<!--								placeholder="Логин"-->
<!--								formControlName="login"-->
<!--								[ngClass]="{-->
<!--									'mib-border-danger':-->
<!--										(isSubmitting$ | async) && form.get('profile.login').invalid-->
<!--								}"-->
<!--							/>-->
<!--							&lt;!&ndash; <small>-->
<!--                <div>-->
<!--                  Логин-->
<!--                </div>-->
<!--              </small> &ndash;&gt;-->
<!--							<small-->
<!--								class="p-error"-->
<!--								*ngIf="-->
<!--									(isSubmitting$ | async) && form.get('profile.login').invalid-->
<!--								"-->
<!--							>-->
<!--								<div *ngIf="form.get('profile.login').errors['required']">-->
<!--									Поле Логин не должно быть пустым-->
<!--								</div>-->
<!--							</small>-->
<!--						</div>-->
<!--						<div class="auth__body__form__fields__field">-->
<!--							<p-dropdown-->
<!--								id="isMale"-->
<!--								[options]="genderOptions"-->
<!--								formControlName="isMale"-->
<!--								optionLabel="name"-->
<!--								styleClass="gender-select"-->
<!--								[showClear]="false"-->
<!--								placeholder="Пол"-->
<!--								optionValue="value"-->
<!--								[ngClass]="{-->
<!--									'mib-border-danger':-->
<!--										(isSubmitting$ | async) &&-->
<!--										form.get('profile.isMale').invalid-->
<!--								}"-->
<!--							>-->
<!--								<ng-template let-country pTemplate="item">-->
<!--									<div class="country-item">-->
<!--										<div>{{ country.name }}</div>-->
<!--									</div>-->
<!--								</ng-template>-->
<!--							</p-dropdown>-->
<!--							<small-->
<!--								class="p-error"-->
<!--								*ngIf="-->
<!--									(isSubmitting$ | async) && form.get('profile.isMale').invalid-->
<!--								"-->
<!--							>-->
<!--								<div *ngIf="form.get('profile.isMale').errors['required']">-->
<!--									Поле Пол не должно быть пустым-->
<!--								</div>-->
<!--							</small>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				&lt;!&ndash; Password &ndash;&gt;-->
<!--				<div class="auth__body__form__fields__two-columns">-->
<!--					<div class="auth__body__form__fields__field">-->
<!--						<input-->
<!--							id="password"-->
<!--							type="password"-->
<!--							pInputText-->
<!--							placeholder="Пароль"-->
<!--							formControlName="password"-->
<!--							[ngClass]="{-->
<!--								'mib-border-danger':-->
<!--									(isSubmitting$ | async) && form.get('password').invalid-->
<!--							}"-->
<!--						/>-->
<!--						<small-->
<!--							class="p-error"-->
<!--							*ngIf="(isSubmitting$ | async) && form.get('password').invalid"-->
<!--						>-->
<!--							<div *ngIf="form.get('password').errors['required']">-->
<!--								Поле Пароль не должно быть пустым-->
<!--							</div>-->
<!--							<div *ngIf="form.get('password').errors['pattern']">-->
<!--								Поле Пароль не должно содержать кириллицу-->
<!--							</div>-->
<!--							<div *ngIf="form.get('password').errors['minlength']">-->
<!--								Поле Пароль быть более шести символов-->
<!--							</div>-->
<!--						</small>-->
<!--					</div>-->
<!--					<div class="auth__body__form__fields__field">-->
<!--						<input-->
<!--							id="confirmPassword"-->
<!--							type="password"-->
<!--							pInputText-->
<!--							placeholder="Подтвердите Пароль"-->
<!--							formControlName="confirmPassword"-->
<!--							[ngClass]="{-->
<!--								'mib-border-danger':-->
<!--									(isSubmitting$ | async) && form.get('confirmPassword').invalid-->
<!--							}"-->
<!--						/>-->
<!--						<small-->
<!--							class="p-error"-->
<!--							*ngIf="-->
<!--								(isSubmitting$ | async) && form.get('confirmPassword').invalid-->
<!--							"-->
<!--						>-->
<!--							<div *ngIf="form.get('confirmPassword').errors['required']">-->
<!--								Поле Подтвердите Пароль не должно быть пустым-->
<!--							</div>-->
<!--							<div *ngIf="form.get('confirmPassword').errors['pattern']">-->
<!--								Поле Пароль не должно содерждать киррилицу-->
<!--							</div>-->
<!--							<div *ngIf="form.get('confirmPassword').errors['minlength']">-->
<!--								Поле Пароль быть более шести символов-->
<!--							</div>-->
<!--							<div-->
<!--								*ngIf="form.get('confirmPassword').errors['confirmedValidator']"-->
<!--							>-->
<!--								Пароли должны совпадать.-->
<!--							</div>-->
<!--						</small>-->
<!--					</div>-->
<!--				</div>-->

<!--				&lt;!&ndash; Captcha &ndash;&gt;-->
<!--				<div formGroupName="captcha">-->
<!--					<div class="auth__body__form__fields__two-columns">-->
<!--						<div class="auth__body__form__fields__field">-->
<!--							<img id="image" [src]="image" />-->
<!--						</div>-->
<!--						<div class="auth__body__form__fields__field">-->
<!--							<input-->
<!--								id="text"-->
<!--								type="text"-->
<!--								pInputText-->
<!--								formControlName="text"-->
<!--								placeholder="Укажите текст с картинки"-->
<!--								[ngClass]="{-->
<!--									'mib-border-danger':-->
<!--										(isSubmitting$ | async) && form.get('captcha.text').invalid-->
<!--								}"-->
<!--							/>-->
<!--							<small-->
<!--								class="p-error"-->
<!--								*ngIf="-->
<!--									(isSubmitting$ | async) && form.get('captcha.text').invalid-->
<!--								"-->
<!--							>-->
<!--								<div *ngIf="form.get('captcha.text').errors['required']">-->
<!--									Поле Текст с Картинки не должно быть пустым-->
<!--								</div>-->
<!--							</small>-->
<!--							<div class="auth__body__form__fields__field">-->
<!--								<p-button-->
<!--									styleClass="p-button-link p-mb-4 registration-link"-->
<!--									(click)="updateCaptcha()"-->
<!--									label="Обновить картинку"-->
<!--								>-->
<!--								</p-button>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div-->
<!--				class="actions actions_registration actions_additional"-->
<!--				*ngIf="!(confirmationCode$ | async)"-->
<!--			>-->
<!--				<button-->
<!--					pButton-->
<!--					class="additional-button"-->
<!--					[routerLink]="['/auth/login']"-->
<!--					label="Авторизация"-->
<!--				></button>-->
<!--				<button-->
<!--					pButton-->
<!--					type="submit"-->
<!--					[disabled]="isSubmitting$ | async"-->
<!--					label="Зарегистрироваться"-->
<!--					class="main"-->
<!--				></button>-->
<!--				&lt;!&ndash; <p-button styleClass="p-button-link" label="Забыли пароль?" [routerLink]="['/reset-password']"></p-button> &ndash;&gt;-->
<!--			</div>-->
<!--		</form>-->

<!--		<form-->
<!--			*ngIf="confirmationCode$ | async"-->
<!--			[formGroup]="formConfirm"-->
<!--			(ngSubmit)="onConfirmSubmit()"-->
<!--		>-->
<!--			<div class="auth__body__form__fields">-->
<!--				<div class="auth__body__form__fields__two-columns">-->
<!--					<div class="auth__body__form__fields__field">-->
<!--						<input-->
<!--							id="pin"-->
<!--							type="text"-->
<!--							pInputText-->
<!--							placeholder="Код"-->
<!--							formControlName="pin"-->
<!--							[ngClass]="{-->
<!--								'mib-border-danger':-->
<!--									formConfirm.get('pin').invalid &&-->
<!--									formConfirm.get('pin').touched-->
<!--							}"-->
<!--						/>-->
<!--						&lt;!&ndash; <small class="p-error" *ngIf="formConfirm.get('pin').invalid && formConfirm.get('pin').touched">-->
<!--              <div *ngIf="formConfirm.get('pin').errors['required']">-->
<!--                Поле Код не должно быть пустым-->
<!--              </div>-->
<!--            </small> &ndash;&gt;-->
<!--					</div>-->
<!--					<div class="auth__body__form__fields__field"></div>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="actions actions_registration actions_additional">-->
<!--				<button-->
<!--					pButton-->
<!--					type="button"-->
<!--					class="additional-button"-->
<!--					[routerLink]="['/auth/login']"-->
<!--					label="Авторизация"-->
<!--				></button>-->
<!--				<button-->
<!--					pButton-->
<!--					type="submit"-->
<!--					[disabled]="isSubmitting$ | async"-->
<!--					label="Завершить регистрацию"-->
<!--					class="main"-->
<!--				></button>-->
<!--				&lt;!&ndash; <p-button styleClass="p-button-link" label="Забыли пароль?" [routerLink]="['/reset-password']"></p-button> &ndash;&gt;-->
<!--			</div>-->
<!--		</form>-->
<!--	</div>-->
<!--</div>-->
