<div class="manager">
  <div class="header-block manager-info">
    <div class="manager-info-name">
      <ng-container>
        Адиенко Наталья (53-71)
      </ng-container>
    </div>
    <div class="manager-info-email">
      <ng-container>
        mann@metib.ru
      </ng-container>
    </div>
  </div>
  <div class="header-block manager-ava">
    <ng-container>
      <p-skeleton size="5rem"></p-skeleton>
    </ng-container>
  </div>
</div>

<p-steps [model]="items" [readonly]="true" [activeIndex]="2"></p-steps>
