<div class="info-header">
  <div class="info-cards">
    <div class="info-card">
      <p><strong>Тип:</strong> {{getType(currentDemandInfo.Type)}}</p>
    </div>
    <div class="info-card">
      <p><strong>Статус:</strong> {{getStatus(currentDemandInfo.Status)}}</p>
    </div>
    <div class="info-card">
      <p><strong>Дата:</strong> {{currentDemandInfo.DateCreated | date:'dd.MM.yyyy'}}</p>
    </div>
    <div class="info-card">
      <p><strong>Изменен:</strong> {{currentDemandInfo.DateModify | date:'dd.MM.yyyy HH:mm'}}</p>
    </div>
  </div>

  <div class="manager">
    <div class="header-block manager-info" *ngIf="currentDemandInfo?.Manager; else noManagerTmpl" >
      <div class="manager-info-name">
          {{currentDemandInfo?.Manager?.Name}} ({{currentDemandInfo?.Manager?.Extension}})
      </div>
      <div class="manager-info-email">
        {{currentDemandInfo?.Manager?.Email}}
      </div>
    </div>
    <ng-template #noManagerTmpl>
      <div class="header-block manager-info">
        <div class="manager-info-name">
           Менеджер не назначен
        </div>
      </div>
    </ng-template>
    <div class="header-block manager-ava">
      <ng-container>
        <p-skeleton size="5rem"></p-skeleton>
      </ng-container>
    </div>
  </div>
</div>

<p-steps [model]="items" [readonly]="true" [activeIndex]="2"></p-steps>

<h2>
  Сообщения
</h2>
<div class="message-list">
  <div class="message-item">
    <div class="date">03.04.2021</div>
    <div class="message">Создан новый запрос</div>
    <div class="name">Андрей Котов</div>
  </div>
  <div class="message-item">
    <div class="date">03.04.2021</div>
    <div class="message">Создан новый запрос</div>
    <div class="name">Андрей Котов</div>
  </div>
  <div class="message-item">
    <div class="date">03.04.2021</div>
    <div class="message">Создан новый запрос</div>
    <div class="name">Андрей Котов</div>
  </div>
</div>

<h2>
  Новое сообщение
</h2>
<textarea rows="5" cols="30" pInputTextarea style="width: 100%;"></textarea>
<div class="actions">
  <div class="files">
    При необходимости прикрепите файлы:
  </div>
  <div>
    Отправить
  </div>
</div>
