<div class="card-content">
  <div class="header lg">
    <h2>Заявки</h2>
  </div>

  <div class="card">
    <p-table #dt2 [value]="(requests$ | async)" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [loading]="(isLoading$ | async)" styleClass="p-datatable-customers mib-table"
      [paginator]="true" currentPageReportTemplate="Показано: от {first} до {last} из {totalRecords}">
      <!-- <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
              placeholder="Search keyword" />
          </span>
        </div>
      </ng-template> -->
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="ID">ID <p-sortIcon field="ID"></p-sortIcon></th>
          <th pSortableColumn="Delivery.Title">Договор <p-sortIcon field="Delivery.Title"></p-sortIcon></th>
          <th>Номер</th>
          <th>Дата</th>
          <th>Тип</th>
          <th>Дата Отправки</th>
          <th>Состояние</th>
          <th>Покупатель</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr>
          <td>
            {{request.ID}}
          </td>
          <td>
            {{request.Delivery.Title}}
          </td>
          <td>
            {{request.Number}}
          </td>
          <td>
            {{request.Date | date: 'short'}}
          </td>
          <td>
            {{request.Type}}
          </td>
          <td>
            {{request.Date | date: 'short'}}
          </td>
          <td>
            {{request.Status}}
          </td>
          <td>
            {{request.Delivery.Customer}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Нет данных.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
