<div class="card-content" id="step1">
  <div class="header lg">
    <div class="title">
      <h2>Заявки</h2>
      <div class="subheader">
        Список заявок
      </div>
    </div>
    <div class="actions">
    </div>
  </div>

  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <div class="p-mr-2">Выбрано 0</div>
      <button #btn type="button" pButton  label="Действие" icon="pi pi-angle-down" (click)="menu.toggle($event)" class="basic" id="step2"></button>
      <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    </ng-template>
  </p-toolbar>
  <p-table [value]="(requests$ | async)" [rows]="10" [showCurrentPageReport]="true" selectionMode="multiple"
    [rowsPerPageOptions]="[10,25,50]" [loading]="(isLoading$ | async)" [(selection)]="selectedItems" dataKey="ID"
    styleClass="p-datatable-customers mib-table" [paginator]="true" [metaKeySelection]="true"
    currentPageReportTemplate="Показано: от {first} до {last} из {totalRecords}" (sortFunction)="customSort($event)"
    [customSort]="true">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="ID">
          <div class="m-th">
            ID
            <p-sortIcon field="ID"></p-sortIcon>
          </div>
        </th>
        <th>
          <div class="m-th">
            Договор
          </div>
        </th>
        <th pSortableColumn="Number">
          <div class="m-th">
            Номер
            <p-sortIcon field="Number"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="Date">
          <div class="m-th">
            Дата
            <p-sortIcon field="Date"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="Type">
          <div class="m-th">
            Тип
            <p-sortIcon field="Type"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="Date">
          <div class="m-th">
            Дата Отправки
            <p-sortIcon field="Date"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="Status">
          <div class="m-th">
            Состояние
            <p-sortIcon field="Status"></p-sortIcon>
          </div>
        </th>
        <th>
          <div class="m-th">
            Покупатель
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr [pSelectableRow]="request">
        <td>
          <div class="m-td">
            {{request.ID}}
          </div>
        </td>
        <td>
          <div class="m-td">{{request.Delivery.Title}}</div>
        </td>
        <td>
          <div class="m-td"> {{request.Number}}</div>
        </td>
        <td>
          <div class="m-td"> {{request.Date | date: 'short'}}</div>
        </td>
        <td>
          <div class="m-td"> {{request.Type}}</div>
        </td>
        <td>
          <div class="m-td"> {{request.Date | date: 'short'}}</div>
        </td>
        <td>
          <div class="m-td"> {{request.Status}}</div>
        </td>
        <td>
          <div class="m-td"> {{request.Delivery.Debtor}}</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Нет данных.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
