<div class="card-content" id="step1">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button #btn type="button" pButton label="Действие" icon="pi pi-angle-down" (click)="menu.toggle($event)"
        class="basic" id="step2"></button>
      <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    </ng-template>
  </p-toolbar>
  <div class="responsive-table">
    <p-table [value]="(requests$ | async)" [rows]="10" [showCurrentPageReport]="true" selectionMode="multiple"
      [rowsPerPageOptions]="[10,25,50]" [(selection)]="selectedItems" dataKey="ID"
      styleClass="p-datatable-customers mib-table" [paginator]="true" [metaKeySelection]="true"
      (sortFunction)="customSort($event)" [customSort]="true"
      currentPageReportTemplate="Показано: от {first} до {last} из {totalRecords}">
      <!-- -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="ID">
            <div class="m-th">
              <div>
                ID
                <p-sortIcon field="ID"></p-sortIcon>
              </div>

            </div>
          </th>
          <th>
            <div class="m-th">
              <div>Договор</div>

            </div>
          </th>
          <th pSortableColumn="Number">
            <div class="m-th">
              <div>Номер
                <p-sortIcon field="Number"></p-sortIcon>
              </div>

            </div>
          </th>
          <th pSortableColumn="Date">
            <div class="m-th">
              <div>Дата
                <p-sortIcon field="Date"></p-sortIcon>
              </div>

            </div>
          </th>
          <th pSortableColumn="Type">
            <div class="m-th">
              <div>Тип
                <p-sortIcon field="Type"></p-sortIcon>
              </div>

            </div>
          </th>
          <!-- <th pSortableColumn="Date">
          <div class="m-th">
            Дата Отправки
            <p-sortIcon field="Date"></p-sortIcon>
          </div>
        </th> -->
          <th pSortableColumn="Status">
            <div class="m-th">
              <div>Состояние
                <p-sortIcon field="Status"></p-sortIcon>
              </div>

            </div>
          </th>
          <th>
            <div class="m-th">
              <div>Покупатель</div>

            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr [pSelectableRow]="request">
          <td>
            <p-tableCheckbox [value]="request"></p-tableCheckbox>
          </td>
          <td>
            <div class="m-td">
              <div>{{request.ID}}</div>

            </div>
          </td>
          <td>
            <div class="m-td">
              <div>{{request.Delivery.Title}}</div>
            </div>
          </td>
          <td>
            <div class="m-td">
              <div> {{request.Number}}</div>
            </div>
          </td>
          <td>
            <div class="m-td">
              <div>{{request.Date | date: 'dd.MM.yyyy'}}</div>
            </div>
          </td>
          <td>
            <div class="m-td">
              <!-- TODO:: rework it on PIPE -->
              <div [ngSwitch]="request.Type">
                <div *ngSwitchCase="'Financing'">
                  С финансированием
                </div>
                <div *ngSwitchCase="'NonFinancing'">
                  Без финансирования
                </div>
              </div>
            </div>
          </td>
          <!-- <td>
          <div class="m-td"> {{request.Date | date: 'dd.MM.yyyy'}}</div>
        </td> -->
          <td>
            <div class="m-td">
              <div>{{request.Status}}</div>
            </div>
          </td>
          <td>
            <div class="m-td">
              <div>{{request.Delivery.Debtor}}</div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <ng-container *ngIf="(requests$ | async); else skeletonRequestsTemplate">
          <tr>
            <td colspan="8">Нет данных.</td>
          </tr>
        </ng-container>
        <ng-template #skeletonRequestsTemplate>
          <tr *ngFor="let i of [{}, {}, {}, {}, {}]">
            <td>
            </td>
            <td>
              <div class="m-td">
                <p-skeleton></p-skeleton>
              </div>
            </td>
            <td>
              <div class="m-td">
                <p-skeleton></p-skeleton>
              </div>
            </td>
            <td>
              <div class="m-td">
                <p-skeleton></p-skeleton>
              </div>
            </td>
            <td>
              <div class="m-td">
                <p-skeleton></p-skeleton>
              </div>
            </td>
            <td>
              <div class="m-td">
                <p-skeleton></p-skeleton>
              </div>
            </td>
            <!-- <td>
            <div class="m-td">
              <p-skeleton></p-skeleton>
            </div>
          </td> -->
            <td>
              <div class="m-td">
                <p-skeleton></p-skeleton>
              </div>
            </td>
            <td>
              <div class="m-td">
                <p-skeleton></p-skeleton>
              </div>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </p-table>
  </div>
</div>


<!-- Confirm Form -->
<!-- <form [formGroup]="confirmForm" (ngSubmit)="confirm()">
  <p-dialog [style]="{width: '450px'}" [(visible)]="confirmDialog" header="Подтверждение" [modal]="true"
    [draggable]="false" [resizable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="pin">Пин-код: </label>
        <input id="pin" type="text" pInputText placeholder="Пин-код" formControlName="pin">
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Отменить" icon="pi pi-times" class="p-button-text"></button>
      <button pButton pRipple label="Подтвердить" icon="pi pi-check" class="p-button-text" type="submit"></button>
    </ng-template>
  </p-dialog>
</form> -->
