.table-row {
	min-height: 48px;
	position: relative;
	height: 100%;
	padding: var(--table-paddings);
	display: flex;
	background: var(--wgr-primary);
	border-bottom: var(--collapse);

	// &_underlined {
	// 	box-shadow: inset 0 -1px 0 0 var(--wgr-secondary);
	// }

	&_button-wrapper {
		display: none;
		position: absolute;
		right: 0;
		height: 100%;
		padding: 8px 8px 8px 0;
		@media (max-width: 576px) {
			padding: 0;
		}
	}

	&_has-button {
		.table-row_button-wrapper {
			display: flex;
		}
	}
}
