<mib-blur-loader *ngIf="loading$ | async"></mib-blur-loader>
<mib-drawer [formGroup]="form">
  <mib-drawer-header (onClose)="dialogRef.close()" drawer-header>
  </mib-drawer-header>
  <mib-drawer-container>
    <h4>Запрос на обновление лимита</h4>
    <mib-spacing type="xs"></mib-spacing>
    <mib-input>
      <p mibRightIcon class="text text_m c-bti-quaternary">₽</p>
      <input mask="separator" mibInput id="limit" formControlName="Limit" />
      <ng-container mibLabel>Введите требуемый лимит</ng-container>
    </mib-input>
    <mib-spacing type="xs"></mib-spacing>
    <mib-textarea>
      <ng-container mibLabel>Комментарий к запросу</ng-container>
      <textarea [maxLength]="100" id="requestText" autosize mibTextarea formControlName="Comment"></textarea>
    </mib-textarea>
    <mib-spacing type="s"></mib-spacing>
    <p class="headline">Необходимые документы</p>
    <mib-spacing type="xs2"></mib-spacing>
    <mib-information type="information">
      <ng-container information-text
      >Допустимые форматы для документов: PDF, DOC, DOCX, XLS, XLSX, JPEG,
        PNG. Размер каждого документа не должен превышать 10 МБ
      </ng-container>
    </mib-information>
    <mib-spacing type="xs"></mib-spacing>
    <div class="flex flex_column gap-8">
      <p class="text text_m c-bti-primary">Оборотно-сальдовая ведомость по P/C За последние 12 месяцев</p>
      <ng-container
        *ngIf="!groupDocuments.get('statement')['controls']?.length; else statementTemplate"
      ></ng-container>
      <ng-template #statementTemplate>
        <p class="text text_m text_medium">Прикрепленные документы</p>
        <div *ngFor="let document of groupDocuments.get('statement')['controls']; let idx = index">
          <mib-dl-file-cell
            [attr.index]="idx"
            [showRemove]="!data.data?.isView"
            [showDownload]="true"
            (onDload)="downloadCurrentFile(document)"
            (onRemove)="deleteDocument(idx, 'statement')"
            [fileName]="document.get('FileName').value"
          ></mib-dl-file-cell>
        </div>
        <mib-spacing type="xs2"></mib-spacing>
      </ng-template>
      <mib-dnd
        [disabled]="data.data?.isView"
        [multiple]="true"
        (onChange)="onDocumentLoad($event, 'statement')"
        [accept]="[
					'application/pdf',
					'application/msword',
					'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
					'application/vnd.ms-excel',
					'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
					'image/jpeg',
					'image/png'
				]"
        headline="Прикрепите документ"
      ></mib-dnd>
    </div>
    <mib-spacing type="m"></mib-spacing>
    <div class="flex flex_column gap-8">
      <p class="text text_m c-bti-primary">Отчетность на последнюю отчетную дату ББиОПиУ</p>
      <ng-container
        *ngIf="!groupDocuments?.get('reporting')['controls']?.length; else reportingTemplate"
      ></ng-container>
      <ng-template #reportingTemplate>
        <p class="text text_m text_medium">Прикрепленные документы</p>
        <div *ngFor="let document of groupDocuments?.get('reporting')['controls']; let idx = index">
          <mib-dl-file-cell
            [attr.index]="idx"
            [showRemove]="!data.data?.isView"
            [showDownload]="true"
            (onDload)="downloadCurrentFile(document)"
            (onRemove)="deleteDocument(idx,'reporting')"
            [fileName]="document.get('FileName').value"
          ></mib-dl-file-cell>
        </div>
        <mib-spacing type="xs2"></mib-spacing>
      </ng-template>
      <mib-dnd
        [disabled]="data.data?.isView"
        [multiple]="true"
        (onChange)="onDocumentLoad($event, 'reporting')"
        [accept]="[
					'application/pdf',
					'application/msword',
					'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
					'application/vnd.ms-excel',
					'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
					'image/jpeg',
					'image/png'
				]"
        headline="Прикрепите документ"
      ></mib-dnd>
    </div>
    <mib-spacing type="m"></mib-spacing>
    <div class="flex flex_column gap-8">
      <p class="text text_m c-bti-primary">Информационное письмо о заёмах и кредитах на текущую дату*</p>
      <ng-container
        *ngIf="!groupDocuments?.get('informationLetter')['controls']?.length; else informationLetterTemplate"
      ></ng-container>
      <ng-template #informationLetterTemplate>
        <p class="text text_m text_medium">Прикрепленные документы</p>
        <div *ngFor="let document of groupDocuments?.get('informationLetter')['controls']; let idx = index">
          <mib-dl-file-cell
            [attr.index]="idx"
            [showRemove]="!data.data?.isView"
            [showDownload]="true"
            (onDload)="downloadCurrentFile(document)"
            (onRemove)="deleteDocument(idx,'informationLetter')"
            [fileName]="document.get('FileName').value"
          ></mib-dl-file-cell>
        </div>
        <mib-spacing type="xs2"></mib-spacing>
      </ng-template>
      <mib-dnd
        [disabled]="data.data?.isView"
        [multiple]="true"
        (onChange)="onDocumentLoad($event, 'informationLetter')"
        [accept]="[
					'application/pdf',
					'application/msword',
					'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
					'application/vnd.ms-excel',
					'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
					'image/jpeg',
					'image/png'
				]"
        headline="Прикрепите документ"
      ></mib-dnd>
    </div>
    <mib-spacing type="m"></mib-spacing>



  </mib-drawer-container>
  <mib-drawer-footer drawer-footer>
    <div class="flex w-100">
      <mib-button
        [disabled]="form?.invalid || (loading$ | async) || (isSubmitting$ | async)"
        (press)="submitData()"
        size="m"
        type="filled-primary"
      >Отправить запрос
      </mib-button
      >
    </div>
  </mib-drawer-footer>
</mib-drawer>
