<ng-container *ngIf="confirmationCode.invalid; else confirmation" [formGroup]="form">
  <h3>Восстановление пароля</h3>
  <mib-spacing type="xs"></mib-spacing>
  <mib-input>
    <input [size]="size" formControlName="Login" mibInput>
    <ng-container input-label>Введите логин</ng-container>
  </mib-input>
  <mib-spacing type="s"></mib-spacing>
  <div class="flex gap-16" formGroupName="Captcha">
    <img [src]="image" alt=""/>
    <div class="flex flex_column gap-xs2">
      <mib-input>
        <input [size]="size" mibInput formControlName="Text" styleType="filled-secondary"/>
        <ng-container input-label>Текст с картинки</ng-container>
      </mib-input>
      <mib-link (press)="updateCaptcha()">
        <mib-ref-icon mibLeftIcon class="stroke" name="fi_refresh-ccw"></mib-ref-icon>
        Обновить картинку
      </mib-link>
    </div>
  </div>
  <mib-spacing type="s"></mib-spacing>
  <div class="flex gap-16">
    <mib-button [size]="size" [routerLink]="['/auth/login']" class="flex_grow" type="filled-secondary" >Отменить</mib-button>
    <mib-button [size]="size" class="flex_grow" [disabled]="form.invalid" [loading]="!!(isSubmitting$ | async)" (press)="onSubmit()">Восстановить</mib-button>
  </div>
</ng-container>
<ng-template #confirmation>
  <mib-sms-confirmation (back)="onBack()" (confirm)="onConfirm($event)" (resend)="onResend()">
    <ng-container sms-text>
      На ваш номер телефона отправлен код восстановления пароля
    </ng-container>
    Подтвердить</mib-sms-confirmation>
</ng-template>


<!--<div class="auth__body">-->
<!--  <div class="auth__body__form auth__body__form_reset">-->
<!--    <div class="auth__body__form__title">-->
<!--      <h1>Восстановление пароля</h1>-->
<!--    </div>-->

<!--    <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--      <div class="auth__body__form__fields">-->
<!--        <div class="auth__body__form__fields__field">-->
<!--          <input id="login" type="text" pInputText placeholder="Логин" formControlName="login"-->
<!--            [ngClass]="{ 'mib-border-danger': (isSubmitting$ | async) && form.get('login').invalid }">-->
<!--          &lt;!&ndash; <small class="p-error" *ngIf="form.get('login').invalid && form.get('login').touched">-->
<!--                <div *ngIf="form.get('login').errors['required']">-->
<!--                  Поле Логин не должно быть пустым-->
<!--                </div>-->
<!--              </small> &ndash;&gt;-->
<!--        </div>-->

<!--        <div class="auth__body__form__fields__field">-->
<!--          <img id="image" alt="captcha" [src]="image">-->
<!--        </div>-->
<!--        <p-button styleClass="p-button-link p-mb-4 registration-link" (click)="updateCaptcha()"-->
<!--          label="Обновить картинку"></p-button>-->

<!--        &lt;!&ndash; Captcha &ndash;&gt;-->
<!--        <div formGroupName="captcha">-->
<!--          <div class="auth__body__form__fields__field">-->
<!--            <input id="text" type="text" placeholder="Введите текст с картинки" pInputText formControlName="text"-->
<!--              [ngClass]="{ 'mib-border-danger': (isSubmitting$ | async) && form.get('captcha.text').invalid }">-->
<!--            <small class="p-error" *ngIf="(isSubmitting$ | async) && form.get('captcha.text').invalid">-->
<!--              <div *ngIf="form.get('captcha.text').errors['required']">-->
<!--                Поле Текст с Картинки не должно быть пустым-->
<!--              </div>-->
<!--            </small>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="actions actions_registration actions_additional" *ngIf="!(confirmationCode$ | async)">-->
<!--        <p-button styleClass="p-button-link" [routerLink]="['/auth/login']" label="Назад"></p-button>-->
<!--        <button pButton type="submit" [disabled]="isSubmitting$ | async" class="main" label="Восстановить"></button>-->
<!--      </div>-->
<!--    </form>-->

<!--    <form *ngIf="(confirmationCode$ | async)" [formGroup]="formConfirm" (ngSubmit)="onConfirmSubmit()">-->
<!--      <div class="auth__body__form__fields">-->
<!--        <div class="auth__body__form__fields__field">-->
<!--          <input id="pin" type="text" pInputText placeholder="Код" formControlName="pin"-->
<!--            [ngClass]="{'mib-border-danger': formConfirm.get('pin').invalid && formConfirm.get('pin').touched}">-->
<!--          &lt;!&ndash; <small class="p-error" *ngIf="formConfirm.get('pin').invalid && formConfirm.get('pin').touched">-->
<!--            <div *ngIf="formConfirm.get('pin').errors['required']">-->
<!--              Поле Код не должно быть пустым-->
<!--            </div>-->
<!--          </small> &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="actions actions_registration actions_additional">-->
<!--        <p-button styleClass="p-button-link" [routerLink]="['/auth/login']" label="Назад"></p-button>-->
<!--        <button pButton type="submit" [disabled]="isSubmitting$ | async" class="main"-->
<!--          label="Подтвердить восстановление"></button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
