<mib-drawer>
	<mib-drawer-header
		(onClose)="dialogRef.close()"
		[showMaximize]="true"
		[showEdits]="true"
		drawer-header
	></mib-drawer-header>
	<mib-drawer-container>
		<ng-container *ngIf="loading$ | async; else title">
			<mib-skeleton
				[styles]="skeletonTitle"
				*ngFor="let i of [1]"
			></mib-skeleton>
		</ng-container>
		<ng-template #title>
			<div class="header flex gap-6">
				<h4 title="{{ contract.Title }}">{{ contract.Title }}</h4>
				<h4 title="{{ contract?.Number }}" class="c-bti-tertiary">
					{{ contract?.Number }}
				</h4>
			</div>
			<mib-spacing type="xs2"></mib-spacing>
			<div class="flex gap-4">
				<span class="text text_m c-bti-secondary"
					>Добавлен {{ contract?.CreatedTime | date : 'dd.MM.yyyy' }}</span
				>
				<span class="text text_m c-bti-quaternary"
					>подписан {{ contract?.CreatedTime | date : 'dd.MM.yyyy' }}</span
				>
			</div>
		</ng-template>
		<mib-spacing type="xs"></mib-spacing>
	</mib-drawer-container>
</mib-drawer>
