<mib-drawer>
	<mib-drawer-header
		(onClose)="dialogRef.close()"
		[showMaximize]="true"
		[showEdits]="true"
		drawer-header
	></mib-drawer-header>
	<mib-drawer-container>
		<ng-container *ngIf="loading$ | async; else title">
			<mib-skeleton
				[styles]="skeletonTitle"
				*ngFor="let i of [1]"
			></mib-skeleton>
		</ng-container>
		<ng-template #title>
			<div class="header flex gap-6">
				<h4 title="{{ contract?.Customer?.Title }}">
					{{ contract?.Customer?.Title }}
				</h4>
				<h4 title="{{ contract?.Debtor?.Title }}">
					&mdash; {{ contract?.Debtor?.Title }}
				</h4>
			</div>
			<mib-spacing type="xs2"></mib-spacing>
			<div class="flex flex_align-center gap-4">
				<span class="text text_m c-bti-secondary"
					>Оформлен {{ contract?.DateFrom | date : 'dd.MM.yyyy' }}</span
				>
				<mib-icon
					class="invoice-arrow stroke"
					btn-icon
					name="fi_arrow-right"
				></mib-icon>
				<span class="text text_m c-bti-secondary"
					>Действует до {{ contract?.DateTo | date : 'dd.MM.yyyy' }}</span
				>
			</div>
		</ng-template>
		<mib-spacing type="xs"></mib-spacing>
	</mib-drawer-container>
</mib-drawer>
