<mib-drawer>
	<mib-drawer-header
		(onClose)="dialogRef.close()"
		[showMaximize]="true"
		[showEdits]="true"
		drawer-header
	></mib-drawer-header>
	<mib-drawer-container>
		<ng-container *ngIf="loading$ | async; else title">
			<mib-skeleton
				[styles]="skeletonTitle"
				*ngFor="let i of [1]"
			></mib-skeleton>
		</ng-container>
		<ng-template #title>
			<div class="header flex gap-6">
				<h4 title="{{ contract?.Customer?.Title }}">
					{{ contract?.Customer?.Title }}
				</h4>
				<h4 title="{{ contract?.Debtor?.Title }}">
					&mdash; {{ contract?.Debtor?.Title }}
				</h4>
			</div>
		</ng-template>
		<mib-spacing type="xs2"></mib-spacing>
		<ng-container *ngIf="loading$ | async; else docDescription">
			<mib-skeleton
				[styles]="skeletonDescription"
				*ngFor="let i of [1]"
			></mib-skeleton>
		</ng-container>
		<ng-template #docDescription>
			<div class="flex flex_align-center gap-4">
				<span class="text text_m c-bti-secondary"
					>Оформлен {{ contract?.DateFrom | date : 'dd.MM.yyyy' }}</span
				>
				<mib-icon
					class="invoice-arrow stroke"
					btn-icon
					name="fi_arrow-right"
				></mib-icon>
				<span class="text text_m c-bti-secondary"
					>Действует до {{ contract?.DateTo | date : 'dd.MM.yyyy' }}</span
				>
			</div>
			<mib-spacing type="xs"></mib-spacing>
			<div class="flex gap-8">
				<mib-tag size="m" type="filled-secondary">
					{{ contract?.Number }}
				</mib-tag>
				<mib-tag size="m" type="filled-primary">
					{{ contract?.Tariff?.Title }}
				</mib-tag>
			</div>
			<mib-spacing type="xs"></mib-spacing>
			<p class="text text_m c-bti-secondary">
				Отсрочка: {{ contract?.Delay.Count }} календарных дней
			</p>
		</ng-template>
		<mib-spacing type="xs"></mib-spacing>
		<ng-container *ngIf="loading$ | async; else date">
			<mib-skeleton
				[styles]="skeletonDate"
				*ngFor="let i of [1]"
			></mib-skeleton>
		</ng-container>
		<ng-template #date>
			<mib-cash-panel
				[extracted]="true"
				panelTitle="Ваш лимит:"
				[panelData]="contract?.Statistics?.DutyCustomer"
			></mib-cash-panel>
			<mib-cash-panel
				[extracted]="true"
				panelTitle="Уступлено:"
				[panelData]="contract?.Statistics?.DutyDebtor"
			></mib-cash-panel>
			<mib-cash-panel [extracted]="true" panelTitle="Просрочка:">
				<ng-container alert
					>{{
						contract?.Statistics?.DelayDuty | currency : 'RUB' : 'symbol-narrow'
					}}
				</ng-container>
			</mib-cash-panel>
		</ng-template>
	</mib-drawer-container>
	<mib-spacing type="m"></mib-spacing>
	<mib-tab-group>
		<mib-navbar class="container container_large">
			<mib-navbar-point value="1">Реквизиты</mib-navbar-point>
			<mib-navbar-point value="2"> Накладные </mib-navbar-point>
		</mib-navbar>
		<div class="container container_large">
			<mib-tab-item value="1">
				<mib-spacing type="m"></mib-spacing>
				<p class="headline">Банковские реквизиты</p>
				<mib-spacing type="xs2"></mib-spacing>
				<mib-contracted-forms extended="true">
					<ng-container contacted-label>банк плательщика</ng-container>
					<ng-container contracted-bill>номер счета</ng-container>
					<ng-container contracted-open>счет выставлен</ng-container>
					<ng-container contracted-close>оплата произведена</ng-container>
					<ng-container contracted-description
						>Для основных транзакций</ng-container
					>
					<!-- <ng-container contacted-label>{{
						currentInvoice?.Payer?.BankName
					}}</ng-container>
					<ng-container contracted-bill>{{
						currentInvoice?.Payer?.Account
					}}</ng-container>
					<ng-container contracted-open>{{
						currentInvoice?.Date | date : 'dd.MM.YYYY'
					}}</ng-container>
					<ng-container contracted-close>{{
						currentInvoice?.Date | date : 'dd.MM.YYYY'
					}}</ng-container>
					<ng-container contracted-description
						>Для основных транзакций</ng-container
					> -->
				</mib-contracted-forms>
				<mib-spacing type="xs"></mib-spacing>
				<mib-contracted-forms>
					<ng-container contacted-label>банк плательщика</ng-container>
					<ng-container contracted-bill>номер счета</ng-container>
					<ng-container contracted-open>счет выставлен</ng-container>
					<ng-container contracted-close>оплата произведена</ng-container>
					<ng-container contracted-description
						>Для основных транзакций</ng-container
					>
					<!-- <ng-container contacted-label>{{
						currentInvoice?.Beneficiary?.BankName
					}}</ng-container>
					<ng-container contracted-bill>{{
						currentInvoice?.Beneficiary?.Account
					}}</ng-container>
					<ng-container contracted-open>{{
						currentInvoice?.Date | date : 'dd.MM.YYYY'
					}}</ng-container>
					<ng-container contracted-close>{{
						currentInvoice?.Date | date : 'dd.MM.YYYY'
					}}</ng-container>
					<ng-container contracted-description
						>Для основных транзакций</ng-container
					> -->
				</mib-contracted-forms>
			</mib-tab-item>
			<mib-tab-item value="2">
				<mib-spacing type="m"></mib-spacing>
				<div class="flex">
					<mib-select
						type="outline"
						class="w-100"
						placeholder="5 из 8 колонн в таблице"
					>
						<mib-dropdown-point
							[value]="true"
							text="3 из 8 колонн в таблице"
						></mib-dropdown-point>
						<mib-dropdown-point
							[value]="true"
							text="5 из 8 колонн в таблице"
						></mib-dropdown-point>
						<mib-dropdown-point
							[value]="false"
							text="8 из 8 колонн в таблице"
						></mib-dropdown-point>
					</mib-select>
				</div>
				<mib-spacing type="xs"></mib-spacing>
				<ng-container *ngIf="loading$ | async; else table">
					<mib-skeleton
						[styles]="last ? skeletonWithoutUnderline : skeleton"
						*ngFor="
							let i of toolsService.createEmptyArray(PAGINATOR_ITEMS_PER_PAGE);
							let last = last
						"
					></mib-skeleton>
				</ng-container>
				<ng-template #table>
					<mib-table>
						<mib-table-head>
							<mib-table-head-cell>№ поставки</mib-table-head-cell>
							<mib-table-head-cell>Дата поставки</mib-table-head-cell>
							<mib-table-head-cell>Сумма поставки</mib-table-head-cell>
							<mib-table-head-cell>Долг дебитора</mib-table-head-cell>
							<mib-table-head-cell>Долг поставщика</mib-table-head-cell>
						</mib-table-head>
						<mib-table-row
							*ngFor="let doc of [1, 2, 3, 4, 5]; let idx = index"
							[underlined]="true"
						>
							<mib-table-cell type="main">
								<ng-container table-cell-title>
									{{ idx + 1 }}
								</ng-container>
							</mib-table-cell>
							<mib-table-cell>
								<ng-container table-cell-title>ыфв</ng-container>
							</mib-table-cell>
							<mib-table-cell>
								<ng-container table-cell-title>ыфв</ng-container>
							</mib-table-cell>
							<mib-table-cell>
								<ng-container table-cell-title>ыфв</ng-container>
							</mib-table-cell>
							<mib-table-cell>
								<ng-container table-cell-title>ыфв</ng-container>
							</mib-table-cell>
							<mib-button table-row-button size="s" type="ghost-secondary">
								<mib-icon
									class="stroke"
									btn-icon
									name="fi_more-vertical"
								></mib-icon>
							</mib-button>
						</mib-table-row>
						<mib-table-row>
							<mib-table-cell>
								<ng-container table-cell-title> 5 позиции </ng-container>
							</mib-table-cell>
							<mib-table-cell>
								<ng-container table-cell-title> </ng-container>
							</mib-table-cell>
							<mib-table-cell>
								<ng-container table-cell-title> static 10000 </ng-container>
							</mib-table-cell>
							<mib-table-cell>
								<ng-container table-cell-title> static 10000 </ng-container>
							</mib-table-cell>
							<mib-table-cell>
								<ng-container table-cell-title> static 10000 </ng-container>
							</mib-table-cell>
						</mib-table-row>
						<mib-table-footer [lined]="!(loading$ | async)">
							<div class="flex flex_align-center flex_grow"></div>
							<mib-paginator
								[totalCount]="123"
								[pagesToShow]="PAGINATOR_PAGE_TO_SHOW"
								[itemsPerPage]="PAGINATOR_ITEMS_PER_PAGE"
							></mib-paginator>
							<div class="flex flex_align-center flex_grow flex_justify-end">
								<mib-select type="floating" placeholder="5 рядов">
									<mib-dropdown-point
										[value]="5"
										text="5 рядов"
									></mib-dropdown-point>
									<mib-dropdown-point
										[value]="10"
										text="10 рядов"
									></mib-dropdown-point>
								</mib-select>
							</div>
						</mib-table-footer>
					</mib-table>
				</ng-template>
			</mib-tab-item>
		</div>
	</mib-tab-group>
</mib-drawer>
