<div class="p-grid">
  <div class="p-col">
    <h1>{{factoring.Title}}</h1>
    <p>
      <span>ИНН: {{factoring.Organization.Inn}} КПП: {{factoring.Organization.Inn}}</span>
      <span> Договор Факторинга: {{factoring.Contract.Number}} от {{factoring.Contract.Date}}</span>
    </p>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <div class="card-info">
      {{factoring.Limit}}
      Лимит
    </div>
  </div>
  <div class="p-col">
    <div class="card-info">
      [InProgress] 500 000 000,00₽
      Лимит
    </div>
  </div>
  <div class="p-col">
    <div class="card-info">
      [InProgress] 500 000 000,00₽
      Лимит
    </div>
  </div>
  <div class="p-col">
    <div class="card-info">
      [InProgress] 500 000 000,00₽
      Лимит
    </div>
  </div>
</div>
